[2018-01-24 18:36] SD10 commented on #1482
I’d like this to remain open

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-24 20:28] yeskunall commented on #1286
I found [this](https://circleci.com/blog/circleci-hacks-automate-the-decision-to-skip-builds-using-a-git-hook/) article that shows how to skip CI builds if changes are in a certain directory by combining git hooks with a `.ciignore` (or any name) file. The only problem is that git hooks are local and are not copied over when a repo is cloned or forked, so I've hit a dead-end there 😓

I'm still loo

[2018-01-25 11:30] minuscorp opened #1554 "Upgrading from Moya 8.0 to 10.0 causes tests to no longer run properly."
I'm using Moya 10.0.1 installed through CocoaPods. I'm upgrading my Network layer to Moya 10.0 from 8.0. I've read all the migration documentation regarding the migration between versions.

The problem is the following. I had a test suite that relies on protocol extensions to load the desired `Provider` in function of the kind of build settings as the following:

[code]

This code was working on M

[2018-01-25 18:19] #1548 closed

[2018-01-25 18:22] SD10 opened #1555 "Add Danger rule to warn about changes to README and not Chinese README"
Related to #1548 #1553.

The current Danger rule uses the `docs` & `docs_CN` directories to determine if documentation has been modified. However, some docs like README.md have a Chinese counterpart and are not located in these directories. It would be good to add a Danger rule to warn users about keeping both files in sync. See [comment](https://github.com/Moya/Moya/pull/1553#issuecomment-3605070

[2018-01-25 19:53] sunshinejr commented on #1554
Hey @minuscorp, thanks for the issue.

Please take a look at #1267, seems like a similar issue. If it's not the case, let me know.

[2018-01-25 20:13] sunshinejr commented on #1286
@yeskunall you can check #1339 as there should be a working script that does that.

[2018-01-25 20:19] minuscorp commented on #1554
So... If I understand correctly from that issue, the problem was that the provider was not getting deallocated in 8.X but now in 10.X it is. But I think that in my case is actually impossible that the provider is getting deallocated, as you can see, `activity` in my example above, is part of a singleton that instantiates the corresponding service at the first moment it is called. How can it be rel

[2018-01-25 20:25] SD10 commented on #1554
@minuscorp It could be that the provider is a computed property? Maybe make it a closure that is called immediately so that a value is stored in the property.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-25 20:39] minuscorp commented on #1554
I will test making the computed property a computed closure that generates the provider, but I don't know if this is the desired behavior... Now it would be necessary to call it as follows:

[code]
which in my opinion is an anti-Swift pattern, cannot understand how the Provider is being released during a network call...

[2018-01-25 20:45] SD10 commented on #1554
@minuscorp what I meant was something like
[code]
It’s impossible to tell without your full service class, but this property has to have a value for the lifetime of the request. It can’t be a factory spitting out new ones. It has to be retained somewhere in the singleton

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-25 21:09] minuscorp commented on #1554
But with that approach, protocol extensions are no longer usable, which comes handy when having 10 different targets in the application...

[2018-01-25 21:27] sunshinejr commented on #1554
You can still [store variables in protocol extensions](https://marcosantadev.com/stored-properties-swift-extensions/) (even though it's not that simple to do).

Additionally, Moya always warned users that they _**need**_ to retain the provider as long as you need the callback from it. In the recent versions we just fixed the inconsistency around this topic (especially in reactive plugins) and docu

[2018-01-25 21:31] SD10 commented on #1554
@minuscorp Can you generate the providers in a protocol extension but then assign them to a stored property in the Singleton? Sorry for the inconvenience but I believe this is the correct behavior

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-25 21:39] minuscorp commented on #1554
I understand the approach, not so pretty to use that _hacky_ way, but I suppose I have not choice. Now is late night in Europe so I'll try this tomorrow.

About the behavior, I think that I do not agree on your use case... Normally the user is responsible of disposing any resources that might be running, this is an standard approach that is defined by the promises. You can either reject or resolve

[2018-01-25 22:35] sunshinejr commented on #1516
Hmm, I guess we could remove the `fatalError`. What we really wanted was to avoid a situation where you would use `URLEncoding.queryString` as `ParameterEncoding` for body parameters (or `URLEncoding.methodDependent` where `method` would be `get`, `head`, `delete`). Right now we block users from encoding parameters using `URLEncoding` in the `httpBody`.

What we could do: instead of blocking `URLE

[2018-01-26 01:05] SD10 commented on #1516
@sunshinejr Thanks for not letting this slip by. I think that’s a great idea if it works for @fengerxixi

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-26 09:09] dangthaison91 opened #1556 "Revise and simplify Task implementation"
![inline 50%](https://raw.github.com/Innovatube/ios-moya-example/master/http_diagram.png)

While migrating from 8.0.5 to 9.0 then 10.0, I got a bit confuse cause there are so many request cases in new Task API. I'm not a fan of bloating enum cases and the way we extend by adding new case like #1443. In other way, old Moya API is more declarative. Spend free time to review all PR/issues related to

[2018-01-26 09:18] BasThomas commented on #1556
Thanks for the awesome write-up, @dangthaison91! I'll take a look at this later, but thanks so much for making this super clear and extensive 👍

[2018-01-26 09:51] LipYoung commented on #1528
@BasThomas I see it, and read sunshinejr's content.Thank you again.Good job.

[2018-01-26 09:51] #1528 closed

[2018-01-26 13:43] #1546 closed

[2018-01-26 15:58] #1516 closed

[2018-01-26 21:30] sunshinejr commented on #1516
@fengerxixi Hey, just a heads-up that we enabled `URLEncoding.httpBody` as `bodyEncoding` argument. It is also released in the newest Moya 10.0.2, thanks to @SD10. If this doesn't resolve your issue, please let us know!

[2018-01-27 13:26] fengerxixi commented on #1516
@sunshinejr @SD10 ,thanks a lot. I update Moya to 10.0.2 and  it woks really well.

[2018-01-27 17:50] sunshinejr commented on #1482
Hey @aelam, sorry for the wait. Here is the `endpointClosure` that you could use to built your own version. Basically we don't really introduce a function to append parameters to all targets as there are a lot of undefined behaviors (as you will see in the code below). You need to have a domain specific knowledge to build your own version, in older versions the behavior was mostly under the hood a

[2018-01-27 18:31] sunshinejr commented on #1554
@minuscorp I'm not talking about any library specifically, just saying that when the object is released (in this case MoyaProvider), I don't expect anything anymore from this object, because it doesn't exist. But I guess this is just a personal matter and if we want to discuss this behavior in Moya further, let's create another issue 👍

[2018-01-27 18:32] sunshinejr commented on #1524
Closing, this one is already ⛵️in Moya 11.0.0-beta.2 🎉

[2018-01-27 18:32] #1524 closed

[2018-01-27 18:59] minuscorp opened #1558 "MoyaProvider gets deallocated when there're ongoing pending tasks."
This is a discussion following the issue raised in #1554.

For users like me that are adopting the 10.X version of Moya, maybe have noted that, opposing to the old behavior found in Moya 8.X where the `MoyaProvider` was alive until all of its requests where finished. The user always was responsible of disposing any resources (tasks) that might be going on and not wanted to be finished anymore.

Th

[2018-01-27 19:00] minuscorp commented on #1554
I opened #1558 for the discussion.

About the issue itself, I wasn't able to change my Provider yet, so if you want, we can keep this open until I get it fixed by my side and can confirm that is actually the root of the issue. 😄

[2018-01-27 19:14] sunshinejr commented on #1554
Yeah, let's keep it open then 👍

[2018-01-27 19:21] sunshinejr commented on #1549
Closing this one as I think we've reached an agreement on the issue 😄 We can expand on plugins in other issues 👍

[2018-01-27 19:21] #1549 closed

[2018-01-27 20:21] SD10 commented on #1503
The way I see it I think we can either add a static var `sharedAlamofireManager` and replace this as the default in `MoyaProvider` or we can just add this property as a purely additive change. Then document that this is available to use. However, it is likely that not many people would find it even with proper documentation. So I guess it comes down to do we want to make this purely additive or do

[2018-01-27 21:02] sunshinejr commented on #1503
If I could add my two cents here, both of these options doesn't feel very appealing to me. Having two managers, `sharedAlamofireManager` and `defaultAlamofireManager`, would be very confusing to me at first. And having in mind the fact that the only difference between them is that one is a stored and one is a computed property, is not a big enough factor to introduce this unnecessary complexity.

[2018-01-27 21:51] SD10 commented on #1558
Thanks for taking the time to formalize your thoughts @minuscorp 👍 This is also related to #905 #1380.

[2018-01-29 12:04] minuscorp commented on #1558
I've formalized a somehow an, IMHO, a super hacky solution that could be applied to any observable in the RxSwift environment. It is the `retaining<T>(_ value: T)` operator. Not sure if this is the issue where I should introduce this solution, but maybe this could be an option to consider, letting in the hands of the developer to retain a certain object during the lifetime of an `Observable`:

[co

[2018-01-29 17:29] SD10 commented on #1558
@minuscorp Thanks for taking the time to share what worked for you in order to help other Moya users in the future 💯 I agree that is kind of rough 😓

[2018-01-29 17:51] minuscorp commented on #1554
I confirm that this is due the behavior being implemented in later versions of Moya. I close this but I'd like to continue the discussion in the other issue, about the behavior itself.

Thank you all!!

[2018-01-29 17:51] #1554 closed

[2018-01-29 20:47] NarenLK commented on #1538
Get the certificate by  **SecCertificateCreateWithData**. Then use  **ServerTrustPolicy.pinCertificates** to validate the server trust. The server trust is considered valid if one of the pinned certificates match one of the server certificates. Finally return the **Manager** object

[2018-01-29 22:26] AndrewSB commented on #1558
I think the main issue is that when the Provider architecture was decided upon, they were planned to be used as long lived objects, that basically matched the lifetime of the application.

I think refactoring them to change that would be awesome, and adding a `static func request` that would return a disposable. That seems like the _right_ answer to me 🙃

[2018-01-29 22:35] minuscorp commented on #1558
The only think I disagree is that how can be the `Observable` contract broken when wrapping the `MoyaProvider`, thing that would be easily patched by strongly referencing self in [here](https://github.com/Moya/Moya/blob/7c599570c2a60079dfefcc27fc67cb303feb48e1/Sources/RxMoya/MoyaProvider%2BRx.swift#L31)

[2018-01-30 05:54] SD10 opened #1559 "Add xcode_summary to Danger to show build errors"
One thing I hate about CI failing is I have to go and dig through the build log. It would be great if we could use `xcode_summary` to propagate test failures and build errors.

Here is an example of it being used at the [EZSwiftExtensions repo](https://github.com/goktugyil/EZSwiftExtensions/pull/379#issuecomment-279291138)

[2018-01-30 08:14] #1539 closed

[2018-01-30 19:26] AndrewSB opened #1560 "Enable Danger's prose plugin"
I think it would be awesome to enable Danger's prose stuff on at least our docs, if nothing else. Maybe the commit message as well.
To enable to prose plugin, go check out http://danger.systems/ruby/, and scroll down to the prose plugin. It will probably just be an edit in our Dangerfile

Also, forcing commit messages to be <72 characters seems like a good idea to me. I dont know how the rest of t

[2018-01-30 19:32] BasThomas commented on #1560
Regarding commit messages: how would we enforce that? Fail a pull request if any of the commit messages exceed it? Seems a bit much. Maybe just add a warning if, but I lean towards not doing anything there.

[2018-01-30 19:46] SD10 commented on #1560
I’m fine with adding a tool to fix spelling errors in documentation, however, I’m against any rules surrounding git.

The reason is it I believe it would discourage contributors and increase the barrier of entry to the project. I already have difficulty explaining the concept of rebasing to some people. Having them revert or modify the git history for a character limitation seems like a nightmare

[2018-01-30 23:31] #1536 closed

[2018-01-31 08:21] blackchena opened #1561 "If my project have two baseUrl, but with same endpointClosure and requestClosure。How to package targettype more elegant"
If my project have two baseUrl, but with same endpointClosure and requestClosure。How to package targettype more elegant

[2018-02-01 02:54] kdawgwilk opened #1562 "Support Synchronous requests for SPM CLI tools"
I am writing a CLI tool and SPM package that needs to perform lots of networking requests.  In the context of writing CLI tools it is fairly common to perform network requests synchronously (I think...I have only really done Ruby CLI dev and networking seems to by synchronous since I never had to deal with callbacks).  Anyways I am not sure if this would be worth adding to Moya but here is an exte

[2018-02-01 03:02] kdawgwilk commented on #1562
Is there a way that this could be added to Moya as a plugin?

[2018-02-01 03:04] SD10 commented on #1562
I wouldn’t mind this addition. If the community does agree to add it I would kind of prefer it to be named `requestSync` so that it stays in line with the current `request` method.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-01 03:09] SD10 commented on #1562
@kdawgwilk What do you mean by a plugin? You could make a small supporting library for Moya, but let’s see what some others say first. IMO it makes sense to have if we’re supporting SPM at this stage and it doesn’t provide a ton of new overhead. It saves people boilerplate of wrapping a request with the semaphore.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-01 03:18] kdawgwilk commented on #1562
I saw this line in the examples and wondered if the blocking could happen through a plugin
[code]

[2018-02-01 03:21] kdawgwilk commented on #1562
Plugin wouldn't work cause the API still requires callbacks to pass the data back

[2018-02-01 03:49] AndrewSB commented on #1562
Yeah, I don't think it's possible in a plugin

I don't know exactly what you're trying to build, but I'd recommend re-visiting your assumption that a CLI has to have blocking requests. Great CLIs, from my experience, don't block. They show loading indicators and update with content when they finish loading.
They also make it possible to run multiple tasks at once, instead of doing them one at a ti

[2018-02-01 03:55] AndrewSB commented on #1560
Yup, you're totally right @SD10. I was being more pedantic because I just found tpope's style guide and was trying to up my git commit game.

Let's say no to the commit message length, but yes to prose.

[2018-02-01 09:46] shwetachitlangia commented on #1533
These are the server logs -
WARN 1885 --- [o-8081-exec-453] o.s.web.servlet.PageNotFound             : Request method 'ST' not supported

[2018-02-01 12:29] juniorgarcia opened #1563 "How to validate response with custom rule"
**Using: Moya 10.0.1**

An example of my responses are:
[code]

Everytime `meta.error_code` is filled, I would like to perform custom logic on all or some of the responses, like showing an alert with `meta.error_message`'s value.

As this might happen in all the requests, how and where would I put this logic?

[2018-02-01 13:28] chapayGhub opened #1564 "Does Moya support last release of ReactiveSwift 3.1?"
I can't create project with pods:
- ReactiveSwift 3.1
- Last Moya
- And json serializer like ObjectMapper that support  ReactiveSwift 3.1

Do you have plans to support  ReactiveSwift?

[2018-02-01 13:30] juniorgarcia commented on #1563
Well, It seems that this is a job for a `PluginType`.

I created a implementation of `PluginType` and processed it inside the `didReceive:result:target` function.

Worked like a charm!

[2018-02-01 14:39] sunshinejr commented on #1563
Hey @juniorgarcia, that's a good one. In Moya 11 we introduced an enum type for `ValidationType` (you can check it [here](https://github.com/Moya/Moya/blob/development/Sources/Moya/ValidationType.swift)). You can specify your own validation for status codes of your response, but it seems like you have these codes in the response body instead. Thus, plugins seems like a pretty good solution. You co

[2018-02-01 14:41] sunshinejr commented on #1564
Hey @chapayGhub. We support `ReactiveSwift` >= 3.0 in the newest beta of `Moya 11` (11.0.0-beta.2). We strive to release it in the next days when we feel like it's stable enough. Would love it if you could use it and give any feedback on the changes if you have time to do it.

[2018-02-01 15:04] juniorgarcia commented on #1563
Sure! Here's how I'm doing **with SwiftyJSON**:

[code]

Hope it helps.
BTW Moya is awesome!

[2018-02-01 18:23] SD10 commented on #1547
I’ll take a look at setting up Peril for Moya and moving forward on this sometime this weekend

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-01 21:05] SD10 commented on #1563
@juniorgarcia I'm going to close this one as you seem to have resolved the issue. Thank you for posting your solution to potentially help other Moya users.

[2018-02-01 21:05] #1563 closed

[2018-02-02 14:00] BasThomas commented on #1459
In this case, we wanted to fix a silent install of an outdated version; you can read all the information on it [here](https://github.com/Moya/Moya/issues/1456). I think what you are trying to achieve is something different. :)

[2018-02-02 14:24] #1519 closed

[2018-02-02 15:26] alliamin commented on #1459
@BasThomas Yes read it. Actually [this](https://github.com/Moya/Moya/issues/1456#issuecomment-343680257) is the part I was talking about specifically 😄
I mean instead of updating Readme manually.

[2018-02-02 16:23] sunshinejr commented on #1562
Hey @kdawgwilk! I don't think that adding a synchronous version of a request is something that we should add to Moya. This is not seen as a good practice to use blocking requests. You can take a look at both `NSURLSession` and `Alamofire` - none of them support this behavior. You can also look at [Alamofire#1147](https://github.com/Alamofire/Alamofire/issues/1147#issuecomment-207883497) for more d

[2018-02-02 16:25] sunshinejr commented on #1561
Hey @blackchena. There are few ways to do this, but I'd use `MultiTarget` and split your API into two `TargetType`s.  You can take a look at our MultiTarget examples [here](https://github.com/Moya/Moya/blob/master/docs/Examples/MultiTarget.md).

Let me know if I can be any more helpful with that matter!

[2018-02-02 16:26] AndrewSB commented on #1562
@sunshinejr are you talking about our `callbackQueue`? Or something else

[2018-02-02 16:45] BasThomas commented on #1459
That’s interesting! Feel free to open a pull request, and we discuss it further there? :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-02 19:10] sunshinejr commented on #1562
@AndrewSB Yeah I'm talking about the queues that Alamofire uses as well.

[2018-02-03 00:15] SD10 commented on #1562
I really do think a relatively simple CLI tool could benefit from having a synchronous request. I guess touching on what @AndrewSB mentioned: considering an asynchronous architecture may allow for greater expandability in the future, but it is also a hindrance for wanting to create something simple quickly.

However, my greatest fear is that by adding this to Moya, we'll encourage people to write

[2018-02-03 08:12] #1543 closed

[2018-02-04 19:21] alliamin commented on #1459
Sure, Will open the PR once the script is more ready.
Thanks BasThomas.

[2018-02-05 10:08] WangShunYang commented on #1030
@iballan  i have same problem ,can you send me a example how to save this problem? thx

[2018-02-05 10:22] WangShunYang commented on #1030
@noizar  it works for me

[2018-02-05 15:41] minuscorp commented on #1558
Are there any supports on me opening a PR changing the referencing cycle to a strong reference on the `Reactive` and `Rx` extensions of the library? 😄

[2018-02-05 17:52] matthiasotto opened #1565 "Upload progress incorrect due to wrong payload size"
Version 11.0.0-beta.2 (and 10 as well)

Using Task's`.requestData(Data)` leads to progress jumping straight to `1.0` due to size not being recognized properly. The same is not true just using straight up Alamofire.

**Reported progress using Moya**
[code]

**Reported progress using Alamofire**
[code]

**Moya Service**
[code]

**Moya Service invocation**
[code]

**Alamo Service**
[code]

**Alamo in

[2018-02-05 18:02] matthiasotto commented on #1565
Side note: `.uploadFile(URL)` accurately reports size and progress.

[2018-02-06 21:46] SD10 commented on #1558
I can't offer much input here because I haven't used Rx in months.
But I'm a little confused because did we not purposely make this change in #1311?
The discussion is in #1380 and #1294

[2018-02-06 22:12] minuscorp commented on #1558
I've read the discussions, so I think that the issue is how Moya is interpreting the contracts established by Rx and ReactiveSwift, an Observable, a Signal, a SignalProducer a Promise or any other implementation of the Rx contract, where its lifetime should've always be able to be **observed**. I cannot have an Observable that, after subscribing, neither disposed, next, error nor complete events a

[2018-02-06 22:24] sunshinejr commented on #1558
Yes, we changed it to unify the behavior across all the platforms. Moya's general design from the very beginning was to keep reference to the provider as long as you need it. We never really supported the  behavior when you released the provider before you got the response. Thus we fixed some of the methods from reactive libraries as well.

Personally I'm against the change to retain only for reac

[2018-02-06 22:34] minuscorp commented on #1558
Yeah, that's why I introduced the `.retaining` operator above. That retains any object chosen by the developer along the lifetime of the observable. Just expanding the reasoning to that the finishing the observable without any event is not the correct approach, but I understand the reasons of why this is happening, but I really think that this is something that should be fixed, as it is not a corr

[2018-02-06 22:34] minuscorp commented on #1558
Missclick! 😅

[2018-02-07 12:14] lforme commented on #1129
cool

[2018-02-07 18:37] sunshinejr commented on #1565
Hey @matthiasotto. First of all, thank you _so_ much for this detailed bug report. Means a lot.

I've copied your code into my Moya project, but I was getting the same (bad) results for both Moya and Alamofire. Would you be so kind to create a sample project with images that reproduce this problem? Then I would be able to investigate the problem more.

[2018-02-08 00:28] SD10 opened #1567 "Create CHANGELOG linting tool"
See [#1395 comment](https://github.com/Moya/Moya/pull/1566#issuecomment-363591580).

I'm really obsessed with trying to automate everything lately so I think this would be pretty cool.
I don't know what is feasible or appropriate but:

Ideas:
- All new entries must have start with a dash `-`
- All entries must document the PRs and user submitting the PR with the following format
`[PR #] by [@Usern

[2018-02-08 04:30] SD10 commented on #1564
[Moya 11.0](https://github.com/Moya/Moya/releases/tag/11.0.0) has been released and ReactiveSwift 3.0 support is now available on `master`. I'm going to close this, thank you @chapayGhub 👍

[2018-02-08 04:30] #1564 closed

[2018-02-08 04:48] SD10 commented on #1494
Coverage has increased to 92% in Moya 11.0

[2018-02-08 05:18] #1545 closed

[2018-02-08 05:56] jhrasco opened #1569 "Moya 11 Default Request Mapping?"
Migrating to Moya 11 generates error (see below) when overriding the MoyaProvider initializer with default values.

Error:

Default argument value of type '(Endpoint, (Result<URLRequest, MoyaError>) -> Void) -> ()' cannot be converted to type 'MoyaProvider.RequestClosure' (aka '(Endpoint, @escaping (Result<URLRequest, MoyaError>) -> ()) -> ()')

Code:

[code]

How to assign a defaultRequestMapping

[2018-02-08 06:48] SD10 commented on #1569
Hey @jhrasco, thanks for reporting this. I'm thinking that [MoyaProvider.defaultRequestMapping](https://github.com/Moya/Moya/blob/0b90f7ee8dcc378fe48db18c8b281e8792244de9/Sources/Moya/MoyaProvider%2BDefaults.swift#L15) needs to have its `RequestResultClosure` argument marked as `@escaping`. What version of Moya are you migrating from?

[2018-02-08 06:50] jhrasco commented on #1569
Hi @SD10 Thank you for a quick response. I'm migrating from version 10.0.2 to 11.

[2018-02-08 07:08] SD10 commented on #1569
@jhrasco Are you subclassing? This is an odd error message.
The real fix is you need to reference `YourProviderSubclass.defaultRequestMapping` or resolve `MoyaProvider`'s generic.

[2018-02-08 07:16] jhrasco commented on #1569
@SD10 Thanks. Yes, I'm subclassing and your proposed solution,`ProviderSubclass.defaultRequestMapping`, works. Thank you.

[2018-02-08 07:24] SD10 commented on #1569
Looks like a type alias for a function is `@escaping` by default in Swift. So we don't need to mark `RequestResultClosure`.

But we need the `@escaping` attribute on `RequestClosure` because it looks like the `@escaping` attribute is not inferred by default on a `typealias` 🤔

Bad error message I guess.

[2018-02-08 07:42] SD10 commented on #1569
It looks like when `Endpoint` was generic, `MoyaProvider` was able to resolve the type.
You could use `MoyaProvider.defaultRequestMapping` in `10.0.2` but now you cannot. You must pass on the generic from the subclass or refer to the subclass itself.

[2018-02-08 08:45] sunshinejr commented on #1569
💯 I've added a line to Migration Guide in #1570.

[2018-02-08 10:37] #1569 closed

[2018-02-08 11:54] sunshinejr commented on #1494
Ye, adding our `*.md` docs to the side menu would be awesome.

[2018-02-08 12:57] alfian0 opened #1574 "[Ask] Cannot invoke 'map' with an argument list of type"
Hi ...is everyone here create NetworkService wrapper for transform response in to Decodable object, when I create function with generic type of Decodable.protocol I got this `Cannot invoke 'map' with an argument list of type`

<img width="585" alt="screen shot 2018-02-08 at 7 56 25 pm" src="https://user-images.githubusercontent.com/21122436/35974055-2d52c866-0d0a-11e8-9107-8635211b211a.png">

1. M

[2018-02-08 13:12] sunshinejr commented on #1574
Hi @alfian0. You could try making the function generic, as our function expects any type that _implements_ `Decodable` and AFAIK `Decodable` does not implement `Decodable`, which shouldn't be the case and I'm not sure if it's fixed in the newest Swift.

Something like:
[code]

Let me know if it helps.

[2018-02-08 13:36] alfian0 commented on #1574
Ha ha, yes it's dumb question. I just forgot to use `T`, my existing code use ObjectMapper and I need change to Decodable. Its working now

<img width="741" alt="screen shot 2018-02-08 at 8 20 59 pm" src="https://user-images.githubusercontent.com/21122436/35974965-adf864e6-0d0d-11e8-8427-a339edd734ca.png">

this is my old implementation

<img width="675" alt="screen shot 2018-02-08 at 8 21 05 pm"

[2018-02-08 13:40] sunshinejr commented on #1574
Nah, not dumb at all @alfian0. In fact this shouldn't be a problem and you should be able to just run the code you posted without any changes. But yeah, it's not there yet.

I'm closing this one but if there is anything else we can help you with, let us know!

[2018-02-08 13:40] #1574 closed

[2018-02-08 18:35] sandeepbol opened #1575 "Generic Type parameters in TargetType enum"
I might be completely off here. I want to know how I can pass a generic type as parameter in the enum cases of Target
[code]

What am I doing wrong?

[2018-02-08 20:00] SD10 commented on #1575
Hey @sandeepbol,
You have to make the `APIService` type itself generic:
[code]

[2018-02-09 03:56] SD10 commented on #1357
@Moya/contributors If any of you speak Chinese and have some spare time, we could really use some help to sync up our English docs and Chinese docs. You can see what needs to be done above.
If I had to prioritize things:
- [Add Moya 10 to 11 migration guide](https://github.com/Moya/Moya/blob/master/docs/MigrationGuides/migration_10_to_11.md)
- Add ValidationType to TargetType #1505

[2018-02-09 06:12] sandeepbol commented on #1575
Thanks @SD10 for your answer, in that case how should I modify my declaration

[code]

[2018-02-09 06:54] SD10 commented on #1575
@sandeepbol `MoyaProvider<APIService<T>>` where you resolve T with the type you need to use. Could be `String` or `Int` etc.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-09 07:13] sandeepbol commented on #1575
I guess you are suggesting I do the following

[code]

The bigger problem is I am using Moya in my SDK. The calls will be made outside the SDK. For example *enrollRequest* will be a struct from client app and can have variable number of parameters. Then I use [Wrap](https://github.com/JohnSundell/Wrap) to parse struct to my query parameters. So if I let my APIService to take any *struct* as an arg

[2018-02-09 07:24] SD10 commented on #1575
@sandeepbol No problem. Instead of having a specific type as a `Struct` why don’t you just use `[String: Any]` to accept the serialized data type? Or better yet - you could use this strategy internally and then expose methods in your SDK that accept the specific data types.

The calls to those public methods would be wrapped in an internal method that takes the `Struct`, turns it into query parame

[2018-02-09 09:55] mkkroliks opened #1576 "Parameter encoding - linker error"
I'm using "Moya/Moya" "10.0.2" and "Alamofire/Alamofire" "4.6.0"

Once I add parameter encoding to TargetType enum declaration I'm getting linker error

[code]

![image](https://user-images.githubusercontent.com/2151961/36021921-92e43264-0d87-11e8-85a6-fc77953ee5b5.png)

Look's like problem is related with Alamofire, but I can't find any solutions.

I'm using Carthage 0.27.0

[2018-02-09 10:17] sunshinejr commented on #1576
Hey @mkkroliks. Try to import Alamofire and see if it helps.

[2018-02-09 10:26] mkkroliks commented on #1576
Yes! It works, thanks a lot @sunshinejr.

[2018-02-09 10:31] SD10 commented on #1576
Thanks for letting us know this worked for you @mkkroliks 👍

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-09 10:31] #1576 closed

[2018-02-09 19:12] #1395 closed

[2018-02-09 19:52] eyrdor opened #1578 "How to pass String data in request body?"
Hi,
I am new to Moya. Any helped would be appreciated.

I am looking to pass string data in the request body.
Any idea or direction on how to do this?

Moya version - 11.0.0

What have I tried?:
I attempted converting the string to NSData using
[code]
however, the API server cannot seem to see the string data being sent.
I checked the request and the data exists in the httpbody.

Thanks in advance

[2018-02-09 20:38] pietrocaselani commented on #1578
Hi @eyrdor
I assume you are trying to do a POST HTTP request, is that correct?
Did you try return `Task.requestData(string.data(using: .utf8)` on the `task` parameter?
Just a reminder that `data(using)` returns a optional (`Data?`)

Let us know if you need any help.

[2018-02-09 20:48] eyrdor commented on #1578
Hi @pietrocaselani
Yes, that is correct.
Yes, I did that, and unwrapped the data before before passing it to
[code]

[2018-02-09 20:55] sunshinejr commented on #1578
Hey @eyrdor, can you please use `NetworkLoggerPlugin` and paste here request/response?

[2018-02-09 21:31] eyrdor commented on #1578
Hi @sunshinejr,

---------REQUEST----------
▿ "url"
  ▿ url : Optional<URL>
    ▿ some : "url"
  - cachePolicy : 0
  - timeoutInterval : 60.0
  - mainDocumentURL : nil
  - networkServiceType : __ObjC.NSURLRequest.NetworkServiceType
  - allowsCellularAccess : true
  ▿ httpMethod : Optional<String>
    - some : "POST"
  ▿ allHTTPHeaderFields : Optional<Dictionary<String, String>>
    ▿ some : 5 elem

[2018-02-09 22:13] sunshinejr commented on #1578
@eyrdor try removing `"Content-Type": "application/json"` from headers maybe?

[2018-02-09 22:32] eyrdor commented on #1578
@sunshinejr  just tried that. That didn't work either.

[2018-02-10 23:11] #1555 closed

[2018-02-11 00:26] sasojadrovski opened #1582 "Problems using the 'headers' property"
**Moya version: 11.0.0**

First of all I would like to thank you for your amazing work! Using Moya is a pleasure 😊

I have noticed a strange behavior when adding custom header fields using the `var headers: [String: String]?` property.

More precisely, the following code produces a `Moya.Error error 6` i.e. a `NSURLErrorDomain Code=-1005` error when trying to make a request, i.e. when trying to mo

[2018-02-11 00:34] SD10 commented on #1582
Hey @sasojadrovski, I don't believe this is related to #1549. That issue is only regarding using both a custom `endpointClosure` and `PluginType`s with a MoyaProvider.

Do you have a custom `endpointClosure` or are you using any plugins with this provider? That modify the `headers` of course.

It looks like `NSURLErrorDomain Code=-1005` is regarding a lost network connection. A lot of StackOverflo

[2018-02-11 00:39] sasojadrovski commented on #1582
Hey @SD10,

Thank you very much for the prompt reply!

No, I do not have a custom `endpointClosure` nor any plugins. I am intentionally using the default `MoyaProvider` (wanted to eliminate anything that might modify the `headers`).

I have also tried restarting and reseting the simulator and I have also built and run the application on a device. Unfortunately that did not resolve the issue.

[2018-02-11 14:25] CoolHandLuke88 commented on #1556
@dangthaison91 This saved my day. I was trying to use .uploadFile(URL) with latest `Moya`, but to no avail with url parameters and uploadFile. Thank you for this. much appreciated.

[2018-02-11 23:52] hherman1 opened #1583 "Upgrade RxMoya antitypical/Result version to 3.1+"
I'm breaking the format because it doesn't really apply (or so it seems).

Currently RxMoya requires Result ~> 3.0.0 (idk if this is a code requirement or just coming from the Result installation instructions)... version 3.0.0 doesn't include AnyError which I would like to use. If you can, please upgrade RxMoya's Result to 3.1+! (latest version is 3.2.4)

[2018-02-12 02:24] lucas34 commented on #1583
Issue only applicable if you fetch the project with `pod`
[code]
[code]

Both should point to the same version.
Updating Results should not bring any issue since it's already working if you fetch the project with Carthage. Will resolve Results with  for 3.2.4. Same if you are using SPM.

[2018-02-12 02:40] lucas34 commented on #1542
I uninstall Swiftlint and I'm still able to fetch Moya (11.0) properly with Carthage.

[2018-02-12 07:00] strikernani commented on #1533
'ST' means...? it should be 'POST' right?
Can u pls share your code how you are sending data.
Which version are you using..?

[2018-02-12 19:23] fbeeper commented on #632
Hi there!

First of all, thanks for all your work on Moya! It is a great framework!

While getting acquainted with the library, I saw there have been a few recurring issues about the testing documentation. I thought I may take a step to help.

I was able to write [this article](https://medium.com/@imho_ios/testing-with-moya-101-9e33a9404d61).

Since I'm not that well versed in testing myself, I di

[2018-02-12 21:34] BasThomas commented on #632
That’s awesome, thanks so much @fbeeper! Feel free to open a pull request and we can go from there - I am sure it will be greatly appreciated.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-13 02:49] SD10 commented on #632
@fbeeper This is awesome! Thanks for writing that article about Moya 🤗 I don't think the examples are too simplistic. In fact, I think simple examples help to reduce the complexity of the topic.

You're right, I think Moya documentation should read a bit more formal than that article. I think the stubbing documentation we need would be:
- How to get started stubbing easily and quickly
- Explaining

[2018-02-13 05:00] fbeeper commented on #632
Great! Will definitely do it in the next few days!

[2018-02-13 10:32] YkmLo commented on #999
Hi, I have a problem similar to this. In iOS 9.3, ":" is not changed to "%3A" but to "."
I tried using URLEncoding.queryString but no luck. Any solution?

[2018-02-13 11:14] BasThomas commented on #999
Can you share your code where this is happening?

[2018-02-13 16:31] edvmorango commented on #999
@YkmLo, that is the code I used to solve this problem one year ago.

GithubAPI:
[code]
GithubAPIManager:
[code]
I used a different ```URLEncoding``` but I don't think that is the reason. The ```urlSolver``` will override the default endpoint builder method, I suppose that default ```urlSolver``` parses ```:``` to ```.``` . I think if you debug  this method you will find an answer.

[2018-02-13 16:54] Rashesh-Bosamiya opened #1584 "Upload image with parameters."
I am using latest version of Moya.

How can I upload image with parameters, according to migration guide.

[2018-02-14 10:50] Tritium7 opened #1585 "Moya POST request not working as intended..."
Hello,

I have a hard time to figure out how should I send a simple POST request with Moya. I spent the last 2 days of testing, but I cant make it work.

The funny thing is, I use Moya for GET requests and those are work perfectly. I manually got the repository for XCode, using : `$ git submodule add https://github.com/Moya/Moya.git`

Here is what I did for POST request:

-I made a 'TargetType' wh

[2018-02-14 23:35] SD10 commented on #1585
Maybe related to #1533

[2018-02-14 23:35] SD10 commented on #1533
How many people are using Spring here?

[2018-02-15 01:34] SD10 commented on #1357
@bestwnh No need to be sorry! 不要紧。谢谢你!

[2018-02-15 04:06] bestwnh commented on #1357
@SD10 I would try to completed more Chinese documents if I got some time. But maybe not so soon. If you thought some of them are urgent. Just tag me and I would complete them ASAP.

[2018-02-15 06:40] shwetachitlangia commented on #1533
@SD10 Yes, the Services team is using Spring Boot.

[2018-02-15 08:27] dtomicAZ opened #1588 "Repeating requests when server return 401"
Hi,

I am using Moya (10.0.1)

Post request repeats himself when getting 401 from server.
I sent one request, but when I inspect it with Burp, I see same request is fired 3 times.
Server also registers it 3 times and lock user login.

Is there any way to prevent this ?

Here are links on this subject, but without solution.
https://stackoverflow.com/questions/25647755/return-http-401-and-say-client

[2018-02-15 09:24] BasThomas commented on #1588
Hey @dtomicAZ, can you share the code where you’re experiencing the issue?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-15 09:40] dtomicAZ commented on #1588
@BasThomas It is little complicated to share this code.

This is my login method:

[code]

App.rest is Moya provider:
case signIn(email: String, password: String).. etc.

It's just POST request on server API for login, which requires email and password.
Server returns me this:

HTTP/1.1 401 Unauthorized
Cache-Control: no-cache
Pragma: no-cache
Content-Type: application/json; charset=utf-8
Expires:

[2018-02-15 11:49] sunshinejr commented on #1585
Hey @Tritium7. Can you try to make the same request with `Alamofire`/`URLSession` and see if it works? If yes, please copy-paste the code here so I can prepare a demo project and see what's the problem.

[2018-02-17 20:12] #1482 closed

[2018-02-19 21:53] #1538 closed

[2018-02-22 00:58] SD10 commented on #1565
Mr. Stale Bot please don’t close this issue just yet

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-22 08:26] HadiYaac opened #1590 "ValidationType not working with uploadMultipart"
Moya 11.0 using CocoaPods

- The new ValidationType has something with the uploadMultipart, why there is no validation on the multipart upload?
- The below is the debugger output when printing down the **result** from the *requestNormal* function in the **MoyaProvider+Internal.swift**

[code]

[2018-02-22 09:21] SD10 commented on #1590
@HadiYaac What validation type are you using?

[2018-02-22 10:10] SD10 commented on #1590
Thank you for reporting this @HadiYaac. I'm working on the patch 😃

[2018-02-22 11:21] SD10 opened #1592 "Perform validation on stubbed response"
Currently, Moya is not doing any validation on stubbed requests. Only integration tests done through Alamofire are validated. This incongruency can make targets hard to test. I'm going to label this as an enhancement but it could also be arguably labeled as a bug.

[2018-02-22 13:44] rgkobashi commented on #1098
As @sunshinejr mention, you can test the `.sampleData` like they do on the link that he provided. However if what you are looking is to test your `RequestManager`, `NetworkManager` or whatever you are using to encapsulate your request you can check [this](https://stackoverflow.com/a/48928906/8483739).

[2018-02-23 06:33] kou0117 opened #1594 "How to post json parameters and UIImage both"
Using Moya 9.0.0

I would like to post json parameters and UIImage both, but I do not know how to do that.

In the case below, Data is UIImage and a, b and c is String.
I would like to create json parameters which contains a, b and c like
[code]

[code]

[2018-02-23 06:52] vishal91 opened #1595 "Having issues with Cocoapods"
While installing Firebase in pod, i am facing this issue.

`Undefined symbols for architecture x86_64: "__T09Alamofire11URLEncodingVAA17ParameterEncodingAAWP", referenced from: __T09App0A3ApiO4task4Moya4TaskOfg in App.o "__T09Alamofire12JSONEncodingVN", referenced from: __T09App0A3ApiO4task4Moya4TaskOfg in App.o "__T09Alamofire11URLEncodingVN", referenced from: __T09App0A3ApiO4task4Moya4TaskOfg in

[2018-02-23 08:41] sunshinejr commented on #1594
Hey @kou0117. Unfortunately, you can't really send all of it as a `JSON` body, because `JSONEncoding` sends
[code]

where uploading multipart needs a different header:
[code]

and this is needed because server needs to resolve the request correctly in case of a multipart one.

Now the question is: what is really wrong with the code you posted, because from the server perspective it would seem simi

[2018-02-23 08:43] sunshinejr commented on #1595
Hey @vishal91. Please try to `import Alamofire` wherever you are using the `ParameterEncoding`.

This seemed like an issue with Carthage though, so it's odd that it happens to you with CocoaPods. 🤔

[2018-02-23 08:47] vishal91 commented on #1595
@sunshinejr : Its weird. It works fine if i don't add Firebase/Core and Firebase/Messaging pods to the project.

[2018-02-23 08:48] vishal91 commented on #1595
@sunshinejr Thanks a lot.

[2018-02-23 08:48] #1595 closed

[2018-02-23 16:57] #1561 closed

[2018-02-24 11:04] #1590 closed

[2018-02-24 14:00] eyrdor commented on #1578
Closing this issue as it doesn't seem to be a associated directly with, or caused by moya.

[2018-02-24 14:00] #1578 closed

[2018-02-24 14:11] sunshinejr commented on #1578
Thanks for the info @eyrdor. Please let us know when u resolve it and what was the cause, maybe it’ll help someone in the future.

[2018-02-25 02:11] sunshinejr commented on #1582
Hey @sasojadrovski. The only difference I see in these two snippets of code is that in the working code you _always_ send `Authorization` header even if it's not there. If it's not it, then there must be something in Swift itself, because Moya just gets the dictionary of headers that is passed to Alamofire. Not sure what though, as creating dictionary by appending/initialization shouldn't have any

[2018-02-25 02:13] sunshinejr commented on #1584
Hey @Rashesh-Bosamiya. Please take a look at our [Multipart Upload example](https://github.com/Moya/Moya/blob/master/docs/Examples/MultipartUpload.md). It covers sending image with parameters in body or in URL.

[2018-02-25 02:13] #1584 closed

[2018-02-25 04:54] Rashesh-Bosamiya commented on #1584
Thanks!

[2018-02-25 14:42] #1592 closed

[2018-02-26 04:35] jshier opened #1596 "Features or requests for Alamofire 5?"
Hi, I'm one of the developers of Alamofire. In addition to maintaining version 4, we're currently working on a major update, Alamofire 5. Given that Moya is one of the most popular libraries that consumes Alamofire directly, I thought I'd stop by and ask whether the users and library developers here had any feature requests or other changes they'd like to see in Alamofire.

Additionally, while we

[2018-02-26 04:49] kou0117 commented on #1594
Thank you so much for your reply.

So when I want to send image as ```jpeg``` and a, b, c as ```JSON```, the code below is fine?

[code]
I would appreciate if you may reply.

[2018-02-26 06:00] SD10 commented on #1596
Hey @jshier, thank you for taking the time to reach out!

Ironically, I was thinking last week that I need to get more familiar with the advanced capabilities of Alamofire and its internals to see if more enhancements can be made to Moya. I have no suggestions at the moment, but I'll tag @Moya/contributors to get some more ears on this topic 😃

[2018-02-26 06:54] zerozheng opened #1597 "Moya Task finished with error - code: -999"
The version i used is 10.0.1.

While using Moya, coding become more easily. But recently i get a problem when using Moya + Rxswift to a cancellable request. The console print:
[code]

below is my code:

[code]

When frequently trigger the network, the above error print in console.

I think this is caused by the provider, which is deallocated when self.bag get a new DisposeBag(). So I create a new

[2018-02-26 07:06] SD10 commented on #1597
@zerozheng It is because you are not retaining your provider. It needs to be at a scope outside of the function definition in order for it to be retained.

[Providers.md](https://github.com/Moya/Moya/blob/master/docs/Providers.md)

[2018-02-26 07:07] zerozheng commented on #1543
@Mazorati do you solve this problem?

[2018-02-26 07:09] zerozheng commented on #1597
@SD10 I define a new member variable which is used to hold the provider in the whole life cycle.
[code]
but it does't work

[2018-02-26 10:42] kimdv commented on #1596
Hi!

The first thing that popped to my mind was `Codable`.

I don't know if this already is on the roadmap for Alamofire 5.

I was thinking on an api that accepts a Codable object as parameter, so it will be easier to send json.

Something like this maybe?
[code]

What do you think?? 😄

[2018-02-26 12:21] SeRG1k17 opened #1598 "Why decodable mapping without closure?"
First of all thanks to this repository. I've been using mine for several months in my application. Not so long ago, you updated the code to the 4th version of the language. Adding support for the new protocol Decodable:

[code]

In my opinion, this function will be more convenient if the decoder is a closure:
[code]

Although, you can create another method, because there is one drawback: there is

[2018-02-26 13:13] sunshinejr commented on #1594
@kou0117 you won't really send it as JSON; it will be sent as a `form-data`. However, if your server accepts both image and parameters in the body, your code is fine. If you want your parameters in the url instead, please take a look at our [Multipart upload example](https://github.com/Moya/Moya/blob/master/docs/Examples/MultipartUpload.md).

[2018-02-26 15:10] SD10 commented on #1598
Hey @SeRG1k17, thanks for opening this issue. Why do you believe that this parameter needs to be a closure, `(JSONDecoder) -> (JSONDecoder)`? I'm not sure I see what you're trying to accomplish

[2018-02-26 15:49] dangthaison91 opened #1599 "Sending GET with JSON in body gets Timeout Error"
This cost me the entire afternoon to debug then found that I will get Timeout Error if I send JSON body in GET request.

Actually, this is Alamofire's behavior and to solve it, your server has to ignore body in GET request or you should not include JSON body in the request: https://github.com/Alamofire/Alamofire/issues/1819

If your GET request has URL parameters, you will have a problem caused Mo

[2018-02-26 15:58] dangthaison91 commented on #1556
@Moya/contributors I just faced issue #1599 and I think this will help to solve the similar issues and improve extend problem in the future.

[2018-02-26 16:03] ashfurrow opened #1600 "Update Swift Compatibility"
Apple maintains a list of Swift projects and their Swift version compatibilities [here](https://github.com/ashfurrow/swift-source-compat-suite), which is used as a test suite to guard against regressions in the Swift language. Now that Moya supports Swift 4, we should add that compatibility to our specification:

https://github.com/ashfurrow/swift-source-compat-suite/blob/e51c38ddf03928b2c089fe5dd

[2018-02-26 19:24] AndrewSB commented on #1596
Back from when I was changing how Moya's response queue worked, I thought it would be awesome to be able to specify which queue to run an Alamofire request on; I would have loved to do something like have a serial queue for my network requests, managed by Rx.

I didn't look too far in to see if a client could specify which queue to have the work run on, if that isn't possible, I think having that

[2018-02-26 19:30] jshier commented on #1596
I forgot to mention I have a GitHub (project board for Alamofire 5)[https://github.com/Alamofire/Alamofire/projects/1], so feel free to take a look and track progress as well as currently intended features.

@AndrewSB I'm currently prototyping a core rewrite of Alamofire that uses a single serial queue for all internal activities, including the `URLSessionDelegate` and `*TaskDelegate`. This has ma

[2018-02-26 22:44] AndrewSB commented on #1596
@jshier that sounds like a great potential perf win. Once you're done making the change, I'd love to see a method to pass in those queues, or variables that contain the queue names so clients (if they care about that level of granularity) can reach in and change or prioritize things

[2018-02-27 00:40] kou0117 commented on #1594
@sunshinejr
I understand it.
Thank you for your help!

[2018-02-27 00:40] #1594 closed

[2018-02-27 02:18] ETmanwenhan opened #1601 "UploadCompositeMultipart ([MultipartFormData], urlParameters: [String: Any]) parameter Chinese scrambled code."
UploadCompositeMultipart ([MultipartFormData], urlParameters: [String: Any])
How to solve the problem of using this method in Chinese scrambled code?

[code]

[2018-02-27 05:26] SD10 commented on #1556
Hey @dangthaison91, thank you for doing such an extensive write up on this topic 👍. I agree with you partially on this issue, as I personally prefer thinking about my requests as a HTTP method + parameters.

I had a very short discussion with @sunshinejr a few weeks ago and we agreed this API prevents some undefined behavior by choosing the wrong HTTP method and it also gives us Encodable support.

[2018-02-27 05:31] SD10 commented on #1597
@zerozheng Can you show me more of your code? Where are you retaining the provider?

[2018-02-27 05:58] zerozheng commented on #1597
@SD10 thanks for your reply!

below is the code:

[code]

Using a variable to hold the provider. It does not work. I think the provider may be deallocated when give a new provider to self.provider `self.provider = provider` in the loadData() function.
After that, an array, `providers`, is used to hold all of the providers created. Unfortunately, it doesn't work too. --!

[code]

[2018-02-27 19:05] kimdv commented on #1600
https://github.com/apple/swift-source-compat-suite/pull/148

[2018-02-27 19:45] ashfurrow commented on #1600
Nice work!

[2018-03-01 06:22] kimdv commented on #1600
It seems that the build failed
https://ci.swift.org/view/Source%20Compatibility/job/swift-master-source-compat-suite/1339/console

But what I can read, it is Moya passes, right?

[2018-03-01 08:05] SD10 commented on #1533
I suspect this issue is unrelated to Moya and is in fact a problem with Spring. Going to ask Mr. Stalebot to keep this open

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-01 08:21] SD10 commented on #1600
Yep, it's all good @kimdv. Thank you for taking care of this issue so Swiftly 😆 ❤️

[2018-03-01 08:21] #1600 closed

[2018-03-01 12:07] sunshinejr commented on #1588
@dtomicAZ seems like [this response from SO](https://stackoverflow.com/a/25319418/2340462) says it all - when you have `www-authenticate` header, authentication challenges are triggered. [This issue from RN](https://github.com/facebook/react-native/issues/2266) is also similar. Really interesting, didn't know about it either!

I'm gonna close this one, but if you have any more questions for Moya i

[2018-03-01 12:07] #1588 closed

[2018-03-01 12:39] Tritium7 commented on #1585
Hello guys! Sorry for the late answer I was off from work for a week or two.

So finally we figured out what was the issue:

It was a silly mistake, the URL address contained a 'http:' protocoll instead of 'https:' . The funny part is, that everything worked as intended, except the POST requests.

Finally we discovered the missing 's' letter after we used Wireshark and analyzed the packets. It was

[2018-03-01 12:56] SD10 commented on #1585
Hey @Tritium7, we're glad to hear you have resolved the issue! 😃 Thank you for sharing how you solved the problem as it may help future Moya users. I'm going to close this 👍

[2018-03-01 12:56] #1585 closed

[2018-03-01 18:42] BuildBuilt opened #1603 "What should I do in Moya 10.0 ?"
Hi! Everyone,
I am using Moya 10.0 + RxSwift + ObjectMapper
and I am trying to called WebService but nothing return it just skip the response part.

Could you guy guide me on how to do this ?

Thank you so much.

This is a code

This is my custom Provider class
[code]

This is when I tried to call webservice
[code]

This is my map class
[code]

[2018-03-02 01:42] esam091 commented on #1603
My quick guess, it's because the provider is deallocated before/while you're doing network request. To fix this, you either need to make the provider a property of the Input struct, or make it available globally(I don't know whether this is a good idea though).

If you're coming from Moya 8/9, this is a change that breaks the old behaviour, which took me some time to realise when migrating my proj

[2018-03-02 02:22] esam091 commented on #1558
@sunshinejr would there be any drawbacks in doing this? From what I understand after reading this thread, this seems to be more of a design concern rather than a retain cycle bug.

Instead of making another self-retaining method in the reactive extension, what's your opinion on making the provider a global variable?

[2018-03-02 03:54] BuildBuilt commented on #1603
@esam091 .. Thank you for your response.
Yes, I have upgrade from Swift 3.2 to Swift 4 it was working fine like you said in Moya previous version
but after upgrading to this working it stop working.

It like you said it seems like no call was made out and never received response back.
I will try with you solution first and will let you know.

[2018-03-02 04:32] BuildBuilt commented on #1603
@esam091 .. Its still not working I don't know why do you have any suggestion or what should be modify in my code ?

Thank you.

[2018-03-02 16:09] esam091 commented on #1603
Can you post your updated code so I can see what's wrong with it?

[2018-03-02 17:18] BuildBuilt commented on #1603
@esam091  I have tried 2 implementation :
In which first implementation work fine can I can retrieved data.
But in the second implementation when it reached ' .mapServiceObject(PromotionResponse.self)'
and ran into .flatmap it just skip that part, I don't know whether my 'mapServiceObject' is wrong or not.
You can check my 'mapServiceObject' in my first post.

Thank you so much.

First :
[code]

S

[2018-03-02 17:38] SD10 commented on #1603
@BuildBuilt As @esam091 suggested your provider is being deallocated before the request completes. You need to make it a property of `PromotionViewController` or something. You need to store it as a property and tie it to the lifetime of the controller.

[2018-03-02 17:45] BuildBuilt commented on #1603
@SD10 .. Thank for your response.
Could you please suggest me on how to do it ?
I have tried various way but not working yet.

[2018-03-02 17:48] SD10 commented on #1603
@BuildBuilt when you initialize the provider inside the `init` assign it to a property of the object before making the request

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-02 18:33] esam091 commented on #1603
Simply do it like this
[code]

In your last implementation, you stored the provider in a local variable in viewDidLoad method, which will be deallocated when viewDidLoad finishes executing.

[2018-03-02 19:20] BuildBuilt commented on #1603
@esam091 @SD10 .. Thank you for your suggestion.
I have tried as you suggested and it seems to be working fine now.
Thank you so much for your help and I will test it again and let you know whether it works fine or not.

Really thank you both.

[2018-03-03 02:23] AndrewSB commented on #1558
@esam091 most implementations I've seen have a global provider - it's what Eidolon does too

[2018-03-03 02:24] AndrewSB commented on #1603
😆

Happy you got this figured out. Open a new issue if you get stuck on anything else!

[2018-03-03 02:24] #1603 closed

[2018-03-03 04:18] esam091 commented on #1558
@AndrewSB I was thinking storing them in the global scope, but Eidolon gives me a good idea of storing them in each view controllers, thanks.

[2018-03-05 03:33] sandeepbol opened #1604 "Refresh Token by Subclassing MoyaProvider without using RxSwift"
I am using Moya (8.0.5) but in general, we need an implementation like [OkHttp](http://square.github.io/okhttp/)'s [Authenticator](https://square.github.io/okhttp/3.x/okhttp/okhttp3/Authenticator.html) in Android/Java:

I am extremely sorry if something of that sort is already in Moya. Most of the answers I found regarding refreshing authentication tokens are based on RxSwift and i do not use it c

[2018-03-05 16:53] shenxiewei commented on #1129
@BasantAshraf Hi,I have a same question. Can you paste the code?

[2018-03-05 17:10] shenxiewei commented on #1129
@BasantAshraf yes, I solved the problem!

[2018-03-05 17:37] sunshinejr commented on #1129
Hey @shenxiewei, great to hear! Can you share your solution with us? Maybe it'll help someone else 😉

[2018-03-05 19:22] pietrocaselani commented on #1604
Hi @sandeepbol !
I implemented the authentication/refresh token using the `requestClosure` from `MoyaProvider`. You can see an example [here](https://github.com/Moya/Moya/issues/744#issuecomment-345008429).

Let me know if you need any more help!

[2018-03-05 20:20] sandeepbol commented on #1604
@pietrocaselani Many thanks buddy. Thanks for the direction 👍

[2018-03-05 21:12] sasojadrovski commented on #1582
Hey @sunshinejr,

Thanks for getting back to me regarding this issue/question.

Yes, I also thought that this must be somehow related to Swift, but what was bothering me was that the code from the first example worked fine for Moya 10.

Maybe changing the snippet to something like:
[code]
would overcome this issue. However, utilizing Moya's `AccessTokenAuthorizable` protocol for handling authoriza

[2018-03-05 21:12] #1582 closed

[2018-03-08 11:53] volatilegg commented on #1597
Hi, I got the same issue as @zerozheng, `moyaProvider` got disposed, however when I was tracing the bug in `MoyaProvider+Rx.swift` by adding print methods
[code]
It suddenly works without changing anything from my codebase. The issue came back when you remove the print methods.

[2018-03-12 12:44] evyasafm commented on #1207
Add to Podfile:
`pod 'Moya/RxSwift'`

[2018-03-12 12:45] evyasafm commented on #1384
Add to the Podfile:
`pod 'Moya/RxSwift'`

[2018-03-19 18:17] #1598 closed

[2018-03-20 02:52] queuey opened #1607 "Parameter"

[2018-03-20 02:52] #1607 closed

[2018-03-20 05:54] #1601 closed

[2018-03-20 05:55] #1599 closed

[2018-03-20 12:41] fragilehm opened #1608 "Not getting data"
I am using last version of moya and
when i'am trying to get data from specific host with port :8000 it works fine but when i changed to
:8081 it loads too long then failure with "timeout", same thing works fine in Alamofire

[2018-03-20 13:39] BasThomas commented on #1608
Can you post your code?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-20 14:17] fragilehm commented on #1608
Hello, I have basic structure to get data, the thing if i use

URL(string: "http://46.101.146.101:8000")! as baseUrl everything work fine,
but we

this is production host and for developing host we have

URL(string: "http://46.101.146.101:8081")!, so everything is the same but
just 8081

you can try yourself, it you still need code I can send

2018-03-20 19:39 GMT+06:00 Bas Broek <notifications@gi

[2018-03-21 07:43] #1608 closed

[2018-03-21 08:57] SD10 commented on #1608
@fragilehm I see that you resolved this issue, do you have any insight for future Moya users who may have a similar problem?

[2018-03-21 20:52] pccole commented on #1276
@SD10 Was the Migration Guide removed? I just inherited a project that was using Moya 8.0, I've updated to 11 and I do not see the parameters computed property being hit.

Any help?

Thanks!

[2018-03-21 21:40] SD10 commented on #1276
@pccole You can find all our migration guides under `docs/MigrationGuides`. I would recommend going through each one from your previous Moya version to the latest to get a feel for all the changes.  As mentioned above, we removed the `parameters` property in Moya 9.0 in favor of combining it with the `Task` enum.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-22 06:01] hemant3370 opened #1609 "Question: How to merge multiple requests using zip? I am using Moya with RxSwift."
This isn't working
[code]

[2018-03-22 08:03] BasThomas commented on #1609
Can you give a better explanation of what’s not working / what you expect?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-22 09:01] #1533 closed

[2018-03-22 09:43] shwetachitlangia commented on #1542
Any update when this will be resolved?

[2018-03-23 12:47] pccole commented on #1407
@sunshinejr Hi, referencing your comment on Oct 25 I am passing a closure to the AccessTokenPlugin
`            let tokenClosure: () -> String = {
                return token
            }
            let authPlugin = AccessTokenPlugin(tokenClosure: tokenClosure)
            return MoyaProvider<T>(manager: manager, plugins: [authPlugin])`

However the complier gives me the following build time er

[2018-03-23 15:16] anhpt681995 opened #1610 "Upload image using .uploadMultipart get error status code 500"
`Moya Version: 10.0.1`

I did follow the [Multipart Upload example](https://github.com/Moya/Moya/blob/master/docs/Examples/MultipartUpload.md) and this is my code:

[code]

However, when I make a request, I get an MoyaError:
<img width="282" alt="screen shot 2018-03-23 at 10 00 33 pm" src="https://user-images.githubusercontent.com/15669551/37836704-b8cbaa78-2ee5-11e8-8841-ae69be303de6.png">

I hav

[2018-03-26 09:20] SeRG1k17 opened #1612 "Not working with AlamofireNetworkActivityIndicator"
Moya using Alamofire.
[AlamofireNetworkActivityIndicator](https://github.com/Alamofire/AlamofireNetworkActivityIndicator) using Alamofire.
If I set
[code]
And execute the request using Moya. The indicator will be displayed indefinitely.
I know about the existence of a built-in plugin - NetworkActivityPlugin.
But it requires manual control of the indicator in the closure, which I do not need.

[2018-03-27 00:07] SD10 commented on #1398
Does anyone mind if I close the existing GitHub project? We haven't been using it and I don't find it helpful personally. I'd like to continue with project management via milestones.

[2018-03-27 00:11] SD10 commented on #1283
I'm going to close this because I don't think introducing this level of complexity via plugins is a good fit for Moya. I may write up some examples of how to achieve some of the things discussed above. If anyone wants to continue the discussion feel free to reopen.

[2018-03-27 00:11] #1283 closed

[2018-03-27 00:15] SD10 commented on #1562
I'm going to close this because it seems like we all agree that adding a blocking request would be encouraging bad practice.

[2018-03-27 00:15] #1562 closed

[2018-03-27 00:22] SD10 commented on #1542
@shwetachitlangia Are you facing the same error regarding Swiftlint? @lucas34 was apparently able to fetch Moya without SwiftLint installed. Would love some feedback on this from Moya Carthage users

[2018-03-27 06:01] hemant3370 commented on #1609
@BasThomas I want to hit 4 different API endpoints and get a callback only when all 4 are completed.

[2018-03-27 06:19] BasThomas commented on #1609
OK. What is not working exactly? What is the output?

[2018-03-27 06:52] hemant3370 commented on #1609
@BasThomas  case .next(let element) never gets called.

[2018-03-28 09:22] lSkyPivot opened #1613 "Request Object mapJSON cant' use"
when i send a request i got here response:

[code]

my code:

[code]

i can print the data, but i can' use like this `data["data"]`

[code]
then i use like this

[code]
it will crash

[2018-03-28 09:27] BasThomas commented on #1613
Hey @lSkyPivot, what about `let dictionary = data as? [String: Any]`?

[2018-03-28 09:33] lSkyPivot commented on #1613
@BasThomas  It works, thanks a lot

[2018-03-28 09:33] #1613 closed

[2018-03-29 01:27] SD10 opened #1614 "Add Danger rule warning users to update documentation linker when url changes"
We created a [documentation linker here](https://github.com/Moya/moya-peril/blob/master/moya/doclinker.ts) so when we change the file path for any of the docs we should recommend that users update this rule.

[2018-03-29 01:28] SD10 commented on #1614
Looks good peril! But this is not what I wanted you to do 😂

[2018-03-29 20:23] sunshinejr commented on #1458
Thanks for letting us know @CocoaPriest. I'm tackling this as we speak.

**Edit:** @CocoaPriest could you please let us know what command did you use and what was the result of it? Oh, and also what Moya version do you use?

[2018-03-29 20:47] CocoaPriest commented on #1458
@sunshinejr I'm using the script to create static frameworks ([like this one](https://github.com/Carthage/Carthage/blob/master/Documentation/StaticFrameworks.md)) but basically it consists of
`carthage update "$@" --no-build --no-use-binaries`
and
`carthage build "$@" --platform ios --no-use-binaries`

And I see just a "regular" compile failure:
`*** Building scheme "Moya" in Moya.xcodeproj
Build

[2018-03-29 22:06] sunshinejr commented on #1458
@CocoaPriest I've created a PR that fixes lint errors and removes the SwiftLint build phase. This should fix the problem for now, and for a further improvement I will just create a new issue.

If you could test this branch, `remove_swiftlint_buildphase` (and remove the Moya cache on Carthage/Cartfile.resolved), it would be awesome.

[2018-03-29 22:24] sunshinejr opened #1616 "Add Carthage-friendly SwiftLint build phase."
So we had a SwiftLint build phase for quite some time. Unfortunately, this build phase was a problem for Carthage users, so there is a PR to remove it (#1615) to fix some of the problems like #1458 and #1542.

The main problem is that the build phase is ran by Carthage as well. [Quick](https://github.com/Quick/Quick) had a similar issue and it seems to be resolved now. Relevant links: [Quick#693](

[2018-03-29 22:26] sunshinejr commented on #1583
I think this one should be resolved thanks to @lucas34, but if there are still questions about it, don't hesitate to reopen it @hherman1.

[2018-03-29 22:26] #1583 closed

[2018-03-29 22:44] CocoaPriest commented on #1458
@sunshinejr thanks! Will test it (but not until the day after tomorrow)

[2018-03-30 11:28] msalman commented on #1307
@BasThomas Any guidelines for me after the release of [cocoapod version 1.5 beta ](https://github.com/CocoaPods/CocoaPods/releases/tag/1.5.0.beta.1)

[2018-03-30 13:13] filograno opened #1618 "Best way to handle pagination"
Public third party API (like Instagram API or GitHub API) paginate data using a specific url to indicate the next page.
Using Moya (11.0.1), in the request I need to pass the entire url of the next page.
To avoid encoding issues (as mentioned in the issue #1119) I need to extract the path and query string from this url, so that my TargetType is:

[code]

is this the right approach to handle the pa

[2018-03-30 14:03] Dschee opened #1620 "Moya 11.0.1 not compatible with Xcode 9.3 via Carthage"
Here's my Cartfile entry:
[code]

And this is the command I'm running with Carthage 0.29.0:
[code]

The error output:
[code]

[2018-03-30 14:06] Dschee commented on #1620
I've tried this entry:

[code]

With the same command and still got an error. Then I created the branch `xcode_9.3` based on `swift_4.1` which works. See my comment [here](https://github.com/Moya/Moya/pull/1617#issuecomment-377529924) for reference.

So, if anyone is having the same issue, until this is fixed properly you can use this in your Cartfile:
[code]

[2018-03-31 13:13] CocoaPriest commented on #1458
@sunshinejr `remove_swiftlint_buildphase` works like a charm

[2018-03-31 15:57] sunshinejr commented on #1307
@msalman I didn't try the feature yet, but Artsy's eigen is already moved to static libraries, see [artsy/eigen#2561](https://github.com/artsy/eigen/pull/2561/files#diff-4a25b996826623c4a3a4910f47f10c30), maybe it will help.

[2018-03-31 18:05] sunshinejr commented on #1458
@BasThomas we can keep this open as the PR didn't land yet 😅 Also, @CocoaPriest there is an another PR that instead of removing the build phase, uses it only in debug mode. Can you try this one as well (#1619)? As we would prefer it actually, because it solves the problem for Carthage users without removing a tool in our development process.

[2018-03-31 18:14] CocoaPriest commented on #1458
@sunshinejr just checked it, `swiftlint-fix` works for me as well.

[2018-03-31 19:04] sunshinejr commented on #1458
That's cool, thanks for the help @CocoaPriest! 👌

[2018-04-01 00:33] eMdOS opened #1622 "Carthage installation always fails"
Installation of Moya via Carthage is **still not working**.

I've tried with:

[code]

... and I am always getting:

[code]

I had this issue like 4 months ago, I tried again today, and I am seeing it has not been fixed.

[2018-04-01 05:10] #1458 closed

[2018-04-01 05:12] SD10 commented on #1622
@eMdOS Thank you for bringing this to our attention again. As you mentioned it is a duplicate of your old issue so I'm going to close this to keep the discussion there

[2018-04-01 05:12] #1622 closed

[2018-04-01 05:33] SD10 commented on #1620
I just released Moya 11.0.2 with the patch for this. Please re-open if the problem continues

[2018-04-01 05:33] #1620 closed

[2018-04-01 05:33] SD10 commented on #1542
I just released Moya 11.0.2 with the patch for this. Please re-open if the problem continues

[2018-04-01 05:33] #1542 closed

[2018-04-01 05:35] SD10 commented on #1616
Going to close this as it has been patched in Moya 11.0.2. Thanks for taking the time to investigate and write a detailed outline of the problem @sunshinejr 👍

[2018-04-01 05:35] #1616 closed

[2018-04-01 20:19] SD10 commented on #1612
@SeRG1k17 I looked into this today and I can't reproduce. Can you put together an example project demonstrating the issue?

[2018-04-03 07:41] jdisho commented on #1610
@anhpt681995 `500` indicates that the server encountered something unexpected. Probably the data  in `httpBody` is not as the server expects.

[2018-04-03 08:33] anhpt681995 commented on #1610
@jdisho Thanks for your respond. Yes, as you pointed out, `500` indicates that the server encountered an unexpected condition which prevented it from fulfilling the request. However, with the same url, parameters, HTTP method ... when I make a request with Alamofire it worked. So I think the problem is not at the server. Maybe I did something wrong with Moya but I didn't know where I was wrong.

[2018-04-03 11:39] jdisho commented on #1610
You use this in `Moya`
[code]

and this in `Alamofire`, which means that you are creating `utf8` encoded `Data` from `String`

[code]

Try using the same thing in `Moya` @anhpt681995 .

[2018-04-03 11:58] anhpt681995 commented on #1610
@jdisho Well spotted, however, I tried it, but it still doesn't work. It's still `500` :(

Thanks for have a look at it.

[2018-04-04 06:56] PlutusCat opened #1625 "Why is my character converted?"
I'm using the 11.0.1 version
My code
[code]

The string "/login.do?key=\(iOS_Key)"  is converted to "/login.do%3Fkey=\(iOS_Key)"
Right is "http://www.mainmoya.com/login.do?key=\(iOS_Key)"

Thinks

[2018-04-04 09:51] canny09 opened #1626 "Ambiguous reference to member 'map(_:atKeyPath:using:failsOnEmptyData:)"
I wrote a ``Single`` extension in Swift 3 like this, and it work fine.
[code]
But today, I convert the project to Swift 4, and then get a error message in above by complier.
Why does it can't recognize the ``map<R>(_ transform:)`` function?
How to deal it?

I use cocoa pods
[code]

[2018-04-04 11:13] sunshinejr commented on #1626
Hey @canny09. I'll need more informations to help you resolve the issue:

1. What version of Moya do you use?
1. Are you sure that `map<R>(_ transform:)` is a method that Moya had before? I can't recall it but maybe my memory is failing me 😅
1. Can you tell me if you are using additional CocoaPods, for mapping specifically? `ObjectMapper` or `ModelMapper` or any other? If yes, please provide me `P

[2018-04-04 11:27] canny09 commented on #1626
@sunshinejr
😅 I pod the Moya by ``pod 'Moya/RxSwift', '~> 11.0'`` , just update today.
😅 Sorry, my mistake. The method is ``RxSwift``..
😅 I use the [HandyJSON](https://github.com/alibaba/HandyJSON) for mapping json to model

Maybe I should open the issue in RxSwift 😅

[2018-04-04 11:36] SD10 commented on #1625
@PlutusCat It's because `?` is not meant to be used in `path` and this is what causes it to get encoded this way. You could move the `?` into `baseURL` and it should fix your issue.

[2018-04-04 13:00] sunshinejr commented on #1626
Oh, so now you are facing a problem with Swift, rather than with RxSwift or Moya... I'll try to give you some hints on how you could try to solve it, as I don't see nothing in particular on the first sight.

Swift is not the best at giving you a precise errors in this situation, that's why I always try to extract the code to a playground if possible to check if the inner code is working without th

[2018-04-05 16:49] mossby opened #1627 "Is it possible to bypass a particular circumstance which is throwing the .imageMapping error?"
Hey gang! Running Moya 11.0.2

So I've run into an interesting situation with a value in a json payload called `banner_image`, which is usually a String with a path to an image, but it can also sometimes be `null`

eg (roughly) :
[code]
and sometimes:
[code]

I'm not actually using the `banner_image` and not currently mapping the value in the relevant model within the app. When the `banner_image`

[2018-04-06 15:28] mossby commented on #1627
It was something completely unrelated to my (in retrospect) droolings of a madman above. I'm a close minded fool and was blinded by what I conceptualized "imageMapping" to mean. Sorry for the waste of time my Moya friends!

[2018-04-06 15:28] #1627 closed

[2018-04-06 15:44] SD10 commented on #1627
@mossby Glad you could get this one resolved 👍 No worries, I make the most outrageous mistakes all the time 😆

[2018-04-06 16:28] maciejburda opened #1629 "Escaping / in path"
I use the newest moya.

And I've got we weird problem setting up the proper path.
The problem is that id you the object has `/` inside which has to be escaped.
But it can't really be passed as param because it's in the middle of the path:

Typical object id: `lci80MzY2NDQwODU4NDI/a2V5PTE0MjNmMmN`

[code]

Slash is a valid sign so it won't be escaped.
But when I do this:
[code]

The `%` sign will b

[2018-04-07 20:41] fbeeper commented on #632
It took me more than a month rather than days... but made it in the end! Cheers!

[2018-04-07 22:09] SD10 commented on #1625
@jdisho Thanks for helping us clean up! But we actually have a bot that automatically closes an issue after 2 weeks of inactivity 😇

[2018-04-07 22:12] jdisho commented on #1609
@hemant3370 This shouldn’t be an RxMoya problem.
But, what do you get when you do this?
[code]

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-08 15:52] SD10 opened #1633 "Start Moya 12.0 Migration Guide"
We may only have 2-3 breaking changes in the next major version but I still think it's good to provide these consistently.

[2018-04-09 05:53] #1625 closed

[2018-04-09 16:09] SD10 commented on #1625
@PlutusCat We're glad you were able to resolve your issue. Mind letting us know how you managed to fix this? It could help a future Moya user

[2018-04-10 04:28] alanyjw opened #1635 "Allow customization of formatting in NetworkLoggerPlugin"
✨

NetworkLoggerPlugin currently provides the ability to inject a different `output` closure and it will be even better if the customization extends to formatting.

There's a couple of reasons for this:
- Use `NSLog` instead of `print`. We would like to ship these logs to Crashlytics and it supports `NSLog` for logging.
- Omit `date`. `NSLog` already provides timestamp.

I believe there may be oth

[2018-04-10 08:30] #632 closed

[2018-04-10 08:37] sunshinejr commented on #1534
Hey @lucas34, I'm gonna close this one because there is no activity for about 4 months now. If you are  keen to work on this again, please create a new PR. Thanks again for the hard work on this 👌

[2018-04-10 11:15] goktugaral opened #1636 "Example project for RxMoya with version 11.0"
Hi,

I am very disappointed with your example project. I want to use RxMoya on my project and I'm new on RxSwift. I found a couple of tutorials which includes RxMoya but they all have an old version of Moya. Could you update your example project, please? I tried to migrate from v.8.0 to v.11.0 but it is really confusing for me.

[2018-04-10 11:50] jdisho commented on #1636
Have a look at my OSS https://github.com/jdisho/Papr/tree/papr-moya-version, I am using RxMoya v.11 there.
Btw, you have also check [Community projects](https://github.com/Moya/Moya/blob/master/docs/CommunityProjects.md)

[2018-04-10 12:35] BasThomas commented on #1636
Hi @goktugaral, thanks for letting us know. Unfortunately, even though we try our very best, some things might slip through the cracks and aren't update alongside the library itself. Please bear with us!

[2018-04-10 13:01] goktugaral commented on #1636
@jdisho I have just started to explore your project and puooww what the heck!! Thank you very much for widening my world. :)

@BasThomas thank you for your consideration and kind response. Of course, I bear :) I just wanted to mention about my suffering.

[2018-04-10 13:44] NSMyself commented on #1620
I tried both versions (11.0.2 and xcode_9.3)  but I'm experiencing more errors in its dependencies.

`module compiled with Swift 4.0.3 cannot be imported in Swift 3.3: /Users/nsmyself/moya/Carthage/Checkouts/Moya/Carthage/Build/iOS/RxSwift.framework/Modules/RxSwift.swiftmodule/arm.swiftmodule`

Here's the log:

[2018-04-10 14:15] NSMyself commented on #1620
Disregard that, using `--no-use-binaries` fixed it.

[2018-04-10 16:53] SD10 commented on #1635
@alanyjw To clarify, are you suggesting both support for `NSLog` and `Print` via the output closure? If so, think this is a reasonable enhancement.

[2018-04-11 07:42] honbolau opened #1637 "How do I get the complete request URL in token?"
//  I want to use the URL as the key in the database.
 // 1 ? How do I get the complete request URL in token?
 // 2 ?I tried to use splicing, but I couldn't get the Token parameter.

[code]

[2018-04-11 11:39] Legoless opened #1638 "Moya breaks project archive when linked via CocoaPods and new Swift Build System"
We are using Moya 11.0.2 linked via CocoaPods 1.5.0:
[code]
which works normally. When I switch to new Swift-based build system in Xcode 9.3, Moya will break the build with the following errors:

[code]

This could also be an issue with CocoaPods or Build System, but always stops with Moya, so maybe something to keep an eye on.

[2018-04-11 13:54] sunshinejr commented on #1637
Hey @honbolau. To get the complete `URL` you would have to get the url + parameters. `URL` you can get using Moya's initializer for `URL`, `URL(target:)`. Parameters are harder because you would need to know if these parameters are gonna be encoded in the `URL` or not. You basically would need to implement all the logic Moya has to do it.

The other way would be to implement a `Plugin`. There is a

[2018-04-11 14:13] sunshinejr commented on #1638
@Legoless thanks for the report. I guess we should file a radar as it clearly works with the old build system but it doesn't with the new one. Just one question: is it using a static or dynamic framework option in a `Podfile`?

[2018-04-11 14:29] Legoless commented on #1638
Dynamic, sorry, forgot to add.

[2018-04-12 00:49] honbolau commented on #1637
@sunshinejr  I just want to save the full URL to the database in the following way.
`http://xxxx.com/view/cg/cargo/cargoAreaAvgPriceDate?areaId=0&releaseDate=2018-04-12`
But I can't get the parameters in this method.

[2018-04-12 00:49] honbolau commented on #1637
@sunshinejr  I just want to save the full URL to the database in the following way.
`http://xxxx.com/view/cg/cargo/cargoAreaAvgPriceDate?areaId=0&releaseDate=2018-04-12`
But I can't get the parameters in this method.

[2018-04-12 03:39] alanyjw commented on #1635
@SD10 Not exactly.

What I meant was to change the initializer to include a `outputFormat` parameter:

[code]

Where the fallback implementation will be what it is in the codebase:

[code]

Let me know if this sounds reasonable and I'll submit a PR 😄

[2018-04-12 06:49] SD10 commented on #1635
@alanyjw Sounds good to me 👍 A PR would be welcome

[2018-04-12 09:15] jdisho opened #1639 "[Suggestion] Simpler version of Moya?"
Hey guys 👋

I am using `Moya` in some projects and I love how it abstracts `Alamofire` and how easy it is to use. ❤️
But, personally, I see a problem with `Moya` when it comes to projects that does not necessarily need that much networking.

For instance, there are projects that just need a small networking provider to request `JSON` data from an endpoint and map it to a `Decodable` object. I woul

[2018-04-12 12:09] goktugaral commented on #1558
Hi all,

I've just read the discussion. I've just started to adopt RxSwift & Moya. I try to learn basic concepts and want to use a Network class. I created static func, and the request all works well with Moya but I have a warning which is "Result of the call to 'subscribe' is unused". What might be the reason for it?

A little digging, I added the disposeBag at the end but if I do this, my reques

[2018-04-12 12:51] goktugaral commented on #1558
@jdisho
Nothing, just "Status Code: 200, Data Length: 286"

[2018-04-12 13:15] pedrovereza commented on #1637
@honbolau As mentioned by @sunshinejr, you can create a custom `Plugin` to get the full URL. So for an example target:

[code]

A custom plugin that is able to get the full URL would look like this:

[code]
This plugin is printing the url of every request (you may want to add some logic to only handle requests you want to save). Example output:

[code]

Usage on your provider:

[code]

[2018-04-12 13:50] minuscorp commented on #1558
You either skip to retain the return value of the function (i.e., `let _ = provider.rx.....) or retain it in a local variable in the scope of the function, but it seems that you won't do anything with that constant, which is a `Disposable` btw (i.e., `let disposable = provider.rx....).
That being said, the `Disposable` should always be returned in a `Rx` function to allow the developer to control

[2018-04-12 15:08] honbolau commented on #1637
@pedrovereza Thank you, but I can't get the cache data from the database immediately when I send the network request.

[2018-04-12 16:37] SD10 commented on #1639
@jdisho Thanks for writing this up 👍

To be honest, I’m not sure what a lighter weight version of Moya would look like. The Moya codebase is already extremely small and well focused. I’m not sure if a thinner layer [could even be considered Moya anymore](https://github.com/Moya/Moya/blob/master/Vision.md).

It sounds like in this situation someone should just be using Alamofire directly. Making th

[2018-04-12 18:46] jdisho commented on #1639
You misunderstood my suggestion @SD10, probably I am not explaining it well 😄

What I am suggesting is to have a `Moya-Lite` version with no dependencies on `Alamofire` and `Result`, with the same [project goals](https://github.com/Moya/Moya/blob/master/Vision.md) and covering basic networking cases like exchanging data with some endpoints using CRUD methods and working only with `Codable` objects

[2018-04-12 19:07] SD10 commented on #1639
@jdisho I have similar feelings when it comes to dependencies but [Alamofire is a reasonable dependency IMO](https://github.com/Moya/Moya/issues/556#issuecomment-247200112). It's used in ~600k apps with ~40million downloads according to CocoaPods alone. And if you examine the Alamofire codebase it's not as large of a project as you'd expect it to be.

As for Result, I feel you on this one. However

[2018-04-12 20:10] SeRG1k17 commented on #1612
@SD10 I created a test project, but everything works correctly there. Can there be a problem in a specific request?

[2018-04-12 21:19] BasThomas commented on #1639
Especially since we rely heavily on Alamofire, I don't see this making too much sense. I don't know the initial reasons to have Alamofire as a dependency though, and I do not know if it would be worth it dropping the dependency at this point.

[2018-04-12 21:20] BasThomas commented on #1639
Are there any strong opinions or instances were you really need Moya over `URLSession` when dependency size is important?

[2018-04-12 22:16] jdisho commented on #1639
I am not saying to get rid of `Alamofire` and change the core part of `Moya`.
I am suggesting to create another OSS as a lightweight version of `Moya`, just as a wrapper around `URLSession` supporting some common and basic networking tasks. Just requesting data with parameters or with an `Encodable` object and decoding the response. Similar to [this](https://github/jdisho/TinyNetworking)

Thoughts

[2018-04-13 06:05] BasThomas commented on #1639
I get it, but I still don't see the point of it:

[2018-04-13 07:38] jdisho commented on #1639
When it comes to projects were 40-50 endpoint have to be implemented and some of them have different `Tasks` to do(requesting with parameters, encodable object to body, uploading, downloading), I will use Moya because it is easier to use, offers less coupling. At this case I don’t care about the dependency size. @BasThomas

I see the dependency size as a problem when it comes to projects that does

[2018-04-13 07:45] BasThomas commented on #1639
But in the smaller projects you would probably not need the “overhead” of Moya, and you can use a simple `URLSession`. Right?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-13 07:58] jdisho commented on #1639
Right @BasThomas , the "overhead" of Moya in not necessary in smaller projects, that's why I am suggesting to have a light version of it, with the same [interface](https://github.com/Moya/Moya/blob/master/docs/Examples/Basic.md), as a wrapper around `URLSession` 😄

[2018-04-13 08:08] sunshinejr commented on #1638
Hey, coming back to you with the results of my tests @Legoless. Unfortunately, I didn't have the same result as you. I ran the following:
- Create a fresh project
- `pod init` and add `pod 'Moya', '11.0.2'` to the `Podfile`
- Open `*.xcworkspace`
- Build with the default build system (success)
- Switch to the new build system
- Build with the new build system (also success)

_(using `Xcode 9.3` an

[2018-04-13 08:58] SD10 commented on #1639
I feel like if the project is that small that it doesn't warrant the use of Moya, it doesn't warrant the use of a network abstraction beyond `URLSession` or `Alamofire` in general.

Personally, I don't really care about my dependencies in small projects, it's quite the opposite actually. I don't want dependencies in a large project because the effort to replace them is massive. I could change netw

[2018-04-13 15:27] jdisho commented on #1639
Thanks for your opinions 😊 @BasThomas @SD10

What do other @Moya/contributors think?

[2018-04-13 15:29] freak4pc commented on #1639
I understand the intent of the original author but I disagree on it.
I prefer using a heavily-tested dependency such as Alamofire than to diverge Moya into two smaller dependencies. Especially as I don't anticipate it'll bring any performance benefit whatsoever to use URLSession without any dependencies (as Alamofire does that, and does it well)

My 2 cents.

[2018-04-13 15:36] colinta commented on #1639
Making a library that has the features of Moya but doesn't rely on Alamofire wouldn't make the library smaller, it would make it *bigger*, and that much more code for contributors to maintain.  If a project is trying to minimize dependencies then something like Moya (which is, at its heart, an interface to a wrapper for URLSession) is just not a good match.  Using URLSession directly, or Alamofire

[2018-04-16 07:17] sunshinejr commented on #1618
Hey @filograno. I usually have an optional `pagination` object that holds a `page` and number of items per page that I want to fetch. Then, from the response, either I got an object that returns a current `Pagination` object as well, or if I can't get it out of an API, I'd just bump the `page` in my current `Pagination` object.

I think that there are many approaches and it's just a matter of what

[2018-04-16 07:26] sunshinejr commented on #1612
@SeRG1k17 really strange, are you sure it's there indefinitely? Maybe there is a request that gets a timeout?

[2018-04-16 07:29] sunshinejr commented on #1398
As I think we agree that we don't really use it, I went ahead and closed the project and gonna close this issue too 👍

[2018-04-16 07:29] #1398 closed

[2018-04-16 07:41] SD10 commented on #1612
At first, I thought it was related to #1503 because the `defaultAlamofireManager()` isn't a shared instance. I tried a lot of things in an example project and just like @SeRG1k17 I couldn't reproduce

[2018-04-16 07:54] sunshinejr commented on #1565
I think we should still investigate the issue, so reopening this one. Unfortunately, I don't really have time to do it. Maybe some of the @Moya/contributors would help?

[2018-04-16 08:00] jdisho commented on #1639
Thanks for your opinions 😊

[2018-04-16 20:39] pedrovereza commented on #1494
@SD10 GitHub automatically closed this issue based on #1640, but I feel you still want to keep it open, right?

[2018-04-16 21:14] SD10 commented on #1494
Yeah thanks @pedrovereza 👍

[2018-04-17 02:44] bnussey opened #1641 "Reference to member cannot be resolved without a contextual type"
I'm using Moya 11 and have been working on adding in the ability to refresh an auth token if a `401` is detected. I'm doing this by subclassing the provider.

All was looking good, but very strangely, when I try and build the code, I get an error:

`Reference to member 'authorizeRefresh' cannot be resolved without a contextual type`

Which relates to:

`return self.provider.rx.request(.authorizeRe

[2018-04-17 06:12] #1604 closed

[2018-04-17 07:12] #1597 closed

[2018-04-18 14:16] vermotr opened #1643 "OAuth2: Refresh token"
Hi everyone, I need your help!

I use an OAuth2 API and I need to perform the following steps in order for my service to work:
1. Check my `access_token` and if it is expired, do a request to ask a new token with my `refresh_token`
2. Execute my initial request

I have tried many things and I have already read several times this issue https://github.com/Moya/Moya/issues/748.

However, I do not man

[2018-04-18 14:33] pietrocaselani commented on #1643
Hi @vermotr
Please, take a look at this issue #1536
There is a comment from me pointing to others similiar issues.
Let us know if need any more help.

[2018-04-18 15:50] zhongwuzw commented on #1565
@matthiasotto , Based on your example demo, I think it's not comparable, because you use `.requestData(data)` when use `Moya`, it's a request operation, the progress indicates the download progress, but in `Alamofire` example, you use `upload`, the progress indicates the upload progress.

[2018-04-18 23:09] sunshinejr commented on #1565
Oh, that's a very good catch @zhongwuzw! Didn't see that one and I was looking at this issue for a few times.

[2018-04-19 08:19] GTMYang opened #1645 ".success Status Code: 405 . Urgent need your help！"
For continuous launched the same request，I've got the following result:

result is .success(Status Code: 405, Data Length: 70)

Message is:
The requested resource does not support http method 'T'.

Urgent need your help！

[2018-04-19 10:13] sunshinejr commented on #1645
Hey @GTMYang, thanks for the issue. It seems like it's a similar one to the https://github.com/Moya/Moya/issues/1533. Could you check if your backend is using `Spring`? It seems like this might be the issue here.

[2018-04-19 21:59] sunshinejr commented on #1641
Hey @bnussey. So you are able to use `self.provider.rx.request(.authorizeRefresh(token: refreshToken))` in one part of the app and you can't in the other? If yes, please copy parts of the code surrounding the request - one that works and one that doesn't work. Also, please copy the code for `TargetType` that you use (with `. authorizeRefresh(token:)` case).

[2018-04-20 00:07] GTMYang commented on #1645
@sunshinejr No. I have not using Spring.

[2018-04-20 00:11] SD10 commented on #1645
@GTMYang Can you use the `NetworkLogger` plugin to get more information about the HTTP request and response?

[2018-04-20 02:10] GTMYang commented on #1645
@sunshinejr @SD10 Is not moya's bug. it's my backend's issue!  Thank you very much!

[2018-04-20 05:10] GTMYang commented on #1645
@sunshinejr @SD10 Maybe is Moya's issue. Because when i use Alamofire to do the same request, worked well!

[2018-04-20 05:35] GTMYang commented on #1645
I found that when i use following code the problem appear：
.requestCompositeParameters(bodyParameters: [:], bodyEncoding: JSONEncoding.default, urlParameters: self.parameters)

when i use  .requestParameters(parameters: self.parameters, encoding: URLEncoding.default)
the problem not appear.

the real is that  when i set
    Content-Type: application/json
problem appear.

[2018-04-20 05:35] #1645 closed

[2018-04-20 08:52] SeRG1k17 commented on #1612
See the guys @SD10, @sunshinejr
I noticed that for some reason the increment of the counter inside the library is called twice.
Here is the call stack at the normal move, that is, the user pressed the button-started request ...
![normal](https://user-images.githubusercontent.com/13317173/39041091-e531abba-4490-11e8-94d9-784292ee81ae.png)

Then we hit the increment method again, here's the stack:
!

[2018-04-20 09:04] SD10 commented on #1612
@SeRG1k17 Can you provide an example project that reproduces it? I could play with it when I have some free time.

About improving Moya, if you have any ideas the best thing to do is to open issues for the community to discuss them 👍

[2018-04-20 15:36] SeRG1k17 commented on #1612
@SD10 The problem is observed on a large working project. On a test project, with the same request, everything is fine :(

[2018-04-20 18:44] SeRG1k17 commented on #1629
@maciejburda You can use the parameters in task like this:
swift```
public var task: Task {
        switch self {
        case .youCase, return .requestParameters(parameters: parameters, encoding: URLEncoding.queryString)
}
[code]

[2018-04-20 19:02] SeRG1k17 opened #1647 "Missing "Task" case"
In one of my projects, I needed to use the parameters in the query string, and also use the body.  Due to the fact that the property path can not be represented as:
[code]
Here's what my case should look like:
[code]

[2018-04-21 17:39] sunnyleeyun opened #1648 "Can Path and JSON Body work together?"

[2018-04-21 17:40] sunnyleeyun opened #1649 "Can Path and JSON Body work together?"
I'm new to moya. I've got a case as below. I need to use both path and JSON Encoding.

[code]

As memberid goes to the path.

[code]
and Cartidx & Num goes as JSON

[code]

However, it doesn't seem to work. I tested it by removing 'memberid' and embed a fake one, such as cxxxx-xxxx-xxxxxxxx, temporarily. As it turned to be like

[code]

It worked in that way, but I'm still not able to solve the pr

[2018-04-21 17:43] sunshinejr commented on #1649
Hey @sunnyleeyun. Have you maybe tried using `requestCompositeParameters`? It should allow you using parameters both in URL (with `URLEncoding`) and in body (`JSONEncoding` in that case).

[2018-04-21 18:03] sunnyleeyun commented on #1649
@sunshinejr As a matter of fact, I did. Maybe I misunderstood. Before answering this, I tried:
[code]
Clear error. (status code: 400)

However, after reviewing your answer, I tried again.
[code]
Still an error. (status code: 405 -> wrong method or wrong parameter. In this case, probably wrong parameter).
I supposed it referred to two completely different result. I'm not so sure how exactly request

[2018-04-21 19:42] #1648 closed

[2018-04-21 19:46] sunshinejr commented on #1649
Okay it seems like you want url like `https://url.to/path/MEMBER_ID` instead of `https://url.to/path?memberId=MEMBER_ID` so it's really a custom situation.

Then you should probably use `.requestParameters(parameters: ["Cartidx": Cartidx, "Num" : Num], encoding: JSONEncoding.default)` and have `memberId` in the `path` as you had before. Probably though you would need to make an encoding on your `p

[2018-04-21 23:56] sunshinejr commented on #1647
I think that this proposal makes sense. We usually name the cases using `composable` keyword, so in this case, it could be something similar to `requestCompositeJSONEncodable(encodable: Encodable, urlParameters:  [String: Any])`. The implementation could also be similar to [`requestCompositeData`](https://github.com/Moya/Moya/blob/master/Sources/Moya/Task.swift#L22).

I'd love to hear other @Moya/

[2018-04-22 00:40] ashfurrow commented on #1647
Wait, I'm not quite clear on the problem. Both your request body and query string need the same parameters? Could the [`requestClosure`](https://github.com/Moya/Moya/blob/master/docs/Endpoints.md#request-mapping) be used for this? Or could the logic be abstracted into shared code?

[2018-04-22 00:52] SD10 commented on #1647
I also want to make the argument that Moya should allow users to handle the mapping of an `Endpoint` to a `URLRequest` from within the `Endpoint` object itself

The mapping is currently defined as a `public` method:
https://github.com/Moya/Moya/blob/4555c7956e5acfb81bf759476c905f0866e5df4c/Sources/Moya/Endpoint.swift#L78

You can use the `requestClosure` of `MoyaProvider` to handle this mapping, h

[2018-04-22 10:35] ffittschen commented on #1565
Then I'd vote for a new `case uploadData(Data)` in [Task.swift](https://github.com/Moya/Moya/blob/master/Sources/Moya/Task.swift) that maps to the `Alamofire.upload` API. In a current implementation of mine I also save `data` to a temporary file just to get the upload progress

[2018-04-22 11:01] SeRG1k17 commented on #1649
@sunshinejr Hello, I think. It's like my question #1647

[2018-04-22 11:05] SD10 commented on #1565
Another request to add a new case to the `Task` enum 😢 I feel your pain on that one @ffittschen

[2018-04-22 11:12] ffittschen commented on #1565
Yes I also followed #1647. Maybe we need to rethink the `Task`? I don't know the original reasoning, but the documentation says a Task `Represents an HTTP task.` therefore it also feels wrong to me to add a new case just to upload data instead of files. Because from the HTTP perspective, the _task_ is the same.

[2018-04-22 12:04] SeRG1k17 commented on #1565
@ffittschen I agree, we must revise the `Task`. In order that he could satisfy all requests.

[2018-04-22 12:48] freak4pc commented on #1565
I think task probably has to be some sort of Protocol by itself with some default `static let` "cases" so it could be easily extended if needed.

[2018-04-22 13:43] SD10 commented on #1565
@freak4pc I don't think we can use a protocol here because `Task` has no specific implementation requirements. A lot of the context for these cases is provided by Moya internals as defaults.

@ffittschen There is #1556 discussing this. I partially agree with some the suggestions there

[2018-04-23 04:53] gobetti opened #1650 "How to use delayed stub with RxTest.TestScheduler?"
Moya version: 11.0.1

**Context:**
Hi! I'm reasonably new to Moya so I may be overlooking this, hence this is just a question. I've recently migrated to RxTest and all tests using `immediatelyStub` worked perfectly, but I'm having trouble with the cases where I need `delayedStub`. I'd really like to simulate network work in my unit test (while still using stubs) and count on the perfect precision

[2018-04-23 06:33] sunshinejr commented on #1650
Hey @gobetti. That's a great question. So I didn't really use delayed stubs in combination with `TestScheduler` in RxSwift, but I know that people who did, subclassed `MoyaProvider`.

If there is a way of introducing this to Moya without creating additional subclasses it would be awesome. If not, maybe just adding an example of subclassing to our docs would be sufficient? What do you think?

[2018-04-23 13:41] ashfurrow commented on #1647
@SD10 There is no need to apologize! We can work through these things together as they come up – and things like this _do_ come up, for every project.

[2018-04-23 13:59] gobetti commented on #1650
Hi @sunshinejr , thanks for the fast and kind answer!
If subclassing is still considered a good practice after `RxMoyaProvider` got deprecated, then I'm all for it. An example may help, but I can anticipate that currently there is a single method in `MoyaProvider` handling all `StubBehavior` cases and I'd like to override only the `delayed` one (the one where a scheduler will make sense since ther

[2018-04-24 05:08] kaleemozitech opened #1651 "i did not find any way to pass JSON instead of Sending parameters"
i was going to call a API that takes more then 15 parameters in Body and it doesn't looks good to send such number of parameters in function call /Moya Api Call
and I think Passing Full JSON Will be a Good option for such type of problems

[2018-04-24 10:43] Pawlo1501 opened #1652 "Html code in response object"
pod 'Moya/RxSwift', '~> 11.0'

Hi im' getting from server strings like in an example. Is there any tool in Moya to decode these html characters in response to normal string which I could use in labels?

[code]

[2018-04-24 10:50] SeRG1k17 commented on #1651
@kaleemozitech  Please take a look at my answer #1629
This is what you need? If yes, I think it can be closed.

[2018-04-24 11:00] kaleemozitech commented on #1651
@SeRG1k17 #1629 did not solved the issue of passing JSON (Created from Some Model)
i am talking about
case .youCase, return .requestParameters(parameters: myJSONobject, encoding: URLEncoding.queryString)

[2018-04-24 11:27] kaleemozitech commented on #1651
@SD10  thanks

[2018-04-24 11:27] #1651 closed

[2018-04-24 12:29] #1610 closed

[2018-04-24 13:49] kaleemozitech commented on #1652
use   case let .success(moyaResponse):
                moyaResponse.mapString()

[2018-04-24 13:50] kaleemozitech commented on #1649
Yes Path and JSON Body work together

[2018-04-24 14:36] sunnyleeyun commented on #1649
@SeRG1k17 I don't think it's the same. The path I meant was not "query string".
@kaleemozitech How exactly?

[2018-04-24 14:44] SeRG1k17 commented on #1652
Don’t forgot handle do/catch here

[2018-04-24 14:45] SeRG1k17 commented on #1652
And statuscode filtering before mapping

[2018-04-24 14:45] sunnyleeyun commented on #1649
@sunshinejr Yes, I'd like url as `https://url.to/path/MEMBER_ID` , but what do you mean "Probably, though, you would need to make an encoding of your path by yourself." I supposed I'm doing things half right. Is there any example I could take as an example.

[2018-04-24 14:47] SeRG1k17 commented on #1649
@sunnyleeyun You can’t use dynamic formatting in path variable.

[2018-04-24 15:51] sunnyleeyun commented on #1649
@SeRG1k17 It's possible to use `return "Cart/\(memberid)"` at the path target, so I supposed this means we can use dynamic formatting in path variable, but perhaps not combining with dynamic task target.

[2018-04-24 16:03] kaleemasad commented on #1652
Yes exactly right https://github.com/SeRG1k17

[2018-04-24 21:54] SD10 commented on #1649
@sunnyleeyun Can you configure the path in the `baseUrl` instead?

[2018-04-25 04:43] kaleemozitech commented on #1649
@sunnyleeyun this is how exactly

var path: String {
        switch self {
        case let .cities(str:str):
            return "/home/cities/\(str)"
        default:
           return "/home"
}
}

[2018-04-25 06:40] kaleemozitech commented on #1649
@sunnyleeyun did you get success

[2018-04-25 07:06] kaleemozitech commented on #1649
here is one more answer
https://github.com/Moya/Moya/issues/909

[2018-04-25 07:12] kaleemozitech commented on #1649
here is one more Answer if you want to use Both JSON and URL Encoding
https://github.com/Moya/Moya/issues/1059

[2018-04-25 07:23] kaleemozitech opened #1653 "requestCompositeParameters is not working"
i want to send bodyParameters in Composite request and i am using .post method but its not working fine and not passing body parameters and i am getting error from server

`return .requestCompositeParameters(bodyParameters: ["city" : 1], bodyEncoding: JSONEncoding.default , urlParameters: ["_method" : "put"])`

[2018-04-25 07:34] kaleemozitech commented on #1653
and i got succeeded using Multipart With Parameters

`  let multipartData = [ name, gender, date_of_birth, city, address, servicesObj]
            return .uploadCompositeMultipart(multipartData, urlParameters: ["_method" : "put"])`

[2018-04-25 08:04] Pawlo1501 commented on #1652
thanks for response but when i have code like this
`  self.provider.rx.request(.getObjects).debug().map(ObjectsList.self).asObservable().subscribe(
                onNext: { [weak self] model in
                    guard let objects = model.list, let firstObject = objects.first else {return}
                    self?.firstObject.value = firstObject
                    onNext(objects)

[2018-04-25 08:10] sunnyleeyun commented on #1649
@kaleemozitech  Thanks for your reply. Can you take a look at my question above? Cause it seems that I did exactly as you said at the very beginning. However, it wasn't working. Perhaps there's something I missed or went wrong which I didn't recognized.

[2018-04-25 08:36] jdisho commented on #1652
@Pawlo1501  I don't think that Moya has any function to parse the `HTML strings` (@SD10 correct me if I am wrong).

Btw, with the suggestion from @kaleemozitech you can only map the entire `response` as `string`.

[2018-04-25 09:52] SeRG1k17 commented on #467
@masthanl Is this a question for the Moya library?

[2018-04-25 12:43] Pawlo1501 commented on #1652
Ok thanks all for your help!

[2018-04-25 12:43] #1652 closed

[2018-04-25 12:56] sunshinejr commented on #1653
Hey @kaleemozitech. Please use `NetworkLoggerPlugin(verbose: true)` and post the logs here.

[2018-04-25 13:44] #1626 closed

[2018-04-26 11:16] SeRG1k17 commented on #1647
@SD10, @ashfurrow @sunshinejr Off-topic. I found another improvement. For example: we need a different timout for each request. Sure we need our manager. However, a typical timer change is described in #743. And in the last comment the author put forward a hypothesis. On adding one more case to the enumeration.

I believe we should reconsider some of the typical concepts that most developers face.

[2018-04-26 11:44] SeRG1k17 commented on #1647
@ashfurrow @SD10 @sunshinejr  I need case for Decodable body and parameters as queryString.
Because "api/endpoint?username=\(name)" in path property not working due to encoding. And even if it worked, the solution is very bad, i think.
[code]
None of them allow us to use Encodable + [String: Any] as url parameters
[code]
But I do not think this is a good decision. Because, this is not the place wh

[2018-04-26 11:57] SeRG1k17 commented on #1612
@SD10
Typical creation of own manager is described in #743
If dont use manager.startRequestsImmediately = false
This causes the problems described above. We increment the counter twice.
Is this a bug?

[2018-04-26 15:33] SeRG1k17 commented on #1612
@SD10 I think, now I know how reproduce it in example project:)

[2018-04-26 15:41] SD10 opened #1654 "Allow more granular URLRequest mapping"
The inspiration for this is here: https://github.com/Moya/Moya/issues/1647#issuecomment-383345598

#### Problem Area

Moya currently allows you to configure a `URLRequest` through the use of the `requestClosure` on `MoyaProvider`:
https://github.com/Moya/Moya/blob/4555c7956e5acfb81bf759476c905f0866e5df4c/Sources/Moya/MoyaProvider%2BDefaults.swift#L15

The problem with this is that this closure rec

[2018-04-26 15:51] SD10 opened #1655 "Add uploadData(Data) case to Task enum"
The inspiration for this issue is this comment https://github.com/Moya/Moya/issues/1565#issuecomment-383371379 by @ffittschen

### Problem
He's using `.uploadFile(URL)` to upload `Data` by first writing that `Data` to a `URL`.

### Solution
It seems reasonable to add a `.uploadData(Data)` case to the `Task` enum.

My main concern is the scalability of the enum as we continue to add more cases. I t

[2018-04-26 16:26] SeRG1k17 commented on #1647
@SD10 I want to not replace, but add a case.

[2018-04-26 16:26] sunshinejr commented on #1654
This is a really good write-up, thanks @SD10 👍 I'm still trying to think of a real use-case that would benefit from that. Do you have something in mind, maybe?

[2018-04-26 16:28] sunshinejr commented on #1647
So did we come back to the [solution I gave at the beginning](https://github.com/Moya/Moya/issues/1647#issuecomment-383342141)? 😄 I also do agree that we shouldn't really replace the case with additional parameter 👍

[2018-04-26 16:30] SeRG1k17 commented on #1647
@sunshinejr Look above, friend 😃

[2018-04-26 16:39] sunshinejr commented on #1647
@SeRG1k17 Yeah, yeah, I just said that we all agree that replacing the current task is a no-no, and asked if you guys like the solution I gave at the beginning 😄

[2018-04-26 16:47] SeRG1k17 commented on #1647
@sunshinejr Oh sorry. I did not notice. Yes, in fact, this is the same thing that you wrote above.

[2018-04-26 16:53] SD10 commented on #1654
The real use case I had in mind was when rejecting new cases to the `Task` enum 😂 The user could handle the creation of the `URLRequest` themselves for their custom case.

[2018-04-26 17:08] SD10 commented on #1647
@SeRG1k17 I'm sympathetic to not being able to handle the encoding error. That is in fact, a real problem 🤔

Can you add the parameters in the `baseURL` directly by making it dynamic and then ignore the path component for this case?

I just think that if we're going to add another case for this, we need to decide where we either draw the line or need to rethink things 😭

[2018-04-27 13:28] cooler333 opened #1657 "Update dependency: Result 3.2.4 -> 4.0.0"
Moya 11.0.2
CocoaPods

[2018-04-27 14:54] sunshinejr commented on #1657
Yeah, @cooler333, are you willing to make a PR with the change? The target would be our `development` branch as this would be a breaking change (major upgrade of a dep)

[2018-04-28 22:53] #1609 closed

[2018-04-30 14:29] kaleemozitech opened #1658 "How to pass complex Array/Dict in MultipartFormData?"
`

![screen shot 2018-04-30 at 7 20 19 pm](https://user-images.githubusercontent.com/32861273/39432300-8915caea-4cac-11e8-95f4-3ea4035e2c8e.png)

[code]

i am trying to pass form data Using MultipartFormData
but i am getting error from server as parameter `area_ids` not passed to the server

[2018-05-01 09:38] SD10 commented on #1079
I'm starting to learn React this morning so I will probably move forward with making Moya a website. Likely using Gatsby. Hope everyone is ok with that setup

[2018-05-01 10:08] BasThomas commented on #1079
Go for it!

[2018-05-01 14:15] #1636 closed

[2018-05-02 12:52] SeRG1k17 commented on #1647
@SD10 I can do that. But this seems like a "crutch".
[code]

[2018-05-02 13:04] ashfurrow commented on #1647
Could this be something that Parameter Encoding solves? We have docs here: https://github.com/Moya/Moya/blob/master/docs/Examples/ParameterEncoding.md Basically you can provide a custom bit of code that translates the parameters of the endpoint into the request. Again, a bit of a clutch, but as pointed out this is an uncommon scenario.

Moya should make common things easy and uncommon things possi

[2018-05-02 13:13] pedrovereza commented on #1647
On a side note, can we have this in the Vision document?

[2018-05-02 13:30] ashfurrow commented on #1647
Good idea: https://github.com/Moya/Moya/pull/1659

[2018-05-02 14:09] sunshinejr commented on #1658
Hey @kaleemozitech, this is a tough one because there might be many factors involved.

1. Type of your `dict`. Do you have your dictionary typed as `[String: Any]` or `[String: String]`? Additionally, what are `areas`? Is this a `[String]` or `[Int]`? Make sure you are passing the types right.
1. `.prettyPrinted` option for data serialization. This adds some additional space to the encoded data, m

[2018-05-03 10:25] namhn commented on #371
I am experiencing the above error, how to turn off the above message. I am using on swift version 2.3

[2018-05-03 10:26] namhn commented on #371
I am experiencing the above error, how to turn off the above message. I am using on swift version 2.3

[2018-05-03 15:09] #1637 closed

[2018-05-04 08:09] #1638 closed

[2018-05-05 11:59] andy1247008998 opened #1661 "How to pass a semicolon in url with POST method?"
I know it's kind of wired to have parameters in url and body at the same time, but www.example.com is out of my control, so please help me.

target url:
`https://www.example.com/example/login.do;jsessionid=\(jsessionid)"`

method:
POST

body:
`param1=abc&param2=def&param3=ghi`

Here's the problem:
That `;` in the url is always escaped to `%3B`.

Is there anything in the PATH section like this ?
`r

[2018-05-05 12:09] SD10 commented on #1661
@andy1247008998 You probably have to make a custom URLEncoding for this. The easier, more hacky way would be for you to not use the `path` variable but rather declare the path as part of the `baseUrl`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-05 12:13] andy1247008998 commented on #1661
I figured it out myself.

In TASK section,
change
[code]
to
[code]

**Why is the encoding here also affects the encoding for baseURL and path?**

Anyway, I will close this issue.

[2018-05-05 12:14] #1661 closed

[2018-05-07 08:34] #1618 closed

[2018-05-08 03:58] ETmanwenhan opened #1662 "uploadCompositeMultipart How to specify ParameterEncoding"
Using uploadCompositeMultipart method to request the problem of Chinese scrambled code, how to solve?

[code]

[2018-05-08 06:46] sunshinejr commented on #1650
Oh, I thought that you wanted to take a stab at it and create a PR with the example, @gobetti 😄 My time is limited right now so maybe you could try to do it and I could help you with your questions in a PR?

[2018-05-08 07:04] sunshinejr commented on #1662
Hey @ETmanwenhan! Sorry, but I'm not sure I understand the problem 😞

- Do you use Chinese characters and there is a problem when sending the request?
- If true, what is the problem - crash, wrong encoding? (you could add logs you got from the request/response, using `NetworkLoggerPlugin(verbose: true)` adding to your `MoyaProvider` plugins)
- Or maybe you're not sure what method to use?

[2018-05-08 10:43] wongzigii opened #1663 "How can I retrieve the param from headers?"
[code]

## Issue Background:

I've setup an API gateway for my server. The API gateway required the request params as the request headers to request.

##

As you can see above, How can I access the `var param = ["sort": "up"]` param according to my request path within the `headers`property?

I can somehow copy the param from the `task` property but this is ugly and duplicate.  :(
Say I need to add

[2018-05-08 10:53] SeRG1k17 commented on #1663
@wongzigii
You can use another case:
[code]
Could you please explain the duplicates in more detail?

[2018-05-09 09:22] panjiulong opened #1664 "Can I not set the baseURL?"
The baseURL of our project is changed. There are several baseURLs, so we can not specify baseURL?

[2018-05-09 09:27] wongzigii commented on #1663
@SeRG1k17

Using a manually `parameters` sounds like a good idea at first glance.
However, if I need to insert a random key, eg( I need to append a key-value `["t": randomString(length: 5)]`) to each request's parameter, this causes that the headers generated another random key when accessing the computed property `paramters`.

[code]

Do you have any suggestions?

[2018-05-09 09:49] jdisho commented on #1664
All baseURLs have the same endpoints? @panjiulong

[2018-05-09 12:11] SD10 commented on #1664
@panjiulong I would make a protocol `BaseUrlRepresentable` with the baseURL property and then conform all your targets to that. Alternatively you could just provide a default implementation via protocol extension on `TargetType` if all base URLs are the same

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-09 12:37] SD10 commented on #1663
@wongzigii The best thing to do would be to extract the associated value from the `Task` enum. Or else you have to cache/store the previously generated key somewhere

[2018-05-09 14:43] jdisho commented on #1664
Like this? @SD10

[code]
and then

[code]

[2018-05-09 19:03] snowtema opened #1665 "Pod Moya/RxSwift broke Xcode autocompletion for Rx-pods"
If I connect Moya/RxSwift pod to my project I had an unexpected trouble with autocompletion in Xcode and AppCode, it doesn't work. If I disconnect it works fine.

RxSwift v.4
Moya v.11

[2018-05-09 19:16] SD10 commented on #1664
@jdisho if there are two different urls than that works

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-10 20:36] BasThomas commented on #1665
That's interesting. Can you share your whole Podfile?

[2018-05-10 22:37] #1641 closed

[2018-05-11 08:12] panjiulong commented on #1664
@ SD10  @jdisho  Thanks!

[2018-05-11 08:56] #1664 closed

[2018-05-11 09:37] snowtema commented on #1665
Podfile

    platform :ios, '11.0'
    use_frameworks!

    target 'Workout' do
      # Analytics
      pod 'Fabric', '~> 1.7.3'
      pod 'Firebase/Core', '~> 4.9'
      pod 'Firebase/Messaging', '~> 4.9'
      pod 'Crashlytics', '~> 3.10.0'

      # Reactive
      pod 'RxSwift', '~> 4.1.2'
      pod 'RxCocoa', '~> 4.1.2'
      pod 'RxDataSources', '~> 3.0.2'
      pod 'Action'
      pod 'RxFlow'

[2018-05-11 11:15] cvhong commented on #1247
Hi, I think I encountered similar problem when upgrade from 8 -> 11,  task never getting call when I  trying to debug.

[code]

[code]

[2018-05-11 18:40] BasThomas commented on #1665
🤔, not sure if there are some clashes with `RxSwift` possibly. Moya [now depends on 4.0](https://github.com/Moya/Moya/blob/0b90f7ee8dcc378fe48db18c8b281e8792244de9/Moya.podspec#L39), while you specified 4.1.2.

Can you try to remove the `RxSwift` dependency and check if the problem persists?

If so, can you post your `Podfile.lock`?

[2018-05-11 19:47] #1629 closed

[2018-05-14 04:52] #1653 closed

[2018-05-14 09:39] hairui19 opened #1666 "File type is not preserved when uploading using Moya via MultiPartFormData"
I am using the latest version of Moya

[code]

when I upload my file, for example, file.pdf, the returned URL no longer contains the .pdf extension. However, when I use Alamofire alone, using code as this

[code]
I do get the .pdf extension on the URL returned.

Did I miss out anything?

Thanks in advance.

[2018-05-14 10:07] kjisoo opened #1667 "Lazy subscription after rx provider release"
I found a problem when using the RxProvider.

You can create a Single through a request from an RxProvider, but you can not subscribe to it immediately.
If I create a request through the RxProvider and the RxProvider is released from memory before subscribing to the Single, Single will not happen.
(Maybe This is bad code.)
like this
[code]

`MoyaProvider+Rx.swift` will use `base?.request`, but not

[2018-05-14 14:12] SD10 commented on #1667
@kjisoo I believe this is the intended behavior, you need to retain your provider.
See the folliwng issues:
#1496 Incorrect Retainment Model for RxSwift extension in MoyaProvider
#905 Providers that are deallocated never completes
#1267 Objects with RxMoyaProvider are no longer retained in 9.0
#1294 Fixing potential issue with RxSwift request method
#1311 Stop retaining self in rxReuestWithProgres

[2018-05-14 14:20] #1667 closed

[2018-05-15 12:04] #1666 closed

[2018-05-15 23:41] hairui19 commented on #1666
@SD10 Sure i can.. I just thought it was more of my part rather than moya, being careless and all.

Anyway, so there is a parameter called "filename" when creating multiParts in Moya/Alamofire. Just remember to retrieve the file extension locally and assign this extension to the "filename" parameter.

You can do so via url.lastComponent (or any other way you prefer) to get something like "random.p

[2018-05-16 04:44] SD10 commented on #1636
Thank you @pedrovereza 👍

[2018-05-16 09:12] #1649 closed

[2018-05-17 17:58] #1612 closed

[2018-05-19 15:35] simonrice opened #1669 "RxMoya linker error for watchOS via project & carthage (Xcode 9.3.1)"
When building RxMoya via Carthage and in the Xcode project with "Generic watchOS device", I get a linker error.  The version in question is Moya 11.0.2 in Xcode 9.3.1, and I've also attempted and failed to build with current `master` too.  From playing around with the project, it also affects ReactiveMoya.

The full linker error is:

[code]

I do have 2x separate workarounds as things stand, neith

[2018-05-19 17:06] sunshinejr commented on #1669
Hey @simonrice, thank you so much for a very detailed issue! 💯

So this is something I noticed as well when I started migrating to Xcode 9.3 in #1656. I actually did what you also suggested in second point, importing `UIKit.UIImage` where possible. I think it fixed the original problem you encountered but I've got stuck on some other error that happened after the fix, probably now connected more t

[2018-05-20 19:00] mahdidelavar commented on #1401
@AndrewSB Thanks for starting this discussion , i create a generic method for create your moya provider for all of requests :

[code]
and for use this:
[code]

[2018-05-21 17:10] oluckyman opened #1671 "Sign specific endpoints with Authorization header in `requestClosure`"
I use Firebase and `getIDToken` method is asynchronous so I cannot use `AccessTokenPlugin` with `tokenClosure`.
Instead I implemented a request closure:

[code]

The problem is that some endpoints are public, so I do not need to add 'Authorization' header. But in the `requestClosure` I see no way to decide which endpoints are public and which are not.

What is the best way to specify which endpoin

[2018-05-22 01:27] gobetti commented on #1650
Hi guys! I'm sorry, but for my purposes, it ended up being a simpler approach to write a new network layer on top of RxCocoa, whereas Moya does it from scratch and provides reactified versions via extensions, making it fully decoupled from RxSwift/RxCocoa - which is a great point, but not something I'm taking benefit from given that I don't want to decouple my project anyway :)

Thanks for your ti

[2018-05-22 05:13] SD10 commented on #1671
@oluckyman You probably want to create a custom `PluginType` for this. You can’t really do this using the `requestClosure` because the underlying `TargetType` has been abstracted away at this point.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-22 05:17] SD10 commented on #1650
@gobetti No problem 👍 Glad you found a solution

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-22 05:17] #1650 closed

[2018-05-22 11:28] dangthaison91 commented on #1610
Did you resolve this @anhpt681995 ?

[2018-05-23 00:19] SD10 opened #1672 "Add Danger warning for when one package manifest is updated but not others"
We should warn when we upgrade one of the manifest files for CocoaPods, Carthage, or SPM but not the other two. See [this comment](https://github.com/Moya/Moya/pull/1670#discussion_r189858903) for inspiration in PR #1670.

[2018-05-23 09:42] tagirkaz opened #1673 "How to distinguish between ssl pinning error and cancel error?"
Hello! I'm using Moya 10.0.0. I've noticed that the error which arises after failed ssl pinning check and the error after cancelling `Cancellable` looks the same. But I want to handle those errors differently in my code. So, is there any way to distinguish one error from another?

[2018-05-23 13:14] tagirkaz commented on #1673
I found that this is the Alamofire issue and it will be fixed in Alamofire 5. Here is the link https://github.com/Alamofire/Alamofire/issues/2384

[2018-05-23 15:03] #1658 closed

[2018-05-24 05:15] gligorkot opened #1674 "Request JSON Encodable support for `.convertToSnakeCase`?"
Hi team, I'm using Moya 11.0.2.

I've recently started working on a team where the backend expects snake case JSON, whereas the app uses camel case.

In Swift 4.1 I can avoid needing to write `enum CodingKeys` if I use `encoder.keyEncodingStrategy = .convertToSnakeCase` however this doesn't work with Moya, or at least I haven't found a way to make it work.

Any guidance you could give me please? O

[2018-05-24 05:29] BasThomas commented on #1674
Hi @gligorkot 👋

Take a look at the [`Decodable`](https://github.com/Moya/Moya/blob/master/docs/Examples/Response.md#decodable) docs.

There, you can set your `keyDecodingStrategy` (I think that is what you're looking for) on the `JSONDecoder`.

[2018-05-24 05:34] gligorkot commented on #1674
Hi @BasThomas thanks for the quick reply. Easy for the structs I need to decode, and I've done that already. I was more interested for when I use the same structs as `Codable` and I need to send them back to the server and they're not encoded in snake case.

[2018-05-24 06:25] ETmanwenhan commented on #1662
This is my solution.

[code]

[2018-05-24 10:38] sunshinejr commented on #1674
No worries @gligorkot, glad you resolved the issue! 🐼

[2018-05-25 02:59] SD10 commented on #1647
This is a really long issue but for the sake of record keeping I want to make a few notes:
- You _cannot_ do this through the `requestClosure` because the `TargetType` has been abstracted
- You _can_ do this through the use of a `PluginType` because you still have access to `TargetType`

@SeRG1k17 Addresses the issue of wanting to use `Encodable` to encode parameters and there is currently not a g

[2018-05-28 01:50] freemub-ios-syb opened #1675 "when param is array request as formdata , the key will auto use [] at last.i need have not []."

[2018-05-28 15:29] marshallee opened #1676 "utf-8"
My server dose not support unicode， so how can I transfer all paramaters to utf-8?

[2018-05-29 19:34] vermotr commented on #1643
@zenghaojim33 I edited the request function in the `AuthenticatedNetworking` extension:
[code]

I hope that will help you :-)

[2018-05-30 08:01] zenghaojim33 commented on #1643
Thank you! I will give it a try

[2018-05-30 13:56] #1663 closed

[2018-06-01 10:29] sandeepbol opened #1677 "Minimum time interval between successive requests to same endpoint"
Is there a concept of minimum time interval between successive requests to same endpoint in Moya?

[2018-06-01 15:37] BasThomas commented on #1677
What is the use case? I feel like this is a responsibility of the client.

[2018-06-01 19:49] #1665 closed

[2018-06-02 13:42] sandeepbol commented on #1677
Suppose in viewwillAppear(), we fetch data from endpoint. User can return to viewcontroller by pressing a tab button (say). If I keep hitting tab button then I keep hitting the endpoint with mostly no new data arriving.

[2018-06-02 20:53] BasThomas commented on #1677
That does feel like a client side thing.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-02 21:09] sandeepbol commented on #1677
Moya (Alamofire) is felicitating the API requests here right? So either Moya or Alamofire should have this feature right?

[2018-06-02 21:41] SD10 commented on #1677
@sandeepbol Yeah I'm a little confused as to whether the behavior you want here is something like tracking in flights or throttling requests, but this feature is out of scope for Moya. It's too client specific

[2018-06-02 22:33] robfeldmann commented on #1477
@SebastianBoldt I just noticed this same bug using Moya 11.0.2 and found this auto-closed issue. Did you by chance find a solution or work-around that you'd be willing to share?

[2018-06-03 17:38] SebastianBoldt commented on #1477
@robfeldmann I solved it by not using the basic-auth plugin and adding the auth header properties directly into the header fields inside the endpoint closure.

[2018-06-04 15:04] welshmelr commented on #1578
I had a similar issue.  I had to embed quotes into the data:
`"\"\(myPayload)\"".data(using: .utf8)`

[2018-06-05 04:24] R-U-N opened #1678 "Directly crash in Release"
![image](https://user-images.githubusercontent.com/22491697/40955187-19255298-68bb-11e8-98fd-6c62617e6ea6.png)
When I change my build configuration to Release。It directly crash like this。What should i do？

[2018-06-05 06:49] R-U-N commented on #1678
I fix this by setting optimization to None in Release Tempoary。I hope I can find out what's the problem by my abilty limited me。So wish you can fix it

[2018-06-05 07:06] pietrocaselani commented on #1671
Hi @oluckyman

Maybe this will help you.

Instead of setting the Authorization header inside the `requestClosure`, you could just save the token on a property for example, and then use the `AccessTokenPlugin` to set the header.

Take a look at this file, where I request and save the token, using the `requestClosure` https://github.com/pietrocaselani/Trakt-Swift/blob/master/Trakt/TraktTokenIntercep

[2018-06-05 13:33] oluckyman commented on #1671
Hi @pietrocaselani I'm pretty new in iOS development, so your code is too complex for me. As I understood, you're getting token from response and save it in a property.
In my case token is requested from Firebase Auth module asynchronously . And to be sure that the token is valid I have to retrieve it right before request.

[2018-06-05 14:00] SD10 commented on #1678
@R-U-N This is a bug in the Swift compiler

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-05 14:10] SD10 commented on #1671
@oluckyman You probably want to chain your Firebase auth token request with your requests from Moya provider then. You would make your auth request, save the token in a local variable, then execute your Moya request on completion

[2018-06-05 14:30] pietrocaselani commented on #1671
@oluckyman something like this should work. I didn't test this code, but it's based on the code I posted before.

[code]

[2018-06-06 10:51] oluckyman commented on #1671
@SD10 that's good idea. This way moya api layer will assume that the token always exists and valid and I can use AccessTokenPlugin.
Do I understand right, that I have to implement a wrapper around moya api? That wrapper should decide if the resource is public or not and if it's public then just call moya api, and if not then request token, wait for token and call moya api after that.
Probably that

[2018-06-06 11:15] pietrocaselani commented on #1671
You only need to request a new token when the token is expired. You will still have to check if the token is valid (is expired or not) in every request, inside the `requestClosure`, but you don't have to request a new token every single time.

[2018-06-06 13:50] #1673 closed

[2018-06-06 14:49] oluckyman commented on #1671
@pietrocaselani True. I understand. But still, how to deal with public endpoints which do not require Authorization header at all?

[2018-06-06 15:08] sunshinejr commented on #1671
@oluckyman What we do is to create our own protocol that has auth type, if you are using only bearer or nothing, you would have:
[code]

And then in your wrapper you would check if you need to do auth or not. Also, your wrapper could be a little bit smarter by checking the current token (if it expired or not), then:
- if it expired, fire auth request
- if it didn't expire, fire normal request, if

[2018-06-06 15:15] sunshinejr commented on #1676
Hey @marshallee, sorry but this is not really a question to Moya, rather to Swift - you could try using [StackOverflow](https://stackoverflow.com/questions/44702613/remove-occurrence-of-unicode-character-uef-from-string-in-swift-3). Generally you would need a function that finds any unicode character in your params and replace/remove it.

Sorry, but I have to close this one - hope you understand!

[2018-06-06 15:15] #1676 closed

[2018-06-06 15:29] sunshinejr commented on #1477
Could any of you guys create an example project that I could look at? @SebastianBoldt @robfeldmann or maybe someone else with the same problem? Would help a lot.

[2018-06-06 15:41] sunshinejr commented on #1675
Hey @freemub-ios-syb, I'm sorry but I don't think I understand what is the problem here. Could you be more specific about the problem?

The best way would be to show a log of requests/reponses (see [this doc](https://github.com/Moya/Moya/blob/master/docs/Plugins.md#logging) about logging) and then explain what you were trying to achieve instead of what you've got.

[2018-06-06 17:41] pietrocaselani commented on #1671
@oluckyman I think if you implement the protocol `AccessTokenAuthorizable` on your target type and then use the `AccessTokenPlugin`, you will get what you want.

Example:
[code]
Then `AccessTokenPlugin` will check the `AuthorizationType` and add the header or not.

[2018-06-06 19:53] fredpi opened #1679 "Add a CachePolicyPlugin"
**Reasoning**

Maybe it's just me, but I believe that Moya should by default include a plugin to control cache policy. Depending on the web interface Moya is used to interact with, this may be a required thing quite often.

I'm not familiar with the philosophy behind what plugins should be included by default, so correct me, if it isn't a good fit.

**Proposed Implementation**

While the credentia

[2018-06-06 19:59] oluckyman commented on #1671
@pietrocaselani this is how I tried to do it initially. The problem was that `AccessTokenPlugin` assumes that token is stored as a property, but in my case I have to do async call to get token before request.
Seems like `requestClosure` (as you described above) does not work together with `AccessTokenPlugin`. Because `requestClosure` have no access to `TargetType` and `AccessTokenPlugin` unable do

[2018-06-07 00:30] SD10 commented on #1679
Hey @fredpi 👋,

This was discussed in:
#1251, #713,  and #197

In my opinion, caching is too client specific to be in scope for Moya. It would be better to let a caching library focus on this end of things. I think something great about Moya is that it makes things like this easy to do with the `PluginType` system as you demo'd above.

[2018-06-07 02:08] SD10 commented on #1559
@LucianoPAlmeida I'm tagging you because I see you setting this up for https://github.com/SwifterSwift/SwifterSwift/pull/498. If you get it working would you be so kind as to see if it can be applied to Moya too? ❤️

[2018-06-07 02:14] LucianoPAlmeida commented on #1559
For sure @SD10 :))
I just start running some tests to see how it works, let's see if I can put this to run there 😆

[2018-06-08 01:43] LucianoPAlmeida commented on #1559
I think I can try to make this one on this weekend :))
Let's see if we can make this run 😊

[2018-06-08 15:04] simonrice commented on #1669
Fixed by #1656.

[2018-06-08 15:04] #1669 closed

[2018-06-08 15:11] sunshinejr commented on #1669
Oh, thanks for closing it @simonrice, totally forgot about the issue 😄 We still need to prepare a new major version to get this through, but in the meantime you can use `development` branch.

[2018-06-09 15:35] fredpi commented on #1679
@SD10 Thanks for your fast reply!

Maybe I'm taking an odd stance, but for me, setting the cache policy is not the same as real cache handling as discussed in the attached issues. Actually, this plugin is just about associating a cache policy which is already built-in into `URLRequest` with a Moya target. As such, it doesn't differentiate much from the authentication plugin natively integrated int

[2018-06-09 17:40] SD10 commented on #1679
@fredpi Thanks for clarifying 👍 In my opinion, I just want to keep the Moya codebase small. I feel that Moya is in the business of making something like plugins possible, and consumers of the library should be responsible for writing them. Otherwise, we're just going to end up maintaining a bunch of different plugins.

If it was a plugin that was really difficult to write and widely used, I'd cons

[2018-06-09 20:03] fredpi commented on #1679
@SD10 Only including plugins that are very widely used and / or are very difficult to write makes sense to me as a definition as to what plugins to include 👍

This being said, the `CachePolicyPlugin` doesn't really fit here. Closing...

[2018-06-09 20:03] #1679 closed

[2018-06-14 07:37] #1662 closed

[2018-06-15 13:01] mo3bius opened #1681 "How to add cookie in some endpoints."
Hi,
I'm using moya 11.0.2

This is my API Provider:

[code]

I also other classes where I put endpoint, TargetType, path and Target.

I'd like to know how to set a cookie for only few endpoint, but I don't know how to do it and I didn't find nothig about it.

Thanks

[2018-06-16 14:25] pgawlowski opened #1682 "Moya/RxSwift - stubs and multiple sample data per endpoint"
Version - Moya/RxSwift
UnitTests case scenario.

Hey guys. I am trying to figure out how to use sample data and stubs/stubClosure for unit tests.

The case is to be able to provide multiple, different sample data according to test.
Exmaple

[code]
In that case. I would like to be able to provide response with true/false as well as different statusCodes from 200 to 404, 401, 400 etc.
The solution I

[2018-06-16 15:39] SD10 commented on #1682
@pgawlowski You're going to need to create some boolean properties or another enum and then switch on them inside of your `TargetType` to determine which `sampleData` or which `stubClosure` you'd like to use.

[2018-06-16 17:59] glennposadas commented on #1678
@SD10 , does that mean users in prod would experience such crash? I experienced that tonight so I went here. Thank you.

[2018-06-18 19:46] DavidTomic opened #1683 "Different timeout for upload APIs"
Hi,

I am using Moya 10.0.2

Is there any way to set a timeout for upload APIs e.g. 120s, and for the rest APIs to be e.g. 10s.

[2018-06-20 08:55] #1643 closed

[2018-06-21 03:29] WeiRujian commented on #1683
[code]

[2018-06-21 07:29] ShawnCow opened #1684 "the progress callback just come onec when upload file success"
hello
i have a question
[code]
just print 0.0 when upload a image succesed
the image uploaded successed
i do not know why
please see see

[2018-06-21 07:48] WeiRujian commented on #1683
OK，Can achieve the desired effect？

[2018-06-21 13:37] vishal91 opened #1685 "How to send string as a url query with encoding?"
How to send this { \"where\":{\"isApproved\":true, \"categoryId\":" + categoryId + "} }
as url query with encoding?

[2018-06-21 13:52] vishal91 commented on #1685
is encoded as : **%3ForderBy=priority+asc%3F%7B%5Cwhere%5C:%7B%5CisApproved%5C:true,%5CcategoryId%5C:2%7D%7D**

[2018-06-22 07:20] ETmanwenhan opened #1686 "I want to handle the API cache, but the request is nil."
I want to handle the API cache, but the request is nil. How can I solve this problem?
error.response?.request = nil ? Why?

[code]

[2018-06-22 12:04] ETmanwenhan opened #1687 "requestWithProgress question"
Use the requestWithProgress method, Why was there no response after the request?

[code]

[code]

[2018-06-23 07:55] hamdshah commented on #1685
In the `Task` you can mention the type of encoding
https://github.com/Moya/Moya/blob/master/Sources/Moya/Task.swift#L19

[2018-06-23 11:15] #1687 closed

[2018-06-23 11:16] #1686 closed

[2018-06-23 11:25] ETmanwenhan opened #1688 "how can I get the file download path"
After the file is downloaded successfully, how can I get the file download path? I need to download the file to the album.

[code]

[2018-06-23 20:56] DavidTomic commented on #1683
@WeiRujian I tried above but without success.

I end up with a solution to initialize two providers with different SessionManagers. One SessionManager has timeout 10s and the second one 120s.

The second provider I am using for uploading media files, and the first one for rest.

[2018-06-26 02:11] ZZHHAANNGG opened #1689 "How to work rxMoya Single<Model>"
I'm using Moya 11.0.2

I tried to return a Single<Response> from a ViewModel to a ViewController, and then bind to a UITableView.

How should I return a Single to subscribe later?

**_The error is:_**

Cannot convert return expression of type 'PrimitiveSequence<SingleTrait, Response>' to return type 'SharedSequence<SignalSharingStrategy, Response>''

[code]

[2018-06-26 22:25] simonbromberg opened #1690 "RxSwift flatMap "Unable to infer closure type in the current context", Migration from 8 to 11"
✨ Moya/RxSwift version 11.0.2, installed via Cocoapods

I am updating my project (from 8.0.5) to use the latest version of Moya (11.0.2) because I have other co-dependencies I want to update, and I am unsure as to how to update the following code in my project:

[code]

because I am getting this vague compiler error in Xcode on the `flatMap` line (after changing `RxMoyaProvider` to `MoyaProvider`

[2018-06-27 04:41] simonbromberg commented on #1690
Oh looks like what I am missing is an `.asObservable()` in there…

Relevant question #1423

Seems to fix it, although I'm wondering if I'm missing the point of the updates by doing this?

[2018-06-27 06:29] simonbromberg commented on #1690
And, based on [the providers documentation](https://github.com/Moya/Moya/blob/master/docs/Providers.md):

So I moved the provider to a stored variable in the class containing the network method, and now calls are going through.

I have also developed a better understanding of the distinction between Observables and Singles as a result of this investigation.

[2018-06-27 06:29] #1690 closed

[2018-06-27 08:27] AndRickyChan opened #1691 "How to configure the specified encoding?"
The version number I used is Moya ~>11.0,  But when I submitted Chinese request, there was a garbled phenomenon. so,  I want to know how to configure th specified encoding so that I can save this problem

[2018-06-27 09:55] hamdshah commented on #1689
@ZZHHAANNGG
If you can share some more code then it would be helpfull to understand the problem, but from the current sample looks like that
`provider.rx.request` returns `Single<Request>` while your function return type is `Single<[ProductModel]>` so you have to map it to the model first.

[2018-06-27 09:58] hamdshah commented on #1691
Source:
https://github.com/Moya/Moya/blob/master/Sources/Moya/Task.swift#L19
Example
https://github.com/Moya/Moya/blob/master/docs/Examples/ParameterEncoding.md

[2018-06-27 11:45] ZZHHAANNGG commented on #1689
Thanks for pointing out the wrong general type issue.

[2018-06-27 11:45] #1689 closed

[2018-06-27 16:29] #1675 closed

[2018-06-27 21:29] #1671 closed

[2018-06-28 07:48] AndRickyChan commented on #1691
Could you please tell me what's the default encoding in this framework?

[2018-07-03 09:29] read0nly opened #1692 "How to pass an Array into request body?"
![moya](https://user-images.githubusercontent.com/25766500/42211588-8be886d8-7ee6-11e8-9152-219a7de114e7.jpg)

[2018-07-03 09:32] read0nly commented on #1692
hello,How do I pass this array? just like in Paw.

[2018-07-03 10:01] #1692 closed

[2018-07-03 18:20] LeoQingit commented on #1678
I meet this issue too. How can I fixed it?

[2018-07-04 01:53] LeoQingit commented on #1678
excuse me, Its my code issue . sorry

[2018-07-04 12:42] mMaxy commented on #1681
@mo3bius Hi!
Moya have no special mechanism for handling cookies, afaik. You should use standart iOS API for it, for example:
1) Create a cookie:
[code]
2) Save this cookie for host:
[code]

[2018-07-04 21:13] SD10 commented on #1633
It is frustrating that releasing major Moya versions is dependent on the major ReactiveSwift versions. This is the first time it's been really _really_ slow but I'm just throwing this out there from a maintainers perspective

[2018-07-05 04:09] ZZHHAANNGG opened #1693 ".map throw typeMismatch error"
Moya/rxswift 11.0.2

[code]
<img width="1473" alt="error" src="https://user-images.githubusercontent.com/12008247/42302168-79e150c6-7fe7-11e8-8e3a-42d339fe7e67.png">

In Moya/Core/Response line 169 it always returns DecodingError typeMismatch
The debugDescription is "Expected to decode Dictionary<String, Any> but found a string/data instead."

[2018-07-07 16:42] #1682 closed

[2018-07-09 01:53] esam091 commented on #1693
Looking at your code comment, the contents of `d` indeed looks like a string.
[code]

It should look like this instead:
[code]

Can you paste the actual response from server just to be sure?

[2018-07-10 08:54] Ethan561 opened #1694 "How do I get parameters to cache the requested data？"
I wanted to use url + parameters to cache the requested data, but in the latest version I couldn't get the parameters I requested

let key = cacheKey
// cache Key, using BaseURL + Path + Parameter to convert to JSON string

[2018-07-11 03:37] jimijon opened #1695 "Body Parameter Encodes my Slash unwanted"
Moka Version 11.0.2

I need to  send the following string:

{"credentials":{"api_key":"","secret":"jJWoBkc64O0VzcjRQv3MIuQv0HgRLiNQZL7GAhtINz6EKuaK+u+YkBMi9z3v6rqLBh8TD8lIO3F+5t7iJB/FJw==","passphrase":""},"exchange_id":"8b3abc83-1f33-405a-87f7-33ab36962020","user_id":"d6f4e5ef-9626-42d9-890e-da7fbbe14548"}

Notice the "secret" It has a slash:  JB/FJw

However, when it gets sent to the server, Moy

[2018-07-11 09:29] ducbm051291 commented on #744
Moya has change much, I can't now apply those code above, anyone can help pls ^^

[2018-07-12 15:15] jimijon commented on #1695
does Alamofire do the encoding or does Moya? I need some help here.

[2018-07-12 15:37] pedrovereza commented on #1695
Hey @jimijon, the `ParameterEncoding` comes from Alamofire. You may need to implement a custom encoding for this case.

Here is how to build Custom Encoding: [Link](https://github.com/Alamofire/Alamofire/blob/c563be562f3c9ff327919bb88599e3082db3abda/Documentation/Usage.md#custom-encoding)

[This issue](https://github.com/Alamofire/Alamofire/issues/1204) is quite old in Alamofire, but may be helpfu

[2018-07-12 15:57] jimijon commented on #1695
That helps but since Moya is encapsulating and wrapping Alamofire, I don’t know exactly where to change the encoding.

Any help would be enormously helpful as I have been banging my head for a week on this issue.

Thanks..  PS: I am sure it would be helpful to others if this was documented in Moya

[2018-07-12 16:49] pedrovereza commented on #1695
@jimijon You have to create a custom encoding first:

[code]

Then pass it in the `task` property of your `TargetType`:

[code]

[2018-07-12 18:52] jimijon commented on #1695
Ah!  Thought so, was just about to try something like that.
Best to add this concept to the docs.

Thank you bigtime for taking the time to direct me.

[2018-07-12 19:37] pedrovereza commented on #1695
@jimijon Glad it helped!

And I agree, I think it would be a good addition to our docs. Would you be willing to write something down and send us a PR? We'd love that, but don't feel pressured 😄

[2018-07-13 05:42] #1684 closed

[2018-07-14 08:50] #1685 closed

[2018-07-14 11:50] #1688 closed

[2018-07-14 22:23] #1683 closed

[2018-07-16 14:23] staz1000 opened #1696 "How do I manually escape a character in the path?"
Version: 11.0
Dependancy manager: CocoaPods

I'm working on a forgot password task and need to be able to send emails with a + e.g. _test+test1@example.com_.

If I manually escape the + with a @2B in the TargetType the % gets escaped again into %252B.

How can I fix this? Or do I need to implement my own Endpoint Mapping function?

[2018-07-18 04:04] #1678 closed

[2018-07-19 03:50] Lang-le opened #1698 "How can i send url parameters with .requestCustomJSONEncodable?"
I want to send request with JSON and url parameter.
But `.requestCustomJSONEncodable` send without url parameters.
So how can i do that? Please help! Thank you!

[2018-07-19 03:56] SD10 commented on #1698
Hey @Lang-le, this doesn't seem to be possible through Moya's `Task` object. It seems to be related to #1647. My solution for you would be to create a [PluginType](https://github.com/Moya/Moya/blob/master/docs/Plugins.md) to add the parameters.

[2018-07-19 03:59] SD10 commented on #1696
@staz1000 I'm just passing by but maybe one of these issues would help you. You may need to create your own `ParameterEncoding` or like you said, handle this in your own endpoint mapping function.

Related:
#1198
#1129
#1030
#1119
#1121
#1059
#969

[2018-07-19 03:59] SD10 commented on #1694
Hey @Ethan561, I'm having a little bit of trouble understanding what you're asking here. Can you provide some more info and maybe someone can assist you?

[2018-07-19 04:56] Lang-le commented on #1698
@SD10 Thanks! I try to custom .requestCustomJSONEncodable and it worked.
Can i submit my code?

[2018-07-19 09:26] #1691 closed, assigned to nobody

[2018-07-19 10:58] canny09 commented on #1562
@kdawgwilk Hi !  I used the code you provided, but it doesn't work. The request callback doesn't invoke, and the main thread seems like be locked.

[2018-07-20 00:56] Ethan561 commented on #1694
[Network.zip](https://github.com/Moya/Moya/files/2212094/Network.zip)

HD_LY_NetHelper.swift and HDCache.swift

                    //请求成功
                    case Status_Code_Success :
                        success(response.data)
                        if cache == true {

                            let url = target.baseURL.appendingPathComponent(target.path).absoluteString

[2018-07-20 02:22] ivanmah opened #1699 "Stubbed MoyaProvider still invoking network endpoint"
Hi all, I'm currently on v11.0.2 of Moya, and I'm encountering a similar issue to https://github.com/Moya/Moya/issues/350 where my stubbed MoyaProvider is still invoking the network endpoint.

My code is fairly straightforward, and looks like this:

`var testProvider = MoyaProvider<TestTarget>(stubClosure: MoyaProvider.immediatelyStub)`

Is there something I'm missing out somewhere?

[2018-07-23 16:14] SD10 commented on #1698
@Lang-le This has been requested a couple times now so we'll consider adding first class support for this. I was the one who was originally against it because I thought it was an uncommon use case

[2018-07-24 08:02] SD10 commented on #1657
This is done by #1668

[2018-07-24 08:02] #1657 closed

[2018-07-24 08:06] SD10 commented on #1503
More context on this issue. Looks like this setup is due to [this comment](https://github.com/Moya/Moya/issues/350#issuecomment-168730524)

[2018-07-25 03:06] feixue299 opened #1700 "What shall I do"
version of Moya
    Moya (11.0.2):
    - Moya/Core (= 11.0.2)
  - Moya/Core (11.0.2):
    - Alamofire (~> 4.1)
    - Result (~> 3.0)
  - Moya/RxSwift (11.0.2):
    - Moya/Core
    - RxSwift (~> 4.0)

![5d3cf8fa-2d12-43a1-bf69-74842668184f](https://user-images.githubusercontent.com/12168109/43177599-981bd538-8ffb-11e8-8ad8-c1aa21c0d967.png)

[2018-07-25 03:34] feixue299 commented on #1700
It doesn't look synchronous
![b84b8578-6b19-40ce-b2d8-68a8c3e65f38](https://user-images.githubusercontent.com/12168109/43178190-a92974ea-8ffe-11e8-951f-c8f8c756ff35.png)

[2018-07-25 04:14] SD10 commented on #1700
@feixue299  It is because you are not retaining your provider. It needs to be at a scope outside of the function definition in order for it to be retained.

[Providers.md](https://github.com/Moya/Moya/blob/master/docs/Providers.md)

[2018-07-25 04:38] feixue299 commented on #1700
@SD10 thank you. it work for me.

[2018-07-25 04:38] #1700 closed

[2018-07-25 07:46] ethi1989 commented on #1283
@SD10 so,where is the examples? I need help to archive add "token" to parameters, thank you!

[2018-07-25 13:45] #1681 closed

[2018-07-26 05:26] QiProject opened #1701 "Moya request call issue"
Moya Version: 11.0.2 by cocoa pods

Hi, I am using RxSwift with Moya/RxMoya,  I found a thing that I can't decide if this is bug :
I have a networking wrapper :

[code]

I really wonder this behavior and would like to ask the help if
someone could point me out of this, what I think with 'let' it can keep alive the variable,
but in fact, once the scope exits viewDidLoad, neither those variables kee

[2018-07-26 05:30] SD10 commented on #1701
@QiProject This looks like expected behavior to me, you need to retain your `NetService` object which causes your `MoyaProvider` to be retained as well.

By using `NetService().req("Jim")` your provider is deallocated immediately

[2018-07-26 05:34] SD10 commented on #1699
Hey @ivanmah, can you show me the configuration for your `TestTarget` type? Thanks

[2018-07-27 02:14] QiProject commented on #1701
This is what lack of my knowledge, thanks to point it me out !

[2018-07-27 02:14] #1701 closed

[2018-07-28 07:11] KompoD opened #1702 "Downloading image"
Hello! :)
I have a question. Can I download and paste downloaded image in image view using Moya?
P.S. Thanks for your awesome library! 👍

[2018-07-28 09:39] BasThomas commented on #1702
Hi @KompoD — you can! In the README there is an example of [an endpoint that returns `Data` for an image](https://github.com/Moya/Moya#reactiveswift) which you can then use to initialize a `UIImage`.

[2018-07-28 13:56] pedrovereza commented on #1702
Hey @KompoD I have an example project that downloads and displays images, it may be helpful: https://github.com/pedrovereza/quote

[2018-07-28 22:44] KompoD commented on #1702
@BasThomas and @pedrovereza, thanks for your answers! :)

[2018-07-28 22:44] #1702 closed

[2018-07-30 03:10] #1693 closed

[2018-07-30 17:36] SD10 opened #1704 "Make PluginType methods throwing"
### Proposal:
I'd like to see if we can make the methods of `PluginType` throwing methods and route the errors back  to the user.

Example:
[code]

### Why?
I'm currently using methods that throw inside of the `prepare` method. ie) Using decodable to decode some parameters. I'd like to propagate these errors and handle them.

[2018-08-01 04:24] sathishvgs opened #1705 "How to refresh the accesstoken in Moya"
I'm using CocoaPod Moya 11.0 which is the latest version

Here, I need to refresh my accesstoken like doing in Alamofire's RequestRetrier and RequestAdapter. After the token got refreshed I need to restart the request. Can anyone explain how should we achieve this in Moya.

Language: Swift 4.3

[2018-08-01 13:13] pietrocaselani commented on #1705
Hi @sathishvgs

This is a pretty common issue here, so please, take a look at this [answer](https://github.com/Moya/Moya/issues/1536#issuecomment-356273395).

Let us know if this solves your problem or if you need more help.

[2018-08-01 13:24] SD10 opened #1706 "Has anyone thought about an AsyncPluginType for Moya?"
[code]

Just throwing an issue out there, I'm not even sure this is compatible with the Moya internals. I'd need to take a deep dive again.

[2018-08-01 13:33] pietrocaselani commented on #1706
@SD10 I think this would be a great addition to Moya!
I already can see `RefreshTokenPlugin` working with this!

And looking at Moya internals, more specific, the method `MoyaProvider.requestNormal`, I think would be possible to add this without too much effort.

[2018-08-01 15:52] SD10 commented on #1706
Thanks for the input @pietrocaselani, I think there could be huge benefits to something like this as well.

In my app I'm faced with a situation where I need to modify a request's parameters asynchronously but not through a request per say. Rather, I just need to access an optional value on some other object that could or could not be `nil`. So chaining callbacks, promises, or Rx are all useless t

[2018-08-01 16:46] pedrovereza commented on #1706
The idea seems interesting, but I think it'd be helpful to have a more detailed usage example.

@SD10 I'm not sure I understood your scenario, can you clarify a bit more? Specially why callbacks and promises are useless and how the `AsyncPluginType` would help you 🤔

@pietrocaselani @SD10 since both of you mentioned the `RefreshTokenPlugin`, any chance you could share how you think the plugin woul

[2018-08-01 17:31] SD10 commented on #1706
Hey @pedrovereza, as I was explaining it I was realizing it was a slippery slope and difficult for people to understand my situation.

To better explain my problem, I need to access an optional resource (a Firebase token) but I'm only given a synchronous API to access it. The resource is set by Firebase internally, asynchronously. Thus I have to block all Moya requests until this resource is avail

[2018-08-01 18:39] pietrocaselani commented on #1706
@pedrovereza I am not sure that we could provide a `RefreshTokenPlugin` implementation direct from Moya. I only mentioned because I implemented a refresh token logic using the RequestClosure API because it's async, and there is no (good) way to do a sync request. So, if we provide a plugin type API that supports async code, would be great for these situations

[code]

[2018-08-01 20:25] SD10 commented on #1706
I agree that I don't want to be supporting async plugins through Moya. I'd just like to make it easier for users to create their own async plugins.

This is a really great point ☝️ Honestly, I really dislike that Moya provides 2 ways to do similar things: closures to customize requests and plugins to customize requests. I still hold a long term belief that Moya should deprecate the usage of custom

[2018-08-01 20:31] SD10 commented on #1706
It doesn't hurt to ping @Moya/contributors for any input on the discussion. Things have been slow around here lately 😆

[2018-08-03 10:33] soxjke opened #1707 "Update to ReactiveSwift 4.0.0"
Hi guys, we're using Moya 11.0.2 on several projects. Now we can't update to latest ReactiveCocoa / ReactiveSwift because Moya spec requires ReactiveSwift ~> 3.0.

Would you like my team or me to make a PR updating to ReactiveSwift ~> 4.0 ?

[2018-08-03 13:01] pedrovereza commented on #1707
Hey @soxjke, we recently updated the dependency in #1668, you can expect a beta release of Moya 12.0 soon 😄

[2018-08-03 13:40] soxjke commented on #1707
That's great, thank you!

[2018-08-03 13:40] #1707 closed

[2018-08-03 15:26] pedrovereza opened #1709 "Release first beta of version 12.0"
It seems that after #1668 we're ready to release the first beta version for version 12 🎉

There is, however, issue #1126 still tagged in version 12 milestone that is not resolved. This one has been around for over an year now and I feel it'll be pushed to version 13 (even though #1502 seems to cover part of the job already).

I think we can go ahead with the beta version of 12.0 and #1126 can make

[2018-08-03 15:30] SD10 commented on #1709
Thanks for raising this issue 💯 I didn't get time to work on the 12.0 release last weekend unfortunately. I plan on trying again this weekend but if anyone wants to work on it before then -- feel free.

Since #1126 is my pr, I'll chime in on that. I'm very confident that this change is the correct direction Moya should take, but I think delaying this to Moya 13.0 is a healthy decision. I'm biased

[2018-08-03 17:21] #1672 closed

[2018-08-04 14:55] ashfurrow commented on #1709
I'll take a look next week and let you know what I think 👍 I trust that you'll all come to the right decision, though!

[2018-08-04 15:00] freak4pc commented on #1709
Is there a 11 -> 12 Major-Major CHANGELOG? Or a Migration Guide? Is one needed?

[2018-08-05 17:42] SD10 commented on #1709
Yeah, there's not a lot of breaking changes but I believe we need a migration guide. I'm working on it now

[2018-08-06 13:51] pietrocaselani commented on #1706
No updates here?
I was thinking about open a PR implementing this, but I am not sure if I should wait for Moya 12 release before.
What do you think?

[2018-08-06 14:08] SD10 commented on #1706
@pietrocaselani Yeah this is definitely not a feature that will be in Moya 12.0 — we also need more community input on this subject. Other than that, I would like to finish #1502 before submitting a PR for something like this because it will make changes related to Moya internals

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-06 14:13] SD10 commented on #1709
Migration guide is in #1710

[2018-08-06 19:00] ashfurrow commented on #1709
@pedrovereza I took a look at the plan you laid out, and I think that makes sense 👍

[2018-08-06 22:50] ZZHHAANNGG opened #1711 "RxMoya error handling"
I tried to handle the API error from the result of the API call. But there is a compile error occurred. How can I handle the API error properly? There is several flatMap or map after the API returns value. Is it possible to chain these together and then finally bind to a component only in View layer?

[code]

[code]

[2018-08-07 07:25] fatbunboy commented on #1407
@sunshinejr

Hi, it is having an error when I follow your sample code.

_Xcode Error: "Function produces expected type 'String'; did you mean to call it with '()'?"_

Could you advise this issue, please?

[code]

[2018-08-07 07:43] fatbunboy commented on #1407
@sunshinejr

I finally solved this issue by using code below, hope it could help who are facing the same

var tokenClosure: String {
    return "Any string"
}

[2018-08-07 11:57] suhitp commented on #1711
@ZZHHAANNGG To handle the response you first need to subscribe to the response coming from the Moya+RxSwift extension API. Please refer to the RxSwift documentation [here](https://github.com/ReactiveX/RxSwift/blob/master/Documentation/Traits.md#creating-a-single)

[code]

Or by using `subscribe(onSuccess:onError:)` as follows:

[code]

[2018-08-07 12:04] ZZHHAANNGG commented on #1711
@suhitp  Is there a solution that I can chain the result of API with other operators, such as flatMap?
Because I generate a Moya request in the ViewModel, then bind it in View.

[2018-08-07 12:25] suhitp commented on #1711
@ZZHHAANNGG yes you can chain the result with other operators like flatMap, map etc for example

[code]

[2018-08-07 12:34] ZZHHAANNGG commented on #1711
@suhitp My code was like that, however, if there is an error occurred and I use bind(to:) in the ViewController, there would crash. Seems the sequence is terminated. So I would like to do pattern matching inside the chain. How can I do that?

[2018-08-07 18:26] pedrovereza commented on #1709
Thanks @SD10 ❤️

I feel this issue is solved then. We can revisit the discussion about #1126 / #1502 in a new issue for the first stable release of version 12.

Thanks again everyone for taking the time to discuss the release 🙏

[2018-08-07 18:26] #1709 closed

[2018-08-07 23:06] ZZHHAANNGG commented on #1711
Even if I change the code like this, if the API returns an error. It app still gonna crash. The crash output is the error I define in the Moya plugin. How should I catch the error I define in the plugin?

**ViewController**
[code]

**ViewModel**
[code]

**Plugin**

[code]

[2018-08-08 01:14] ZZHHAANNGG commented on #1711
I finally find a solution to handle the error from Moya. But I create a dummy subscribe in the ViewModel. Is this a good idea?

[code]

[2018-08-08 14:39] pietrocaselani commented on #1706
@SD10 sorry, what did you try to do using the `RequestClosure`?
If you are talking about the refresh token login, you can look my implementation of `RequestClosure` [here](https://github.com/pietrocaselani/Trakt-Swift/blob/master/Trakt/Trakt.swift#L135) and [here too](https://github.com/pietrocaselani/Trakt-Swift/blob/master/Trakt/TraktTokenInterceptor.swift).

[2018-08-08 16:25] SD10 commented on #1706
@pietrocaselani [this is a really clever approach](https://github.com/pietrocaselani/Trakt-Swift/blob/cfa8dc14db74f47666336a8ca927034e0970d1f5/Trakt/Trakt.swift#L135) 💯 that _may_ work for my architecture. I'd argue this is pretty unfriendly though

[2018-08-08 17:14] pietrocaselani commented on #1706
@SD10 Thanks! And yes, I agree that is unfriendly and definitely should never be a public API, but it solved my problem.

My "inspiration" was OkHTTP [interceptors]((https://github.com/square/okhttp/wiki/Interceptors)) and [authenticator](https://github.com/UweTrottmann/trakt-java/blob/master/src/main/java/com/uwetrottmann/trakt5/TraktV2Authenticator.java).

[2018-08-09 05:06] #1696 closed

[2018-08-09 09:57] sunshinfight opened #1713 "Mapping to model doubt"
Moya v11.0.2

TargetType is a configuration of request, so I want to cantain the model's info in it so that can use it when map to model by Response.map method, but some error happed  as follow:

[code]

[2018-08-09 10:05] #1713 closed

[2018-08-10 02:00] #1694 closed

[2018-08-13 17:33] #1698 closed

[2018-08-15 16:02] xaverlohmueller commented on #1285
I know I'm a little late to the game, but does *Solution 1* work for anybody in the current Moya version?

Currently, Moya happily ignores my `sampleData` override in the testing target...

[2018-08-15 16:09] SD10 commented on #1285
Hey @xaverlohmueller,

I ran into this several weeks ago. Solution 1 _does not work_ without a little more effort. It seems that you can't override dispatch between two different target modules. In order to make this work, you would also have to provide your own endpoint function inside of the test target

See if [this comment](https://github.com/Moya/Moya/pull/1502#issuecomment-404673285) helps y

[2018-08-15 16:28] pietrocaselani commented on #744
This issue seems to have been forgotten... sorry about that!

@ducbm051291  do you still need some help?
This problem appear again [here](https://github.com/Moya/Moya/issues/1705) and we talked about it [here too](https://github.com/Moya/Moya/issues/1706)

Maybe should we close this in favor of other issues? If we search for [refresh](https://github.com/Moya/Moya/issues?utf8=%E2%9C%93&q=is%3Aissue

[2018-08-15 18:59] xaverlohmueller commented on #1285
Hey, thanks for the quick response!

I’ll probably do something like the comment you mentioned until your pull request lands (hopefully in 13.0).

Pity, because solution 1 would be really elegant.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-16 06:11] #1699 closed

[2018-08-16 14:58] IgorNiko83 commented on #1342
mapImage() failed parse image request which have destination, so - may be can help.

[code]

usage

[code]

[2018-08-19 15:59] HardikDG opened #1715 "Concurrent independent requests"
I am using Moya version: 11.0.2.

I want to call multiple APIs which are independent of each other. Can I do that with Moya? Is Moya providing this type of facility like i can call multiple API and it will notify me once all the API response is received.

The APIs are independent of each so the order of the API don't matter for me.

I want similar functionality like Promiss.all... then in the Java

[2018-08-21 17:57] blwinters commented on #1190
For reference, here is what I had to do to get the status code. Not sure if there is a more convenient way of doing this:

[code]

[2018-08-22 03:03] xuxueyong opened #1716 "11.0 版本, 初始化provider 时, 报错"

[2018-08-22 03:03] #1716 closed

[2018-08-22 14:05] #1705 closed

[2018-08-24 18:31] wfcastaneda opened #1717 "Moya .uploadMultipart Task sending empty/no request body"
Environment: Using Moya (11.0.2), Xcode 9.4.1, iOS 11.4

Hi guys,

I'm currently converting all of the networking for our app to Moya from plain alamofire. It's been incredible for all of the standard requests; however, this multipart upload is giving me trouble. I simply translated the old implementation to Moya by looking at your documentation on the subject.

The task is below (ignore force unw

[2018-08-27 22:06] slavasemeniuk commented on #1715
I'm not sure that Moya provides such a functionality. But you still can use Moya together with PromiseKit to achieve the behaviour described above.

[2018-08-28 16:01] SupranJowti opened #1718 "Response: Received empty network response"
'Moya', '‾> 11.0'

First of all, I already saw some similar response but did not get any proper answer. most of them facing rx subscription problem

status code 200

**Request: baseurl?grant_type=password&password=pass&username=email
Moya_Logger: Request Headers: ["Content-Type": "application/x-www-form-urlencoded", "Authorization": "Basic ZGhha2FAbTJzeXMuY29tOm0yc3lzMTIz"]
Moya_Logger:  HTTP Requ

[2018-08-29 02:18] #1718 closed

[2018-08-29 13:49] #1711 closed

[2018-08-30 02:27] ZZHHAANNGG commented on #1711
I have to subscribe the provider inside a flatMap. Is this the correct way?

[code]

[2018-08-30 02:31] ZZHHAANNGG opened #1719 "RxMoya handle error and result"
I want to have a result observable and an error observable that I can bind to a UI component for an API call.

The following code is in a ViewModel. I have to subscribe the provider inside a flatMap. So, I can bind the result/error BehaviorRelay to the View.

Is this the correct way?

[code]

And then subscribe this dummy observable

[code]

[2018-08-30 12:16] pietrocaselani commented on #1719
Hi @ZZHHAANNGG

I like to "map" errors as a state, so I probably would do something like this

[code]

but if you still want to use the `BehaviorRelay`, I would recommend something like this

[code]
Note that I didn't test this code in Xcode.

[2018-08-31 01:09] ZZHHAANNGG commented on #1719
Hi @pietrocaselani

Your approach is more elegant to handle the errors from the Provider. The reason why I need to subscribe the provider is when the provider returns an error, seems like the stream is terminated. So I do not know whether I can use map for the response and the catchError for the error.

[2018-08-31 13:58] pietrocaselani commented on #1719
This is the correct and expected behavior. If any unhandled error occurs in the stream, the stream is terminated. And I believe the same will happen if you "publish" an error to the subject, so that is why I recommended to handle and map an error a view state.

[2018-09-03 10:47] phi161 opened #1720 "AccessTokenPlugin's "prepare" seems to ignore MultiTarget targets"
:sparkles: Using Moya 11.0.2 (and the Rx extensions).

I was trying to use the `AccessTokenPlugin` with a "multi-target" provider like this:

[code]

and realized that authentication wouldn't work properly. After some digging, it seems that the reason is [`AccessTokenPlugin`'s `prepare`](https://github.com/Moya/Moya/blob/master/Sources/Moya/Plugins/AccessTokenPlugin.swift#L62) where the required t

[2018-09-03 15:11] hardikamal commented on #1059
@amaurydavid  parameter.minus is not working. And can you help out on how to use this?

[2018-09-03 15:17] SD10 commented on #1720
@phi161 This is a good question. I’m not sure if Moya should dig into the underlying target type or only concern itself with the top level MultiTarget. Can you make `MultiTarget` conform to `AccessTokenAuthorizable` to solve your issue?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-03 17:48] SD10 commented on #1720
@phi161  Have you confirmed that this would be a valid solution?

[code]

I suspect this solution does not work as you intend, however, I have not confirmed it myself. Currently, the `target` parameter is typed as `Target` -- the generic component of a `MoyaProvider`. I believe this is what allows the compiler to know that this generic type conforms to `AccessTokenAuthorizable`.

When you access t

[2018-09-04 14:39] phi161 commented on #1720
Thank you for your reply!

Actually the code I posted above does work since in my case `multi.target` is of type `AuthenticationTarget` which looks like this:

[code]

meaning that [this check](https://github.com/Moya/Moya/blob/master/Sources/Moya/Plugins/AccessTokenPlugin.swift#L62) will be fine:

[code]

However I did follow your recommendation and now I'm doing something like this:

[code]

whi

[2018-09-05 19:57] pietrocaselani commented on #1719
@ZZHHAANNGG  any updates?

Otherwise, since this is a duplicate issue (see [here](https://github.com/Moya/Moya/issues/1711)), we probably should close this issue too!

[2018-09-05 20:13] ZZHHAANNGG commented on #1719
@pietrocaselani  I like your approach better. I was trying to use your approach below. But, I had an issue, if I use two BehaviorReply to separate the data and errors, then I can bind those data to either a UITableview or a UILabel.  For example,

[code]

However, if I wrap the actual data and error in an enum, seems like I have no way to use binding to a UITableView in View.  With that being said

[2018-09-10 13:29] slavasemeniuk commented on #1715
[code]

And now you can use it:
[code]

[2018-09-11 01:11] SD10 commented on #1720
@phi161 I'm glad you were able to resolve this 👍 I'm going to close this issue but feel free to re-open it if the problem continues

[2018-09-11 01:11] #1720 closed

[2018-09-12 05:04] aemoe commented on #1597
@zerozheng  Hi, I resolved this problem.
Don't need make the provider to a global var.
Only make the disposeBag to a global var then will run.

[2018-09-12 15:25] sedwo opened #1721 "How do you send a nil array in MultipartFormData?"
I'm trying to send the following dictionary within a multipart form:

    let parametersDict: [String: Any] = [
        "object_id": sign.id,
        "client_last_updated": sign.clientLastUpdated!,
        "number": sign.number,
        "state": sign.workflowStateID!,
        "location": sign.locationID!,
        "x": sign.positionX,
        "y": sign.positionY,
        "tag_list": Array(sign.tags

[2018-09-13 09:25] Abdulaziz1993 opened #1722 "How to post request with x-www-url-encoded as content - Type ?"
<!--

version 11.0

Please wrap code blocks in backticks, like so:

[code]

[2018-09-18 20:44] slavasemeniuk commented on #744
I think that Alamofire's SessionManager has the elegant way to implement refreshing token and retrying request. And since MoyaProvider get SessionManager's instance on init we can use that approach with Moya
https://github.com/Alamofire/Alamofire/blob/master/Documentation/AdvancedUsage.md#adapting-and-retrying-requests

[2018-09-19 12:24] mcichecki opened #1725 "Module compiled with Swift 4.1 cannot be imported by the Swift 4.2 compiler"
Moya 11.0.2, built with Carthage. I set `xcode-select` to Xcode 10 and ran `carthage build Moya` but error still occurs. Is there going to be release of Moya with support of Xcode 10 and Swift 4.2?

[2018-09-19 17:35] jdisho commented on #1725
Are you installing `Moya/ReactiveSwift` ?

[2018-09-19 17:43] BasThomas commented on #1725
Yeah; can you share your `Cartfile.resolved` by chance, @stfnhdr?

[2018-09-19 17:46] SD10 commented on #1725
I have yet to try running Moya, RxMoya, or ReactiveMoya on Swift 4.2. I'm guessing we need to update the minimum version of RxSwift to 4.2 and ReactiveSwift to 4.0?

We're ready to do a Moya 12 release once we're certain things work on Swift 4.2

[2018-09-19 17:51] stfnhdr commented on #1725
@BasThomas
`github "AFNetworking/AFNetworking" "3.2.1"
github "Alamofire/Alamofire" "4.7.3"
github "ReactiveCocoa/ReactiveCocoa" "7.2.0"
github "ReactiveCocoa/ReactiveSwift" "3.1.0"
github "ReactiveX/RxSwift" "4.2.0"
github "SVProgressHUD/SVProgressHUD" "2.2.5"
github "aloco/SimpleButton" "3.0.1"
github "antitypical/Result" "3.2.4"
github "aschuch/StatefulViewController" "3.0.1"
github "gunterhage

[2018-09-21 13:10] ramiallam opened #1726 "GET service with url parameters sometimes fails if the HTTP task is requestParameters instead of requestPlain"
I was trying to debug an issue where any GET service would fail sometimes.

It turns out when setting the parameters to an empty dictionary and the HTTP task to requestParameters(parameters: [String: Any], encoding: ParameterEncoding)
the issue is reproduced. I was able to solve this by setting the HTTP task to requestPlain.

The call does succeed at the first time but after that it fails if calle

[2018-09-23 09:17] RazeeHJ opened #1727 "Handle Network and API Error in the same function"
I am trying to handle Network and API Error in the same function, however I keep receiving Extra argument 'onError' in call. I am not sure if this approach is correct and would appreciate to receive any kind of feedback.

Thank you

[code]
I also have these classes completed:
[code]

[code]

[2018-09-23 12:55] yalvinz commented on #1490
i love you

[2018-09-24 01:44] #1715 closed

[2018-09-24 12:48] yuliagaranok commented on #1177
Hi there,
My teammates found one more solution to the problem of [refreshing session token of Auth0 with RxSwift and Moya](https://datarockets.com/blog/refresh-token-moya-rxswift/)

We wrote it using pure RxSwift approach and we return a classic error in case of fail. Hope it will help!

[2018-09-24 13:47] yuliagaranok commented on #1706
@SD10 @pietrocaselani my teammate found [an easy way to refresh session token of Auth0 with RxSwift and Moya](https://datarockets.com/blog/refresh-token-moya-rxswift/) basing on all opened and closed issues about token refresh.
Hope it may also help someone to cope with it.

[2018-09-27 15:10] #1719 closed

[2018-09-28 14:16] #1721 closed

[2018-09-28 14:34] chyrta commented on #1706
Hi there, I was the author of the post which Yulia shared here. I got a handy comment from one of the contributors Andrew regarding asynchronicity of the solution. I plan to improve the code to handle such cases, and I will let you know about that.

[2018-09-28 18:46] AndrewSB commented on #1706
@chyrta yup, that was me! I'd love to be able to point people to your blog post instead of the issue where I explained something similar. Don't hesitate to reach out if my suggestions weren't clear

[2018-10-03 09:26] DmitryPR opened #1731 "Supporting both cocoapods and carthage for a private library?"
Hello, I am using the 11.0.2 version of Moya

I am building my private library where the dependencies are added with cocoapods:
[code]

To produce the .framework file I use the following command and upload it to the repo with tag 0.0.1

[code]

Then I try to integrate the framework into a test project by adding it through cartfile:

[code]

After carthage update I am adding the libraries to the  t

[2018-10-04 04:18] carlosalexandresmo opened #1732 "return nil in www form-urlencoded"
When using requestParameters in POST in www form-urlencoded, my response is nil. Please, how do post to server and return my data.

[2018-10-04 12:48] pedrovereza commented on #1732
Hey @carlosalexandresmo, can you share a code snippet that recreates the issue you're facing?

[2018-10-04 15:56] #1722 closed

[2018-10-07 14:16] felixsolorzano opened #1733 "How could I cancel requests when another request is made"
Moya: 11.0.2

I use RxMoya for a search, I start a request as the user types, how could I cancel the previous requests?

[2018-10-08 02:51] YuStephen opened #1734 "How to print current request's url?"

[2018-10-08 03:07] YuStephen commented on #1734
i have used Plugin to solve it

[2018-10-08 03:07] #1734 closed

[2018-10-08 03:13] lixiang1994 opened #1735 "Swift4.2 Please"

[2018-10-08 05:40] lixiang1994 commented on #1735
Thanks

[2018-10-08 05:40] #1735 closed

[2018-10-08 10:45] dobox-stylers opened #1736 "iOS 12 not setting custom headers with TargetType headers"
I'm using Moya 11.0.2 for iOS 12 app but it's not setting the headers value for the request. The request only contains the default HTTP headers, not the custom ones.

Still not working for Moya 12.0.0.beta.1.

It works well on iOS 11.

[code]

[2018-10-08 14:34] dobox-stylers commented on #1736
Sorry, the problem was that my custom key ended with a \n character, so the provider excluded it.

[2018-10-08 14:34] #1736 closed

[2018-10-08 22:12] felixsolorzano opened #1737 "Does Moya support convertFromSnakeCase decoding strategy?"
I use RxMoya, and I'd like to know if you're supporting [JSONDecoder.KeyDecodingStrategy.convertFromSnakeCase](https://developer.apple.com/documentation/foundation/jsondecoder/keydecodingstrategy/convertfromsnakecase)?

[2018-10-08 22:17] pietrocaselani commented on #1737
Yes!
You can use your own JSON Encoder, just use the Task `.requestCustomJSONEncodable`.

Let us know if need any more help.

[2018-10-08 22:19] felixsolorzano commented on #1737
Do you have an example of how to use it? @pietrocaselani

[2018-10-08 22:38] pietrocaselani commented on #1737
@felixsolorzano Sorry, I thought you would like to encode, but you want to decode a JSON, my bad!
For that, you can use the map function like this:

[code]

[2018-10-08 22:42] felixsolorzano commented on #1737
I see, thanks @pietrocaselani

[2018-10-08 22:42] #1737 closed

[2018-10-08 23:15] felixsolorzano opened #1738 "Is there a way to avoid creating a Decoder for every task?"
I have `Codable` models, and I'd like do encode the using `.convertToSnakeCase` strategy, is there a way to avoid the following for every enum:

[code]

[2018-10-09 08:07] MrShiY opened #1739 "How to use array as the parameter?"
post request, like  URLEncoding.ArrayEncoding of Alamofire,
["aaa","bbb"]

[2018-10-09 09:21] marvin-yorke commented on #1738
try declaring encoder as private top-level constant

[code]

[2018-10-09 12:01] pietrocaselani commented on #1739
There is an example in the docs, you can see [here](https://github.com/Moya/Moya/blob/master/docs/Examples/ParameterEncoding.md)

[2018-10-10 11:56] nmtitov commented on #1725
Any solution to this problem?

[2018-10-10 12:30] nmtitov opened #1741 "Xcode 10/Cocoapods: No such module 'Moya'"
I can't get `Archive` working for my Cocoapods workspace and Moya (tried both 11 and 12).
I can run my project on the Simulator or a real device without any problems. However, `Archive` doesn't work.

[code]

The message is:

[code]

Versions used:

[code]

See screenshots attached below.

<img width="315" alt="screen shot 2018-10-10 at 14 22 37" src="https://user-images.githubusercontent.com/1933

[2018-10-10 12:30] nmtitov commented on #1741
Same for the latest stable Moya version 11.

[2018-10-12 03:30] khuong291 commented on #1209
Thanks, it works for me 👍

[2018-10-12 06:45] #1741 closed

[2018-10-12 15:33] #1726 closed

[2018-10-13 17:31] #1717 closed

[2018-10-14 10:16] #1727 closed

[2018-10-14 23:40] SD10 commented on #1725
We'll be releasing a Moya 12.0.0-beta.1 shortly which will resolve the issues with your Carthage dependency

[2018-10-15 11:12] Mahdimm opened #1743 "can't return observable of customError in network call"
Hi, thanks for such awesome library . I want to use catchError for getting back my error as custom type.
At first, I want my network layer return Observable<LoginModel> and then in ViewModel I subscribed it for .OnNext, .OnError, .OnCompleted events, But I don't know how should I handle Errors such as 4xx, 5xx network status code and then, them return my Custom Error Object!

My Login ViewModel :

[2018-10-15 12:31] suhitp commented on #1743
Hi @Mahdimm answered your question in [stackoverflow](https://stackoverflow.com/questions/52815543/cant-return-observable-of-customerror-in-network-call/52816729#52816729) post. Also posting here for reference

Moya returns MoyaError enum in error block which you can handle by extracting the error type using switch on MoyaError and then using statusCode to convert to NetworkError enum

[code]

You

[2018-10-15 23:10] kamranpirwani commented on #1725
@SD10 Any thoughts on exact date? I'm awaiting this as well, wondering where to hold off on Swift 4.2 Upgrade

[2018-10-16 09:17] r3econ opened #1744 "Is there a way to remove a plugin from the provider without reinitializing it?"
Let's say I created a Moya provider with a `CustomPluginA`. Now, while the app runs I want to remove this plugin from the provider. However, the `plugins` array is not mutable. What would be the correct way to accomplish this?

[2018-10-16 19:01] BasThomas commented on #1744
Any reason you're not wanting to initialize a new provider for it?

[2018-10-16 22:29] SD10 commented on #1744
@r3econ Other than initializing a new `MoyaProvider`, you could do something like:

[code]

[2018-10-17 05:40] wongwenlei commented on #1645
The same problem I encountered, how do you solve it?

[2018-10-17 09:06] wongwenlei commented on #1533
I also encountered the same problem. After deleting the unused case in enum, the problem is solved. I don't know why.

[2018-10-18 01:14] SD10 commented on #1565
I moved this discussion of this to #1655

[2018-10-18 01:17] SD10 commented on #1655
Not having this in Moya is kind of haunting me today. I don't want to write my data to a temporary file just to get upload progress (as described in the comment above) -- because doing so is wasteful and I also have to worry about cleaning up my URL.

[2018-10-18 13:12] hydra1983 commented on #978
@scottrhoyt The link is broken :(

[2018-10-20 17:19] #1259 closed

[2018-10-23 02:32] ReflectionMzy commented on #1678
how to solve this problem？ thx

[2018-10-23 21:18] multinerd opened #1747 "Can a Provider be used without RxSwift?"
Moya 11.0.2

How can i create a provider without using RxSwift?

the [docs](https://github.com/Moya/Moya/blob/master/docs/Examples/ComposingProvider.md) is using rxswift and i cant figure out how to return a `Moya.Response` without using closures

[2018-10-24 05:03] SD10 commented on #1747
Hey @multinerd,

You may want to check out the [getting started guide](https://github.com/Moya/Moya/blob/master/docs/Examples/Basic.md) for the non-Rx version of Moya. You can also see the non-Rx MoyaProvider documentation [here](https://github.com/Moya/Moya/blob/master/docs/Providers.md). Hope this helps 😄

[2018-10-25 04:11] multinerd commented on #1747
Im trying to mimic the kiosk app implementation of `OnlineProvider<Target>`, im wondering if that can be done without RxSwift. If so, how would i implement `request(_ token: Taget) -> Single<Moya.Response> `

[2018-10-25 13:45] WenzheFan opened #1749 "how to use"

[2018-10-25 13:47] WenzheFan commented on #1749
how to use ！
old code  no use ,new code how to use

[2018-10-25 14:09] SD10 commented on #1749
Hey @WenzheFan, you can find the documentation for Moya [here](https://github.com/Moya/Moya/tree/master/docs). I recommend starting with [basic usage](https://github.com/Moya/Moya/blob/master/docs/Examples/Basic.md). Hope this helps 😄

[2018-10-26 02:30] My-Old-Driver opened #1750 "JSON-RPC"
I want to know to create a JSON-RPC request using moya

[2018-10-26 20:45] mxp7064 opened #1751 "How to check if there is internet connection?"
Hi. I am new to Moya. Can you please tell me how can I check if there is network connection before I send the request so I can do proper handling like showing user a message that there is no internet connection?

Thanks in advance!

[2018-10-29 08:37] r3econ commented on #1744
Thanks for the help!

[2018-10-29 08:37] #1744 closed

[2018-10-29 11:34] pedrovereza commented on #1738
I'll close this one as it seems resolved.

@felixsolorzano if you still have questions, feel free to re-open this issue or create another one!

[2018-10-29 11:34] #1738 closed

[2018-10-29 18:00] suhitp commented on #1751
Do read [Designing for the real-world network document] guidelines by Apple (https://developer.apple.com/library/archive/documentation/NetworkingInternetWeb/Conceptual/NetworkingOverview/WhyNetworkingIsHard/WhyNetworkingIsHard.html#//apple_ref/doc/uid/TP40010220-CH13-SW1)

For **Reachability** you can use [NetworkReachabilityManager](https://github.com/Alamofire/Alamofire/blob/master/Source/Networ

[2018-10-30 05:34] freemansion commented on #976
I'm had the same issue recently. I solved it writing Moya plugin.
If anyone still interested, below is working code:

[code]

Also, if you want to specify the way of storing your data (in-memory capacity, disk capacity) according your needs, you have to pass `URLCache` object when your `URLSessionConfiguration` has been created.

[2018-10-30 17:35] mxp7064 commented on #1751
Thank you so much! Could you also please tell me what's the best way to cancel requests? I've been looking at different question threads about that but they are all for RxMoya or ReactiveMoya. I am using the usual Moya.

[2018-10-31 02:23] anh-ht opened #1752 "[Help] Encode"
I have a question.

I have used moya code as follows:

`var parameterEncoding:ParameterEncoding { return URLEncoding.default }`
and
`params["filter"] = ["where": ["or": [["source": 1], ["source": 2]]], "offset": offset ?? 0]`

=> and the url returned from the server is

`[filter][where][or][][source]=1&[filter][where][or][][source]=2`

But server need :

`[filter][where][or][0][source]=1&[filter][

[2018-10-31 02:44] anh-ht commented on #1752
Has anyone solved the same problem like this ?

[2018-10-31 09:03] suhitp commented on #1751
MoyaProvider request method returns a Cancellable protocol type which has a cancel method.

[code]

So you return this Cancellable type from your Network Layer method and call cancel when required.

[2018-10-31 21:32] mxp7064 commented on #1751
Thank you!

[2018-10-31 21:32] #1751 closed

[2018-11-02 04:39] SD10 commented on #1725
#1753 👍

[2018-11-02 04:39] #1725 closed

[2018-11-02 05:10] #1733 closed

[2018-11-02 16:04] amaurydavid opened #1754 "An easier way to use stub requests and sampleData"
One of the things that make me love Moya is the stubRequest / sampleData feature. It's so easy to use mocks! But I think it could be even more easier.

Every time I create a new endpoint without the need to use mock data, I still need to return a Data object for `sampleData`, and always end up using something like ```var sampleData: Data {
return Data()
}```. Even if it's never used (because someh

[2018-11-04 13:46] TarekSalama opened #1755 "Download when app goes briefly into background"
I noticed that if my app goes briefly to the background whether the user tapped the home button or the permissions alert was shown as a network request was being made, Moya's request would go into the error block in the callback and the request would fail.
I am not sure if this is intended or not (I managed to workaround it using a flag) but I noticed a library like Kingfisher doesn't fail at down

[2018-11-05 07:13] SD10 commented on #1754
Hey @amaurydavid, we've talked about changing the stubbing API, check out #1502 and let me know what you think

[2018-11-07 09:42] pstanczakmj opened #1757 "t"

[2018-11-07 10:01] #1757 closed

[2018-11-08 15:22] #1749 closed

[2018-11-09 05:47] #1743 closed

[2018-11-09 15:07] multinerd commented on #1747
Im waiting for a response

[2018-11-12 00:14] #1731 closed

[2018-11-13 15:44] jdanthinne opened #1759 "Moya 11.0.2 not compiling with Carthage"
Since Moya 11.0.2, Carthage fails at building all the Moya components.
It stops at building RxMoya:
[code]
Here are the versions from the resolved Cartfile:
[code]

[2018-11-13 20:29] ranhsd opened #1760 "AccessTokenPlugin AuthorizationType"
Hi,
I noticed that the access token plugin authroization types provide the following options:

[code]

Now, there are some backends which expect only a JWT token in the autorization header without the Bearer or Basic prefixes.

[FeathersJS](https://docs.feathersjs.com/) is a good example for such backend. There you need to provide only (and only) the JWT token in the Autorization header in order t

[2018-11-14 08:48] gityubj opened #1761 "Why Watch os has no MoyaProvider<>().rx???"
Platform: Clock, '4.0'
pod 'RxSwift', '~ 4.3'
pod 'RxCocoa', '~ 4.3'
pod 'Moya', '~ 11.0'
End

I am using cocoapods.

The cocoapods version uses 1.5.3.

Static Let provider = MoyaProvider <watchAPI> (). rx

I use an iOS target and an .rx error occurs on the watch target.

There is no 'rx' member in the value of type 'MoyaProvider <watchAPI>'.

The above error. Thank you for your help.

[2018-11-14 09:36] initGalen commented on #1741
me too, XCTest can not use

[2018-11-15 06:50] SD10 commented on #1760
Hey @ranhsd, this feature was added by #1611. It's currently on Moya development. Will be available in Moya 12.0.0

[2018-11-15 14:12] ranhsd commented on #1760
Hi @SD10 wow it's amazing. The implementation is exactly what I wanted. They even use the same name :)
BTW - it's the first time I see it.

Thanks!

[2018-11-15 15:21] SD10 commented on #1761
@gityubj Could be related to #1758

[2018-11-16 20:18] #1750 closed

[2018-11-17 12:10] pedrovereza commented on #1752
Hey @anh-ht, I think you'll have to create your own `ParameterEncoding`. Here is the [Alamofire documentation on how to build a custom `ParameterEncoding`](https://github.com/Alamofire/Alamofire/blob/master/Documentation/Usage.md#custom-encoding), hope it helps.

[2018-11-18 02:52] anh-ht commented on #1752
@pedrovereza thanks. :)

[2018-11-18 02:52] #1752 closed

[2018-11-19 00:26] SD10 opened #1765 "Add podspec linting to CI script"
### What?
We should add the `pod lib lint` command to our Circle CI script. I thought we were already doing this (maybe we removed it in the upgrade?)

### Why?
I made a `master` commit with an invalid podspec. (fixing now)

[2018-11-19 00:30] SD10 commented on #1765
Looks like I could've broken the labeler in https://github.com/Moya/moya-peril/pull/32 😅 What a night

[2018-11-19 01:11] SD10 commented on #1761
This should be fixed by Moya version 12.0. Please upgrade and feel free to re-open if the problem persists. Thank you for your patience 🙏

[2018-11-19 01:11] #1761 closed

[2018-11-19 01:12] SD10 commented on #1759
This should be fixed by Moya version 12.0. Please upgrade and feel free to re-open if the problem persists. Thank you for your patience 🙏

[2018-11-19 01:12] #1759 closed

[2018-11-19 01:12] SD10 commented on #1760
This is now available in Moya 12.0 👍

[2018-11-19 01:12] #1760 closed

[2018-11-19 01:12] SD10 commented on #1741
This should be fixed by Moya version 12.0. Please upgrade and feel free to re-open if the problem persists. Thank you for your patience 🙏

[2018-11-19 01:13] SD10 commented on #1735
This should be fixed by Moya version 12.0. Please upgrade 👍 Thanks for your patience

[2018-11-19 01:17] SD10 commented on #1755
Hey @TarekSalama, I've yet to run into this situation but it could be because your MoyaProvider is being deallocated and thus the request is canceled

[2018-11-19 01:36] UNIQUEXJ opened #1768 "pod install Error"
[!] The platform of the target `Mine` (iOS 10.1) is not compatible with `Moya/RxSwift (12.0.0)`, which does not support `ios`.

[2018-11-19 02:45] SD10 commented on #1768
Can you share your podfile @UNIQUEXJ? I'll try some example projects with Moya now 😕

[2018-11-19 02:50] zgjff commented on #1768
platform :ios, '10.0'

target '' do
  use_frameworks!

#pod 'Moya/ReactiveSwift'

I also encountered this problem.

[2018-11-19 02:53] SD10 commented on #1768
Thanks @zgjff I can reproduce so I'm looking into it

[2018-11-19 03:03] Limon-O-O commented on #1768
The platform of the target `Example` (iOS 10.0) is not compatible with `Moya/RxSwift (12.0.0)`, which does not support `ios`.

[2018-11-19 03:32] SD10 commented on #1768
Could be related to #1758 and #1766 but I'm still unsure. The deployment targets are set for the RxSwift and ReactiveSwift targets in the xcodeproj. All platforms are supported for the targets in build settings as well

[2018-11-19 03:42] SD10 commented on #1768
@Moya/core-team Anyone has any ideas as to what's wrong here?

[2018-11-19 04:04] SD10 commented on #1768
Yeah, so it looks like it's related to defining the `ss.watchos.deployment_target` inside of the subspecs is the culprit. I don't know if we can have different deployment target for different subspecs.

The previous minimum deployment target is 2.0 and RxMoya now requires 3.0. The best solution might be to just make the minimum deployment target 3.0 overall

[2018-11-19 05:40] UNIQUEXJ commented on #1768
platform :ios, '10.1'
use_frameworks!
target 'SwiftProject' do
  pod 'Moya/RxSwift'
end

[2018-11-19 06:19] SD10 commented on #1768
Reopening because this is still broken when downloading from CocoaPods. Installing locally works for me now. Don't think I can fix this tonight

[2018-11-19 06:37] zgjff commented on #1768
Use this method  before fix.
pod 'Moya/ReactiveSwift', '~> 11.0.2'
pod 'ReactiveCocoa', '~> 7.0.1'

[2018-11-19 07:02] SD10 commented on #1768
@UNIQUEXJ @zgjff @Limon-O-O This should be fixed by Moya version 12.0.1. Can you please let me know if that works for you? Really sorry about this 😓

I'm going to leave this open for visibility

[2018-11-19 07:20] SD10 opened #1770 "Add CocoaPods installation example"
### Why?

In hopes of never allowing an error like #1768 from happening again, it could be beneficial to add an example project that uses CocoaPods as the installation method. IIRC, there used to be an example using CocoaPods but it seems to have disappeared when we restructured the project (to be more SPM compatible?).

At the very least, we should consider:

1. Updating [Releasing.md](https://gi

[2018-11-19 12:08] lordcodes opened #1771 "RxSwift: requestWithProgress().filterCompleted() no onNext events"
Moya version: 11.0.2, but also tested with Moya 12

I am using Moya with RxSwift, using the `requestWithProgress` function to get the response and progress on uploading a file.

The progress part is working perfectly, however, I found that when I used the response, my other Rx operations on the provided Observable weren't working correctly. When I debugged what was going on, I noticed that the Obs