[2016-04-30 16:23] nikita-leonov commented on #144
I see. Yes, it is easier to define default parameters now, but it still require overriding designated initializer. Actually situation does not change in compare with what you writing in Oct, 1. Here is current experience of subclassing — https://www.evernote.com/l/AEaV5Z1HlZRGprguAUiszmTarcbrRgFzQA0

[2016-04-30 16:52] ashfurrow commented on #144
Subclassing in Swift usually requires calling a designated initializer in the superclass, I'm not sure of a great way to avoid this in Moya. Do you have suggestions?

--
Ash Furrow
https://ashfurrow.com/

On April 30, 2016 at 12:24:01 PM, nikita leonov (notifications@github.com(mailto:notifications@github.com)) wrote:

[2016-04-30 17:02] nikita-leonov commented on #144
Swift actually supports inheritance of initializers. For example in a following code Bar will not require initializer, but it will still be available:
[code]

The problematic situation will be if we make Foo generic. Somehow in this scenario Swift starts to ask designated initializer override. I do not really understand why yet and what could be an option, but I am trying to find an answer now.

[2016-04-30 17:07] ashfurrow commented on #144
Interesting. I suppose what I meant was, a reason to subclass would be to provide custom behaviour, which may need to be given as an initializer parameter Subsequently, you'd want to define all the usual default values and would also need to call the super-initializer. I would love to hear ideas to solve either of those problems – please keep us in the loop about your progress, maybe on a new issu

[2016-04-30 17:11] nikita-leonov commented on #144
While I am going to dig a little bit more, I am not sure that I will be able to handle the whole issue. I suggest to not create a new one, but just reopen current issue. It has whole history of thought, with an actual problem described by you. I think this issue is good enough for tracking everything related to simplifying of subclasses.

Also I would like to highlight why it is important. As for

[2016-04-30 17:17] nikita-leonov commented on #144
Here is a stack overflow question with a problem explained — http://stackoverflow.com/questions/36957858/why-swift-requires-override-of-designated-initializer-of-generic-superclass lets see if someone in community actually can explain this strange generics behavior.

[2016-04-30 21:57] nikita-leonov commented on #144
@ashfurrow As result of my research I found some combinations of associated types and default values that actually removes requirement to override designated initializer. It seems that major reason for override requirement in Moya can be some default values. While it is definitely some buggy behavior of Swift, I think it is possible to find workaround even in a current state of Swift.

[2016-04-30 22:46] nikita-leonov commented on #473
Would it be a natural thing to return back correlation of request & response into Moya result? Why in Miya.swift on line 207 of Alamofire response, NSURLRequest just discarded, while the rest is propagated as result? It is common feature of networking libraries. It was in Alamofire, MKNetworkingKit etc as well as for libraries on other platforms. As I am not really familiar with details of some ar

[2016-05-01 14:54] colinta commented on #473
I can think of a few ways to accomplish what you're after.

1. Hard: Fork Moya and add NSURLRequest to the completion.  Then you'd have to maintain a fork, which is no fun.
2. Reasonable: Fork Moya and add a plugin method to line 210 `plugins.forEach { $0.didReceiveRequest(request, result: result, target: target) }`.  Again a fork, but such a subtle difference that this would probably be easier to

[2016-05-03 02:49] SSamanta opened #476 "How target.shouldRetry looks like?"
I have seen below code in Moya [example](https://github.com/Moya/Moya/blob/6a437938c4ac3ae1d6ffce161cfb1fb3c78c67b9/docs/Examples.md)

[code]
Are there any example code how `shouldRetry` should looks like in real case?

[2016-05-03 14:12] ashfurrow commented on #476
If you're able to use RxSwift or ReactiveCocoa, they have retry operators that make this easy. You can also see [an example](https://github.com/artsy/eidolon/blob/1c746f9a9c6420cda9f691468783fee67376e8b1/Kiosk/App/Networking/Networking.swift#L22-L31) of how to write try-when-network-is-available logic.

[2016-05-04 13:22] Paldom opened #478 "Confused about NSError removal"
Hello,

as I see `Moya.Error`'s `nsError` property is depreceted (also confirmed by @sunshinejr in #437). What other solution would you recommend to get `NSError`'s domain from an `Underlying` type? I mean how can I get the reason of the error if e. g. if I receive the code of `NSURLErrorTimedOut` or `NSURLErrorNotConnectedToInternet`?

Thanks!

[2016-05-04 14:12] ashfurrow commented on #478
The `nsError` property was created for use with ReactiveCocoa. If you want to get at an underlying response, you can `switch` on the error in your completion closure, like:

[code]

It's a bit weird to have to case `error as NSError`, maybe the `.Underlying` case should use `NSError` instead of `ErrorType`. Any thoughts?

[2016-05-04 14:27] Paldom commented on #478
Thanks @ashfurrow! I missed the `ErrorType` in `.Underlying`.

[2016-05-04 14:30] ashfurrow commented on #478
No problem! This seems like something we might want to document better, and maybe make the change to `.Underlying` I mentioned above. You wouldn't be interested in making a pull request, would you?

[2016-05-04 14:38] sunshinejr commented on #478
+1 for the change from `ErrorType` to `NSError`, also we should provide an example/document it better.

[2016-05-04 15:02] Paldom commented on #478
I can make a pull request about this, only I'm not comfortable with casting `error` to `NSError` in `Response.swift` which should be done:
[code]
As I see it won't be a problem, are you ok with that?

[2016-05-04 15:59] ashfurrow commented on #478
If we change `.Underlying` to have an `NSError` instead of `ErrorType`, then we won't need to cast, right? In any case, casting from ErrorType to NSError is guaranteed to always succeed, so it would be fine too.

[2016-05-04 16:16] Paldom commented on #478
In fact it needs casting when `.Underlying` have `NSError`. Bit confusing, but found an explanation [here](http://roadfiresoftware.com/2015/10/how-to-parse-json-with-swift-2/):

[2016-05-04 16:43] ashfurrow commented on #478
Ah, you're right. I misunderstood.

[2016-05-04 22:40] #478 closed

[2016-05-06 22:52] chrisfarrell commented on #185
@thedevme can you provide an example of your solution?

[2016-05-08 20:41] Miasma87 commented on #473
Yeah that would be awesome to have request printed such as:
`curl -X GET blablabla`

[2016-05-12 13:01] holysin opened #482 "How to implement multiple parameters, and can I split the solution for each model"
I am a newbie to Moya, and I knew that the Moya is the most populate repo that integrate Alamofire and ReactiveCocoa.

I have two question.

## question 1
[code]

sometimes, I need pass multiple parameters for specific API. For example the UserProfile, I need pass two parameters String, Int. How can I do this?

## question 2

In the demo, the parameters and paths are mixed together in the GitHub,

[2016-05-12 13:08] futantan commented on #482
## question 1
refer to this article [Basic](https://github.com/Moya/Moya/blob/master/docs/Examples/Basic.md)
[code]

## question 2

You can split it into more providers(TargetType).  But it just works fine in this way.

Is this works for you?

[2016-05-12 14:56] ashfurrow commented on #482
For question 2, there's also a struct-based solution we added [here](https://github.com/Moya/Moya/pull/427), but haven't had time to document yet.

[2016-05-14 14:42] Ryan0520 opened #484 "I got some trouble .Success(Status Code: 404, Data Length: 177)"
This is I use Alamofre

[code]

it's work! But when I use Moya to do this,it show

[code]

How can I get my data? And How can I change the code?

[2016-05-15 15:05] ashfurrow commented on #484
Everything looks fine, hmm. Very strange. Can you try using the [network logging plugin](https://github.com/Moya/Moya/blob/38b0bda890b7b4598552a353b3f8db4248c37d6e/docs/Providers.md#plugins) to see what request is getting sent?

[2016-05-16 01:49] Ryan0520 commented on #484
OK,I will try~

[2016-05-16 02:31] Ryan0520 commented on #484
`Moya_Logger: [16/05/2016 10:30:51] Request: <NSMutableURLRequest: 0x7fc7facbeb60> { URL: http://124.172.184.216:8080/open_api/api/?sign=f93404972addb2b806a7bcb5adbaa8c3&app_id=123 }
Moya_Logger: [16/05/2016 10:30:51] Request Headers: ["Content-Type": "application/x-www-form-urlencoded; charset=utf-8"]
Moya_Logger: [16/05/2016 10:30:51] HTTP Request Method: POST
Moya_Logger: [16/05/2016 10:30:51]

[2016-05-16 02:35] Ryan0520 commented on #484
404 Not Found is not come form my service,and when I use Alamofire buy default POST method,it is work. But it doesn't work in Moya! And, I don't know how to change the code.

[2016-05-16 03:52] Ryan0520 commented on #484
I solve the problem, the result is my url is wrong, and I wonder know, why I set my URL is `http://192.168.172.243/public_gateway/web/index.php?r=api&sign=c672431482bf5063f5d33a8654aecb41&app_id=123` ,but when I look the request `Request: <NSMutableURLRequest: 0x7fa9485e9600> { URL: http://192.168.172.243/public_gateway/web/index.php/?r=api&sign=c672431482bf5063f5d33a8654aecb41&app_id=123 }` It wi

[2016-05-16 04:03] Ryan0520 commented on #484
If my URL is "http://192.168.172.243/public_open_api/api?sign=c672431482bf5063f5d33a8654aecb41&app_id=123", my baseURL is http://192.168.172.243/public_open_api/api?, the sign and app_id is change by parameters, how I change the code in MyTargetType?

[2016-05-16 14:46] ashfurrow commented on #484
Gotcha, looks like your `baseURL` has the query string and everything included with it. Moya uses `NSURL` to add additional paths, and that must be confused by the `?sign=...`. I would recommend returning only `http://124.172.184.216:8080/open_api/api` from the baseURL and use the `endpointClosure` to add those additional parameters. [Here](https://github.com/Moya/Moya/blob/master/docs/Endpoints.m

[2016-05-16 14:51] Ryan0520 commented on #484
Thanks very much, I solve the problem by do `let oauthEndpointClosure = { (target: OAuth) -> Endpoint<OAuth> in

	let baseURLString = target.baseURL.absoluteString

    let dict = target.parameters?["params"]

    var sign = ""

    if let dict = dict as? [String : AnyObject] {
        sign = signWithParamters(dict)
    }

    let url = baseURLString + "sign=" + sign + "&app_id=123"

	return Endpo

[2016-05-16 15:00] ashfurrow commented on #484
Yeah, that should work. Here's a project that does ObjectMapper and Moya work: https://github.com/ivanbruel/Moya-ObjectMapper

[2016-05-16 15:08] Ryan0520 commented on #484
OK, thanks your adive!

[2016-05-16 15:08] #484 closed

[2016-05-16 22:30] andrewjtodd opened #485 "Cookies on response from POST"
HI,

Can you demonstrate how you would solve this problem with your library?
https://github.com/Alamofire/Alamofire/issues/946
I'm yet to find something that will work on IOS.
Thanks

[2016-05-16 22:54] ashfurrow commented on #485
This should be possible, Moya's completion handler provides a `Response` object when a network call is successfully sent/returned (failure is for things like not being connected to the internet). The response object has a [`NSURLResponse?` property](https://github.com/Moya/Moya/blob/master/Source/Response.swift#L6) you can access to use a similar solution as in the StackOverflow answer.

[2016-05-17 13:51] morgz commented on #465
I currently check oauth credentials in the requestClosure and would appreciate the ability to bubble out an error back out.

[2016-05-17 14:34] ashfurrow commented on #465
I think that's a smart move. Maybe make the parameter for `done()` be a `Result<NSURLRequest, ErrorType>`? It would be a breaking change, but we already have several of those merged in master, so now is an idea time to make this kind of change. Is anyone interested in sending a PR?

[2016-05-18 09:40] squarefrog opened #486 "[Question] Strategy for shared parameters?"
I'm modelling an API which have a number of endpoints requiring a `countryCode` parameter. This is easy to do with dependency injection on the cases, but I wondered if there was a cleaner way to do this.

The approximate flow of this API is a user logs in, and in the returned JSON, there is a `countryCode` string which is tied to the user's account. This must be supplied to 95% of the endpoints:

[2016-05-18 10:45] holysin commented on #482
there is an explicit example, and I can't pass the parameters in to the enum
[code]

the .login is defined as follows
[code]

the compiler complain that 'Ambiguous use of request'

[2016-05-18 12:41] squarefrog commented on #486
Thinking about this, this could be achieved by overriding the `endpointClosure` for the [Provider](https://github.com/Moya/Moya/blob/master/docs/Providers.md). However, on reflection it does seem like a code smell. Doing it this way would rely on a user reading through the documentation to know they have to provide this custom endpoint when setting up the `Provider`.

At least with the code above

[2016-05-18 12:41] #486 closed

[2016-05-18 14:32] pschneider commented on #325
@ashfurrow Just curious if this is still the best solution doing HTTP Basic Auth with Moya. Didn't found a way to set `NSURLAuthenticationMethodHTTPBasic`

Is it correct that I can't use the credentialsPlugin doing this?

Thanks

[2016-05-19 00:10] ashfurrow commented on #482
@holysin is this issue resolved to your satisfaction?

[2016-05-19 00:10] ashfurrow commented on #325
Yup, that's right!

[2016-05-19 02:08] mlvhub commented on #464
Hello, I'm actually having this exact same issue, I even get it by copying and pasting @rmuhamedgaliev's code snippet.

How did you actually solve it?

I'm using Carthage to manage my dependencies. I've also used Cocoapods before, and this didn't happen.

Here is my Cartfile:
[code]

[2016-05-19 17:51] mlvhub opened #487 "Type X does not conform to protocol 'TargetType'"
Hello,

I'm having the exact same issue as #464.

I posted a comment there but here the relevant information:

I'm using Carthage to manage my dependencies. I've also used Cocoapods before, and this didn't happen.

Here is my Cartfile:
[code]

I'm using the following command to build the dependencies:
[code]
And then I'm just linking the frameworks that are in ``` Carthage/Build/iOS``` inside the

[2016-05-19 19:28] sunshinejr commented on #465
Sure! I can take at that.

[2016-05-19 20:53] sunshinejr commented on #465
Closing in favor of #488.

[2016-05-19 20:53] #465 closed

[2016-05-19 23:06] sunshinejr opened #489 "Decision about deprecated RAC methods."
This topic was discussed in #298, but it was long time ago and was mostly for deprecation. And because we have many breaking changes and it is time for breaking, I think it is the best time to decide what to do with `RACSignal` extensions. We have many warnings in Moya about deprecation of methods that we should take care of:

Personally I think that the extension for `Moya.Error` with `.nsError`

[2016-05-20 08:20] pschneider commented on #325
@ashfurrow  Alright, thank you for your fast response!

[2016-05-21 14:57] ashfurrow commented on #487
Very strange, sorry to hear about this. Not sure what the issue could be. Usually, Xcode's error inspector will have a drop-down arrow beside the "does not conform to protocol" that says which function is missing, is it there?

[2016-05-21 15:24] mlvhub commented on #487
Thanks for your reply, yeah, it usually says what's missing for it to conform to the protocol, but in this case there is no arrow.

This is a wild guess, but I think there may be something wrong with the generated frameworks, I've seen something like this before, and it usually means that the 'TargetType' from the RxMoya framework, is different from the 'TargetType' in the Moya framework.

I guess

[2016-05-21 15:27] ashfurrow commented on #487
Gotcha. Thanks for taking a look through – I'm not experienced with Carthage either, so if you find anything, please let us know!

[2016-05-21 18:08] mlvhub commented on #487
Yeah, I think that's the reason, by command-clicking the TargetType in the endpoint, I can see it under the Moya framework, but in the ViewController, the TargetType is inside RxMoya.

The endpoint now looks like:
[code]

[2016-05-22 12:12] iwheelbuy opened #490 "The operation couldn't be completed. (Moya.Error error 3.)"
I've just started using Moya in new project and successfully tested on device/simulator.
I have uploaded a build to TestFlight and now all requests fail with (Moya.Error error 3.) when I use a build from TestFlight. I have no idea where to go further... Any help?

[2016-05-22 12:51] #490 closed

[2016-05-22 12:52] iwheelbuy commented on #490
Release server was 404... My bad...

[2016-05-22 21:52] ashfurrow commented on #487
Hmm, must be a consequence of our Carthage setup. Some background: Carthage doesn't support any sort of "subspec" style organization. Since we keep Moya and the RxSwift/ReactiveCocoa code in the same repo, Carthage downloads all three targets even if you don't use them. Because of the project organization, `TargetType` is re-defined in three different modules. The solution you have will work.

I'm

[2016-05-22 22:18] mlvhub commented on #487
The issue is all the source files are included in both Moya and RxMoya targets, usually, you'd only include RxSwift specific files inside the RxMoya target, and then you specify Moya as a RxMoya dependency.

This way you'd import both frameworks, but as it is right now, you should only use RxMoya, and you must not include Moya otherwise you'll get that error. I'm okay with the way it is right now,

[2016-05-23 17:16] petester42 commented on #487
Since the project was built around cocoapod subspecs the source doesn't have `import Moya` in the subspec's files. To get Carthage support the easiest solution without changing the source too much was to include all the files. This matches the way cocoapods builds the project.

I like the idea of dependent frameworks. I'll look into how much effort it would be.

[2016-05-23 18:19] ashfurrow commented on #487
Yeah, last time we looked it involved splitting out into three repositories, which is a lot of work to keep in sync, etc. Let us know what you find, thanks!

[2016-05-23 20:56] mlvhub commented on #487
Yeah, there are some changes, I already tried to do it in a fork, but got some weird errors when using it in another project through Carthage.

You don't really need another repo, you can just remove the source files from the RxMoya target, add the Moya target as a dependency inside RxMoya, and then you just ```import Moya``` whenever needed.

This was working for me inside the Moya project, it wa

[2016-05-23 21:56] petester42 commented on #487
I have a working branch that does this but the Carthage build command gives some errors. Works fine in Xcode though.

The only problem was that certain things needed to be made public. I'll try to push my branch later today. Could you give it a try to see if it works for you?

[2016-05-23 22:39] mlvhub commented on #487
I see, nice. Sure, let me know when it's up and I'll give it a try.

[2016-05-24 12:04] aschuch commented on #489
I completely agree. We should keep `.nsError` and get rid of RAC 2.0 with the next major release.

[2016-05-24 14:09] #392 closed

[2016-05-24 14:12] sunshinejr commented on #391
_I think_ we can close this one for now, if anything pops out, let us know! 🐼

[2016-05-24 14:12] #391 closed

[2016-05-24 14:13] sunshinejr commented on #403
I think we can close this one for now, if anything pops out, let us know! 🐼

[2016-05-24 14:13] #403 closed

[2016-05-24 14:20] sunshinejr commented on #371
Just to chime in here, what I think @aleufms understood was that he could use the `nsError` property of the [Error](https://github.com/Moya/Moya/blob/master/Source/Error.swift). If it is true, yes this is deprecated as of now, but the discussion about it is still going on in #489.

Additionally, in your case you could just get the `.Underlying(let error)` case from the response error. Having in mi

[2016-05-24 14:24] sunshinejr commented on #390
I'm gonna close this one, if you have more questions about it @joedaniels29, please let us know! 🐼

[2016-05-24 14:24] #390 closed

[2016-05-24 14:33] sunshinejr commented on #397
Because we are currently in the middle of changing the documentation and examples, it would be _awesome_ to add some documentation on plugins as well. What comes to my mind would be a new file, let's say `Plugins.md`, which will cover the basics, and also we could add examples to our new [examples directory](doc/Examples). What do you think about it @wattson12? Also would you be up for the PR as w

[2016-05-24 14:38] sunshinejr commented on #369
I think we can close this one, if you have any ideas for our new [Examples docs](doc/Examples), please let us know! 🐼

[2016-05-24 14:38] #369 closed

[2016-05-24 14:40] sunshinejr commented on #303
I'm closing this one in favor of #489. 🐼

[2016-05-24 14:40] #303 closed

[2016-05-24 14:43] sunshinejr commented on #436
I think we can close this one as well, if anything pops out, let us know @mrfarukturgut!

[2016-05-24 14:43] #436 closed

[2016-05-24 14:45] sunshinejr commented on #368
I think we can close this one, but if there is something to add to the discussion, please let us know! 🐼

[2016-05-24 14:45] #368 closed

[2016-05-24 14:53] sunshinejr commented on #413
Does that answer your questions @remirobert? 🐼

[2016-05-24 16:24] petester42 commented on #489
I don't think we should keep the nsError property. It really doesn't add anything. You can get all the same information from `Error`. The advantage I see NSError is that can be printed nicely to the console but that can easily be added to `Error`

[2016-05-24 19:07] ashfurrow commented on #489
I'm 👍 for getting rid of RAC 2 support, and I'm keen to remove the `nsError` property, since it just serves to erase the `MoyaError` type, and was only necessary for Objective-C interop.

[2016-05-24 19:56] ealeksandrov commented on #489
+100 for removing deprecated RAC support.
I'm also for removing `nsError`. We have good docs now and it is really duplicate of existing functionality.

[2016-05-24 20:18] nickolayl opened #494 "Moya says that response is nil after coming back to the app from lock screen"
Hi,

Here is the case:
- return to the app from the lock screen;
- nearly immediately (1-2 seconds) send the HTTP request via moya;

Actual Result:
- moya returns error `Moya.Error.Underlying` and says that the response (NSHTTPURLResponse) is `nil`. NSError contains - `error NSError?    domain: "NSURLErrorDomain" - code: 18446744073709550611 0x000000012c5d9700`

Note:
The code where this debug inf

[2016-05-24 23:43] ashfurrow commented on #494
Very strange, thanks for reporting this. Could you provide some more details so we can reproduce this? Is it on a device or just the simulator? iOS 8, 9, or both? The networking code that demonstrates the problem would be helpful, if you can share it. Thanks again!

[2016-05-25 04:25] iSame7 opened #495 "Making Moya more ignorant"
Thanks a lot for the awesome work that is being done to ship Moya.

Actually i want to discuss with you a feature that came on my mind to extend Moya.

Basically i'm using Alamofire and i used to make a Router that organize my Alamofire API calls. however after i heard about Moya i just checked out the documentation and realized that it's pretty awesome specially for reactive programming and for u

[2016-05-25 10:14] sunshinejr commented on #489
I'm okay with removing the `nsError` property as long as we document the error section, because this is really a common question here.

[2016-05-25 10:28] nickolayl commented on #494
Yes. Sure. We will upload our app in a private repo and give you access as we do think that the code should be seen as a whole and not as a except from the context.
In short we have chain of two requests (rxswift). The first one goes to HTTP and works well, the subsequent one calls youtube API and fails with the symptoms I described above.
It is reproduced on iOS 9 only. iOS 8 seems to not having

[2016-05-25 10:38] ealeksandrov commented on #489
We already have updated docs: [ErrorTypes.md](https://github.com/Moya/Moya/blob/master/docs/Examples/ErrorTypes.md)
But I agree maybe it worth short mention or link in Readme.

[2016-05-25 10:50] nickolayl commented on #494
Hey Ash. Just sent you the code that reproduces the issue. We just broke our heads searching for the cause of the issue but still no luck.

[2016-05-25 13:42] justinmakaila commented on #489
I think we should remove the `nsError` property. After all, we're really coercing our already good errors into NSError for legacy support and dated patterns. I think keeping it just adds to the confusion and is what is leading people to ask about it.

[2016-05-25 15:23] wattson12 commented on #397
Sounds good, I can take a look

the examples directory link in your comment is 404 for me though?

[2016-05-25 15:26] ealeksandrov commented on #397
Valid link will be https://github.com/Moya/Moya/tree/master/docs/Examples

[2016-05-25 15:56] sunshinejr commented on #397
Whoops, my bad! @ealeksandrov got the right one, I've also edited mine.

[2016-05-26 13:05] awclives opened #497 "GET not working with JSON parameterEncoding"
Greetings,

When I try to send a GET request using Moya with parameterEncoding .JSON to my server, the request fails with 400 because it says that the client disconnected too quickly.  Using httpie to make the same GET request works fine.  However, when I change both Moya and the server to treat the same method as a POST rather than a GET, everything works.

I am wondering whether GET with paramet

[2016-05-26 14:28] ashfurrow commented on #494
Received the email, taking a look ASAP, probably won't be until the weekend. Will update.

[2016-05-26 18:44] yinanfang commented on #391
Thanks! @ashfurrow @sunshinejr

[2016-05-26 18:51] ealeksandrov opened #498 "Fix Tests/CI"
We have red CI for most of recent pushes. But not for all of them.
cc @Moya/contributors

Errors are always the same:
https://travis-ci.org/Moya/Moya/builds/132936497#L1078

[code]
                        waitUntil { done in
                            let target: GitHub = .UserProfile("ashfurrow")
[code]

                        expect(receivedError).toNot( beNil() )
                    }
[code]

[2016-05-28 15:23] ashfurrow commented on #494
Okay, I've tried taking a look but I don't have a device at the moment to test on. I'll try to take a look this weekend. In the mean time, I'd recommend trying to following trying to call the Alamofire request manually (if you can). I'd like to narrow down if this is a problem with Moya, Alamofire, or NSURLConnection. Can you provide any more details, like what device you're using, wifi status, an

[2016-05-28 19:51] nickolayl commented on #494
1. Device: any iPhone physical (not simulator) device
2. wifi connection - excellent. Internet connection 10Mbps (i.e. good)
3. Server logs. As you could see there are two requests sent in a row. The first one is to our server and it's 200OK. The next one HTTPS sent to youtube. We cannot get youtube server logs.
4. **The important thing - if you will allow ~5+ seconds to pass after the moment you

[2016-05-31 15:26] iDiyor opened #500 "POST request parameters are not appended to the URL"
I am trying to make a POST request with parameters in the url and without body. But when I got the response there was not any parameter in the requested url. Does it mean for POST requests, Moya uses parameters to build their body? I also tried to change ParameterEncoding to .URL but still it is not adding anything to the url.

[2016-05-31 15:54] sunshinejr commented on #500
Hey @iDiyor, thanks for opening an issue! :tada:

Moya uses Alamofire's [parameter encoding](https://github.com/Alamofire/Alamofire#parameter-encoding) which has URLEncodedInURL case, which I believe you can use in your case.

Hope it helps!

[2016-05-31 17:01] #500 closed

[2016-06-02 08:06] vytis commented on #467
Encountered the same problem and had maybe an obvious question - where should I put `var parameterEncoding: Moya.ParameterEncoding` ? It is not part of the `Target` protocol, so adding it to my endpoints struct does nothing.
Until now, I was making my own `Endpoint` in `endpointClosure`, but it seems a bit too complicated to simply have different parameter encoding.

[2016-06-02 11:02] sunshinejr commented on #467
In fact, it's how you should approach this, @vytis 🐼 More about it [here](https://github.com/Moya/Moya/blob/master/docs/Endpoints.md#from-target-to-endpoint-).

[2016-06-02 11:03] vytis commented on #467
I thought I was missing something, thanks for clarification!

[2016-06-06 07:30] kyleYang opened #501 "Moya send more than once request"
let endpointClosure = { (target: USRequestAPI) -> Endpoint<USRequestAPI> in

    let url = target.baseURL.absoluteString+target.path
    let headers = ["access_token":"6ae51080ce36493f813a1d8ed073fb36"] //userid  = 61

    let endpoint: Endpoint<USRequestAPI> = Endpoint<USRequestAPI>(URL: url, sampleResponseClosure: {.NetworkResponse(200, target.sampleData)}, method: target.method, parameters: tar

[2016-06-06 10:15] litt1e-p opened #502 "How to debug with Moya"
Hi. I want to know how to debug with Moya? such as printing request the final url with params?

[2016-06-06 10:19] aamctustwo commented on #502
To debug using Moya, I generally take advantage of the `NetworkLoggerPlugin`. See the [Providers documentation](https://github.com/Moya/Moya/blob/master/docs/Providers.md#plugins).

[2016-06-06 10:56] sunshinejr commented on #489
Okay, I think we came to the agreement that it should be thrown out from Moya. Is anyone from @Moya/contributors willing to PR these changes? It would include erasing deprecated methods only, if we decide to expand documentation on the `Error` matter, I think it should go into another PR anyways.

[2016-06-06 14:58] ashfurrow commented on #501
Can't tell without more information, like what it looks like when you request the API call. Also, not sure of the `func sendRequest` and `public func request`, are those from Moya or a subclass you've created? Thanks!

[2016-06-07 01:56] kyleYang commented on #501
I use a file ,but the all no in some class
[code]
I use e RxMoyaProvider extension

[code]
So ,every time I use
[code]

to get the data.

In the console , I can find two log
[code]

In the requestNoResponseMapper, I can receive two .Success response

Although the log print will send request twice ,but when I subscribeNext, the only call once.
But if the request failed ,the Moya like to try to send

[2016-06-07 02:00] litt1e-p commented on #502
thanks!

[2016-06-07 02:00] #502 closed

[2016-06-07 02:18] kyleYang commented on #501
@ashfurrow hello
public func request in a method in Moya's Moya+RxSwift
[code]

but is use some extension by myself to parse the response, like
[code]
It's only parse response use the ObjectMapper

[2016-06-07 19:04] wonc003 opened #503 "Dynamic Endpoints"
Our applications read in a configuration api that has a list of web services the application will use.

Is there a way to dynamically generate these webservice endpoints into moya at runtime?

[2016-06-07 19:46] ashfurrow commented on #503
Hmm, not easily, though you could use the `StructTarget` to use a `struct` instead of an `enum` for your `MoyaTarget`. I'm not aware of anyone doing this, if you find anything online that helps, please let us know 🙇

[2016-06-08 15:23] VivienGiraud opened #506 "How to send more than one time the same parameter"
Hi,

As I have no idea how the thing I want to do is called I failed to search it on the Internet.
Can you tell me how to send a parameter two times for example?
Like if I want to register a book, `Genre` can be `Science Fiction` and `Fantasy`.
So I need to do like:

[code]

But I don't think it's the right way to do.
Can someone understand what I mean?

Vivien

[2016-06-08 15:28] petester42 commented on #506
You can have two enum cases. One that takes a string and one that takes an array of strings.

[2016-06-13 20:13] Miasma87 commented on #506
Not sure to understand what you mean :/
Can you explain it with code please?

[2016-06-14 01:53] sebbean commented on #497
GET is meant as simply a request to a URL. Thus URL encoding is the only real thing that makese sense.

I'd try switching over to POST.

[2016-06-14 02:33] colinta commented on #497
Not to belabor the point, but there is a lot wrong with parsing the body of a GET request. Here's a great explanation: http://stackoverflow.com/a/983458

[2016-06-14 14:15] awclives commented on #497
Got it.  Thank you.

[2016-06-14 20:49] sunshinejr commented on #498
Additionally, new error appeared from #505, [https://travis-ci.org/Moya/Moya/builds/136311523](https://travis-ci.org/Moya/Moya/builds/136311523):

[code]

[2016-06-14 21:30] sunshinejr commented on #489
Closing in favor of #508.

[2016-06-14 21:30] #489 closed

[2016-06-15 13:53] sunshinejr commented on #497
I think we can close this one, but if you will have any more questions @awclives about this topic, let us know! 🐼

[2016-06-15 13:53] #497 closed

[2016-06-15 14:01] sunshinejr commented on #495
Hey @iSame7, thanks so much for the idea! 🎉  Seems really fun!

Although _I'm not sure_ if it would fit in current core of Moya, I would love to see it _**at least**_ as some sort of extension, that will use Moya as a dependency. What do you think about that?

Also, anyone else from @Moya/contributors could take a look? 🐼

[2016-06-15 14:08] justinmakaila commented on #495
I'd love to see a working example, I've been working on something similar, but unfortunately I can't get away from the singleton object for making requests, which results in a lot of `API.request(target: MoyaTarget)` calls around

[2016-06-15 14:11] sunshinejr commented on #506
Hey @Miasma87! What I think @petester42 meant, was to extend your `TargetType` to have 2 cases:

- First one for getting one genre from API:
[code]
- Second one for getting more than one (or to be precise, 0 or more) genres using array of strings:
[code]

But it depends if your API has an endpoint for getting more than one genre at a time. If not, I'm afraid Moya does not have built-in solution fo

[2016-06-15 20:51] lucasp90 commented on #501
I'm getting the same result every time I make nested requests:
[code]
When `createFoo` and `editFoo` asks the same provider to make the request

[2016-06-16 15:30] mrfarukturgut opened #510 "Custom/Default HTTP headers"
Hi. I am trying to build network layer for my app with moya, but i have this issue. I have like 25-30 endpoints and i need a custom header for almost all of them. (headers which containing token etc.).
Can I set a default header or return header for all endpoints from TargetType enumaration?

Or do I have to create a endpoint closure for all of them?

[2016-06-16 15:37] colinta commented on #510
Just one, for sure!  Here's how we do it in the Ello app:

###### ElloProvider.swift
[code]

###### ElloAPI.swift
[code]

[2016-06-16 15:39] colinta commented on #510
[ElloProvider](https://github.com/ello/ello-ios/blob/master/Sources/Networking/ElloProvider.swift#L32)

[ElloApi](https://github.com/ello/ello-ios/blob/master/Sources/Networking/ElloAPI.swift#L455)

[2016-06-16 18:34] mrfarukturgut commented on #510
Thank you! I think there would be no problem, if I examine your library and get some inspirations :)

I am following Ello as much as I can by the way. You are doing great work! May the success be with you 👍

[2016-06-16 20:59] dropski opened #511 "Type 'X' does not conform to protocol TargetType"
There is an issue like in title above, here is my code
[code]

I'm using cocoapods and your latest commit
`pod 'Moya', :git => 'https://github.com/Moya/Moya.git', :commit => '122d2f8'`

[2016-06-16 21:13] dropski commented on #511
my bad, there should by NSData instead of NSObject, please close the issue. Sorry.

[2016-06-16 21:18] colinta commented on #511
@dropski I would humbly encourage you to close the issue, because I've seet lots of open-source projects where there are tons of issues still open, only because the maintainers can't tell if the person who opened the issue is "happy" with the results.  It's a good way to keep things tidy!

[2016-06-16 21:20] #511 closed

[2016-06-18 06:06] wishsoul commented on #188
jk's solution works for me! 👍 👍 👍

[2016-06-18 17:59] aaroncrespo opened #513 "Moya on Swift 2.3 & 3.0."
Took a crack at checking out swift 2.3 support this morning...
### The good news:
- Apple's migrator tool is great, after running on Moya, the demo target and tests (iOS,tvOS)  built and worked/passed
- The changes don't look too bad from Moya's end
- Foundation Value types and the new Swift API Guidelines don't come into play until Swift 3 which greatly limits changes.
- swift 2 and 2.3 can live

[2016-06-18 23:15] eridbardhaj commented on #448
@jasl Is this still working? I am asking because I cannot create a `MoyaProvider` instance without a specified target.

[2016-06-19 05:58] jasl commented on #448
@ealeksandrov
Sorry I'm not working on Moya now, but you may consider [StructTarget](https://github.com/Moya/Moya/blob/master/Source/Moya.swift#L27)

Besides, you may check my [fork](https://github.com/jasl/MoyaX/tree/0.0.8)

[2016-06-19 15:25] tomj commented on #412
I ran into this issue too after following the [Basic Setup](https://github.com/Moya/Moya/blob/master/docs/Examples/Basic.md) and not retaining the provider.  Happy to put in a PR to the docs to highlight how you need the retain (as I reckon I might not be the first 😉 ).

ps: great library!  Thanks @ashfurrow 😄

[2016-06-19 15:32] remirobert commented on #412
@tomj  because you need to keep a reference on it.

[2016-06-19 15:43] sunshinejr commented on #412
@tomj it would be _awesome_ if you could make a PR with how would you like to be informed about retaining the provider. 🙌

[2016-06-19 15:43] tomj commented on #412
@remirobert - you bet! 😄

I just wanted to point out that the Basic Setup docs don't 100% allude to the fact that you need to keep a reference to the provider, which I'm guessing is what's responsible for (at least some of) the responses to the issue above.

[2016-06-19 16:05] Gurpartap commented on #503
Perhaps, something like this could work:

[code]

[2016-06-19 16:56] orta commented on #503
You may want to consider generating the Moya source code from your API similar to this: https://github.com/lkuczborski/SwiftMoyaCodeGenerator - you can't really get the advantages of maya without their being defined types in code

[2016-06-19 18:44] ealeksandrov commented on #412
Thanks! Looks like we need to update `Basic Usage` with similar note: https://github.com/Moya/Moya/commit/000662a026faf04953163f615663db7b44be6afe

[2016-06-20 00:37] aehlke commented on #474
These solutions end up encoding the commas a `%2C` which isn't ideal.

[2016-06-20 13:24] brentleyjones commented on #513
With ReactiveX/RxSwift@9b1583f2e365ef78d250be278ca5838076b58095 RxSwift supports Swift 2.3. It doesn't have the correct build flag.

[2016-06-20 14:39] ashfurrow commented on #513
This is great work and a nice comprehensive write-up, thanks @aaroncrespo!

[2016-06-20 14:46] aaroncrespo commented on #513
Another thing to think about is if it makes sense to skip 2.3 and go straight to 3.0 or how to support 3 versions. The `#if swift()` tests don't work so well when swift 3.0 is in the mix.

[2016-06-22 14:47] lowell commented on #513
Sorry about the accidental closure. Misunderstood what 'Close' meant in a third-party GitHub client. Was just trying to close the issue view. 😳

[2016-06-22 14:54] ashfurrow commented on #513
No problem, it happens!

[2016-06-22 18:44] brentleyjones commented on #513
I highly recommend a Swift 2.3 build, even as a version bump, before going to Swift 3. Alamofire had breaking changes so without this people won't be able to use pre-Swift 3 on Xcode 8. I know I'll be using Xcode 8 and Swift 2.3 for a while after the release.

[2016-06-23 11:01] khoitruongminh commented on #495
Hi @iSame7, can you share the code for better explaining?

[2016-06-23 13:19] Ravichandrane opened #515 "How to get response headers"
Hi,

I'm wondering how can I get the response headers ? e.g access_token or content-type

Thanks,
Ravi.

[2016-06-23 13:24] #515 closed

[2016-06-23 13:56] gregpardo commented on #495
I create a protocol for my network calls wraps my methods of my target. Then I inject them into my view models using [Swinject](https://github.com/Swinject/Swinject). This way my objects have no idea what they are interfacing with just that it conforms to a service or network type. Sounds similar to what you are doing.

[2016-06-28 07:45] DeepMissea opened #516 "OSSpinLockLock"
Maybe ‘OSSpinLockLock’ is unsafe.

http://mjtsai.com/blog/2015/12/16/osspinlock-is-unsafe/
https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20151214/000372.html

[2016-06-28 09:30] matteogazzato opened #517 "Endpoint also with image as parameter"
Hi there,
i hope this won't be a another repeated question, in case please tell where i should read about this.
So this is my situation:
[code]
I'm using Moya + Realm + ObjectMapper and everything works great but now, as you can understand from code, i need to eventually pass also an image in parameters .
Actually i correctly do this `.PUT` request if i pass `nil` as profilePicture. ObjectMapper s

[2016-06-28 13:54] justinmakaila commented on #517
@matteogazzato It's going to depend on your backend. Some can just take raw image blobs, some need it encoded a certain way, blah blah blah.

If you just want to put the raw data in the dictionary, you can do so using `UIImageJPEGRepresentation(_:)` or `UIImagePNGRepresentation(_:)`, as per [the docs](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIKitFunctionReference/inde

[2016-06-28 14:18] justinmakaila commented on #510
I'm going to close this issue. @mrfarukturgut, feel free to open it again if you still have questions!

[2016-06-28 14:18] #510 closed

[2016-06-29 15:43] ashfurrow commented on #516
Yikes, I hadn't heard that. Can't remember why we used spin locks, we can probably move to `NSLock` without too much fuss. Anyone up for a pull request?

[2016-06-29 20:08] lucasp90 opened #518 "Bool value in post and put parameter is always 0"
Hi,

I'm trying to send a request with a boolean value, so I configured my Target like this:

[code]

My parameters:

[code]

Problem:
My request is always sending false as the value.

[2016-06-30 02:04] DeepMissea commented on #516
'dispatch_semaphore' is a better one, I'll pull a request later.

[2016-06-30 04:20] jasl commented on #518
What about

[code]

[2016-06-30 14:35] ashfurrow commented on #498
Gonna try to look at this today.

[2016-06-30 14:36] ashfurrow commented on #518
You should be able to just have `"somethingBool": data4` as an element in the returned dictionary, right?

[2016-06-30 15:01] lucasp90 commented on #518
@ashfurrow: Sorry, I forgot to mention it. That was my first attempt, and it also sends false there.
I've tried to make the request via postman and it succeeded with the proper value. Maybe the specification of the request helps to detect if it's a server error or Moya's configuration one.

[2016-06-30 15:49] ashfurrow commented on #518
Thanks for the follow-up. How are you detecting the value, on the server side or client side? Could you try using the [network activity plugin](https://github.com/Moya/Moya/blob/master/docs/Plugins.md#network-activity-indicator) to log the request before it's sent?

[2016-06-30 16:18] #516 closed

[2016-06-30 19:04] lucasp90 commented on #518
@ashfurrow I'm detecting it on the client side. The parameter is being sent as 0 or 1 but I guess I'm missing to track the __real__ request body being sent to the server. I'll try to use that plugin and see what happens

[2016-06-30 20:53] lucasp90 commented on #518
@jasl I've tried to do what you've said and got the same result.

I've finally managed to save the value by sending the value as a string: `"true"` or `"false"`, but I'm not really sure what's causing the boolean to fail.

[code]

[2016-06-30 21:34] jasl commented on #518
@lucasp90
Sorry my last answer is wrong.

Both URI query and form are only support string, other types should be encoded to string (Moya can help you do some, but not all, [details here](https://github.com/Alamofire/Alamofire/blob/master/Source/ParameterEncoding.swift#L93-L102)) .
There are three common practices for passing boolean value to server side:

- `"1"` for `true`, `"0"` for `false`
- `"

[2016-06-30 21:35] ashfurrow commented on #518
@lucasp90 That's certainly puzzling! Especially since Moya gets Alamofire to do the parameter encoding, and I would have thought they would support Bool.

[2016-06-30 21:38] ashfurrow commented on #518
@jasl Good thinking linking to that. It seems to [fallback to String interpretation](https://github.com/Alamofire/Alamofire/blob/master/Source/ParameterEncoding.swift#L198) of plain objects, so `Bool` should work, right?

[2016-06-30 21:42] jasl commented on #518
@ashfurrow
I think better not do this, because there haven't a standard practice for passing boolean value yet, different web framework may have different convention.

[2016-06-30 21:55] ashfurrow commented on #518
I dunno, I think that if Alamofire is parsing `Bool` as "true" or "false" it must be a good approach. These [Wordpress docs](https://codex.wordpress.org/How_to_Pass_Tag_Parameters#Bool) explicitly say that either is acceptable for them.

[2016-06-30 23:50] #498 closed

[2016-07-01 14:02] tdouglas1313 opened #522 "Moya on swift 3.0"
After seeing Moya and that it has support for RxSwift I was really hoping to add it to a project that I was just about to get started on. However without support for swift 3.0 I would be unable to use Moya without updating it myself. I was wondering what the plans for swift 3.0 are and if there will be an update in the near future.

[2016-07-01 15:26] sunshinejr commented on #522
Hey @tdouglas1313. There is a conversation in #513 about Swift 2.3 and 3.0 support. However, there is no PR with updates for any of versions _yet_.

[2016-07-01 15:59] tdouglas1313 commented on #522
Thank you for referring me to that. It may be beneficial to add /3.0 to the end of the title because there is discussion about more than just 2.3.

[2016-07-01 16:23] jasl commented on #518
@ashfurrow
Ruby on Rails (one of the most famous web framework) both using `1`/`0` and `t`/`f`

[2016-07-01 18:21] sunshinejr commented on #513
I've changed the title due to #522 discussion.

[2016-07-01 18:23] sunshinejr commented on #522
Good suggestion! I've changed the title, thanks! I think in this case I can close this one in favor of #513.

[2016-07-01 18:24] #522 closed

[2016-07-02 02:57] orta commented on #513
Aye, think it's worth shipping a 2.3 dupe of current Moya, one the Rx deps have them, then moving to 3.0

[2016-07-02 15:33] ashfurrow commented on #513
That makes sense – should we make 2.3 version off of `master` or the most recent commit? (master has breaking changes.)

[2016-07-02 15:35] orta commented on #513
Maybe the last stable release?

[2016-07-02 17:48] nikita-leonov commented on #144
@ashfurrow good news, an issue that prevents of removing this huge initializers was recently fixed in master — https://bugs.swift.org/browse/SR-416 so this issue prob not bearably will be fixed in Swift 3.
ps I still suggest to reopen it, as it ongoing and reproducible in current maya with Swift 2.2.

[2016-07-05 13:57] kevin5396 commented on #469
Same here :(

[2016-07-05 14:20] kevin5396 commented on #494
Same problem with my App.
Turns out that if the response is empty, .mapJson() will cause this error.

[2016-07-05 14:22] kevin5396 commented on #469
@bitomule Did you use ~.mapJson()~ or something like that?
After I removed it and manually convert it to json in the handler(process error response), it worked.

[2016-07-05 14:23] bitomule commented on #469
@kevin5396 I'm finally using another method for those api calls

[2016-07-05 14:46] ashfurrow commented on #469
@bitomule what method did you end up using?

[2016-07-05 14:53] ashfurrow commented on #494
@kevin5396 Interesting! Makes sense, since `NSJSONSerialization` would fail with empty data. I'm not sure what the best way to solve this is, maybe extend `mapJSON` to include a parameter for allowing empty data?

[2016-07-05 14:56] bitomule commented on #469
Those methods also do image and files uploading so I just ended using pure alamofire

[2016-07-05 15:17] AsimNet opened #524 "why sample data function is required ?"
Hello,

why sample data function is required ? and not optional ?

thanks.

[2016-07-05 15:56] orta commented on #524
To encourage better testing strategies 👍

[2016-07-05 21:18] justinmakaila commented on #524
@AsimNet Worst case:
[code]

...But as @orta said, mostly for testing. You don't realize how great it is until you start writing your tests.

[2016-07-06 01:56] kevin5396 commented on #494
@ashfurrow Maybe a silence option to prevent the error from throwing out but rather just return a `nil` ?

[2016-07-06 15:54] AndrewSB opened #525 "master doesn't build currently"
The file `NetworkCurlLoggerPlugin.swift` doesn't exist. Tried looking back in the logs & blame, couldn't find much about the file. May be related to #505?

[2016-07-06 16:28] ashfurrow commented on #525
It's possible; how are you building the project that's not working? Any details around Xcode version etc would be awesome too.

[2016-07-06 16:38] AndrewSB commented on #525
of course, sorry about the lack of details @ashfurrow.

I'm on Xcode Version 7.3.1 (7D1014). I've tried building by:
1. Cloning the repo, opening in Xcode and building
2. Doing a `carthage update --no-use-binaries --platform ios` with `github "Moya/Moya" "master"` in my Cartfile

[2016-07-06 17:18] orta commented on #525
I wonder if the Xcodeproj needs updating?

[2016-07-06 17:20] ashfurrow commented on #525
No problem, thanks! First, if this is blocking your project, you should be able to use our most recent release. But as far as fixing master, hmm. The `Moya-iOS` Xcode project was added by @JRHeaton for Carthage compatibility. I can't remember the mechanism for updating it – it doesn't look like it's from the release task, but I'm not sure if it's generated by CocoaPods either.

[2016-07-06 17:24] ashfurrow commented on #525
Looking at #505 it does look like `NetworkCurlLoggerPlugin.swift` was added to the project file, but not to the repo, probably by accident. Removing those lines [added to the project](https://github.com/Moya/Moya/pull/505/files#diff-a24d686152f5e86f361b118f3c399d22) should fix it. @AndrewSB are you able to test + send a pull request?

[2016-07-06 18:01] AndrewSB commented on #525
@orta that sounds right

@ashfurrow I downgraded to the latest release (6.5.0), so its not blocking 😄 thank you for the suggestion
I'll work on that PR and have it up in a couple minutes!

[2016-07-06 20:00] #525 closed

[2016-07-07 02:57] nikita-leonov opened #528 "How to make a request with duplicated parameter keys?"
Moya target expected all request parameters to have unique keys. This requirement is not clearly specified HTTP requirement and pretty often disregarded by various frameworks and APIs developers. So sometimes we do need to send request like following http://someserver.com/api/?filter=a&filter=b while Moya due to current interface limitations is not able to do so. Is there any quick way to workarou

[2016-07-07 04:37] nikita-leonov commented on #528
It seems I can workaround it with Plugin with willSend implementation. It would be hard to actually fix it in Moya, as Alamofire underlaying implementation does expect Dictionary too.

[2016-07-07 05:27] nikita-leonov commented on #528
Ok, apparently Plugins are not able to modify requests due to following issue https://github.com/Moya/Moya/issues/326 Need to find another workaround.

[2016-07-07 05:38] nikita-leonov commented on #528
Augmenting of request by overriding `urlRequest` property for endpoint is also impossible, since it is defined in extension :(

[2016-07-07 05:41] nikita-leonov commented on #528
It seem that the best option possible now is defying of requestClosure and intercept NSURLRequest there.

[2016-07-07 06:50] nikita-leonov commented on #528
Since there is no way to find out Endpoint Target value within RequestClosure, I was forced to match response URLs and define override behavior based on a URL patterns. Looks like a complete hack :(

[2016-07-07 14:40] ashfurrow commented on #528
A request with duplicated parameter keys? I've never seen a server require those before, since query string parameters are usually referenced as a dictionary, and can't handle duplicate keys. I have seen arrays specified as `?filter[]=a&filter[]=b`, is that what you're looking for?

It's possible to get around this by doing your own custom parameter encoding (since we rely on Alamofire's, which ha

[2016-07-07 17:27] ashfurrow commented on #494
Makes sense! We should provide a default option, and this'll need to be added to both the RxSwift and ReactiveCocoa extensions too. Anyone available to submit a pull request?

[2016-07-07 23:55] nikita-leonov commented on #528
Yes, arrays specified as you described actually are duplicated parameter keys. This is what I was trying to solve. Custom endpoint mapping with a custom encode parameters for the scenario where duplicated parameter keys required helped. Thanks for a guidance.

Meanwhile the amount of code required to handle the case that is correct use case for APIs is a little bit disappointing. Should I keep thi

[2016-07-08 14:06] matteogazzato commented on #517
@justinmakaila At the moment  and for the server implementation i decided to use this approach
[code]
And it works well :)

[2016-07-08 15:00] ashfurrow commented on #528
I'm glad – I think if you just pass the array as a a parameter, it should "just work." Alamodome detects arrays and uses that query string format.

[2016-07-08 17:28] AndrewSB commented on #524
Are there any good examples of how people have setup testing for their apps?

[2016-07-08 17:59] colinta commented on #524
The Ello iOS app makes very heavy use of `sampleData` <https://github.com/ello/ello-ios>

[2016-07-08 18:22] ashfurrow opened #531 "Surprising behaviour of cancelling requests"
Reported in https://github.com/Moya/Moya/pull/530#issuecomment-231418477 , we should consistently calling the failure block when cancel.

[2016-07-08 21:01] ashfurrow commented on #114
Fixed in #483.

[2016-07-08 21:01] #114 closed

[2016-07-09 00:29] AndrewSB commented on #524
Woah - thank you for open sourcing @colinta 🎉

[2016-07-09 01:01] colinta commented on #524
Well it's way more than just me!  The entire Ello team - from devs to marketing to leadership - were all very much a part of the decision to open source and the process that got us there.

So on behalf of everyone at Ello: happy to help!

[2016-07-11 01:51] colinta commented on #531
Since #531 is taking care of this, we can close this one.

[2016-07-11 01:51] #531 closed

[2016-07-11 14:50] solidfox opened #533 "How do I make Moya respond with a fixed status code for testing?"
I have written a lot of error handling code for really improbable response status codes from the server. Now I want to test it. Do I send a message to the server guy and ask him to break the server or can I make my testing provider return status codes other than 200?

[2016-07-11 15:03] colinta commented on #533
This sounds like a great use case for `sampleResponseClosure`!  I'm going to pull an example from the Ello app (https://github.com/ello/ello-ios - `ElloProvider_Specs.swift`)

You just need to configure a Provider instance to return errors - this is a little different from stubbing:

[code]

[2016-07-11 15:04] colinta commented on #533
Ok so that's the first half - the second half is to configure a Provider to *use* this "endpoint generator"

[code]

[2016-07-11 15:07] colinta commented on #533
In the Ello specs, we use this by assigning globals in our setup code, and assigning this provider as the "default provider"

[code]

[2016-07-11 15:19] colinta commented on #528
OK to close?

[2016-07-11 15:19] #528 closed

[2016-07-11 15:20] colinta commented on #524
OK to close?

[2016-07-11 15:20] #524 closed

[2016-07-11 15:48] nikita-leonov commented on #528
Yes, it was fine to close. Sorry next time I will close myself.

[2016-07-12 14:24] justinmakaila opened #534 "Without the "Carthage/Checkouts" directory, the `.gitmodules` file causes issues when installing with Carthage"
While trying to install the latest on master, I kept getting an error saying the following:
[code]
This error only occurred if I tried to update `Moya` (I had it pointing to my `multipart-upload` branch). I noticed that the change coming from my branch to master was the removal of the `Carthage/Checkouts` file in `47a226adb44a0983976b26892435159490147bdb`.

My fix was to run `carthage update`, can

[2016-07-12 14:51] justinmakaila commented on #534
Removed `.gitmodules` file on my fork and currently testing. Will file PR and leave merging to you guys

[2016-07-12 19:00] AvdLee opened #535 "New release 🚀"
I think it's time to craft a new release, especially for those who are using CocoaPods to reference Moya.

It will be a release with breaking changes and some great improvements, probably a 7.0.0 release?

[2016-07-12 20:06] ashfurrow commented on #535
I think this is a good idea, I don't see any other issues tagged "breaking changes", but we need to cleanup those issue tags anyway 😁

I'll give some time for other @Moya/contributors to chime in, and if no one objects, we'll release Moya 7.0.0 🎉

[2016-07-12 23:19] ashfurrow commented on #534
This is good to close by #536?

[2016-07-12 23:20] #534 closed

[2016-07-13 00:25] ashfurrow opened #538 "Clean up issues' tags"
Most of first page of results in the [Issues](https://github.com/Moya/Moya/issues) page don't have any labels. Those issues should be labeled appropriately. I'll get to it eventually but if another Moya contributors is keen, I welcome any help with it.

We currently have the following [GitHub labels](https://github.com/Moya/Moya/labels):

<img width="352" alt="screen shot 2016-07-12 at 8 22 25 pm"

[2016-07-13 00:26] ashfurrow opened #539 "Clean up Milestones"
Similar to #538, we have two milestones:

<img width="1014" alt="screen shot 2016-07-12 at 8 23 05 pm" src="https://cloud.githubusercontent.com/assets/498212/16787979/d4cada46-486e-11e6-8032-d7fda4e955da.png">

We haven't really been using this, or at least I haven't. If they are used, and especially if they're useful, let's document them somewhere and make sure they're used.

[2016-07-13 01:30] sunshinejr commented on #539
@ashfurrow About **Documentation** milestone, it is used for ongoing documentation update that is mostly done. I think it is fine to keep it till we polish everything. I don't know, however, about the **Long Term** one. We might check them out because the update dates of these issues are relatively old.

About documenting it, would it be okay to add a paragraph in [Readme#Contributing](https://git

[2016-07-13 02:33] ashfurrow commented on #539
Do you see the documentation work you've been doing as an ongoing project, or something that will be completed one day? It might make sense as an issue label, up to you. The readme idea sounds great!

[2016-07-13 03:43] sunshinejr commented on #539
I was rather thinking about finishing the current issues we had with docs, reach the milestone, close it and go from there (with issue labels for instance, like you said). What do you think about it?

[2016-07-13 04:04] ashfurrow commented on #539
If we're going to switch to issue labels anyway, I'm in favour of switching now.

[2016-07-13 08:00] mbuchetics opened #540 "Carthage issue due to RxSwift"
RxSwift is causing the current Moya version not to build using Carthage:

Once we delete the scheme  RxExample-iOS-no-module, everything works fine.
We aren't using RxSwift at all but it keeps causing problems.

Related RxSwift issue: https://github.com/ReactiveX/RxSwift/issues/793

[2016-07-13 08:46] fruitcoder opened #541 "How to create a stubbing provider that returns stubs based on internal state"
So I have a view model that fetches articles from the internet and returns the changes in an array of (index, ChangeType) tuples. I basically want to test if a JSON response with 5 articles will emit an array of 5 inserts and then the next request should return a partially modified JSON that should make the viewModel emit one insertion and one update.

To test this I thought I could just make a cu

[2016-07-13 09:24] alexdoloz opened #542 "Track progress of request"
Hello everyone! I read the docs but couldn't find a way to track progress of current request – for example, to show progress bar. Is it possible in Moya?

[2016-07-13 11:42] sunshinejr commented on #539
Sure! Makes sense. How about the **Long Term** milestone? I'm just wondering if we need to actually document it if we resign from **Documentation**.

[2016-07-13 14:03] ashfurrow commented on #539
Yeah, I'm thinking we should just close both and not use milestones. We can always start using them in the future if circumstances change.

[2016-07-13 14:08] ashfurrow commented on #542
Moya only supports progress notifications while uploading a file, not for regular requests (thought Alamofire _does_ support this, so it shouldn't be too difficult to add this to Moya. I'm a little surprised that Moya doesn't already support this, to be honest, it's something we should consider adding. Could you tell us more about how you'd expect this to work?

[2016-07-13 14:10] ashfurrow commented on #540
What's the `carthage` command you're running that's producing the error?

[2016-07-13 14:12] mbuchetics commented on #540
`carthage update --platform iOS`

[2016-07-13 14:27] ashfurrow commented on #541
This is a great question I looked through my own code, because this is something I've had to test to. The [code](https://github.com/artsy/eidolon/blob/fdd5981005b1c631d284f89f9a2d7bb808437e0d/KioskTests/ListingsViewModelTests.swift#L163) I found is a little old and doesn't apply directly to this question.

So the way I would approach this fresh is that you don't necessarily need the state to be in

[2016-07-13 14:49] ashfurrow commented on #540
We've seen [other issues](https://github.com/Moya/Moya/issues/445) with Carthage that were solved by running `carthage update --platform iOS --no-use-binaries` instead. Can you try that and see if it works? If that's the fix, we should add it to our readme.

[2016-07-13 14:51] colinta commented on #542
It shouldn't be a ton of work (and should even be backwards compatible) to add support for `Moya.ProgressBlock` to the internal `requestNormal` method. Actually, now that I'm looking at it, `sendUpload` and `sendRequest` have a lot of duplicated code...

[2016-07-13 14:53] ashfurrow commented on #542
@colinta aye, could be worth factoring a bit out. If we can be backwards compatible, that's great, but we're about to have a major release with other breaking changes, so we could roll this feature into that release.

[2016-07-13 14:54] ashfurrow commented on #535
We _might_ have a non-backwards-compatible feature request worth squeezing in: https://github.com/Moya/Moya/issues/542 I believe @colinta is taking a look, I can help too.

[2016-07-13 14:59] colinta commented on #535
Working on it right now, looks straightforward.  Thanks for stalling!

[2016-07-13 15:17] alexdoloz commented on #542
Thanks for answer @ashfurrow. I don't know how to implement this in Moya but I would suggest this interface for end user:
`public func request(target: Target, progressClosure: ((progress: NSProgress) -> Void)? = nil, completion: Moya.Completion) -> Cancellable`. Probably this interface won't break current code (not sure how it will work with trailing closure syntax though).

[2016-07-13 15:21] ashfurrow commented on #542
@alexdoloz yup, that makes sense! The trailing closure syntax is preserved that code.

[2016-07-13 16:05] fruitcoder commented on #541
Thanks @ashfurrow for the great reply, I just took a look at your example (I've already taken a look at the whole project for reference). So you take a look at the page - a parameter depending on the target - which is a perfect fit here.

I already implemented my test before I read your answer. I use a global variable that is changed after the first request was made and the test works fine. Person

[2016-07-13 17:19] ashfurrow commented on #542
@alexdoloz now that #543 is merged, this should work if you use the latest version of Moya, on the master branch. If you're using CocoaPods, you can change the Podfile to include `pod 'Moya', git: 'https://github.com/Moya/Moya.git'` and do a `pod update` and it should work. Let us know!

[2016-07-13 17:20] colinta commented on #542
I might have ONE more PR...

[2016-07-13 17:20] ashfurrow commented on #542
Ah, okay! No rush.

[2016-07-13 17:22] colinta commented on #542
#544 whitespace changes only 😃

[2016-07-13 17:32] ashfurrow commented on #541
Sounds like you might be talking about this issue: https://github.com/Moya/Moya/issues/56 That's actually our _oldest_ open issue, something we've wanted for a while 😄

So I think testing examples/demos should include things like the following:

- How to create a provider that always stubs (a "Hello, World" for testing with Moya).
- How to verify that a specific request was actually performed.
- H

[2016-07-13 22:34] sunshinejr commented on #539
Right! On it :)

[2016-07-13 22:35] #539 closed

[2016-07-13 22:36] sunshinejr commented on #538
@ashfurrow because we've closed milestones(#539), do you think we should add **Documentation** issue tag, or just try to use appropriate one from the existing tags?

[2016-07-13 22:45] ashfurrow commented on #538
I've created the documentation label, milestones look good, thanks!

[2016-07-13 22:47] ashfurrow commented on #535
Cool, I think we're good?

[2016-07-13 22:54] colinta commented on #535
I'm done I swear! 😃

[2016-07-13 22:55] sunshinejr commented on #397
This one was implemented in #514, closing.

[2016-07-13 22:55] #397 closed

[2016-07-13 23:11] fruitcoder commented on #541
That's EXACTLY the issue I was talking about!

The list looks like a very good start and linking to an actual implementation sounds great as well 👍
Having just reread the list, I really cannot think of anything else right now. It would cover all my testing scenarios.

Another thing that doesn't relate to testing specifically is how to handle pagination. I don't know if there should be a snippet fo

[2016-07-13 23:20] ashfurrow commented on #535
Okay! That's tagged and pushed to CocoaPods, Carthage folk have their GitHub release, too: https://github.com/Moya/Moya/releases/tag/7.0.0

Thanks for the help all our contributors have put in to getting us to Moya's _seventh_ major release in two years!

[2016-07-13 23:20] #535 closed

[2016-07-13 23:27] ikesyo commented on #540
See https://github.com/ReactiveX/RxSwift/issues/793#issuecomment-232515707.

[2016-07-13 23:30] ikesyo commented on #540
#445 is a Swift's binary compatibilty issue, so that is not related to this.

[2016-07-14 01:24] ashfurrow commented on #541
Cool 👍 New issue sounds like a good idea, link back to this one, maybe copy over the list too. I think the new docs around testing should go in a new markdown file called Testing.md, if you're keen to to help out a pull request would be welcome!

[2016-07-14 01:26] ashfurrow commented on #540
I'm not sure then, I don't use Carthage so I'm not the best to help out with troubleshooting.

[2016-07-14 01:54] raven opened #545 "Question: Encoding parameters for http://jsonapi.org structure"
Just wondering if anyone had any tips or ideas about the way to setup parameters for http://jsonapi.org structure.

For example the json structure for our Login is:
[code]

And the structure for refreshing a token is:
[code]

My question is around defining a way to shuffle values into the `data.attributes`, vs `data.id` etc.
The obviously terrible, poor man's way to do it:
[code]

Would this be th

[2016-07-14 03:09] colinta commented on #535
👏

[2016-07-14 07:33] mbuchetics commented on #540
Seems to be working fine with Moya 7.0 and RxSwift 2.6. Looks like the problem was with RxSwift 2.5.0 and is fixed. Thanks for your help!

[2016-07-14 07:33] #540 closed

[2016-07-14 15:38] AndrewSB opened #546 "Nothing about multipart file uploads in 7.0.0 release notes?"
Didn't see anything about #483 in 7.0.0's [notes](https://github.com/Moya/Moya/releases/tag/7.0.0), was that on purpose?

[2016-07-14 16:04] ashfurrow commented on #546
Hmm, looks like an oversight. Want to send a pull request with the added entry?

[2016-07-14 16:32] orta commented on #546
It might be worth adding Danger's CHANGELOG as a fail back, even in this case it was missed, but the fail was legit:

<img width="788" alt="screen shot 2016-07-14 at 12 31 38" src="https://cloud.githubusercontent.com/assets/49038/16847420/0029f360-49bf-11e6-8d77-00d9f238e5ba.png">

[2016-07-14 16:38] ashfurrow commented on #546
I think we would have noticed the danger message if it had run, but something went wrong on that build:

<img width="659" alt="screen shot 2016-07-14 at 12 36 13 pm" src="https://cloud.githubusercontent.com/assets/498212/16847560/a5d62ee6-49bf-11e6-9814-47a41b74ff62.png">

Which is on me, I should have re-run the build or fixed Danger. I think that pull request had just taken so long to get tot ha

[2016-07-14 16:39] orta commented on #546
I took that image from the PR: https://github.com/Moya/Moya/pull/483#issuecomment-230908591 - it must have got fixed on a rebase or something

[2016-07-14 16:44] ashfurrow commented on #546
Yeah, what I mean is that if Danger had had a chance to run and fail due to a missing changelog, the human merging (me) should have asked for one. But because I ignored the Danger failure (because it wasn't working), I also ignored the previous comment Danger had made about this missing changelog. I guess I assumed it had been added at some point.

I agree we should probably re-think how we treat

[2016-07-14 16:47] orta commented on #546
Ah, yeah, on Danger we [check for any](https://github.com/danger/danger/blob/master/Dangerfile#L4-L5) lib files:

[code]

You could do the same for `Source` and `Demo/Tests`:

[code]

_* disclaimer, I'm not great with regexes_

[2016-07-14 16:55] ashfurrow commented on #546
Sounds good. I'll send a PR, thanks for bringing this up again Orta.

[2016-07-14 21:14] bryanbartow opened #549 "Xcode error with new requestClosure in 7.0"
My request closure looks like this:
[code]
I'm getting the following error in Xcode now:
[code]
Is there any secret to getting this to work?

[2016-07-14 21:50] ashfurrow commented on #549
When you get this error, the next step is usually to specify the return type explicitly. Looking at the Moya source code, you can change your line to the following:

[code]

Let us know how it goes!

[2016-07-14 21:53] ashfurrow commented on #545
What you've got is actually how things are done, except broken into several lines. [Here's an example](https://github.com/artsy/eidolon/blob/70b59b1cfd0c68730b6a2860fabeb8cbaca2acca/Kiosk/App/Networking/ArtsyAPI.swift#L112) of using it.

[2016-07-15 01:54] bryanbartow commented on #549
Now gives me this error:
[code]

My endpoint looks like this:
[code]

[2016-07-15 02:03] bryanbartow commented on #549
I should clarify a bit: Error is on the next line:
[code]

[2016-07-15 14:01] #546 closed

[2016-07-15 15:33] solidfox commented on #533
Sorry about the late response to an incredibly quick response! This does indeed look like it's the way to do it. Just the answer I was looking for, many thanks!

[2016-07-15 15:42] colinta commented on #533
👍 Close it up!

[2016-07-15 15:43] #533 closed

[2016-07-15 16:42] AndrewSB commented on #546
thanks for taking care of this @ashfurrow 😄

[2016-07-15 18:32] AndrewSB opened #551 "RxMoya.TargetType vs Moya.TargetType"
I'm refactoring my networking code, and I've found a compiler error that I had previously (badly) worked around.

I have an `OnlineProvider` similar to the one in Artsy's iOS app. It's class definition looks like:
`class OnlineProvider<Target where Target: RxMoya.TargetType>: RxMoyaProvider<Target>`

The part I don't like here, is the `Target where Target: RxMoya.TargetType` because it makes me de

[2016-07-15 18:46] ashfurrow commented on #551
Yeah, seems likely. We've run into problems in the past on our Demo app (`import`ing more than one version of Moya). You're using Carthage, eh?

[2016-07-15 19:06] AndrewSB commented on #551
unfortunately

assuming that if you're using cocoapods, there is no `RxMoya.TargetType` since cocoapods doesn't actually build modules?

[2016-07-15 19:12] ashfurrow commented on #551
Well, CocoaPods will include all the specified subspecs in one module, named `Moya`. So if you have `pod 'Moya/RxSwift`, that will pull all the RxSwift Moya files _and_ the regular Moya files into one module. Carthage doesn't have an equivalent of subspecs (they're stance is that you should use multiple frameworks instead – which we considered but decided against).

_Maybe_ you could do something

[2016-07-16 00:08] ashfurrow commented on #517
Glad you got it working – are we okay to close this @matteogazzato?

[2016-07-16 00:09] #485 closed

[2016-07-16 00:09] ashfurrow commented on #471
@samirGuerdah Hey there! Did you get this working?

[2016-07-16 00:10] ashfurrow commented on #458
This was [fixed in 6.5.0](https://github.com/Moya/Moya/blob/master/Changelog.md#650), feel free to re-open if we can be of further help.

[2016-07-16 00:10] #458 closed

[2016-07-16 00:10] ashfurrow commented on #469
Okay to close this issue?

[2016-07-16 00:18] ashfurrow commented on #374
Sorry for the late reply, where are you seeing these errors? Is it in the Demo app? The warnings seem to say that `XCTest` (the unit testing framework) is being linked against for an app target, which I suppose could be caused by our Demo app (I can't remember how Carthage is configured). I've looked through our app right now to see if we're linking against XCTest and I don't see it. Is this bug s

[2016-07-16 00:21] #413 closed

[2016-07-16 00:22] ashfurrow commented on #383
If this is wrapped up, I'm going to close it. Feel free to re-open if we can help further.

[2016-07-16 00:22] #383 closed

[2016-07-16 00:22] ashfurrow commented on #355
This should be fixed, especially with CocoaPods 1.0 out.

[2016-07-16 00:22] #355 closed

[2016-07-16 00:26] ashfurrow commented on #308
We're still pretty consistently getting CI failures, which sucks. I heard a rumour Circle might have a feature soon to restart builds failed with the infamous "Error 65", we'll see.

In any case, we now have Danger on the repo's pull requests, and sometimes we do need to override. I really liked the discussion here, but I think we've settled into a groove with the somewhat protected branches. Than

[2016-07-16 00:26] #308 closed

[2016-07-16 00:30] ashfurrow commented on #473
You can now get `curl` commands logged using the included [network activity plugin](https://github.com/Moya/Moya/blob/645398713e41a0f61a36c57e707d5135f2fa8477/Source/Plugins/NetworkLoggerPlugin.swift#L17).

[2016-07-16 00:31] ashfurrow commented on #334
Ok cool, this looks like it got sorted out. Going to close, feel free to re-open 👍

[2016-07-16 00:31] #334 closed

[2016-07-16 00:34] ashfurrow commented on #322
Progress reporting was implemented in #543 and released in 7.0.0. We also have asynchronous request closures, I think that covers most scenarios. Is this okay to close?

[2016-07-16 00:38] ashfurrow commented on #350
Looks like this is fixed in the current master: https://github.com/Moya/Moya/blob/d2897a91ee3b92214fd6e8d7636cec96a019f2dd/Source/Moya.swift#L306-L314 Going to close, thanks again for opening and the discussion!

[2016-07-16 00:38] #350 closed

[2016-07-16 00:45] ashfurrow opened #552 "Document how to use StructAPI"
Just taking code snippets from the Demo app & tests and adding a description of what's going on should be sufficient. I'd say it should go in a new markdown file included in the `/docs` directory.

[2016-07-16 00:46] ashfurrow commented on #348
This has been implemented with `StructAPI`, and I've opened issue #552 to document its use properly. I _think_ this addresses everything, please re-open if there's more to do.

[2016-07-16 00:46] #348 closed

[2016-07-16 00:48] ashfurrow commented on #326
Using `requestClosure`, is this issue is resolved?

[2016-07-16 00:50] ashfurrow commented on #358
I _think_ this is resolved, not 100% sure. @jasl sounded like you had an idea of what to do next here, is that right?

[2016-07-16 00:51] ashfurrow commented on #371
With @sunshinejr's comment, I think this is closed. Please re-open if not.

[2016-07-16 00:51] #371 closed

[2016-07-16 00:51] ashfurrow commented on #552
Oops, a dupe of #428.

[2016-07-16 00:51] #552 closed

[2016-07-16 00:52] ashfurrow commented on #378
Never got around to this, the Rakefile we have works okay.

[2016-07-16 00:52] #378 closed

[2016-07-16 00:52] ashfurrow commented on #422
Still not sure what's going on here, will try to take a look.

[2016-07-16 00:57] ashfurrow commented on #494
So it looks like a PR to fix this issue would modify [the `mapJSON` function](https://github.com/Moya/Moya/blob/645398713e41a0f61a36c57e707d5135f2fa8477/Source/Response.swift#L60-L66).

[code]

We would need to add a new parameter like `failsOnEmptyResponse: Bool = true`. If it's `false` and `data == nil`, we need to return some other value. An empty `NSArray` or `NSDictionary` might work, or mayb

[2016-07-16 01:00] ashfurrow commented on #542
I think this was closed by #543, re-open if not.

[2016-07-16 01:00] #542 closed

[2016-07-16 01:01] ashfurrow commented on #538
Okay, think I got this done. I also closed lots of old issues, asked about some I wasn't sure of.

@Moya/contributors We've still got plenty of GitHub issues, especially lots of [questions](https://github.com/Moya/Moya/issues?q=is%3Aissue+is%3Aopen+label%3Aquestion). No pressure at all – if you have some free time to help out, that'd be awesome! But don't worry about it. In any case, have a great

[2016-07-16 01:01] #538 closed

[2016-07-16 01:12] sunshinejr commented on #538
Good job @ashfurrow! 🎉  I will try to help with whatever I can. Have a great weekend as well!

[2016-07-16 13:38] nickolayl commented on #494
Ash, sorry what's the "PR"? Possible resolution?

[2016-07-16 13:44] sunshinejr commented on #494
@nickolayl Pull Request 😉

[2016-07-16 21:59] mrahmiao commented on #326
@ashfurrow Resolved.

[2016-07-16 21:59] #326 closed

[2016-07-18 14:33] jasl commented on #358
@ashfurrow
Let's close this

[2016-07-18 14:33] #358 closed

[2016-07-18 16:08] alexdoloz commented on #542
Hello again, guys! Thank you for all your hard work implementing this feature. However, i tried to integrate it into application and noticed it doesn't work as I expect. For some reason, `bytesExpected` is always -1, therefore progress is always 1.0.

Progress: ProgressResponse(totalBytes: 21654, bytesExpected: -1, response: nil)

Do you have any ideas about it?

[2016-07-18 16:34] ashfurrow commented on #542
Can you open another issue about the -1 bytes expected? Link back here for context 👍

I think the bytes expected comes from Alamofire, and ultimately the server. It may be that -1 is what ALamofire provides when there is no expected number of bytes available, which might could from the server. Not sure, though.

[2016-07-18 19:16] simonxcheng opened #555 "Why duplicate GitHub enum in /Demo/Tests/TestHelpers.swift"
Why GitHub enum is duplicated in /Demo/Tests/TestHelpers.swift? I commented out the duplicated code and tried to use **@testable import Demo** and got linking errors. Ideally we should directly test the target code. Is it possible to solve the issue?

[2016-07-18 19:45] ashfurrow commented on #555
The code is repeated because the app target is specific against iOS, but the three testing targets are specific to iOS, tvOS, and macOS. They all use the same files, but can't link against the app target because it's only iOS. Does that make sense?

[2016-07-18 20:19] simonxcheng commented on #555
Yes. Thanks.

[2016-07-18 20:56] ashfurrow commented on #555
It's a good question, thanks for opening an issue 👍

[2016-07-18 20:56] #555 closed

[2016-07-19 09:47] jcampbell05 opened #556 "Any possibility for network engine abstraction"
In our app we use Firebase, we would love to abstract this to the point where we can use alamofire or firebase without the caller knowing anything.

As it is we will have to either have an abstraction of an abstraction or have the code know it's calling Moya or non-moya code.

[2016-07-19 15:52] ashfurrow commented on #556
Hmm, this is an interesting question. There's no reason we can't/shouldn't do this, it's just never been a priority before, so it's definitely worth considering. I'm thinking we abstract the functions we call from Alamofire into protocols, and extend Alamofire types to conform to those protocols. Then we just need a way to specify a different set of types that also conform.

There's a bit of hassl

[2016-07-19 16:06] jasl commented on #556
[My fork](https://github.com/jasl/MoyaX) has done this.

[2016-07-19 21:35] ashfurrow commented on #556
I forgot about that, thanks!

[2016-07-20 14:39] jcampbell05 opened #558 "Unable to find module `Result`"
When using `Moya/RxSwift` Xcode complains it can't find the Result module for the file `CredentialManager`/

[2016-07-20 14:46] ashfurrow commented on #558
What's your setup like, CocoaPods or Carthage? What Xcode and Moya version are you using?

[2016-07-20 14:50] jcampbell05 commented on #558
CocoaPods 0.39.0
Xcode 7.3
Moya 7.0

[2016-07-20 14:53] ashfurrow commented on #558
Hmm, I haven't been installing Moya with CocoaPods 0.39 for a while. Can you post the relevant parts of your Podfile? I can take a look at it later tonight if someone hasn't chimed in by then.

[2016-07-22 21:57] AndrewSB commented on #551
@ashfurrow playing with this right now, will hopefully update soon with what I ended up doing

[2016-07-22 21:59] AndrewSB commented on #551
I think the underlying issue (speaking from the perspective of the compiled code that Carthage gives us) is that you can't pass a Moya.TargetType to an RxMoyaProvider.

[2016-07-22 22:10] petester42 commented on #551
I had started doing something like that [here](https://github.com/Moya/Moya/tree/petester42/dependent-carthage-frameworks) which works great in Xcode but I was getting Carthage errors.

[2016-07-22 22:17] AndrewSB commented on #551
@petester42 can you talk more about the Carthage errors? I feel as if this problem will be exasperated once people start using Moya through the swift package manager, so finding an answer before we're up against a wall would be 🔥

[2016-07-22 22:18] petester42 commented on #551
I don't really remember what they were but the build using Carthage would fail but building with Xcode worked fine.

[2016-07-23 00:06] dccarmo commented on #549
Having a related issue.

If I have this:

[code]

It gives me:

![screen shot 2016-07-22 at 17 01 46](https://cloud.githubusercontent.com/assets/638474/17074223/097e32e4-502e-11e6-813c-86f74a33c2d7.png)

But if I have this:

[code]

It gives me:

![screen shot 2016-07-22 at 17 04 31](https://cloud.githubusercontent.com/assets/638474/17074256/7724f288-502e-11e6-84ad-4f17a3d68fa5.png)

[2016-07-23 16:34] ashfurrow opened #559 "Stickers"
Moya's gotten pretty big, I reckon it's time we get some stickers 🎉 There are a few aspects to this issue:

- [x] Pick a sticker medium (probably through [stickermule](https://www.stickermule.com)). Thinking a single-colour [transfer sticker](https://www.stickermule.com/products/transfer-stickers) would be the coolest
- [x] Make a sticker design based on the chosen medium ☝️.
- [x] Figure out how

[2016-07-23 17:10] esttorhe commented on #559
I totally understand going with single-colour but oh boy; i'm going to miss the colors 😉

[2016-07-23 18:12] ashfurrow commented on #559
Yeah, I'm leaning more and more towards the colours too 😄

[2016-07-23 19:23] orta commented on #559
IMO, think the colours too - can work with https://www.stickermule.com/products/clear-stickers
Moya logo has too thin lines to pull off the ones CP/Artsy use

[2016-07-23 23:04] AndrewSB commented on #551
hey @petester42, saw that you merged `master` into your branch. Did you mean to rebase? It's still saying that your branch is ~120 commits behind master

I'll try to take a look at this right now

[2016-07-23 23:08] petester42 commented on #551
Its fine. I'm just playing around. Don't worry about it

[2016-07-24 03:08] ashfurrow opened #562 "CodeCov is not working correctly"
I noticed this when our CI tries to upload unit test code coverage reports:

[code]

([Example build](https://circleci.com/gh/Moya/Moya/343).)

It happens for quite a few files, which may explain why as of a few weeks ago, our coverage dropped for %90 to %60.

I have no experience with the tool, this might be an easy fix. If anyone nom @Moya/contributors who has experience could take a look, I wou

[2016-07-24 03:45] ashfurrow commented on #559
Agreed, I think either the clear ones or maybe the [square ones](https://www.stickermule.com/products/square-stickers) could work. I think the square ones would go well if we used the GitHub avatar rather than the entire logo:

![](https://raw.githubusercontent.com/Moya/Moya/master/web/logo_square.png)

I'm not sure which one, either that or the actual logo would be more recognizable:

![](https:/

[2016-07-24 03:49] orta commented on #559
Agree re:square

Re: full logo might want type e.g.

![screen shot 2016-07-23 at 11 48 54 pm](https://cloud.githubusercontent.com/assets/49038/17081683/0ab56b34-5130-11e6-8215-b5aefe19bd75.png)

specifically done bad on purpose to not think of design

[2016-07-24 03:56] ashfurrow commented on #559
It's like "lorem ipsum" but for visual design 😆

Cool. Okay, maybe a straw poll? Vote by reacting to this comment on if you think a square logo or a full logo would be more recognizable in sticker format.

| Square Logo | Full Logo |
|--------------|----------|
| 🎉                  | ❤️           |

[2016-07-24 04:00] #270 closed

[2016-07-24 21:38] AndrewSB commented on #551
Discovery:
When I try to manually run what carthage uses to build the RxMoya iOS scheme (which is `xcrun xcodebuild -project /Users/asb/Desktop/Bruh/Carthage/Checkouts/Moya/Moya.xcodeproj -scheme "RxMoya iOS" -configuration Release -sdk iphoneos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATION_MODE=bitcode CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY=  CARTHAGE=YES clean build`) here's the output I get:

[co

[2016-07-24 21:52] ashfurrow commented on #551
That's odd. Hmm. @Moya/contributors Anyone else seeing build errors with Carthage?

[2016-07-24 22:00] AndrewSB commented on #551
Stranger still: If I do a clean clone of Moya/Moya `master`, and I try the same `xcrun` with the `RxMoya iOS` target, it works, major steps:
`=== CLEAN TARGET Moya iOS OF PROJECT Moya WITH CONFIGURATION Release ===`,
`=== CLEAN TARGET RxMoya iOS OF PROJECT Moya WITH CONFIGURATION Release ===`,
`=== BUILD TARGET Moya iOS OF PROJECT Moya WITH CONFIGURATION Release ===`, and then
`=== BUILD TARGET Rx

[2016-07-24 22:03] AndrewSB commented on #551
@petester42 can you explain how https://github.com/Moya/Moya/commit/e1b02527c15b3920c9968511303f68358040d735 works?

What script toggles the imports on and off?

[2016-07-24 22:06] petester42 commented on #551
There is a prebuild and a postbuild script that is located in the build phase section of the targets. It is there because cocoapods doesn't need the extra import. By default the import should be commented out so cocoapods works and when building Carthage it will toggle it on, build, and then toggle it off again.

[2016-07-24 22:20] AndrewSB commented on #551
gotcha, can you also touch upon the changes you made to the `project.pbxproj`? Reorganizing the files/ folder structure?

[2016-07-24 22:21] petester42 commented on #551
The changes are mainly removing the Moya files from the reactive targets.

[2016-07-25 01:18] aaroncrespo commented on #513
Looks like Alamofire is about to cut a `3.5.0` release which will have both swift 2.2 and swift 2.3 support. Then Moya.spec can point to that.

https://github.com/Alamofire/Alamofire/milestone/27

I think this is the  dependency to push a release supporting 2.3

[2016-07-25 04:06] AndrewSB commented on #551
@petester42 you said "cocoapods doesn't need the extra import", does having the import cause a compile error for cocoa pods? or will it just be a redundant line of code? I feel as if it would be ok to live with the redundant line of code for cocoapod users to avoid to complexity of the build script

[2016-07-25 06:40] Onetaway opened #564 "Can Moya use custom network layer?"
In my Swift project, I already have a HTTP tool to Get and Post Request, and I still want to use this, not origin alamofire etc. Can moya support my custonm HTTP client?

[2016-07-25 07:12] kamil-tomaszewski commented on #549
I think I'm lost too with the same error for endpointClosure. I'm out of ideas :(
<img width="1028" alt="screen shot 2016-07-25 at 09 11 25" src="https://cloud.githubusercontent.com/assets/1580732/17093157/dda3889c-5247-11e6-9c2a-a1f89ce36061.png">

[2016-07-25 07:33] jasl commented on #564
duplicate issue #556

[2016-07-25 09:56] kamil-tomaszewski commented on #549
This closure also doesn't work in the Demo app.

[2016-07-25 13:23] petester42 commented on #551
It won't build with cocoapods in you have `import Moya` anywhere because it is building Moya itself.

[2016-07-25 15:17] bryanbartow commented on #549
@ashfurrow Is this a known issue or are we all doing something wrong? Any help would be greatly appreciated.

[2016-07-25 15:18] ashfurrow commented on #549
Yup, taking a look now. I've not seen this before, things are working for me with the latest `master` branch with Xcode 7.3.1. Have you run `pod install` in the Demo directory? What version of CocoaPods are you using?

[2016-07-25 15:21] ashfurrow commented on #549
@bryanbartow I think the second example might be getting confused with the `nil`s used as parameters (they're non-optional, just remove them and they'll fallback to the defaults). But that doesn't explain the first error.

I'm really at a loss on that one. Would it be possible to share a small Xcode project demonstrating the problem? It would help figure out what the problem is.

[2016-07-25 15:34] bryanbartow commented on #549
@ashfurrow Well, as I was preparing the example project, I realized that if I omit the variable type declarations in the closure it seems to compile and work fine. So I changed
[code]
to
[code]

[2016-07-25 15:40] #564 closed

[2016-07-25 15:43] ashfurrow commented on #549
Awesome! So that works? Where do you think we should document this?

[2016-07-25 16:03] sunshinejr commented on #549
@bryanbartow your problem might be returning the `Result` type in the closure that takes `Void` as a return type. Below code works under Xcode 7.3.1 & Moya 7.0.0:

[code]

[2016-07-25 16:08] AndrewSB commented on #551
that makes sense - ok. Script it is

[2016-07-25 16:30] bryanbartow commented on #549
@sunshinejr Changing my code to your suggestion yields the error in my original post in this issue:
[code]

[2016-07-25 16:32] bryanbartow commented on #549
@ashfurrow @sunshinejr I'm starting to wonder if this has something to do with the Result library, which I'm using elsewhere in my project...

[2016-07-25 16:46] dccarmo commented on #549
@sunshinejr omitting the `Result` type did the trick, thanks!

[2016-07-25 17:33] ashfurrow commented on #549
@bryanbartow Yeah, we've had issues before when using multiple `Result` identifiers. You can use modules names to namespace the specific `Result` type, like `Result.Result` or `MyLibrary.Result`, it can get tricky. Let us know how it goes :+1:

[2016-07-25 19:06] ashfurrow commented on #556
I took an initial stab at this, it's quite an overwhelming change. We actually lean on Alamofire a lot, include use of `typealias` to create Moya types that are really just Alamofire types. If we do this, I would want someone to be able to theoretically use Moya without having any reference to Alamofire code at all.

@jasl how up-to-date is your fork? Moya has added multipart form uploading and a

[2016-07-25 19:12] jasl commented on #556
@ashfurrow I sync all commits to <https://github.com/jasl/Moya> and it's a fork of Moya.

I'm afraid my fork has large different with current Moya, because I've done myself version multipart-upload, new Swift 3 naming convention, refactor example, non-generic provider etc  before

[2016-07-25 19:17] ashfurrow commented on #556
Okay, thanks for the quick response!

I tried to tackle this from top-down, like replacing our references to `Alamofire.Manager` with a new protocol defined in Moya, but _everything_ broke immediately, and I was no where near finished an hour later. I think a better approach would be to remove the `typealias`s in `Moya+Alamofire.swift` first, then replace use of `Manager` with a new protocol. I'll

[2016-07-25 19:41] jasl commented on #556
In my fork, I wrap network engine into `Backend` which handle initiallizing and configuring the engine, and it's has a [request](https://github.com/jasl/MoyaX/blob/master/Sources/MoyaX.swift#L113) method, that accept Moya's Endpoint value.

In `request` method, the backend should handle how to make a `Endpoint` become to request and launch it, then invoking response closure when get response, Moya

[2016-07-25 19:42] jasl commented on #556
and I think using `typealias` isn't a good way to abstract engines, because engines interface are different, and may need to configure, so we need to wrap them.

[2016-07-25 19:46] kamil-tomaszewski commented on #549
So - the issue is really weird.
If you do:
[code]

Everything is peachy.
If you pass all the parameters, even if you copy them from the default implementation of `init` it gets the above result. So:
1. The issue isn't with endpointClosure.
2. Issue is with Xcode? compiler? I have no idea and unfortunately after being stuck for one day with this I don't have more time to deal with it.

[2016-07-26 12:22] alexdoloz commented on #542
Okay, I figure out what happened. Server doesn't return `Content-Length` header. I tested other resources and progress works fine (provided these servers return `Content-Length`). So it was my mistake, no need to create new issue :)

[2016-07-26 13:50] ashfurrow commented on #542
@alexdoloz I'm glad you got it figured out!

[2016-07-26 13:54] colinta commented on #542
Glad to hear that you got to the bottom of it! Good to know about the Content-Length header.

When you feel good about it, please close this issue. 👍

[2016-07-26 13:59] ashfurrow commented on #549
@kamil-tomaszewski It could be that in the original code, you had `let endpointClosure: MoyaProvider.EndpointClosure` without specifying the generic type of `MoyaProvider` and it confused the type system? Try `let endpointClosure: MoyaProvider<GitHub>.EndpointClosure` and see what happens. (It works if you don't specify anything because the compiler can infer from the closure signature what `MoyaP

[2016-07-27 16:33] bitomule commented on #469
@aschuch nop, it's not fixed. Moya needs to handle 204 no-content responses

[2016-07-27 16:45] ashfurrow commented on #469
Do we know how/if Alamofire handles this? Moya's goal is to abstract away the actual network layer, so handling these types of responses seems like it's something we should take responsibility for.

[2016-07-27 16:47] bitomule commented on #469
Ok, I've managed to handle empty responses. It was my fault, I was filtering status codes but no content comes with a 204 that was reported as error. Changed filter and now works.

[2016-07-27 16:47] #469 closed

[2016-07-27 16:50] ashfurrow commented on #469
Glad you got it working! Is there anywhere in Moya's documentation where some info about empty responses would have been helpful to you? I'm sure you're not the only one to run into this.

[2016-07-27 17:00] bitomule commented on #469
The issue I still have is with multipart / uploading files with moya but there's other issues for that. I don't think we can add something to make this clearer, it was my mistake.

[2016-07-27 17:06] ashfurrow commented on #469
No problem, always feel free to open issues or send improvements to documentation.

[2016-07-28 21:19] thomasmarsh commented on #290
I have a similar issue. We have an S3 proxy endpoint where we would like to perform the equivalent of curl's `--data-binary` (i.e., setting the URLRequest body to a binary file) and can't send multipart form data. Is there a suggested idiomatic approach for this now, or some workaround (e.g., getting a mutable URLReqest)?

[2016-07-28 21:27] ashfurrow commented on #290
@thomasmarsh I think that using the custom parameter encoding solution would be the easiest workaround. Let us know how it goes!

[2016-07-28 21:43] thomasmarsh commented on #290
Ah, sorry, I'm new to all this and didn't understand what was happening the custom parameter encoding solution. I understand now and got it working. Thanks, @ashfurrow!

[2016-07-28 22:32] AlexQuinlivan opened #567 "Multipart PATCH not supported"
In Moya+Internal.swift the case for uploading with a PATCH is not allowed.
The multipart upload seems to be limited by this check:
`target.method == .POST || target.method == .PUT`

Alamofire supports PATCH-ing with multipart as a PATCH is just a partial PUT, is it intended for Moya to not support it?

[2016-07-28 22:54] colinta commented on #567
I think we could just add PATCH to that list.

[2016-07-29 10:46] fruitcoder commented on #471
@samirGuerdah What exactly is your problem? Actually SSL Pinning is used to prevent Man-In-The-Middle atacks with tools like Charles. Or don't you get any requests/responses regardless of whether they are encrypted or not?

[2016-07-29 14:17] ashfurrow commented on #562
@sizzlr Do you still use CodeCov? Is this anything you've seen before?

[2016-07-29 15:27] colinta commented on #567
Do you want to open a PR to address this?  I was looking at this table: <https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Summary_table> and it looks like even `CONNECT` can have a body.  I looked around and found no reason that it would need to receive a file (I couldn't find an example of sending a body at all), but on the other hand - why not support it?

[2016-07-29 15:28] colinta commented on #567
A slick way to do this would be to add an extension to `Moya.Method` (aka `Alamofire.Method`) that adds `var supportsMultipart: Bool`, then we can add specs for that var.

[2016-07-29 18:06] ashfurrow commented on #567
That is a 💯 idea.

[2016-07-29 18:41] pedrovereza commented on #562
The [example project from CodeCov](https://github.com/codecov/example-swift) is having the same issue: https://travis-ci.org/codecov/example-swift/builds/146633163

Seems like it's an issue with the tool itself.

[2016-07-29 18:50] colinta commented on #567
We can move discussion to PR #569

[2016-07-29 18:50] #567 closed

[2016-07-29 19:11] ashfurrow commented on #562
Maybe we should remove it from continuous integration until it's working again?

[2016-07-30 15:30] mingyeow commented on #334
@AvdLee i am having very similar issues / concerns. i am currently a struct called pagination that encapsulates the page # calculation based on current offset/perpage, amongst other things.

Do you mind sharing a gist of your datasource implementation when you are done? I would love to get some inspiration.

[2016-07-30 19:44] pedrovereza commented on #562
Hm, found something while digging in the tool

![image](https://cloud.githubusercontent.com/assets/1916041/17272624/e8dd3752-5671-11e6-94b5-41b6c326c7e3.png)

[These changes](https://codecov.io/gh/Moya/Moya/branch/master/commits?from=2016-07-07%2000%3A00%3A00&to=2016-07-11%2000%3A00%3A00) happened on the day the coverage went down:

![image](https://cloud.githubusercontent.com/assets/1916041/17272

[2016-07-30 21:53] ashfurrow commented on #562
Huh! When I get a chance, I'll take a look at Xcode's code coverage and see what it thinks. We might need to close this and open an "increase code coverage" issue 😉

[2016-08-01 00:51] mingyeow opened #570 "Request cancelled vs network failure (error.nserror)"
i am dependent on the error.nserror to inform me of whether the operation is cancelled, or it is a network failure.

Right now, i can cast it as customconvertiblestring, but i lose the parsing, and if i cast it as error, i do not get the needed information (999)

See below for what i am doing. I do not want to throw a error message if operation is cancelled, rather than network failure.

Thanks in

[2016-08-01 12:24] leoneparise commented on #570
So, do you want to catch and ignore the error?

[2016-08-02 00:49] mingyeow commented on #570
Yes, that is what i would like to do - catch and ignore the error.

As you can see, if the errorcode is -999, i am not showing the user any UI. otherwise, i am calling the default network failure indicator.

[code]

[2016-08-02 07:58] kanishkatn opened #571 "Protocol requires property 'multipartBody' with type '[MultipartFormData]?'"
Hi,

I just installed Moya with pod, and getting this error in my Service Enum. Please help

![image](https://cloud.githubusercontent.com/assets/4919645/17321286/5862c20a-58b5-11e6-92dd-e7eba9cb41b7.png)

Here's my code

[code]

[2016-08-02 08:13] AvdLee commented on #571
You forgot to implement this protocol required property:

[code]

I also encountered the documentation wasn't up to date for this. Changed that now:
https://github.com/Moya/Moya/blob/master/docs/Examples/Basic.md

[2016-08-02 09:01] kanishkatn commented on #571
Thanks a lot for the quick response @AvdLee . That solved my problem.

But, I am getting this error while invoking the Service.

![screen shot 2016-08-02 at 2 29 56 pm](https://cloud.githubusercontent.com/assets/4919645/17322965/a57bf6b2-58bd-11e6-99ef-6c408f84b770.png)

Am I doing something wrong here?

[2016-08-05 02:43] rcholic opened #572 "Got http status 413: entity is too large from MultipartFormData request"
I create an endpoint for my Moya API to post text and upload images at the same time to my remote RESTful service. Before trying Moya, I was using `Alamofire` natively for such POST request, however, I got http status code `413` (Entity is too large) with my Moya API abstraction layer. The same set of images (2) was used for both of my Alamofire native API and Moya API, and only Alamofire API work

[2016-08-05 08:24] samirGuerdah commented on #471
Hello,

Sorry for the retarded response. Finally it was a misuse in my side. No problem to use Moya with Charles proxy. Closing...

[2016-08-05 08:24] #471 closed

[2016-08-06 11:00] BMR731 commented on #208
`let endpointClosure = { (target: MyTarget) -> Endpoint<MyTarget> in
    let url = target.baseURL.URLByAppendingPathComponent(target.path).absoluteString
    let endpoint: Endpoint<MyTarget> = Endpoint<MyTarget>(URL: url, sampleResponseClosure: {.NetworkResponse(200, target.sampleData)}, method: target.method, parameters: target.parameters)
    return endpoint.endpointByAddingHTTPHeaderFields(["AP

[2016-08-06 12:36] BMR731 opened #573 "Error: unable to find endpoint"
[code]

then i got this error

[code]

my usage is not correct or something, i read the documents....,thank you

[2016-08-06 14:46] ashfurrow commented on #573
Interesting! "Unable to find endpoint" suggests that the request is failing on the server side of things, like maybe the URL you're trying to hit isn't correct? Can you try using the [network activity plugin](https://github.com/Moya/Moya/blob/master/docs/Plugins.md#network-activity-indicator) to print out what exact URLs Moya is using, and then double-check that they're correct?

[2016-08-06 15:08] ashfurrow commented on #559
Cool, calling it: square logo. Which means the design is finished :tada:

I'll take care of ordering them, the tricky bit is figuring out how to collect addresses. @orta you have experience with this. Google Forms?

[2016-08-07 02:00] BMR731 commented on #573
ok..thank you, i will check it again

[2016-08-07 10:43] samirGuerdah commented on #572
I don't think that it's Moya witch causes this. Moya is a network abstraction layer that encapsulates calling Alamofire directly, if your request works with Alamofire, it should work work with Moya.

Did you try the same request with an Http client ? ( postman, Paw, ...)

[2016-08-07 12:06] iiiyu commented on #515
I also met the same problem, @Ravichandrane can you tell me is how to solve.

[2016-08-07 12:26] rcholic commented on #572
@samirGuerdah
It may not be Moya that causes this error code **413**, but my code of using Moya may cause this, because the multipart form data is a relatively new feature in Moya and there has not been much tutorial or documentation on how to use it.

I have tried Alamofire, PostMan in Chrome browser, and they all work until I came to try **Moya**

[2016-08-07 12:48] Ravichandrane commented on #515
@iiiyu On you success you just need to do that :

[code]

[2016-08-07 13:30] BMR731 commented on #573
i find this things,
when i use the

[2016-08-07 13:30] #573 closed

[2016-08-07 13:55] iiiyu commented on #515
@Ravichandrane  Thanks for your reply.
MoyaProvider is work.
But RxMoyaProvider response is NSURLResponse.
So I don't use RxMoyaProvider.
Thanks again.

[2016-08-07 19:07] orta commented on #559
I used a shared google spreadsheet, but forms can work too 👍 ( sheets made it easier to me to ask for edits etc )

[2016-08-08 15:27] colinta commented on #572
`"name": "images"` caught my eye, I expected that to have an extension, e.g. `"name": "image.jpg"`.  Also, you are returning the `dictObj` (aka `objDict` - you might want to check your naming on that one) from `var parameters: [:]?`, and so the `imagesDataArr` is going to be included there (maybe base64 encoded - I have no idea what Alamofire does with `NSData` in that case).

[2016-08-08 16:59] rcholic commented on #572
@colinta
My understanding is the `"name": "images"` is for specifying the field name in the form data to be `"images", and this field is parsed by my remote REST api for uploading the images associated to this field. The field name `fileName` is for the image name with an extension: `photo.jpg` (see the code in my original post).

You said the `imagesDataArr` in my parameter `dictObj` would be inc

[2016-08-08 17:15] colinta commented on #572
Oh shoot, you're totally right on the `"name"` thing!  My mistake.

[2016-08-08 20:36] rcholic commented on #572
My code above works fine if I don't upload images when doing the POST request with the API, but it does not work with uploading images same time. I've confirmed my remote REST API works fine by using PostMan in Chrome browser.

The errors I see from uploading images and posting input texts same time are because of the other fields being `undefined`.

For example, my input text fields are `title` a

[2016-08-09 08:49] samirGuerdah commented on #572
@rcholic Can you please compare the request details between an Http client and using `Moya` ( by using Charles proxy for example) ? I think that your code is the correct way to send a multipart data (Perhaps `Moya` or `Alamofire` are not setting correctly the content types).

[2016-08-10 13:41] ashfurrow commented on #559
Stickers arrived:

![ashfurrow_2016-aug-10](https://cloud.githubusercontent.com/assets/498212/17555701/87c18796-5ede-11e6-93c7-285678ed2d4a.jpg)

(Pen included for size comparison, they're 3.5cm squared.)

[2016-08-11 03:26] vfunc commented on #468
I have same question ， are you fix up？

[2016-08-11 06:59] BasThomas commented on #468
What is your problem exactly? Check the samples above or check the [docs](https://github.com/Moya/Moya/blob/master/docs/Examples/OptionalParameters.md).

[2016-08-11 07:52] vzsg commented on #556
I don't think there's enough common ground to abstract AlamoFire (one request -> one response pattern) and Firebase (one subscription -> 0..N events in a stream), at least not on Moya's level.

Moving the abstraction up a layer works nice though: RxSwift works great for mapping both variants into streams.

[2016-08-11 08:41] jcampbell05 commented on #556
@vzsg yeah currently thats what we are doing.

[2016-08-11 15:29] nickolayl commented on #494
@ashfurrow please re-open the issue. This issue still exists in the latest version of Moya.

Asked on StackOverflow
http://stackoverflow.com/questions/38900522/ios-https-get-empty-response-from-server-after-the-app-returns-back-from-the-l

[2016-08-11 15:31] ashfurrow commented on #494
Okay, re-opening for discussion. Does Alamofire have any similar issues?

[2016-08-11 15:32] nickolayl commented on #494
Don't know. Need to check. Who can check fast?

[2016-08-11 15:39] ashfurrow commented on #494
The issues list is at https://github.com/Alamofire/Alamofire/issues I'm unavailable to help right now, try searching for the symptoms and see what others have experienced.

[2016-08-11 18:35] BasThomas commented on #494
Had a quick look, but can't seem to find anything similar in the Alamofire issues.

[2016-08-11 23:08] mattfxyz opened #580 "Text and Image added to "files" in multipart form data"
Using Charles, I noticed anything in the MultipartFormData array is added to the files section of the request. When testing the same request Postman, text is added to "fields" and the image is added to "files".

Is this Moya's intended behavior? It seems like only files should go to files

[2016-08-12 00:41] mattfxyz commented on #580
I did some digging, it looks like by setting the `mimeType` to "", Moya tells Alamofire that it's a file type, adding it to the files section of the multipart/form-data request.

I'm happy to provide a fix.

[2016-08-12 04:16] spxrogers commented on #580
a PR would be awesome @mattfxyz :)

[2016-08-12 08:41] samirGuerdah commented on #572
your problem can be related to the issue #580

[2016-08-12 09:00] vfunc commented on #468
i'm wrong.  if moya  Response: Received empty network. You can check your network,then check ParameterEncoding.

[2016-08-17 05:25] nikita-leonov commented on #473
@colinta recreating URL requests is not the same as getting a reference to the one that were sent. There could be various random identifiers attached etc, so the question to trace an exact request sent. Somehow "hard way" looks most logical one, which is very unfortunate. Thanks.

[2016-08-21 15:36] mwawrusch opened #584 "Moya + AWS API Gateway (signed V4)"
Hi guys, I am trying to get this to work with V4 signed amazon requests. This is my code so far but it does not work. Anyone here who has done this before and can help out:

[code]

[2016-08-21 16:12] mwawrusch commented on #584
To add more info: The request gets signed but I still get 403 errors.

[2016-08-21 17:02] mwawrusch commented on #584
So I figured it out. Here is working code:

    static let requestClosure = { (endpoint: Endpoint<APIV3Authenticated>, closure: RequestResultClosure) -> Void in

        var request = endpoint.urlRequest.mutableCopy() as! NSMutableURLRequest

        let date = NSDate.aws_clockSkewFixedDate().aws_stringValue(AWSDateISO8601DateFormat2)

        request.addValue(date,forHTTPHeaderField: "X-Amz-Date"

[2016-08-21 17:56] ashfurrow commented on #584
Awesome, glad you got it figured out! Thanks a lot for posting your solution, I'm sure it'll be of help to others. Going to close the issue, feel free to open another if anything else comes up!

[2016-08-21 17:56] #584 closed

[2016-08-22 14:54] leoneparise commented on #580
@mattfxyz Is it fixed?

[2016-08-22 14:55] leoneparise commented on #572
Can you provide a sample using `Alamofire` and `Moya` so we can know what's happening?

[2016-08-23 14:02] rcholic commented on #572
@leoneparise , below is my code in using Alamofire, my original post includes my Moya code:

'''
Alamofire.upload(.POST, targetURL, headers: headers, multipartFormData: { (multipartFormData) -> Void in

                for (key, val) in questionObj {
                    print("iterating key-val: \(key): \(val) in question JSON")
                    multipartFormData.appendBodyPart(data: String(val

[2016-08-23 15:01] leoneparise commented on #572
@rcholic Yes! only `NSData` should be on `multipartBody` everything else should be on `parameters`.

[2016-08-23 15:18] leoneparise commented on #572
@rcholic Tell me if it's working now so I can close the Issue. :)

[2016-08-23 22:31] rcholic commented on #572
@leoneparise thanks so much with my wholeheart! Your help solved my problem completely! I'm closing it now :)

[2016-08-23 22:31] #572 closed

[2016-08-24 14:42] leoneparise opened #586 "Document multipart upload"
A lot was done to multipart upload last month. Now I see that this was a requested feature by a lot of users. I'm opening this issue to document our current implementation and provide some guidelines of how it works and how can be used. I think next version should be released with this new doc.

The documentation must include:
- [x] How to configure the Target for multipart
- [ ] How to use with R

[2016-08-24 15:59] ashfurrow commented on #586
Makes sense. One note: we don't use the GitHub wiki, but rather the `/docs` folder. Sounds awesome, thanks for opening the issue :+1:

[2016-08-24 18:11] stevenbedrick commented on #586
This is an extremely timely issue, as I found this issue just now while searching for some documentation on this very feature! One question: in the `demo` directory tree, there is a sample implementation of the Giphy API that appears to demonstrate how to use the multipart-form-upload features. Does anybody know if the code in this demo is accurate according to the final API? If so, that might be

[2016-08-24 21:55] rlam3 opened #587 "Should Moya be used in conjunction with Promise?"
Should Moya be used in conjunction with Promise?

[2016-08-24 22:18] colinta commented on #587
Sure!  If you want.  We've started using it with FutureKit, and it works great.

Should Moya *require* or *depend on* one of these microframeworks?  Could, but I would not like that decision made for me.  So I hope we don't go in that direction.

[2016-08-24 22:19] colinta commented on #587
https://github.com/ello/ello-ios/blob/cg/add/hire-me-button/Sources/Networking/HireService.swift

[2016-08-26 03:44] rlam3 commented on #587
@colinta Is there a reason for you guys to choose FutureKit over PromiseKit?

[2016-08-26 05:26] hiragram opened #588 "Introduction on Basic.md doesn't work for me ...?"
Hi,
I am new to Moya.
Working on Basic.md and try to stub response, `endpointClosure` is called, but then `sampleResponseClosure` won't be called.
I don't know very well about architecture of Moya, but I want you to confirm that instruction on Basic.md is correct.

[2016-08-26 05:28] hiragram commented on #588
I'm using v7.0.0

[2016-08-26 08:11] BasThomas commented on #588
A PR to update that would be great!

[2016-08-26 08:14] DenisLaboureyras opened #589 "Alamofire 4 and RxSwift 3 Compatibility"
Hello,

Alamofire and RxSwift have updated their pods recently to meet swift 3 requirements, and change their major versions (Alamofire 4 and RxSwift 3). We are using them now in our app, but Moya, even in the swift 3 branch, needs older versions.
Also the code in the swift 3 branch seems outdated comparing to master.
We're kind of stuck and can't continue our migration to swift 3 now because of t

[2016-08-26 08:24] BasThomas commented on #589
I'm not sure what the plans on this are, but a PR to update the branch would be great!

[2016-08-26 08:27] BasThomas commented on #562
Have you been able to have a look at this, @ashfurrow?

[2016-08-26 12:05] ashfurrow commented on #562
I have not, would anyone be able to take a look?

[2016-08-26 12:25] BasThomas commented on #562
Sure, how can I do so? Where are the tests located? It (obviously) doesn't work for the demo tests.

[2016-08-26 12:26] BasThomas opened #590 "Demo requires manual pod installation"
Is this intended? I think it would be better to include the pods directly, so users trying the demo can skip this step.

[2016-08-26 12:32] BasThomas commented on #562
Xcode itself reports 0% (as it checks the demo itself, not the library)... or am I overlooking something?

<img width="1512" alt="screen shot 2016-08-26 at 14 31 42" src="https://cloud.githubusercontent.com/assets/4190298/18005381/e6aacd90-6b99-11e6-8581-766d1fdbfa3a.png">

[2016-08-26 12:41] BasThomas commented on #589
Also, there seems to be an [issue](https://github.com/Moya/Moya/issues/513) that's tracking the progres. I am not sure how up-to-date it is, though. But it might be helpful.

[2016-08-26 13:01] DenisLaboureyras commented on #589
OK thanks for the comment! I will track also this issue :)
We're trying to redo the migration from master since this morning, but we have many errors...

[2016-08-26 13:12] pedrovereza commented on #562
@BasThomas You have to check `Show Test Bundles` on the upper right corner 😉

[2016-08-26 13:16] colinta commented on #587
Nope, I didn't even look at PromiseKit at the time. Pick whichever seems right for you.

[2016-08-26 13:20] BasThomas commented on #562
Ah great, thanks. The overall coverage reported by Xcode is 80% (see attached)

<img width="1680" alt="coverage1" src="https://cloud.githubusercontent.com/assets/4190298/18006575/74644958-6ba0-11e6-8426-0610ab22a571.png">
<img width="1680" alt="coverage2" src="https://cloud.githubusercontent.com/assets/4190298/18006576/75c4e8fc-6ba0-11e6-81d2-d0e86270dccf.png">

[2016-08-26 14:02] rlam3 opened #591 "Looking for modularity in Moya"
When your API grows. It looks like the enum of the Target swift file grows too.
Is there a way that this could made more modular?

Is it to use multiple providers as the modular approach when architecting the API routing with Moya?  Like a 1 resource per 1 target approach is all I can think of.

But problem arises when a situation like `if checking JSON Web Token` are expired prior firing off an a

[2016-08-26 15:05] justinmakaila commented on #591
The man @colinta always throws around the Ello API as an example. See the `networking/` dir for examples: https://github.com/ello/ello-ios/tree/master/Sources/Networking

The real magic is in [ElloProvider](https://github.com/ello/ello-ios/blob/master/Sources/Networking/ElloProvider.swift) though.

I've borrowed heavily from it in the past. IMO, the provider set up is all about what your project n

[2016-08-26 18:16] ashfurrow commented on #562
Thanks for looking into that! 80% is a far cry from the 66% CodeCov is reporting, looks like there may be a config issue. Anyone familiar with this?

[2016-08-26 18:19] ashfurrow commented on #590
It is intended, I wanted to avoid thousand-line PRs when a dependency gets updated. Does that make sense?

[2016-08-26 20:24] BasThomas commented on #590
Yeah, that makes sense. I'll add the need for a `pod install` to the readme for clarity.

[2016-08-26 21:01] #590 closed

[2016-08-27 11:26] BasThomas commented on #571
Have you been able to solve this issue, @kanishkatn?

[2016-08-27 11:30] BasThomas commented on #549
It seems the issue here has been solved, so I guess this issue can be closed, right?

[2016-08-27 11:33] BasThomas commented on #506
Have you been able to fix this, @Miasma87?

[2016-08-27 14:39] BasThomas commented on #562
Not familiar with CodeCov, but the algorithms to get a percentage might be different, explaining the difference. But the gap would still be pretty big...

[2016-08-27 15:55] Miasma87 commented on #506
Sorry but we had to delay the use of Moya to one sprint in September due to bugs in our app.
Be sure that I will update this one once checked ! ;)

[2016-08-29 00:06] bryanbartow commented on #549
@BasThomas I would think so. Not sure about everyone else, but my issue has been resolved and I'm the original reporter ;)

[2016-08-30 15:02] kanishkatn commented on #571
Yes, I did. It was due to an error in my code. Thanks for the help :)

[2016-08-30 15:24] #571 closed

[2016-08-31 21:45] rlam3 commented on #591
@justinmakaila Would love to your take on how to implement Moya with an authentication of using JWT. But prior to firing off each request back to the server, the token is to be checked, and if expired, the token should be refreshed prior to firing off the next request. I know this has something to do with promises, but I'm sure where I can some how do a callback wrapper per request with moya.

Loo

[2016-08-31 23:19] rlam3 commented on #587
@colinta the source code seems to be missing. Please update? Thanks!

[2016-09-01 16:14] tpesce opened #595 "Error Types for Request Closure failures"
I'm implementing something similar to the [OAuth example](https://github.com/Moya/Moya/blob/master/docs/Authentication.md#oauth), but in my case I'm wrapping a third-party API call as an RxSwift Observable. The success case works just fine, but I'm having a bit of difficulty with error types in the failure case.

[code]

Since RequestResultClosure expects the failure to be a Moya.Error type, I can

[2016-09-01 20:37] perlguy99 opened #596 "Error example creates Xcode warning"
The example code at the bottom of the Examples/ErrorTypes page generates the following warning in Xcode:

“Conditional cast from 'Error' to 'Error' always succeeds”

It is generated on the

`if let moyaError = error as? Moya.Error {`

 line.

Any ideas on how to get rid of that warning?

Thank you.

[2016-09-01 21:00] BasThomas commented on #596
I think you can omit the `?` when casting (so, `as` instead of `as?`).

[2016-09-02 11:28] Unihilator opened #597 "How to implement parameters in this format: ["15", "19"] ?"
Hey guys! There is a get request which might be in this format:
`http://address.com?parameter1=["15", "19"]`
I tried many things: tried to pass array of int `[Int]`, try to pass array of String `[String]`, tried to generate simple string like `["15", "19"]`. In the last case it encodes with percent encoded string. For me no need to encode this parameter. What should I do? Please help

[2016-09-02 12:09] ashfurrow commented on #597
Great question – we actually had developers with a similar problem a while ago, check out their issue: https://github.com/Moya/Moya/issues/431 I think you'll find the solution here. Let us know how it goes.

[2016-09-02 12:35] Unihilator commented on #597
I used already this solution with Custom parameter encoding. But It did not resolve a problem.
[code]
The problem is when I print req from last string - it is percent encoded(param1==%5B%2215%22,%20%22418%22)

[2016-09-02 15:22] perlguy99 commented on #596
I had tried that.   If you omit the ?, then you get an error which says:

`Enum case 'Some' not found in type 'Error'`

[2016-09-02 18:42] swabzz opened #598 "How to upload image and/or image array as a multipart parameters ?"
I tried all possible solution to upload image with moya but cant get proper way to upload it to server.
i tried same with alamofire and it is working fine.

can you please help me to upload image or multipart data using moya please ?
your give demo project too complex to understand also cant find documentation for this in your documentation list.

Thanks in advance

[2016-09-02 19:14] BasThomas commented on #598
Maybe @leoneparise can help with this. And the Multipart still has to be documented (see #586)

[2016-09-02 20:07] leoneparise commented on #598
I'm documenting this feature but for next version (8.0), which changed a lot from version 7.0. You can use my comment on this issue https://github.com/Moya/Moya/issues/572 to guide you implementation.

[2016-09-04 06:45] bagwanshoaib commented on #598
Hello leoneparise,

Thanks for quick reply.
Still i am stuck in uploading image to server using Moya.

Here is my code. Give me some solution please ..

enum SomeAPI {
  case ChangeProfileImage(guideid: String, profileImage: UIImage, remove_pic_id: String)
}

extension SomeAPI: TargetType {

  var path:String {
    switch self {
    case .ChangeProfileImage: return "/posts"
    }
  }

  var method

[2016-09-04 07:49] bagwanshoaib commented on #598
<img width="926" alt="screen shot 2016-09-04 at 1 17 16 pm" src="https://cloud.githubusercontent.com/assets/15198865/18229763/2f8ad06e-72a2-11e6-9521-d8badce32a9e.png">

[2016-09-04 08:49] tomj opened #600 "Load stubs from files"
Hey there - I'm probably missing something suuuper obvious but is there an idiomatic Moya way for me to load stubs using .json local files?

Or should I just roll something myself and give an escaped string to `sampleData`.

Cheers! 😀

[2016-09-04 09:08] vzsg commented on #600
I don't know about being idiomatic, but you could try this approach:

[code]

[2016-09-04 09:10] tomj commented on #600
Aaaand I just realised that was exactly the way to go.  Just wanted to make sure there wasn't some nice way I could give a filename to `sampleData` rather than doing that myself.  I think the escaped JSON string in the README example for `sampleData` made me wonder whether I had to provide some kind of escaped variant of the data also.

Thanks for your help either way - appreciate it 😃

[2016-09-04 09:10] #600 closed

[2016-09-04 13:52] BasThomas commented on #596
I have been taking a look, and it seems the `error` is not an optional. The unwrapping therefore makes no sense. Also, I found converting the `error` from `Error` to `Moya.Error` has no effect either, so that can be committed as well. That means you can the following in your closure:

[code]

which will 'just work'.

[2016-09-04 14:07] BasThomas opened #602 "CircleCI Skipping SDKs"
I'm not experienced with CircleCI, but was noticing these messages popping up:

[code]

[code]

Is this something that is slowing the tests and can be fixed?

[2016-09-05 15:48] #596 closed

[2016-09-05 15:49] ashfurrow commented on #600
@tomj How do you think we could improve our documentation around this? Any suggestions?

[2016-09-05 18:59] leoneparise commented on #598
`.File` can be used only with `NSURL` and `.Data` with `NSData`. You need to convert your `UIImage` to `NSData` to build the Multipart.

Try this:

[code]

[2016-09-05 22:16] tomj commented on #600
@ashfurrow hope #603 is up to scratch 😄

[2016-09-06 00:06] ashfurrow commented on #600
Looks great!

[2016-09-06 00:22] ashfurrow commented on #597
I think I may have misunderstood your initial question, but I think you should be able to use the default `.URL` parameter encoding.

When returning `parameters` from the target, does the following work?

[code]

Normally when URL-encoding an array, the format is something like `parameter[]=15&parameter[]=19`, I think. If that's not what you want, then you'll need to create the final string you're

[2016-09-06 07:23] bagwanshoaib commented on #598
Thanks for reply. i have implemented code you have given but i am still getting same error of argument passed to call that takes no arguments.

I am sorry i giving trouble to you but just stuck in that passing parameters things.

I have imported Alamofire to resolve undifined identifier error of "MultipartFormData"

My imports are as

import Moya
import RxSwift
import Moya_ObjectMapper
import Obje

[2016-09-06 08:37] BasThomas commented on #598
What version of Moya are you using?

[2016-09-06 09:08] bagwanshoaib commented on #598
Installing Moya using pod command

pod 'Moya'

I hope it installing latest version of Moya

[2016-09-06 09:32] BasThomas commented on #598
Yeah, that installs the latest version.

[2016-09-06 09:35] bagwanshoaib commented on #598
I tried manually to install latest version like
pod 'Moya', '7.0.0'

but in that case is produce another error while installing pod like

[!] Unable to satisfy the following requirements:

- `Moya (= 7.0.0)` required by `Podfile`
- `Moya (= 7.0.0)` required by `Podfile`
- `Moya (~> 6.0.0)` required by `Moya-ObjectMapper/Core (1.1.2)`

[2016-09-06 09:42] BasThomas commented on #598
Yeah, the syntax for that is the following:

[code]

[2016-09-06 09:45] ivanbruel commented on #598
You should update Moya-ObjectMapper to `1.3.1`, as it supports Moya 7.0.

[2016-09-06 09:49] bagwanshoaib commented on #598
Another error

[!] Unable to satisfy the following requirements:

- `Moya-ObjectMapper/RxSwift (= 1.1.2)` required by `Podfile`
- `Moya-ObjectMapper/RxSwift (= 1.1.2)` required by `Podfile`

Specs satisfying the `Moya-ObjectMapper/RxSwift (= 1.1.2)` dependency were found, but they required a higher minimum deployment target.

Specs satisfying the `Moya-ObjectMapper/RxSwift (= 1.1.2)` dependency we

[2016-09-06 09:52] ivanbruel commented on #598
Can you copy-paste your Podfile? Seems like you should also update `Moya-ObjectMapper/RxSwift` to `1.3.1`, but a Podfile would provide more info.

[2016-09-06 09:57] bagwanshoaib commented on #598
source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '8.0'
use_frameworks!

pod 'ALCameraViewController'

pod 'Google/SignIn'

pod 'FBSDKCoreKit'
pod 'FBSDKShareKit'
pod 'FBSDKLoginKit'

pod 'Locksmith'
pod 'LicensesViewController', '~> 0.5.0'
pod 'SwiftyTimer'
pod 'SwiftyJSON'
pod 'SwiftLocation', '~> 1.0'
pod 'SwiftyUserDefaults'
pod 'TPKeyboardAvoiding'
pod 'SDWebImage', '~> 3.7'
pod

[2016-09-06 09:59] ivanbruel commented on #598
Try running `pod update` with the following pod versions.

[code]

[2016-09-06 11:41] bagwanshoaib commented on #598
Awesome Guys!!
You are best. Its Working fine now,  Thanks For helping me.

One last question please

How to upload multiple images??

[2016-09-06 14:38] ashfurrow commented on #595
Great question! I wouldn't mind implementing something for our existing Swift 2.x code, but moving to `ErrorType` on `UnderlyingErrorType` and `RequestResultClosure` removes the ability for developers to switch o a specific `Moya.Error`.

I'm not sure of the best approach here. @Moya/contributors any ideas?

[2016-09-06 21:03] jefflovejapan commented on #589
I'm trying to get the demo app building with Alamofire 4 and RxSwift 3.0.0.alpha.1 and am having issues with Cocoapods. Changing the `libraries` target like so:

[code]

and running `pod install` or `pod update` generates the following error:

[code]

Looking at the [Cocoapods source](https://github.com/CocoaPods/CocoaPods/blob/a2be2d30e7311a5ed33888fd32b3e42d90c768ab/lib/cocoapods/resolver.rb#L43

[2016-09-06 21:13] rlam3 opened #604 "How do we debug/see the request being set over to backend servers when using RxSwift?"
How do we debug the request being set over to backend servers? \

I'd like to be able to see exactly or print out the full request with headers parameters, etc... that is being sent over to servers when i'm doing rxswift with moya...

How exactly should we be using the .debug()?

Thanks!

[2016-09-06 21:37] ashfurrow commented on #589
The Podfile currently uses [10.9 as a target](https://github.com/Moya/Moya/blob/fd2cb69a3e9a6c5e4c978c38563c90941ecbccc5/Demo/Podfile#L37) but [RxSwift requires 10.10](https://github.com/ReactiveX/RxSwift/blob/3.0.0.alpha.1/RxSwift.podspec). Maybe upping that would work?

[2016-09-06 21:44] ashfurrow commented on #604
You can use the [built-in network logging plugin](https://github.com/Moya/Moya/blob/master/docs/Plugins.md) which can be used to log all requests.

[2016-09-07 07:56] Rommanski opened #605 "Numbers serialization"
Hi, thank you for the cool framework!
I have parameters in request:

[code]

On server side I am getting this:

[code]

How I can serialize parameters this way:

[code]

[2016-09-07 11:40] ashfurrow commented on #605
Moya relies on Alamofire to do its parameter encoding, I'm a bit surprised that it behaves this way. There is a workaround though.

Sounds like you might need to use a custom parameter encoding, similar to [what's described here](https://github.com/Moya/Moya/blob/master/docs/Examples/ArrayAsRootContainer.md). You can do this on a per-target basis, so just `SearchUPC` if that makes sense for your c

[2016-09-07 12:51] rlam3 commented on #604
@ashfurrow Thanks!

[2016-09-07 12:51] #604 closed

[2016-09-08 00:23] tdouglas1313 commented on #513
Is there any update on swift 3.0 support now that Xcode 8 GM is out

[2016-09-08 03:35] tommy60703 commented on #513
Need swift 2.3 and swift 3.0 support here...

[2016-09-08 04:12] sunshinejr commented on #513
There is a branch for swift 3.0 already, but needs update. I'm downloading GM right now and will update the branch ASAP.

[2016-09-08 09:48] BasThomas commented on #513
@sunshinejr It seems Result already is Swift 3. :)

[2016-09-08 12:02] Rommanski commented on #605
Thank you @ashfurrow I was surprised too. It looks pretty weirdly. I have checked all stuff twice and didn't find any reason for this behavior.
By the way, I have solved issue. Thank you for the help again!

[2016-09-08 12:02] #605 closed

[2016-09-08 12:18] BasThomas commented on #605
Care to share how you solved it? :)

[2016-09-08 12:23] Rommanski commented on #605
Hello @BasThomas I have changed server side for accepting ups in String. Not very good solution :)
I am wondered. Why this problem occurs only with me. I suppose it my fault.

[2016-09-08 12:32] davidlondono commented on #545
I'm going to create a `mapper` for it, a public pod, if you want to participate

[2016-09-09 12:06] rlam3 opened #617 "What is the difference between requestclosure and endpointclosure?"
What is the difference between requestclosure and endpointclosure?  Are they technically the same thing? They look very similar.

What are the different circumstances in which on would utilize them?
Can they both be used together on the same provider?

The definition I'm getting from the following is that requestclosures sort of wrap around the endpoint? I'm trying to find a more concrete definiti

[2016-09-09 13:11] sunshinejr commented on #617
Hey there! I'll do my best to help you distinguish them 😉

`EndpointClosure` defines how to map `TargetType` to `Endpoint`. `RequestClosure` on the other hand, resolves `Endpoint` into `NSURLRequest` (or `Error` if the request shouldn't be performed). You can use both on the same provider, there is `EndpointClosure` and after `RequestClosure`. More specifically:

In the `EndpointClosure` you can c

[2016-09-10 03:37] zhaoyunyi commented on #549
@ashfurrow  thanks let endpointClosure: MoyaProvider.EndpointClosure can slove it, but
![image](https://cloud.githubusercontent.com/assets/8953791/18407680/edb64486-774a-11e6-8489-8bad8ca79579.png) can not

[2016-09-11 07:55] zhaoyunyi opened #619 "How/where to set the HTTP JSON body."
#Moya_Logger: [11/09/2016 15:53:17] Request Headers: ["X-ApiKey": "Q2Cf8Qs1E1B85A201", "Content-Type": "application/json"]
Moya_Logger: [11/09/2016 15:53:17] HTTP Request Method: POST
Moya_Logger: [11/09/2016 15:53:17] Request Body: {"country_code":"86","phone":18815289863}
Moya_Logger: [11/09/2016 15:53:17] Response: Received empty network response for register("86", 18815289863).

    let endpoi

[2016-09-11 08:28] BasThomas commented on #619
What exactly is your question?

[2016-09-11 08:39] zhaoyunyi commented on #619
How/where to set the HTTP JSON body...this code is unusefule

[2016-09-11 08:44] zhaoyunyi commented on #619
typealias MyAPICallCustomEncoding = (URLRequestConvertible, [String:AnyObject]?) -> (NSMutableURLRequest, NSError?)

let MyAPICallCustomEncodingClosure: MyAPICallCustomEncoding = { request, data in
    let sort = NSURLQueryItem(name: "sort", value: "distance")
    var req = request.URLRequest as NSMutableURLRequest

    guard var components = NSURLComponents(string: req.URL!.absoluteString)

[2016-09-11 08:44] #619 closed

[2016-09-11 08:49] zhaoyunyi opened #620 "How/where to set the HTTP JSON body, Error: Response: Received empty network response for"
my moya config
[code]
get this errror

[code]

How to solve this problem, thanks

[2016-09-11 09:50] BasThomas commented on #620
I have removed the API key, just to avoid tempering with it.
Next time, you can just leave your issue open after editing its content / title :)

[2016-09-11 09:52] BasThomas commented on #620
Also, I am not sure if this is an error. The response is empty, but maybe this is intended? What is the status code returned for the request?

[2016-09-11 10:01] zhaoyunyi commented on #620
not any status code return, this request failed

[2016-09-11 10:42] zhaoyunyi commented on #620
why get this error , i use OC call swift function，is this reason?

[2016-09-11 11:59] zhaoyunyi commented on #620
I solve it , it is my mistake . class xxx: NSObject {
    let disposeBag = DisposeBag()
xxxx
}
will get this error
use static or shareInstance

[2016-09-11 12:23] #620 closed

[2016-09-11 12:25] BasThomas commented on #619
Ref #620

[2016-09-13 02:41] hewigovens opened #623 "[Swift 2.3] Moya tag 7.0.1 is identical to tag 7.0.0"
Hi, I tried Moya 7.0.1 to support Xcode 8 & Swift 2.3 but failed, then I noticed that the tag in the new added [Moya 7.0.1 podspec (for Swift 2.3)](https://github.com/CocoaPods/Specs/blob/master/Specs/Moya/7.0.1/Moya.podspec.json) is 7.0.1 which identical to tag 7.0.0.

Could you please update the tag 7.0.1? Thanks

[2016-09-13 03:00] pedrovereza commented on #623
Hey @hewigovens, this is being worked on in #594 :wink:

[2016-09-13 03:06] #623 closed

[2016-09-13 07:22] peterwarbo opened #624 "Question: Are you supposed to create different services for the endpoints or just one?"
Lets say I have an API with endpoints

- `/CreateUser `
- `/GetActivities`
- `/GetSettings`

Should I create:

- `UserService`
- `ActivityService`
- `SettingsService`

And then `MoyaProvider<UserService>` ... `MoyaProvider<ActivityService>` and so on?

Or should should I just create one Service which manages all endpoints?
Like `MoyaProvider<APIService>` ?

I don't really understand the architectu

[2016-09-13 08:37] filograno commented on #624
You need to create only one Service that manages all endpoints. To better understand how to use Moya see the documentation at:<https://github.com/Moya/Moya/blob/master/docs/Examples/Basic.md>

If you have further question write here!

[2016-09-13 08:51] #624 closed

[2016-09-13 15:43] tdouglas1313 commented on #467
Has anyone figured out how to do this with swift 3.0?

[2016-09-13 16:09] sunshinejr commented on #467
@tdouglas1313 Hmm, it should be possible to do it the same way, using `endpointClosure`. Did you encounter any problems with that?

[2016-09-13 16:25] tdouglas1313 commented on #467
ParameterEncoding is no longer an enum its a protocol. would you still like me to open an issue?

[2016-09-13 16:27] sunshinejr commented on #467
Yeah, you can pass it as `JSONEncoding.default`, `URLEncoding.default` etc., instead of enum case.

[2016-09-13 16:38] tdouglas1313 commented on #467
Thanks I did't see that.

[2016-09-13 16:40] sunshinejr commented on #467
No probs! Happy to help! 👊

[2016-09-13 16:51] tdouglas1313 commented on #467
Here is an UNTESTED example that at least compiles.

[code]

[2016-09-13 21:48] pedrovereza commented on #602
Doesn't seem to be happening anymore ([latest build from master](https://circleci.com/gh/Moya/Moya/456))

[2016-09-13 21:48] #602 closed

[2016-09-14 04:04] MacroYau opened #626 "Build error related to NSURL optionals in Swift 2.3"
I have recently updated to Xcode 8 and attempted to convert my existing projects to Swift 2.3. Even though I updated Moya to 7.0.1 through CocoaPods, the following build error persists from the following Moya source code (as a part of the extension of `MoyaProvider`): `Value of optional type 'NSURL?' not unwrapped; did you mean to use '!' or '?'?`

[code]

Hope this can be resolved soon. Thanks ve

[2016-09-14 09:05] lixingshi opened #627 "How to use Moya in swift3.0"
today ,i updated my Xcode to 8.0 and found that moya does not support swift 3.0,what can i do then?

[2016-09-14 09:16] sunshinejr commented on #627
Hey @lixingshi! We are currently working hard on releasing Moya for Swift 3.0 in PR#608. For now you can use Moya with CocoaPods specifying the branch "swift-3.0", like:
[code]
And switch to Moya 8.0 when the release happens.

Hope it helps!

[2016-09-14 09:30] RyogaK commented on #626
@ashfurrow Hi, I'm investigating this issue for also me.
There is `release-7.0.1` branch, and also there is `7.0.1` tag. However, the tag is tagged at the same commit as `7.0.0`.
That branch is working in Swift2.3, I know. Perhaps, that tag is a mistake? if so, I want to tag `7.0.1` on `release-7.0.1` branch.

[2016-09-14 12:19] pedrovereza commented on #626
Hey, `7.0.1` is tagged at the same commit as `7.0.0`, but that's was a conscious decision
Details here: https://github.com/Moya/Moya/pull/594#issuecomment-246513882

[2016-09-14 12:33] Unihilator commented on #597
Thanks @ashfurrow ! Sorry for late response. We postpone this issue and will change api.
It's bad expirience to use that kind of request parameters.
And yes - I've try kind of string for the parameters. I generate it in a string messy way.
This does not work. Waiting for api changes 😄

[2016-09-14 12:51] #597 closed

[2016-09-14 14:49] bagwanshoaib commented on #598
Any solution for uploading multiple images??

[2016-09-14 16:59] ashfurrow commented on #626
Yup, it was caused by a mistake on my part, working to fix it and release Moya with Swift 2.3 compatibility today.

[2016-09-14 18:30] ashfurrow commented on #626
This should be fixed now, could you try updating to Moya 7.0.2 and letting us know if it works?

[2016-09-14 18:42] dangthaison91 commented on #626
I still get the error. Seem that code was not update?

[2016-09-14 18:46] BasThomas commented on #626
Are you using Cocoapods or Carthage? Is the version number `7.0.2`?

[2016-09-14 20:11] dangthaison91 commented on #626
@BasThomas Yes, i'm using CocoaPods and pod version is 7.0.2. Try to set to 7.0.0 but it still load as 7.0.2?

[2016-09-14 20:28] ashfurrow commented on #626
7.0.2 is what you want for Swift 2.3. Try `pod update Moya`, without specifying a version in your Podfile. That should install the latest version, which is 7.0.2. Maybe try deleting the `Pods` directory, if you can, and re-run `pod install`.

[2016-09-14 20:33] leoneparise commented on #598
multipartBody param is an array of data. You can return the array pointing to the same `name` form parameter. That will be parsed by the server as an image array.

[2016-09-14 20:43] rlam3 commented on #627
@sunshinejr What if we need moya with rxswift and swift 3.0?

[2016-09-14 21:30] tpesce opened #629 "Build errors with Carthage and Xcode 8"
I ran into this issue initially with an existing project that had gone through the migration process to Swift 2.3, but I've also been able to reproduce it with a new "Single View Application" iOS project.

Carthage version: 0.18
Moya version: 7.0.2
Xcode version: 8.0 (8A218a)

After creating a new project, I add a Cartfile with the following contents:

[code]

Then:

[code]

The end of the build l

[2016-09-14 21:54] ashfurrow commented on #629
Sorry you're running into this error, it's possible I made a mistake when releasing 7.0.2 for Swift 2.3. Could someone from @Moya/contributors who is familiar with Carthage take a look and see if 7.0.2, the latest release, works with Xcode 8/Swift 2.3?

[2016-09-14 22:18] tpesce commented on #629
No worries, I know you are all working hard on the recent Swift/Xcode changes.

If I had to guess, it looks like the migration changes to the Moya project file weren't included in the commit with the other Swift 2.3 updates #(2fc967f).

[2016-09-14 22:20] ashfurrow commented on #629
Ah, interesting! Would you be able to submit a PR against the release-7.0.1-take-two branch? Don't worry about it, though, I can take a crack tomorrow.

[2016-09-15 00:02] rlam3 opened #631 "What version is still compatible with xcode 7 and swift 2.3?"
What version is still compatible with xcode 7 and swift 2.3?

[2016-09-15 00:14] ashfurrow commented on #631
7.0.1 is the last version that is compatible with Xcode 7 / Swift 2.2. Moya 7.0.2 is compatible with Xcode 8 running Swift 2.3. Swift 3 support is still a work-in-progress: #608.

[2016-09-15 00:15] ashfurrow commented on #587
@rlam3 has this question been solved to your satisfaction? Happy to provide further clarification.

[2016-09-15 00:17] ashfurrow commented on #627
This should work:

[code]

Let us know how it goes :+1:

[2016-09-15 00:18] ashfurrow commented on #617
Great answer, @sunshinejr. @rlam3 let us know what else we can clarify, we're always looking for ways to improve our documentation!

[2016-09-15 00:19] ashfurrow commented on #589
@DenisLaboureyras is this issue still causing trouble?

[2016-09-15 00:20] #588 closed

[2016-09-15 00:25] ashfurrow commented on #558
@jcampbell05 I'm going to close the issue, if this is causing problems, feel free to reopen 👍

[2016-09-15 00:25] #558 closed

[2016-09-15 00:31] ashfurrow commented on #570
Tricky problem! It might be possible for us to handle this, but it would be a departure from `URLSessionTask`'s behaviour. I'm not sure if Moya should be circumventing the behaviour of CocoaTouch libraries.

A workaround could be to (manually?) dispose of the `Observable` before cancelling, which should prevent errors from being sent on the observable. Let us know how it's going :+1:

[2016-09-15 00:40] ashfurrow commented on #556
I tried abstracting Alamofire and found Moya to be too tightly coupled to it to reasonably separate. This is probably because we've always built Moya on top of Alamofire, the de facto standard networking library on iOS. This is a reasonable hard dependency from my perspective, but as always, it's open for discussion. If anyone would like to send a pull request with this specific feature, I'd be ha

[2016-09-15 00:42] #549 closed

[2016-09-15 00:43] ashfurrow commented on #545
Cool! Please consider submitting a PR to the readme to add it :+1:

[2016-09-15 00:43] #545 closed

[2016-09-15 00:44] ashfurrow opened #632 "Improve documentation surrounding testing"
See https://github.com/Moya/Moya/issues/541 for a conversation about how to test, specifically around stubbing. We should document the outcomes of that discussions somewhere in the repo.

[2016-09-15 00:45] ashfurrow commented on #541
I've opened https://github.com/Moya/Moya/issues/632 to address improves to the documentation, going to close this, feel free to re-open.

[2016-09-15 00:45] #541 closed

[2016-09-15 00:48] ashfurrow commented on #518
@lucasp90 has this been clarified to your satisfaction?

[2016-09-15 00:48] #517 closed

[2016-09-15 00:50] ashfurrow commented on #495
@iSame7 would it be possible to look at your code? I'm not sure if this is the right abstraction layer to institute this, but even if it doesn't belong in Moya, I'd love to add documentation around it. Please let us know :+1:

[2016-09-15 00:52] ashfurrow commented on #487
@mlvhub is this still causing problems for you, or is it safe to close the issue?

[2016-09-15 00:52] #482 closed

[2016-09-15 00:52] #476 closed

[2016-09-15 00:53] ashfurrow commented on #474
@Miasma87 has this issue been addressed to your satisfaction?

[2016-09-15 00:54] ashfurrow commented on #473
@nikita-leonov what do you think, has this issue been addressed to your satisfaction? If not, what are the next steps?

[2016-09-15 00:58] lucasp90 commented on #518
Oh, sorry! I thought I'd answered after my issue was detected!
I think my question has been properly answered :)

Would it be a good idea to add examples about passing different parameter types to an endpoint?

[2016-09-15 01:02] ashfurrow commented on #447
I confess I've not had a chance to give this consideration, will add to my todo list :+1:

[2016-09-15 01:05] ashfurrow commented on #434
Going to close this and move discussion to #556.

[2016-09-15 01:05] #434 closed

[2016-09-15 01:06] ashfurrow commented on #425
Any more discussion/action items on this? Or can we safely close?

[2016-09-15 01:06] #374 closed

[2016-09-15 01:06] ashfurrow commented on #359
Any further discussion on this?

[2016-09-15 01:09] ashfurrow commented on #347
Sounds like this is resolved, feel free to re-open if not 👍

[2016-09-15 01:09] #347 closed

[2016-09-15 01:09] #322 closed

[2016-09-15 01:10] ashfurrow commented on #290
@justinmakaila I've since used a GraphQL API, want to pick up the conversation on this? How did the framework go?

[2016-09-15 01:12] ashfurrow commented on #518
No problem! I think adding examples would be a great idea, where do you think they should go? https://github.com/Moya/Moya/blob/master/docs/Targets.md maybe?

[2016-09-15 02:14] lucasp90 commented on #518
I think that's a good place for them.

[2016-09-15 03:21] MacroYau commented on #626
@ashfurrow Looks good after updating to 7.0.2. Thanks the team for your quick response!

[2016-09-15 04:05] dangthaison91 commented on #626
Oops, sorry, i'm using XCode 7.3.1/Swift 2.2.
In #631 @ashfurrow told that 7.0.1 is latest version support Swift 2.2.. But i cannot install although i have specific version number in pod, it always get 7.0.2.

This is my pod:
`
  pod 'Moya', '~> 7.0.0'
    pod 'Moya/RxSwift', '~> 7.0.0'
    pod 'ObjectMapper'
    pod 'Moya-ObjectMapper/RxSwift', '~> 1.3.1'
`
Here is pod log:

Installing Moya-Objec

[2016-09-15 04:14] sunshinejr commented on #626
@dangthaison91 You need to explicitly specify that you want Moya 7.0.0. You can do this like:
[code]

You can check [here](https://guides.cocoapods.org/using/the-podfile.html#specifying-pod-versions) what `~>` means and more in a Podfile. Hope it helps!

[2016-09-15 04:34] dangthaison91 commented on #626
Thanks @sunshinejr, i used wrong opertor :(. Thanks the team for yours really quick response!

[2016-09-15 04:34] #626 closed

[2016-09-15 06:05] iwheelbuy opened #634 "Cannot use optional chaining on non-optional value of type 'NSURL'"
Just updated from 7.0.0 to 7.0.2 and received an error in:

[code]

`URLByAppendingPathComponent` is non-optional, but there is a "?".
What am I doing wrong? :)

[2016-09-15 06:27] BasThomas commented on #634
I think you are still using Swift 2.2, correct? `7.0.2` is a Swift 2.3 release :)

[2016-09-15 06:55] gordoneliel commented on #627
Hi @ashfurrow, I tried using the above but it doesn't seem to work as Moya/RxSwift is pointing to this branch of RxSwift (~> 3.0.0-beta.1). Is there any temporary solution to this?

[2016-09-15 06:56] BasThomas commented on #627
Is there a problem with `Moya` here, or the `RxSwift` branch? @gordoneliel

[2016-09-15 07:02] gordoneliel commented on #627
@BasThomas The RxSwift branch
<img width="361" alt="screen shot 2016-09-15 at 12 02 09 am" src="https://cloud.githubusercontent.com/assets/5516761/18541072/b3d4b03c-7ad7-11e6-983a-286d52315a08.png">

[2016-09-15 07:10] isatria commented on #634
So what should i do to fix that ? @BasThomas

[2016-09-15 07:17] BasThomas commented on #634
Use `7.0.0` on Swift 2.2 instead, upgrading to `7.0.2` once you switch to Swift 2.3 :)

[2016-09-15 07:19] BasThomas commented on #627
But does that not work? It should point to the / a Swift 3 branch of Rx of course.

[2016-09-15 07:34] zhaoyunyi commented on #627
use of undeclared type RxMoyaProvider...the same problem,how to slove

[2016-09-15 08:33] BasThomas commented on #627
Any idea @sunshinejr?

[2016-09-15 08:43] zhaoyunyi commented on #627
waiting for answer ，thank

[2016-09-15 09:06] sunshinejr commented on #627
Hmm, what is your Podfile @zhaoyunyi? Can you download our Demo and check if it works for you? Because I've downloaded it, and `RxMoyaProvider` works just fine in the Demo. Another idea could be that you maybe forgot importing `RxSwift` at the top of your file along with `Moya`?

[2016-09-15 09:56] Denis1992 commented on #634
Hi,
pod 'Moya', '~> 7.0.0'
pod install
Using Moya (7.0.2)

O_o

[2016-09-15 10:09] BasThomas commented on #634
I think you did a pod update before? I don't think `pod install` automatically downgrades to the specific pod version. You should be able to update to `7.0.0` again now, I think?

[2016-09-15 10:12] Denis1992 commented on #634
No,
pod 'Moya', '~> 7.0.0'
pod update
Installing Moya 7.0.2 (was 6.5.0)

[2016-09-15 10:28] sunshinejr commented on #634
@Denis1992 please use specific Moya version, like:
[code]

[2016-09-15 10:44] Denis1992 commented on #634
@sunshinejr thx.

[2016-09-15 10:51] BasThomas commented on #634
Fixed now? ^^

[2016-09-15 10:52] Denis1992 commented on #634
@BasThomas yep, thx for answer :)

[2016-09-15 10:53] BasThomas commented on #634
🙌

[2016-09-15 10:53] #634 closed

[2016-09-15 13:45] zhaoyunyi commented on #627
you are right , i check my Podfile and modify it.
use this can slove it
pod "Moya/RxSwift", :git => "https://github.com/Moya/Moya", :branch => "swift-3.0"

[2016-09-15 13:58] #627 closed

[2016-09-15 14:36] ashfurrow commented on #518
Cool! Could I ask you to send a pull request? Don't worry if you can't, we'll get it :+1:

[2016-09-15 14:50] lucasp90 commented on #518
Yeah, of course!! 👍

[2016-09-15 15:38] tpesce commented on #629
I've mostly got a PR together; just finishing up some testing. Expect to see it within a few hours.

[2016-09-15 15:42] ashfurrow commented on #629
Wonderful, thanks!

[2016-09-15 19:14] tpesce commented on #629
This is fixed with #636.

[2016-09-15 19:14] #629 closed

[2016-09-15 22:27] joshuawright11 opened #639 "Reasoning behind iOS 9 minimum requirement?"
Just wondering why the .podspec  (of the Swift 3.0 version) has a minimum requirement of iOS 9. According to https://developer.apple.com/support/app-store/ iOS 8 is still 9% of the market share, and our app tends to target people with slower adoption rates.

Cheers!

Love the project and all your work in the iOS/Swift/MVVM community. Our product would be far worse off if you didn't exist ;)

[2016-09-15 22:58] AndrewSB commented on #639
https://github.com/Moya/Moya/pull/608#issuecomment-247292895

[2016-09-15 22:58] #639 closed

[2016-09-16 00:15] ashfurrow commented on #639
Thanks for the kind words! I dug around the Alamofire repository and found this discussion which includes rationale for their decision: https://github.com/Alamofire/Alamofire/issues/1367 I personally find this regrettable, but there are comments in that issue of using forks of Alamofire that continue to support iOS 8. If you find one that works, I'd be happy to help you use Moya with them.

[2016-09-16 02:59] DenisLaboureyras commented on #589
I'm in holidays for 2 weeks, so I don't have any issue :).
If it's ok for you, you can close the issue, I will test it at the end of the month, and keep you posted if there's a problem.

[2016-09-16 03:03] mlvhub commented on #487
feel free to close for now, I'll reopen if I get it again.

[2016-09-16 03:05] #487 closed

[2016-09-16 03:06] #589 closed

[2016-09-16 03:22] sunshinejr commented on #591
@rlam3 I think that the discussion for difference between `endpointClosure` and `requestClosure` is moved to #617 so I will take on the next questions:

1. `YourAPI` is in this example is the `Target` you use for requests. Let's say you have one `Target` in your app and let's call it `TwitterAPI` here instead of `YourAPI`.
2. The `YourAwesomeOauthProvider` is just an example. Here you can use thir

[2016-09-16 06:48] nikita-leonov commented on #473
@ashfurrow as for today we do not have a good solution. The only elegant solution is option 1 suggested by @colinta, but maintaining an own fork of Moya at the current stage of our project is killing. Having correlation logging in the plugin does not work as well since such option missing a context of the call and many other benefits of having request together in response in a place of request ini

[2016-09-16 09:59] juliengdt opened #641 "[Question] Beta tag for podspec use"
Hello,

It could be cool to have a `7.1.0-beta` tag linked on the `swift-3.0` branch;
this could help poeple who is waiting for a swift 3 Moya dependency in their podspec.

Cheers from France

[2016-09-16 10:18] BasThomas commented on #641
Take a look at #627. Does that help? :)

[2016-09-16 10:33] juliengdt commented on #641
@BasThomas I talked about dependencies into podspec not into podfile: you can't specify url and branch into podspec, that's why a ```beta```tag could be cool for beta ones

[2016-09-16 11:19] BasThomas commented on #641
Ah, of course. Sorry!

[2016-09-16 12:31] aphorisme opened #642 "Carthage build on Swift 2.3 fails"
Hey! I'm trying to get Moya via Carthage as part of the following Cartfile:

[code]

Tried it on XCode 7.3 first, meanwhile upgraded to XCode 8 (because of Swift 2.3). I'm running

[code]

which gives me back

[code]

Hence I've opened the Moya project file, changed the deployments targets to 10.10 (in all OSX targets) and run

[code]

This returns

[code]

Removing all those occurences gives the

[2016-09-16 13:02] ashfurrow commented on #641
Great question @juliengdt. The solution is to specify the branch in your Podfile; if you're writing a library that depends on Moya, I'm afraid the best solution is to document that they will need to do that in their own Podfiles.

I'm reluctant to tag a release because we're just not ready with Swift 3 support yet, especially around our ReactiveCocoa extensions. Does that answer your question?

[2016-09-16 13:04] ashfurrow commented on #473
I'd be happy to review a PR, I'm not sure what request/response correlation would look like so I can't say for sure if it'd be accepted. Could you explain your implementation idea?

[2016-09-16 16:40] tpesce commented on #642
The OS X 10.0 issue is the same thing I ran into here #636, but I didn't include OS target change with my other changes because I wasn't clear on the overall impact to the project.

For this issue, could the problem be an incompatibility between the version of RxSwift that you specify in your Cartfile (~> 2.0) and the one that Moya specifies (~> 2.6)? I ask because I created a sample OS X project,

[2016-09-16 17:22] juliengdt commented on #641
@ashfurrow I'm not sure but if:

* A need B version 1.0
* In my Podfile I put
    * A
    * B version 2.0

There is no pod conflict ? 💭

[2016-09-16 17:27] ashfurrow commented on #641
Basically yeah, you're basically telling CocoaPods that you want to override that version of B. It's worked for me in the past, if it's a problem we can always tag maybe like an alpha?

[2016-09-17 00:37] Henawey opened #644 "Sorted Parameters"
Hi,
I have a problem where I'm required to sort the request parameters before sending it ,Is there any way to sort request parameters? or sending it as String instead of a dictionary?

[2016-09-17 11:40] leizh007 opened #645 "Can not use in swift3.0"
[code]

My podfile is:

[code]

[2016-09-17 12:18] BasThomas commented on #645
What is your lowest deployment target? It should be iOS 9 or higher. (See #639)

[2016-09-17 12:20] leizh007 commented on #645
I set it to iOS9.0

[2016-09-17 12:42] leizh007 commented on #645
[code]

[2016-09-17 12:51] BasThomas commented on #645
I'm not entirely sure, but you should only need the following in your Podfile:

[code]

Does that work?

[2016-09-17 13:00] leizh007 commented on #645
solved, thank you. I set the target in project build setting. I forgot to change the platform setting in pod file:
[code]

[2016-09-17 13:00] #645 closed

[2016-09-17 13:49] BasThomas opened #646 "Thoughts on Issue / PR templates"
@Moya/contributors was thinking of this. Should we add templates for issues / PRs? For example, I noticed some issues with no / incomplete Podfiles / Carthage files, which makes it harder for us to help the person with the question.

I am not sure what exactly should be in them - but they should be able to both help people with questions, as well as the people helping.

Let me know what you think;

[2016-09-17 14:39] ashfurrow commented on #646
I think this is a good idea, what are the most common miscommunications we need to address in issues?

[2016-09-17 14:40] orta commented on #646
Some examples:
* https://github.com/CocoaPods/CocoaPods/blob/master/.github/ISSUE_TEMPLATE.md
* https://github.com/danger/danger/tree/master/.github

[2016-09-17 14:43] lucasp90 commented on #646
I find the [Realm](https://github.com/realm/realm-cocoa/blob/master/.github/ISSUE_TEMPLATE.md) template really useful.

[2016-09-17 21:05] ashfurrow opened #648 "Rename ReactiveCocoa subspec"
We don't depend on ReactiveCocoa anymore (in Swift 3), just its new cousin: [ReactiveSwift](https://github.com/ReactiveCocoa/ReactiveSwift). It's a really cool project they're undertaking, separating ReactiveCocoa into two libraries.

Since we now have a different dependency, I think it's worth considering renaming the `Moya/ReactiveCocoa` subspec to `Moya/ReactiveSwift`. We'd also need to rename

[2016-09-17 21:32] orta commented on #648
This is a major breaking change, will need docs in the changelog etc on how to migrate blah blah blah

[2016-09-18 01:30] lixingshi commented on #627
@sunshinejr thank you ,it works well

[2016-09-18 03:00] nikita-leonov commented on #473
@ashfurrow I provided PR. Understand a point about "no guarantees on accepting it", no worries. I am happy to discuss and provide changes if you think something is not in line with grand-plan of Moya.

[2016-09-18 10:13] aamctustwo commented on #644
@Henawey My initial thought would be to pass in a custom `RequestClosure` when you create your `MoyaProvider`. You can modify a request that's been assembled by Moya just before it goes out the door. So it should already be populated with your parameters and just need last meeting adjusting by you.

See:
- [RequestClosure Documentation](https://github.com/Moya/Moya/blob/master/docs/Endpoints.md#re

[2016-09-18 23:31] ashfurrow commented on #473
PR is merged! Are there any next steps on this issue?

[2016-09-19 08:13] aphorisme commented on #642
[Sorry for my late response]

Running a `carthage build --platform mac` after updating without version constraints on `RxSwift` and changing the deployment target to `10.10` gives me errors of the form

[code]

I'm wondering where this `RxReactiveRxMoya` namespace is coming from.   :/

[2016-09-19 08:35] juliengdt commented on #641
Hi,

Ok i will try this out !

[2016-09-19 13:14] ashfurrow opened #656 "Carthage CI is taking a long time"
Circle CI executes the following command, to make sure we don't break Carthage compatibility:

[code]

This takes about 15 minutes, which about doubles the length of a build. I'm wondering if there's something we're not doing right that's contributing to this, since (if I understand correctly) we're just cloning + building the dependencies. @justinmakaila just wondering, do you have any ideas on w

[2016-09-19 16:04] AndrewSB commented on #656
@ashfurrow carthage is pretty slow, so unfortunately a 15 minute bootstrap is not unexpected. We could use something like https://github.com/guidomb/carthage_cache to speed up build times though

[2016-09-19 16:13] ashfurrow commented on #656
Gotcha. Circle CI doesn't support parallelism on macOS builds, but we could try moving Carthage to Travis CI to have it run parallel with our unit tests, which should cut CI times in half.

[2016-09-19 16:19] juliengdt opened #658 "[RX] Debugging Mode between Moya and Alamofire"
Hello everyone,

I'm using Moya with pleasure but i'm facing a problem. I like seeing in XCode my REST requests be launched, with header fields, url and params.

Is it possible to add some debugRequest()/debugResponse() Observables to let us show or not full informations about what has been sent ?

I don't know how to do it but if there are some clue on Moya how to do it, I can try !

PS: same que

[2016-09-19 16:39] pedrovereza commented on #658
Hey, check #604

[2016-09-19 20:36] rlam3 commented on #617
@ashfurrow Would love to see more on authentication documentation using OAuth/JWT and how to store and mange tokens to be integrated with Moya.

Because checking if a token is expired and updating the token prior to firing off an authenticated request is a synchronous task. I would like to see a proper way for authenticated requests to be organized with the use of keychain libraries like Locksmith

[2016-09-19 21:00] justinmakaila opened #660 "`ReactiveMoya` doesn't build for Carthage (also assuming for CocoaPods)"
There are some slight API updates coming from `ReactiveCocoa` -> `ReactiveSwift` that cause `ReactiveMoya` to fail during build.

Working on those updates now, PR soon.

[2016-09-19 21:13] ashfurrow commented on #617
Hi @rlam3, thanks for opening the issue. We actually have some auth-specific documentation [here](https://github.com/Moya/Moya/blob/master/docs/Authentication.md) I wanted to make sure you were aware of; the request closure has been specifically designed with OAuth and other forms of asynchronous authentication in mind. If you have any suggestions on ways to improve our documentation, please send

[2016-09-19 21:14] ashfurrow commented on #660
Interesting, things seem to be working on CI, but that's with a specific version of ReactiveSwift (specifically, their d4de1ff81c12124d148f726b8b44dd6887b41ae0 commit).

[2016-09-19 21:15] justinmakaila commented on #660
I'm talking about the `send(value:)` vs `sendNext` methods

[2016-09-19 21:17] ashfurrow commented on #660
Gotcha, thanks!

[2016-09-19 22:21] justinmakaila commented on #660
Closed #661

[2016-09-19 22:21] #660 closed

[2016-09-20 01:37] rlam3 commented on #617
@ashfurrow thanks for the pointers to the authentication/oauth posts. I'm still a bit stuck on the point on how to actually allow moya refresh an access token prior to firing off another authenticated request.

I've been poking around the following code from eidolon and ello...

https://github.com/artsy/eidolon/blob/master/Kiosk/App/Networking/Networking.swift

https://github.com/ello/ello-ios/blo

[2016-09-20 07:26] riksof-zzlalani commented on #598
Hi

I'm using Moya for handling communication between my swift application and api, I'm able to post and get data but unable to post file to api server, following is my code

    enum TestApi {
        ...
        case PostTest(obj: [String: AnyObject])
        ...
    }

    extension TestApi: TargetType {

        var baseURL: NSURL {
            switch self {
                case .PostTest:

[2016-09-20 08:29] sunshinejr commented on #598
@riksof-zzlalani Hey there! What your code is lacking is subscription. This is not _really_ a Moya problem, but problem with Reactive Extensions. So, a quick fix would be a following:

[code]

I hope it helps! Please next time use another issue for questions if they are touching quite different topic, so others can easily search for it 🐼

[2016-09-20 10:35] riksof-zzlalani commented on #598
exactly that was the issue,

Thankyou Sir

[2016-09-20 11:46] marcusficner opened #662 "Shouldn't Response.mapJSON() throw Error.jsonMapping?"
Hi all!

I'm wondering why there is an ```Moya.Error``` ```jsonMapping```, but it isn't used anywhere.
Shouldn't mapJSON throw this error like this?

[code]

[2016-09-20 12:36] riksof-zzlalani opened #663 "Documentation over file uploads"
It would be great If we have examples/demos and/or documentation for file uploads as well, I'm looking for multiple file uploads with other post data with it.

Thanks

[2016-09-20 12:52] sunshinejr commented on #662
Hey @marcusficner! This is a really good question, I'm not really sure _why_ we don't use it in the `mapJSON()` function, but I would be up for introducing it there!

[2016-09-20 12:55] sunshinejr commented on #598
@riksof-zzlalani no problem! I think that the original problem @swabzz had should be resolved as of now, so I'm gonna close for now.

[2016-09-20 12:55] #598 closed

[2016-09-20 13:01] marcusficner commented on #662
Hi @sunshinejr! Alright, I've committed a pull request ✌🏼

[2016-09-20 13:07] BasThomas commented on #646
It would also be useful to make users aware of syntax highlighting for code in these templates.

[2016-09-20 13:09] BasThomas commented on #663
A PR to add this would be welcome!

[2016-09-20 13:14] sunshinejr commented on #662
Closing in favor of #664 then!

[2016-09-20 13:14] #662 closed

[2016-09-20 14:25] devxoul commented on #646
Totally agreed with @BasThomas. Some users don't know how to use code blocks. We can add some examples in issue/PR templates. For example:

<pre>
### What you did:

[code]

### What you expected:

blah blah
</pre>

[2016-09-20 14:39] juliengdt commented on #658
You completely right ! Sorry for this question, can be closed

[2016-09-20 14:40] lucasp90 commented on #646
I agree with @devxoul, templates are helpful for newcomer contributors.

[2016-09-20 14:56] #658 closed

[2016-09-20 21:52] ashfurrow commented on #617
You found the code that does the refreshing, further down that file you'll see the code that calls the fetching code: https://github.com/artsy/eidolon/blob/a7bb061c89cd4bed44d956b1376909ca0e72060b/Kiosk/App/Networking/Networking.swift#L87-L94

Basically, the `XAppTokenRequest` function's Observable always returns a valid token (whether it was a cached valid token, or a newly fetched token). Then w

[2016-09-20 21:57] ashfurrow opened #665 "CI Failing"
Since https://github.com/Moya/Moya/pull/661 was merged, CI is failing. This is likely because the CocoaPods podspec for ReactiveSwift the Carthage commit hash we're referencing are different. I'll take a look and see what we can do.

[2016-09-21 08:13] riksof-zzlalani opened #666 "Unable to post correct request parameter with multipart Body"
@leoneparise and @sunshinejr

the browser shows following request payload after the file upload

[code]

and sent to following Request URL

to accommodate above request I have made following request

[code]

[2016-09-21 12:06] riksof-zzlalani commented on #666
ok the issue was with my the endpoint construction, I had to `stringByRemovingPercentEncoding` my url that was encoding my `?` character in url

[2016-09-21 12:06] #666 closed

[2016-09-21 14:31] ashfurrow commented on #666
Glad you got it figured out! Thanks for posting your answer, I'm sure it'll be of help to someone.

[2016-09-21 22:14] pedrovereza commented on #562
Coverage reported by CodeCov is back to 79%. Closing this for now.

[2016-09-21 22:14] #562 closed

[2016-09-22 01:36] #665 closed

[2016-09-22 01:38] ashfurrow commented on #656
Tried this, not really worth it.

[2016-09-22 01:38] #656 closed

[2016-09-22 01:39] ashfurrow opened #668 "Increase code coverage"
Our code coverage is okay, at a solid 80%. We've held this for a while, but we could do a bit better. Our [current coverage](https://codecov.io/gh/Moya/Moya/tree/master/Source) has some places we could improve:

<img width="1154" alt="screen shot 2016-09-21 at 9 37 47 pm" src="https://cloud.githubusercontent.com/assets/498212/18734570/d21c2478-8043-11e6-8c54-86b7d0d3c683.png">

I'll take a look so

[2016-09-22 08:44] 12207480 opened #669 "8.0 beta support swift 3.0 ?"

[2016-09-22 08:46] BasThomas commented on #669
What is you question exactly?

[2016-09-22 09:10] Tynox opened #670 "Carthage 8.0.0-beta.1 build error"
Hey guys. I've got build errors when I try to update Moya by carthage:

`carthage update Moya --platform iOS`

Errors:
[code]

It seems ReactiveCocoa has changed sendFailed to send(error:), and sendNext to send(value:).

[2016-09-22 09:16] morgz commented on #595
I've also ran into this issue. I've done a auth check in a requestClosure and found myself wanting to throw my own ErrorType. One way around this is to check for conditions that might throw errors beforehand by wrapping the request like is shown [here](https://github.com/Moya/Moya/blob/master/docs/Examples/WrappingInAdapter.md
)

Although, if you need to add a header to the http request then you c

[2016-09-22 09:28] BasThomas commented on #670
This has been fixed in #661. @ashfurrow, could a second beta be released for this?

[2016-09-22 09:32] Tynox commented on #670
Thanks. Waiting the new release.

[2016-09-22 09:36] morgz commented on #595
Just a follow up. I've found an OK work-around this:

In my request closure I am putting my own ErrorType into the underlyingError like so:

[code]
Then by [wrapping the request](https://github.com/Moya/Moya/blob/master/docs/Examples/WrappingInAdapter.md) I am checking for the existence of the ErrorType, casting it, and throwing it.

[code]

[2016-09-22 09:44] BasThomas commented on #595
Thanks for the follow up!

[2016-09-22 15:01] ashfurrow commented on #670
8.0.0-beta.2 has been pushed, @Tynox can you verify it works?

[2016-09-23 02:55] Tynox commented on #670
It works!.
Thanks!

[2016-09-23 03:08] wangguangfeng commented on #669
Swift 3 support is still a work-in-progress: #608.

[2016-09-23 03:09] wangguangfeng commented on #669
7.0.1 is the last version that is compatible with Xcode 7 / Swift 2.2. Moya 7.0.2 is compatible with Xcode 8 running Swift 2.3. #631

[2016-09-23 03:28] #670 closed

[2016-09-23 04:03] 12207480 commented on #669
thank you

[2016-09-23 04:26] BasThomas commented on #669
Does that answer your question, @12207480?

[2016-09-23 06:34] wangguangfeng commented on #669
I found the 8.0-beta version is compatible with iOS  9.0 and Swift 3. but which version is compatible with iOS  8.0 and Swift 3 ?

[2016-09-23 07:11] BasThomas commented on #669
@wangguangfeng unfortunately, the Swift 3 branch has dropped support for iOS 8. For the reasoning behind this, see #639

[2016-09-24 12:33] ashfurrow opened #673 "Update ReactiveCocoa installation instructions"
And Demo file, since they have a release we can reference now: https://github.com/ReactiveCocoa/ReactiveSwift/issues/20

[2016-09-25 18:04] spxrogers opened #675 "Maya dependency fails a pod lint"
hello lovlies––I'm trying to update a community library I maintain to support Swift 3 and all, however the `Moya+Alamofire.swift` file is ERROR'ing the lint :(

here's the output of the `pod lib lint`:
[code]

relevant podspec is [here](https://github.com/spxrogers/Moya-Gloss/blob/master/Moya-Gloss.podspec). i ran with the `--verbose` tag and found the **watchOS 2.0 platform** with the **ReactiveC

[2016-09-25 18:07] orta commented on #675
Are you using a swift-version file? https://github.com/CocoaPods/CocoaPods/blob/master/CHANGELOG.md#110rc2-2016-09-13

[2016-09-25 18:09] spxrogers commented on #675
yep! @orta

[2016-09-25 18:14] orta commented on #675
Would recommend using `--no-clean` to take a look a the resulting folder with lint, double check all the versions of alamofire/moya are what you expect them to be - as a [StreamRequest does exist](https://github.com/Alamofire/Alamofire/blob/a946285f1b1efcb7129d546f00c90ae213678185/Source/Alamofire.swift#L438) inside head Alamofire

You can also clean your pod cache for this listing stuff with `pod

[2016-09-25 18:19] spxrogers commented on #675
right, i found it too which why i thought it quite funky.

i'll inspect the `--no-clean` output as well as clean the pod cache.

[2016-09-25 18:39] petester42 commented on #675
Are you using cocoapods 1.1.0.rc.2? Using it fixed all my problems related to lint fails.

[2016-09-25 19:14] spxrogers commented on #675
@petester42 yep, i am.

so: https://github.com/Alamofire/Alamofire/blob/master/Source/Request.swift#L577-L600
... line 577 in AF only compiles `StreamRequest` if the os is not watch, explaining why the lint fails when compiling the watchOS platform :|

i guess this begs the question on how Moya isn't encountering this as well since [it similarly supports watchOS](https://github.com/Moya/Moya/blob/

[2016-09-25 21:46] ashfurrow commented on #675
Interesting, watchOS isn't being tested on CI, maybe our watch support has been broken for a while and we've just not noticed until now?

We're not even using the `StreamRequest` anywhere, we should be able to delete [this line of code](https://github.com/Moya/Moya/blob/25b8072a2cffa3baff3aea90ed94afed2c03b076/Source/Moya%2BAlamofire.swift#L9) without any problems.

[2016-09-25 22:20] spxrogers commented on #675
@ashfurrow funny. AF didn't introduce this type until version 4 and i had no issues updating to support Moya 7, so likely not broken for so long :)

i'll get a PR working and make sure nothing breaks, hopefully not!

[2016-09-25 22:43] ashfurrow commented on #675
Cool, thanks!

[2016-09-26 00:19] #675 closed

[2016-09-26 01:29] nanoxd opened #679 "Change Endpoint Helper Functions"
After looking at some of the documentation, I feel that `Endpoint`s helper functions should be changed in response to Swift 3.0's new [API design guidelines](https://swift.org/documentation/api-design-guidelines/#promote-clear-usage). This would be a breaking change.

## The Problem

With the recent changes in Swift 3.0 to the standard library, the following functions are verbose without adding mu

[2016-09-26 02:34] nanoxd opened #681 "Alamofire ParameterEncoding"
It looks like Alamofire removed [ParameterEncoding enum](https://github.com/Alamofire/Alamofire/blob/d59ed4f611a447c98881be24764b130e3f7d24bd/Documentation/Alamofire%204.0%20Migration%20Guide.md#parameter-encoding-protocol) for a Protocol of the same name.

We [typealias locally](https://github.com/Moya/Moya/blob/master/Source/Moya%2BAlamofire.swift#L13) here and use it in [Endpoint](https://githu

[2016-09-26 05:35] BasThomas commented on #679
Yes, I definitely think we should do this.

[2016-09-26 07:09] charlag opened #682 "Broken documentation link"
Hi!
I noticed a broken link on the page
https://github.com/Moya/Moya/blob/9bee1ff9117d2a743cfc39d57839473dbf470fe6/docs/Providers.md
The link is [Examples](Examples.md)
I would fix it myself but I'm not sure that I will do it correctly. Thanks.

[2016-09-26 07:27] #682 closed

[2016-09-26 07:28] BasThomas commented on #682
Thanks for noticing! I've fixed it now :)

[2016-09-26 07:44] BasThomas opened #684 "Swift 3: lowercase HTTP verb enums?"
Should we lowercase these, too?

https://github.com/Moya/Moya/blob/366a3142825957169a2807269382bb868d54f00c/Source/Target.swift#L52

[2016-09-26 11:04] spxrogers commented on #684
AF did 🙃
https://github.com/Alamofire/Alamofire/blob/e8bca7e40a861327366c5ccba42a688d17ec482a/Source/ParameterEncoding.swift#L30-L40

[2016-09-26 11:07] sunshinejr commented on #684
👍

[2016-09-26 14:11] ashfurrow commented on #684
Makes sense, does anyone have time to submit a PR?

[2016-09-26 14:34] ashfurrow commented on #681
Great question, thanks for linking to relevant code :bow: We definitely need to do something here, at least in docs. I'll take a look later today and see what we can do.

[2016-09-26 14:44] ashfurrow commented on #679
Great idea! I like it. Let's do the first one: `adding(thing:...`. A PR would be :100:

[2016-09-26 14:49] nanoxd commented on #684
✋ I can do it if no one else has time today

[2016-09-26 14:55] nanoxd commented on #679
Cool, I'll send one over shortly

[2016-09-26 16:30] #679 closed

[2016-09-26 17:39] BasThomas opened #690 "Reflect new way of encoding in docs"
Can someone take a look at `From Target to Endpoint` here? Alamofire's encoding has changed, but I am not entirely sure how myself.

https://github.com/Moya/Moya/blob/master/docs/Endpoints.md

This also might mention some incorrect code(?)

https://github.com/Moya/Moya/blob/master/docs/Examples/ArrayAsRootContainer.md

[2016-09-26 17:41] BasThomas commented on #690
@nanoxd, any idea?

[2016-09-26 18:55] #684 closed

[2016-09-27 11:56] guney opened #691 "Ambiguous reference to member 'request(_:completion:)'"
It seems like I'm having trouble with more than one parameter on requests. I'm trying to use first parameter in URL and second as query string or body if request is POST/PUT etc. I'm not using RxSwift/ReactiveCocoa.

Here is my usage of service and request.

[code]

[code]

Is it some kind of issue or am I doing something wrong?

[2016-09-27 12:35] KelvinJin commented on #691
Hmm, I would say I never trust compiler error 😛 ... It looks like `ConversationComplete` has two associated values which both only accept `String` not `String?` while you're passing `self.appointmentData?.uuid` and `nil` to them. Try change the type from `String` to `String?`?

[2016-09-27 13:35] #691 closed

[2016-09-27 18:24] Viniciuscarvalho commented on #673
Update these statements, `https://github.com/Moya/Moya/blob/master/docs/ReactiveCocoa.md` or that are in the readme? @ashfurrow

[2016-09-28 00:56] ashfurrow commented on #673
The readme, needs to use the same Podfile format as the Demo project. A PR would be awesome!

[2016-09-28 08:10] pschneider commented on #690
This seems to be related to #681
Still trying to figure out how to set the encoding in Alamofire.request via Moya now.

[2016-09-28 08:12] BasThomas commented on #690
Right, closing this in favor of #681.

[2016-09-28 08:12] #690 closed

[2016-09-28 20:31] Viniciuscarvalho commented on #673
@ashfurrow I made a change in the ReadMe for Active installation equal to podfile Demo project. 👍  #693

[2016-09-29 14:45] ashfurrow commented on #673
Cool, thanks!

[2016-09-29 14:45] #673 closed

[2016-09-29 19:37] AndrewSB opened #696 "Remove Demo.xcodeproj, move tests into the root directory"
I realized this when looking at #668, Is there a reason our tests are inside the `Demo/` dir? I had trouble finding them, and it feels strange that I can't run tests while Im working on Source in `Moya.xcodeproj`

 IMHO it makes sense to pull them out into a `Tests/` directory, and move all the targets in `Demo.xcodeproj` to `Moya.xcodeproj`, making it so the `Demo/` directory just contains the co

[2016-09-29 19:48] ashfurrow commented on #696
Great question. The tests have been in the Demo directory just because of convenience, sometimes you need to run the code in a real app's lifecycle. I'm happy to move them into a `/Tests` directory, but would prefer that they stay integrated with CocoaPods. If we _did_ move tests out of Carthage, we would need to do a `pod lib lint` on CI to make sure we don't break CocoaPods integration.

[2016-09-29 20:44] AndrewSB commented on #696
If the move is possible, I think we should do it. The directory structure with `Source/`, `Demo/`, `Test/` will also play very nicely with swift package manager once we support it.

I'll start a PR, but I'm not sure how to do the `pod lib lint` on CI. Can you help out with that when you have some time?

[2016-09-29 21:39] AndrewSB commented on #696
Created #698

[2016-09-29 21:39] #696 closed

[2016-09-30 04:18] scottrhoyt commented on #617
Hey @ashfurrow. I like that approach! I was thinking of something similar myself. I had a few of questions for you:

I assume you are using `NSUserDefaults` for persistence between app launches. That being said, I don't see a `.synchronize()` call anywhere, so are you just relying on the periodic automatic synchronization? It also looks like `AppDelegate` clears out the token values from user defa

[2016-09-30 07:11] pschneider opened #700 "Question: Moya not respecting SessionManager configuration for requests?"
Hi all,

I'm currently trying to implement a cache solution with a custom URLCache (and modify some cache methods like in this example (http://stackoverflow.com/a/19847811), Moya/Alamofire and therefor I'm using a custom SessionManager with my provider which configures the URLCache to use.

Especially this part is interesting:

[code]

I pass the final manager to my `MoyaProvider`, but it seems, t

[2016-10-01 14:46] ashfurrow commented on #617
Yup, don't need to worry about synchronizing NSUserDefaults manually, it does it for you. And worst case, it looses the token and just fetches a new one. We clear them out just for consistency's sake. NSUserDefaults is just a convenient place to put them. We inject the token here: https://github.com/artsy/eidolon/blob/a7bb061c89cd4bed44d956b1376909ca0e72060b/Kiosk/App/Networking/Networking.swift#L

[2016-10-02 15:07] gregkerzhner opened #701 "Allow stubbing of NSURLResponse within sampleResponseClosure"
We are using Moya to build a caching layer on top of a restful service.  The way we uniquely identify requests in our system is via their URL, which we store into our data store (using Realm).   Specifically, we are using the `response?.URL?.absoluteString` property of `Response`.  We would like to test this functionality, but the only way to stub a response seems to be with a `EndpointSampleRespo

[2016-10-03 14:54] ashfurrow commented on #701
Hmm, what an interesting idea! I think if we were to include `NSURLResponse`, we would want to remove the `Int` status code. Another solution would be to add another `case` to the enum. I think that would make a lot of sense, actually. Want to send a pull request?

[2016-10-03 18:24] rlam3 commented on #617
@ashfurrow Is XAppTokenRequest different from a normal acess_token? I'm a bit confused here. Or is XAppTokenRequest supposed to request back a new JWT?

[2016-10-04 00:24] RamwiseMatt commented on #681
Any word on a fix for this? It is unclear to me at this point how to properly encode requests.

[2016-10-04 07:37] kanishkatn opened #702 "Compilation error in ReactiveCocoa in xcode 8"
Hi,

I am getting couple of compilation errors in xcode 8. Please help me.

![screen shot 2016-10-04 at 1 07 00 pm](https://cloud.githubusercontent.com/assets/4919645/19065835/84ab32b6-8a33-11e6-83bc-d42ead54b110.png)
![screen shot 2016-10-04 at 1 06 49 pm](https://cloud.githubusercontent.com/assets/4919645/19065836/84dceb9e-8a33-11e6-9edf-cfdfba8976c7.png)

Update: Alamofire is throwing errors as

[2016-10-04 09:09] BasThomas commented on #702
What is your `Podfile` like?

[2016-10-04 12:39] ashfurrow commented on #702
Hey there, can you double-check the installation instructions for CocoaPods [in the readme](https://github.com/Moya/Moya#cocoapods)? Then run `pod update Alamofire Moya` and that should do the trick 👍

[2016-10-04 12:55] ashfurrow commented on #681
Cool, that sounds like a good fix @RamwiseMatt. I think we just need to update our docs then, right? Anyone available for a pull request?

[2016-10-04 13:37] ashfurrow commented on #617
We don't use a JWT in that app, but the principle is the same. That's where you would add any tokens as HTTP headers, or sign the request using Heimdall or whatever for OAuth.

[2016-10-05 00:49] bryanbartow commented on #681
Just a heads up, I'm using 8.0 Beta 2 in a framework project I'm working on and this is giving me fits. Using @RamwiseMatt solution in my endpoint closure:
[code]
gives me the following compiler errors:
[code]
Commenting out my endpoint closure and removing it from the provider initializer causes everything to work just fine.

[2016-10-05 11:34] cocoatoucher opened #703 "What is the best way to transform server response globally?"
The backend I'm dealing with is sending custom error code and message in response data in certain situations.
Although it's not the perfectly designed backend, there is no way to change it right now.

The goal is to transform this response data to a Moya.Error.underlyingError(NSError). This NSError should have a custom domain and the values sent from the server as its userInfo.
Main reason for tha

[2016-10-05 17:24] Babbz75 commented on #617
@ashfurrow This may not be the right thread to ask but I'm a little confused on how to retrieve the auth token from the response headers and was hoping you'd be able to help me understand how to access it?

[2016-10-05 19:08] pedrovereza commented on #646
Closed after #704

[2016-10-05 19:51] BasThomas commented on #646
A PR template still has to / can be done maybe?

[2016-10-05 19:52] pedrovereza commented on #646
@BasThomas you're right, my bad 😅

[2016-10-05 20:18] sunshinejr opened #706 "Moya version for Swift X.X"
Hey guys! So I was wondering if we should make a note somewhere in the documentation / README, that specific version of Moya support X version of Swift. I wasn't sure if there is need for something like this so I am asking you: what do you think about it? 👊

[2016-10-05 20:27] BasThomas commented on #706
I think that's a good idea - I don't see it doing any harm, anyway 😃

[2016-10-06 11:00] lolgear opened #707 "Mystery in building targets or solving cocoapods and carthage dependencies."
I looked at `.xcodeproj` targets.

As I understand, framework / target depends on RxSwift or ReactiveSwift ( choose either ).

How do you solve dependency for cocoapods and for carthage simultaneously?

[2016-10-06 12:51] petester42 commented on #707
We don't solve it for both at the same time. For Carthage we use the xcodeproj and for cocoapods we use the podspec.

For cocoapods you don't need a xcodeproj since we just need to define a file that says what our dependencies are, where the source files are etc. Later when a user uses cocoapods to install our library it creates a target based on the settings we provide.

[2016-10-06 13:00] lolgear commented on #707
@petester42 but there are ReactiveSwift and RxSwift in some targets.

How do you build them in case of `carthage update`.
As I know, you can not tell `carthage update` about dependencies. It will download them and put in one pile. Only hosted app can make dependencies.

If your target has a dependency, it should make tricks with them to be carthage-compatible.
( As I mentioned above, ReactiveSwift

[2016-10-06 15:38] ashfurrow commented on #617
Good question; the response object [contains the URLResponse](https://github.com/Moya/Moya/blob/606fd46080ed3e4eabdfa1d50cdbe6b103466c62/Source/Response.swift#L7) which has the headers you can access.

[2016-10-06 17:20] AndrewSB commented on #707
Hey @lolgear! I believe you're talking about some changes that I made last month.

https://github.com/Moya/Moya/pull/563 is the pull request that suggested those changes, and the comments there go into the rationale behind the choices I made, and how it solves the dependency management mystery 🎩

I'm around if you have any follow up questions 👊

[2016-10-07 08:42] DanteCore commented on #700
Also have this problem. I tried to set custom SessionManager with RequestRetrier that was introduced in Alamofire 4, but implementation of RequestRetrier protocol not invokes

[2016-10-07 11:47] batrinuvlad opened #708 "AWS Upload - Order of parameters"
Hello,

I'm trying to upload an image to AWS and I receive the following response: "Bucket POST must contain a field named 'key'.  If it is specified, please check the order of the fields. ".

Request Body:
 {"policy":"CiAgICA...",
"signature":"RYm9...",
"ContentType":"image\/jpeg",
"key":"7c20c...jpeg",
"AWSAccessKeyId":"AKI...",
"acl":"public-read"}

[code]

Also, in the endpoint closure I chang

[2016-10-08 15:30] sunshinejr commented on #681
Hey @bryanbartow, only typo I found in your code is the `.GET` instead of `.get` enum case, otherwise it should be good to go. I've tested it in the Moya demo and was building correctly. If there are still some errors and cleaning doesn't help, let us know!

Also I'm closing this one in favor of #709. If you guys could chime in, it would be awesome! 👊

[2016-10-08 15:57] sunshinejr commented on #706
Great! Closing this one in favor of #710 which should implement the idea.

[2016-10-08 15:57] #706 closed

[2016-10-08 16:14] lolgear commented on #707
@AndrewSB thank you for swift reaction!
Not sure, it is a fat pull request.
However, you use compiler directives to determine building choice. That's sound good.

However, Moya, as I understand, uses Alamofire under the hood ( dependency ).

Also there are several Moya versions - ReactiveMoya ( + ReactiveSwift ) and RxMoya ( RxSwift ).
So different version of Moya uses different set of dependencie

[2016-10-08 22:57] lolgear opened #711 "How about bot?"
How did you setup that close issues?

[2016-10-08 23:03] BasThomas commented on #711
What do you mean? I am not sure I understand your question.

[2016-10-08 23:05] lolgear commented on #711
@BasThomas

@BasThomas
For example:

https://github.com/Moya/Moya/pull/563 MoyaBot helps in checking PR.

https://github.com/MoyaBot

[2016-10-08 23:07] BasThomas commented on #711
If you look closely at @MoyaBot's message, you can see it is generated by [Danger](http://danger.systems/). :)

[2016-10-08 23:07] #711 closed

[2016-10-08 23:16] lolgear commented on #711
@BasThomas thanks!

[2016-10-08 23:56] marcelofabri commented on #681
@bryanbartow I got the same error of yours, and in the same context (a podspec that depends on Moya). What I did was to add Alamofire directly on the podspec. However, this is weird because we didn't have this issue on previous Moya versions 🤔

[2016-10-09 00:10] petester42 commented on #707
We don't make the scheme for Carthage. We just make it a normal xcode scheme. We use Carthage to download the dependencies so that our schemes will compile by specifying a Cartfile.

So what happens when someone uses Carthage to get Moya for their app. Carthage builds all Moya dependencies (by looking at all of the cartfile) and Moya itself (by looking at the xcodeproj). The developer now has to a

[2016-10-09 00:17] AndrewSB commented on #707
Yup, @petester42 is completely right.
By including the line `github "Moya/Moya"` in a Cartfile, it builds all three of the shared targets (Moya, RxMoya, and ReactiveMoya), as well as all of the dependencies, and then you choose which frameworks you want to drag into your linked frameworks

[2016-10-09 07:28] lolgear commented on #707
@petester42 @AndrewSB and also Moya uses Carthage/Build/<Module> in **Framework Search Paths**. It's clear now, thanks!

[2016-10-09 08:07] orta commented on #707
👍

[2016-10-09 08:07] #707 closed

[2016-10-10 08:45] VivienGiraud commented on #474
Hi, Sorry for the delay, I came back to this issue but I switch to Swift 3.
So now I'm stuck with a `Cannot call value of non-function type '((String) -> String)!'` On `.componentsJoined(",")`
Any idea?
:/

[2016-10-10 08:48] VivienGiraud commented on #474
Ok, I found it, it's:
`(embedded as AnyObject).componentsJoined(by: ",")`
Let me check that it works correctly and I come back here.

[2016-10-10 09:17] VivienGiraud commented on #474
It seems to work :)
Thanks guys!
@aehlke Yeah I have the `%2C`  even adding `removingPercentEncoding` to `(embedded as AnyObject).componentsJoined(by: ",")` does not works :/

[2016-10-10 09:17] #474 closed

[2016-10-10 09:28] sunshinejr commented on #474
@VivienGiraud glad you found out the issue! Also looking by code, if you are using Swift's Structs API for arrays (instead of `NSArray`), you don't have to cast it and you can just use `joinWithSeparator(_:)` (in Swift 2) or `joined(separator:)` (in Swift 3) method:
[code]

[2016-10-10 12:08] VivienGiraud commented on #474
Yeah, that's what I did :)
Thanks!

[2016-10-10 13:09] zhigang1992 opened #712 "Different Params encoding within one Endpoint?"
I know this is wrong, but it does happen. :(

Currently, we have these properties for a target.

[code]

Is there a easy way to extend this list to include `ParameterEncoding` as well?

Thanks

[2016-10-10 13:20] sunshinejr commented on #712
Hey! I know the feeling so don't worry about it 👊

You can extend `TargetType` protocol with `ParameterEncoding` parameter, then in the `endpointClosure` use the `parameterEncoding` from target. [Here](https://github.com/sunshinejr/FlexibleMoya/blob/c33f9b9bbeddab2776de33f08d802660dab3ea4b/FlexibleMoya/Networking/Utils/MoyaUtils.swift#L14) you have example how I did it with `authToken` type, just

[2016-10-10 13:21] bryanbartow commented on #681
@sunshinejr Although I believe you had renamed the method cases in master by the time this came up, pod specs only allow you to point to releases and the 8.0.0 beta 2 tag/release still had uppercase cases. Either way, I don't think that's the issue.

@marcelofabri I'll give that a shot.

[2016-10-10 13:24] sunshinejr commented on #681
Oh, I will keep this opened till we resolve the issue then :)

[2016-10-10 13:33] zhigang1992 commented on #712
wow,  sweet.

Right on... Thank you.. 😄

🍻

[2016-10-10 13:33] #712 closed

[2016-10-11 19:50] Viniciuscarvalho commented on #668
@ashfurrow this task requires expanding the use of different classes? Or use more RxSwift and others?

[2016-10-12 04:55] WildDylan opened #713 "Return cached response when without network?"
Using: 8.0.0-beta2

[code]

Hi, When i want to use `Moya`, i find that:
What should i return when my request without sampleData?

Why not change sampleData to optional?

[2016-10-12 07:20] kanishkatn commented on #702
It did. Thanks a lot :)

[2016-10-12 07:36] #702 closed

[2016-10-12 16:08] shivayogic opened #714 "How to add url parameters and httpbody?"
Hello, I am new to Moya, I would like to have a parameterised url and also httpbody as json. I followed the issue #431 using xcode 8 with swift 3. I am geting ambiguous error while compiling. Apart from that Issue #431 discusses about having custom parameterisation, but do not discuss on how do I pass url paramters and httpbody to the end point. Early help appreciated. Below is the code snippet
[c

[2016-10-12 16:38] BasThomas commented on #714
Not sure, but shouldn't the `.Custom` be `.custom`?

[2016-10-12 16:49] shivayogic commented on #714
@BasThomas Even after changing to .custom still I am facing the same issue

[2016-10-12 16:55] Babbz75 commented on #617
Awww thank you! My problem was I had to cast response.response as? NSHTTPURLResponse before it allowed me to use the .allHeaderFields["..."] function on it

[2016-10-12 17:06] ashfurrow commented on #713
Hey there, great question!

First, to return empty data you can `return Data()`, which makes things a little easier.

The data you return should be a response representative of what your API actually returns. For example, if you request a `user` object from a REST API, you should get back some JSON that represents a user (encoded in `Data`). In my apps, I'll store this JSON as files and read them

[2016-10-12 18:51] delta98 commented on #559
@ashfurrow how do you get hold of a sticker?

[2016-10-12 21:04] ashfurrow commented on #559
The US-bound stickers are already in the mail, the international post should be going out this week. Thanks for your patience!

[2016-10-12 21:10] colinta commented on #559
Mine arrived today!

[2016-10-12 21:12] esttorhe commented on #559
Hi @ashfurrow do you reckon I still have time to update my address?

The current address is `SoundCloud` but attention to «Pedro Piñera» because I didn't know if I was going to be in 🇩🇪 by the time the stickers would arrive.

If its too much hassle I won't update, was just wondering

[2016-10-12 21:20] ashfurrow commented on #559
@esttorhe Aye, I've addressed it to Berlin, but if you're not there anymore I can change it.

If anyone else has address updates, please send the updated address to ash@ashfurrow.com . Thanks!