[2014-08-16 18:24] ashfurrow opened #1 "Network API should return a promise or signal or something"
Just using a completion block and passing the data as a parameter to the closure isn't going to cut it. ReactiveCocoa to the rescue, maybe?

[2014-08-16 18:29] ashfurrow opened #2 "Compile-time safe way to restrict API endpoint calls"
So this is a tough one that I need to figure out an abstraction for. The basic gist is as follows: You set up a `MoyaProvider` with a bunch of endpoints. Cool, right? Except as of this moment, you access the API like this:

[code]

Not cool – let's avoid stringly-typedness in this library.

Is there a way to provide a compile-time check that the endpoint actually exists? Can we set up some sort of

[2014-08-16 18:30] ashfurrow opened #3 "Keep track of in-flight requests"
This will be a key component after #1 is completed. For example, if a request is made to an in-flight request, we can return the promise or signal or whatever associated with that response.

[2014-08-16 18:31] ashfurrow opened #4 "NSURLSessions something something"
This is a new API as of iOS 7, and to be honest, I haven't taken a look at it yet. It could be really useful or something. Let's find out.

[2014-08-16 19:28] ashfurrow opened #5 "Differentiate GET/POST/etc"

[2014-08-17 15:38] ashfurrow opened #7 "Parameters in MoyaEndpointsClosure"
Pass them into the closure. Obviates the need for #5.

[2014-08-17 15:38] #5 closed, assigned to nobody

[2014-08-17 16:51] #2 closed, assigned to nobody

[2014-08-17 19:21] ashfurrow opened #9 "Optional, last-minute hook"
We should provide some way to alter the request somehow, for authentication.

[2014-08-17 19:43] ashfurrow opened #10 "Allow endpoints to specify parsing of data"
You know, instead of sending NSData, we could send JSON or images or something. Who knows!

[2014-08-17 19:51] #7 closed, assigned to nobody

[2014-08-17 19:55] #1 closed, assigned to nobody

[2014-08-17 20:18] ashfurrow opened #13 "Documentation"

[2014-08-17 20:37] #4 closed, assigned to nobody

[2014-08-17 21:07] ashfurrow opened #14 "Incorporate Chris' feedback"
Some really good stuff here: https://gist.github.com/chriseidhof/1fc977ffb856dbcdc113

[2014-08-18 21:46] ashfurrow opened #15 "test network failures"
Right now you can only stub successes, but if your view controller reacts to failures, there is no way to stub that.

[2014-08-20 14:03] ashfurrow opened #16 "Provide non-ReactiveCocoa interface"
The main interface can still use `RACSignal`s, but we should have an extension for the `MoyaProvider` class that allows developers to opt for callback blocks.

[2014-08-20 14:26] ashfurrow opened #17 "Make ReactiveCocoa an optional dependency and extension"
Related to #16.

[2014-08-23 06:19] ashfurrow opened #19 "Use of RAC is Incorrect"
So right now, we send the request when the `request` method is called. That is no the ReactiveCocoa way. We should be returning a multicasted signal that sends the request when it is first subscribed to, like [this](https://github.com/AshFurrow/FunctionalReactivePixels/blob/master/FRP/FRPPhotoImporter.m#L48-L57).

[2014-08-23 11:21] #17 closed, assigned to nobody

[2014-08-23 11:21] #19 closed, assigned to nobody

[2014-08-23 11:21] #16 closed, assigned to nobody

[2014-08-23 21:21] ashfurrow opened #22 "MoyaCompletion object parameter should be NSData"
It's currently `AnyObject`, just because that's the type of the object from Alamofire, but in all cases, it will be `NSData`. Might open an issue over there to fix that.

[2014-08-27 14:44] ashfurrow opened #23 "Logo"
All the projects nowadays need a cool, edgy logo. Not a high priority, but when it comes to logos, I only trust the best.

[2014-08-29 19:56] #14 closed, assigned to nobody

[2014-08-29 20:53] #15 closed, assigned to nobody

[2014-08-29 21:05] #22 closed, assigned to nobody

[2014-09-01 13:47] ashfurrow opened #26 "Split integration tests into their own testing target"
@orta mentioned how it was kinda weird to have them all tangled up. Another test target should separate things nicely.

[2014-09-05 17:39] #23 closed, assigned to nobody

[2014-09-06 12:39] ashfurrow opened #31 "Allow specification of parameter encoding"
Alamofire supports [four](https://github.com/Alamofire/Alamofire/blob/master/Source/Alamofire.swift#L38-L42) different parameter encodings. Basically, we just need to expose those options to the `Endpoint` class. I'd like to do that without exposing the internals of Alamofire itself, though.

[2014-09-06 12:48] #9 closed, assigned to nobody

[2014-09-06 14:10] #26 closed, assigned to nobody

[2014-09-06 17:15] ashfurrow opened #35 "RACSignal operators for data transformations"

[2014-09-06 17:17] #10 closed, assigned to nobody

[2014-09-06 20:06] #35 closed, assigned to nobody

[2014-09-06 20:10] #31 closed, assigned to nobody

[2014-09-06 20:21] #3 closed, assigned to nobody

[2014-09-06 20:51] ashfurrow opened #37 "Switch to returning URL request instead of endpoint in closure"
For the last-minute hook. Using a URL request will let people use general-purpose request-signing libraries.

[2014-09-07 03:44] ashfurrow opened #39 "Sample App"
As @orta suggested, it'd be awesome to have a sample application demonstrating real-world use of Moya with the GitHub API.

[2014-09-07 11:59] #37 closed, assigned to nobody

[2014-09-07 12:00] #39 closed, assigned to nobody

[2014-09-07 18:18] #13 closed, assigned to nobody

[2014-09-11 14:38] ashfurrow opened #44 "Completion blocks should indicate status code or response object"

[2014-09-12 15:13] #44 closed, assigned to nobody

[2014-09-12 17:04] ashfurrow opened #46 "Use NSError to relay status codes"
Related to #44.

[2014-09-15 16:20] ashfurrow opened #48 "Make stubbed data responses synchronous"

[2014-09-15 17:31] #48 closed, assigned to nobody

[2014-09-19 07:31] ashfurrow opened #51 "Clarify benefits of using Moya over vanilla Alamofire"
It's not super clear why one would want to use Moya instead of using Alamofire itself. We should update the README.

[2014-09-20 04:59] scottdensmore opened #52 "Alamofire submodule will not update"
Looks like it was added with ssh key for a submodule. I don't use ssh. Can it be added by http?

[code]

[2014-09-22 11:29] ashfurrow opened #53 "Extraneous println"
https://github.com/AshFurrow/Moya/blob/818de5e000da201e4d823511bbf55b905566d40a/Moya%2BReactiveCocoa.swift#L65

[2014-09-22 11:57] #52 closed, assigned to nobody

[2014-09-22 11:57] #53 closed, assigned to nobody

[2014-09-25 07:54] orta opened #56 "Inline testing providers"
right now a test suite doing some networking looks like:

[code]

This is fine, and it goes and access pre-rendered stubs etc. I'd like some choice, and to allow making something like this (excusing broken syntax):

[code]

with maybe the potential of returning strings, json objects and data?

[2014-09-28 10:53] orta opened #57 "Not sure 401s are being handled correctly"
![screen shot 2014-09-28 at 11 51 49](https://cloud.githubusercontent.com/assets/49038/4434042/82ff2a06-46fd-11e4-8949-0a1bdff593fa.png)

We have `nil` error from AlamoFire, but the 401 is unauthorised, so it misses the status check and classes as a next.

[2014-10-06 16:41] orta opened #60 "Method Type should really be a part of the API"
The header API for two requests on the same URL can be different when comparing POST vs GET for example.

[2014-10-06 17:41] ashfurrow opened #61 "Compile-time check for properties that need to be URL-encoded"
There's no way to attach information that is encoded into the URL of an endpoint but that is not part of the path.

See: https://github.com/artsy/eidolon/pull/95/files#r18471548

[2014-10-07 10:25] #61 closed, assigned to nobody

[2014-10-09 13:47] orta opened #63 "Inflight Requests are not always being removed"
Known: If a request errors, it cannot be ran a second time.

Removing [these lines](https://github.com/AshFurrow/Moya/blob/703ffafac1ad8050621b6cdecdc5d0115e5c5d60/Moya%2BReactiveCocoa.swift#L53-L55) fixes the issue.

[2014-10-09 19:10] #63 closed, assigned to nobody

[2014-10-10 16:34] orta opened #65 "Bit weird that a non-stubbed provider still pulls in data for stubbed response"
It's nice for knowing that you forgot your stubbed data file though.

[2014-11-05 11:51] delebedev opened #66 "'URLRequestConvertible' is not a subtype of 'NSURLRequest'"
![2014-11-05 14-48-36 moya swift edited](https://cloud.githubusercontent.com/assets/829783/4917206/d9088724-64e1-11e4-9f9c-e02aef081ac2.png)

I've integrated Alamofire as subproject and dragg-n-dropped Moya sources as displayed at the screenshot and got this strange error.

Xcode 6.1

[2014-11-05 13:33] delebedev opened #67 "Is there any way to pass default parameters to Moya requests?"
I'm wondering maybe I've missed something, but I do not see any way to pass default parameters to each request.

`Moya.defaultParameters()` exists but it is not exposed in any way to be configured

[2014-11-05 13:54] #67 closed, assigned to ashfurrow

[2014-11-05 13:55] ashfurrow opened #68 "Documentation"
Sorely missing. Now that [eidolon](https://github.com/artsy/eidolon) is at a 1.0, I should have enough real-world experience to document, in detail, the different use cases and features of Moya.

[2014-11-05 18:04] #66 closed, assigned to nobody

[2014-11-09 23:53] aehlke opened #70 "MoyaErrorDomain must be public"
When choosing to use Moya as a submodule rather than copy its files into a project, MoyaErrorDomain is unusable outside Moya since it's private by default.

[2014-11-14 15:48] swizzlr opened #73 "Swagger Spec -> Moya Target Generator"
I may end up doing this in anger, so I'm dropping a note here in case anyone else is interested. Probably a separate project? It uses mustache templates so how hard can it be?!

[2014-11-16 11:07] ashfurrow opened #74 "Make defaultParams part of MoyaPath protocol"
From our use in [Eidolon](https://github.com/artsy/eidolon/), we almost always call `request` with the [`defaultParameters`](https://github.com/artsy/eidolon/blob/29cfd75f3a63ed2d320a87659953f7cd5071ecb4/Kiosk/App/Networking/ArtsyAPI.swift#L40-L114) we've defined on our target, since the target contains all the details necessary for the action, anyway. So why not codify that requirement?

Thoughts

[2014-11-16 12:34] #68 closed, assigned to ashfurrow

[2014-11-16 12:35] orta opened #76 "Travis CI"

[2014-11-17 17:51] ashfurrow opened #78 "MoyaResponse is crashing when used with ReactiveCocoa"
I get a warning like:

[code]

[2014-11-18 20:43] #76 closed, assigned to nobody

[2014-11-19 02:02] ashfurrow opened #81 "Jazzy documentation"

[2014-11-19 15:51] #46 closed, assigned to nobody

[2014-11-19 16:31] #57 closed, assigned to nobody

[2014-11-23 13:56] retsohuang opened #84 "Unable to use Moya with CocoaPods"
Thanks for this great work, but I can't use that because when i run `bundle install`, it show following message

[code]

[2014-11-23 16:47] swizzlr opened #85 "Impossible to use Moya as submodule/workspace project"
For the Carthage/submodule users– a Moya.xcodeproj defining the Moya.framework target is something I would very much like. Putting this in as placeholder, I'm working on it.

[2014-11-23 17:04] #84 closed, assigned to nobody

[2014-12-02 15:54] retsohuang opened #88 "Distribute to AppStore"
I use this framework with CocoaPods, but I can't install my app on my device via OTA install (use Fabric).

And I try to submit to iTunes Connect, I got this message.

[code]

Any idea?

[2014-12-12 12:50] hariseldon78 opened #89 "the "Project readme" linked in the readme gives 404"
The link http://ashfurrow.com/Moya is not working. is it possible to put it on github?

[2014-12-15 14:30] #89 closed, assigned to nobody

[2014-12-23 07:30] chipsterm opened #90 "Custom ParameterEncodings"
I have been working with this framework on iOS and am having a compile issue when adding custom parameterEncodings. I was wondering if you could help me out.

My EyeQEndPoints enum does not implement URLRequestConvertible which I believe is ok.

I declare the custom closure as follows:

let xmlParameterEncoding:(URLRequestConvertible, [String: AnyObject]?) -> (NSURLRequest, NSError?) = {(URLReques

[2014-12-26 09:28] ashfurrow opened #91 "Custom URL encoding requires importing Alamofire"
Kind of a leaky abstraction. Just need an intermediate type to replace `URLRequestConvertible`, which belongs to Alamofire.

See #90.

[2015-01-01 16:22] chipsterm commented on #90
Thank you for the response. I figured that out shortly after I created the ticket.

[2015-01-02 15:05] ashfurrow commented on #90
Awesome! I'll close this. Feel free to reopen or open a new issue if you have other questions.

[2015-01-02 15:05] #90 closed

[2015-01-11 15:29] ashfurrow opened #93 "Update README for new CocoaPods instructions"
It's on trunk now.

[2015-01-11 16:30] #93 closed

[2015-01-27 13:21] swizzlr opened #95 "Delay in stubs"
It would be sweet if there were a way to randomly or deterministically add a short delay to stub request returns to make it a little more "real".

[2015-01-27 14:42] ashfurrow commented on #95
I can see the value in making sure that the network code is run asynchronously, but tying your network callbacks to the assumption that they'll have a short, undetermined delay is probably not the best practice to be encouraging.

So maybe not a delay, but some kind of mechanism to defer to the next invocation of the runloop?

[2015-01-27 15:04] swizzlr commented on #95
Oh, this is purely so we can show off a loading animation.

[2015-01-27 15:17] ashfurrow commented on #95
Very good point – I hadn't considered stubs much outside a testing context. This is a great idea. I'll look into it more.

[2015-01-28 11:27] swizzlr commented on #95
Super helpful for when stage/dev is down.

[2015-01-28 11:32] ashfurrow commented on #95
Yeah, we stub responses based on a heuristic to check if you have access to the API or not. I can also see it being valuable in rapid application prototyping, where the API isn't ready or stable yet. Thinking of adding a(n optional?) property to the enum protocol that allows developers to specify a delay. Thoughts?

[2015-01-28 13:31] orta commented on #95
IMO cool, as long as 0 doesn't jump out of being synchronous

[2015-01-28 13:40] ashfurrow commented on #95
We can use an enum with associated values. Something like:

[code]

[2015-01-28 13:40] orta commented on #95
:+1:

[2015-01-28 15:41] #95 closed

[2015-01-29 12:20] aschuch commented on #78
I just had the same issue and resolved it with your suggested fix.
Is there a reason this has not made it into master yet? Do you want to hold off until this is resolved in ReactiveCocoa itself?

[2015-01-29 12:33] ashfurrow commented on #78
To be honest, I've been really busy. I'd gladly merge a pull request, though.

[2015-01-29 13:27] aschuch commented on #78
:+1: done

[2015-01-29 13:35] #78 closed

[2015-02-09 01:36] aehlke opened #99 "Moya+ReactiveCocoa should support HTTP headers"
I'm going to take a stab at it in my own fork, but am pretty new to Swift so it probably won't be PR-able.

[2015-02-09 01:39] aehlke commented on #99
Ah, never mind... Misunderstood how this is done.

[2015-02-09 01:39] #99 closed

[2015-02-09 15:32] ashfurrow commented on #99
Cool – please feel free to open up another issue if you have any questions or want clarification on anything.

[2015-02-22 15:01] EMidee66 opened #101 "CocoaPods+Moya"
Hello Ash,

Can you help me with a problem?

When I installed my pods I used bundle exec pod install .. with cocoapods beta 1 on my gemfile. Today I put on the gemfile fastlane and now it's using cocoapods beta 2. I deleted fastlane gems and also cocoapods beta 2  + core but when I try bundle exec pod install it says: We couldn't find cocoapods core .. beta 2. Maybe one of the gems still needs bet

[2015-02-22 16:11] EMidee66 commented on #101
Ok I fixed it. :) I see you guys at Artsy use beta 1. Are there any problems when you submit the app to the app store with beta 1?

[2015-02-22 17:15] orta commented on #101
we don't need to submit to the app store, as it's an internal tool, I believe that beta 2 should have fixed the issues around deployment to app store.

[2015-02-22 17:37] EMidee66 commented on #101
Thank You Orta! :)

[2015-02-22 17:37] #101 closed

[2015-02-25 17:26] colinta opened #102 "More of a "how do I", maybe a feature request."
We are getting `Link: ... rel="prev"` URLs from our API that are used for pagination.  They return a full URL, and we need to use that URL in the subsequent request.

Since the URL includes `?query=params`, we are having a URL encoding issue.  Makes sense, though, since we are doing something outside the norm.  Is this even a situation that Moya wants to support?

In short, we are trying to come u

[2015-02-25 17:27] colinta commented on #102
CC @rynbyjn and @steam - anything to add, fellas?

[2015-02-25 17:43] steam commented on #102
@colinta we're currently parsing Link: into NSURLComponents and then reassembling the params in defaultParameters. Its not ideal though. I am curious how other Moya users handle this.

[2015-02-25 17:49] ashfurrow commented on #102
Cool! @kylef has a cool repo. Maybe we could use it, or even borrow ideas from it: https://github.com/kylef/WebLinking.swift

[2015-02-25 17:52] ashfurrow commented on #102
Could use the [representor pattern](https://github.com/the-hypermedia-project/charter#representor-pattern) too. Some closure that can return a(n optional?) new endpoint based on the previous response. This kind of thing would be really easy with the ReactiveCocoa extension: the signal for the initial request could emit another signal for a follow-up or something.

[2015-02-25 17:54] steam commented on #102
Nice, we are using WebLinking.swift for the parsing. WebLinking gives us the ability to ask for "next" and "prev" which are super handy. The issue we're running into is that the links are already url encoded by the application server generating the "Link" in the response header. Just saw your representor pattern comment. We'll explore that internally. We're non-RAC so we'll need to come up with so

[2015-03-14 10:35] aschuch opened #103 "filterSuccessfulStatusCodes"
At the moment, [`RACSignal+Moya.swift`](https://github.com/ashfurrow/Moya/blob/190a180902919497de05ff4067d39ebcf4cfc96c/RACSignal%2BMoya.swift#L52) defines `200...299` as successful status codes.

I ran into an issue when dealing with cached responses (i.e. 3xx status codes) that would incorrectly be rejected.

Should we change the definition of successful to `200...399`?
I would be happy to open

[2015-03-14 14:19] ashfurrow commented on #103
Interesting! I think this comes down to a couple things:

- Do redirected responses contain a response body?
- Does Alamofire handle redirects transparently?

I believe the answer to the first question depends on your server/API. I don't know the answer to the second question. @kylef ?

Do you think having something like `filterSuccessfulStatusAndRedirectCodes` would be worth it?

[2015-03-16 23:25] sebinsua opened #104 "Difficulty installing with ReactiveCocoa and LlamaKit using the method described in your docs."
[The version in your ReactiveCocoa podspec](https://github.com/ashfurrow/ReactiveCocoa/blob/podspec/ReactiveCocoa.podspec#L38) does not seem to match [the version defined in your LlamaKit repo](https://github.com/ashfurrow/LlamaKit/blob/rac_podspec/LlamaKit.podspec#L3).

On trying to install the two pods together I am getting this error message:
[code]

Any ideas?

[2015-03-16 23:37] ashfurrow commented on #104
The ReactiveCocoa version requires a specific version of LlamaKit; you'll need to use the same version in your Podfile.

[2015-03-16 23:40] sebinsua commented on #104
What I mean is that this happens when you follow the installation instructions in your README. :)

``
pod 'Moya', :git => "https://github.com/AshFurrow/Moya"

# Include the following only if you want to use ReactiveCocoa extensions with Moya
pod 'LlamaKit', :git => "https://github.com/AshFurrow/LlamaKit", :branch => "rac_podspec"
pod 'ReactiveCocoa', :git => "https://github.com/AshFurrow/ReactiveC

[2015-03-16 23:42] ashfurrow commented on #104
Ah, apologies. The README looks out of date. Only include the pod names and not their :git components.

[2015-03-16 23:43] ashfurrow commented on #104
I'll update the README soon.

[2015-03-16 23:44] sebinsua commented on #104
Ah, alright. Thanks for the help. :)

[2015-03-17 07:38] aschuch commented on #103
* I think that the server sends a response anyway, although it may not contain any actual data. However, it would still be possible to parse the response into a `MoyaResponse` object to e.g. get its `statusCode`.
* Based on [this PR](https://github.com/Alamofire/Alamofire/pull/350), Alamofire seems to be handling redirects transparently, but I have not had the time to further investigate.

Somethi

[2015-03-17 16:28] #104 closed

[2015-03-17 22:39] ashfurrow commented on #103
Sounds good!

[2015-03-24 15:48] #103 closed

[2015-03-30 15:18] aschuch commented on #85
@swizzlr Any news on this issue?

[2015-03-30 17:38] ashfurrow commented on #85
[This](https://github.com/neonichu/Rome) might help.

[2015-03-30 17:40] aschuch commented on #85
Oh nice.
This might actually be pretty helpful, thanks. 💞

[2015-03-31 13:16] aschuch commented on #85
Hi @ashfurrow,
I tried to build Moya for Swift 1.2 with your aforementioned link, but went straight to dependency hell.

I've done 2 things now:
1. I updated Moya to swift 1.2. (I am happy to open a separate pull request for that if you want?)
2. I have now created a project at https://github.com/aschuch/MoyaCarthage that creates Moya.framework to directly work with Carthage.

Do you think Carthag

[2015-03-31 15:57] ashfurrow commented on #85
Cool!

So Moya doesn't have Swift 1.2 support yet because I'm still stuck on Swift 1.1. A PR onto the `swift-1.2` branch would be :+1:

As for Carthage, I'm amenable to Carthage support for Moya – it's just been that no one has asked for it yet. Someone tried once but apparently it was really hard? I dunno. If you want to send a separate PR for that (onto `master`), that would also be welcome!

![

[2015-04-05 23:20] te-chris commented on #85
Sorry, I'm not sure if this is the appropriate place for this comment, but I'm trying to get Moya going on a swift 1.2 XC 6.3 Beta 4 project and running into some compile errors.  Some were easy fixes (swift demanding that a method parameter be called with its parameter name), but one is stumping me somewhat:
[code]
The use of @autoclosure here raises a ``` '/Users/christopherbull/dev/ios/bangers/

[2015-04-05 23:25] ashfurrow commented on #85
Hey @te-chris! A new issue would be very much appreciated. Thanks!

[2015-04-06 07:38] te-chris opened #106 "Moya doesn't compile on XC 6.3 beta 4, Swift 1.2"
I'm trying to get Moya going on a swift 1.2 XC 6.3 Beta 4 project and running into some compile errors.  Some were easy fixes (swift demanding that a method parameter be called with its parameter name on lines 166, 170, 174 of Moya.swift, adding the parameter name in satisfied the compiler), but one is stumping me somewhat:
[code]
The use of @autoclosure here raises a ``` '...Pods/Moya/Endpoint.sw

[2015-04-06 09:19] aschuch commented on #85
Hey @te-chris, I will open a pull request this week that should fix 1.2 compatibility.

----

@ashfurrow, 1.2 compatibility would require a ReactiveCocoa version bump to alpha 3 on the CocoaPods side of things and I don't think there is a podspec for that yet?

This was actually the reason why I ended up creating a new project for Carthage, because I wasn't able to resolve the CocoaPods dependenci

[2015-04-06 09:28] aschuch commented on #106
See changes in #107.

[2015-04-06 09:29] aschuch commented on #85
See changes in #107.

[2015-04-06 15:20] ashfurrow commented on #85
Awesome! I'm wary about having two different demo projects. Would it be possible to have two projects that point to the same .swift files?

[2015-04-06 15:21] ashfurrow commented on #85
Maybe even the different targets in the same project?

[2015-04-06 15:31] orta commented on #85
@neonichu / @kylefuller / @segiddins do we have something that can generate Cartfile.resolved from a Podfile.lock. I wouldn't expect the carthage team to build something similar, but is it something we can try? Looks simple enough.

I don't think having two complete projects is a smart idea, two repos is even worse. As reasonable project owners we will probably have to re-write our project to supp

[2015-04-06 15:56] aschuch commented on #85
I think 2 targets would be best, not a huge fan of 2 demo projects or repos tbh. The repo I created was meant to be a POC only.

I think Carthage requires the project file to reside in the root of the repo though, so we would need to rearrange some things.

@orta's idea sounds really great. What do you think, @jspahrsummers?

[2015-04-06 16:15] ashfurrow commented on #106
Hey! These have been merged in. I updated the dependency on ReactiveCocoa on CocoaPods trunk. I don't have access to do so with Alamofire, our other dependency, so you need to have a Podfile that declares you're using their pre-release version *first*.

[code]

I just tried that on a test project and it seemed :+1: so feel free to re-open this issue if you're still experiencing problems and we'll

[2015-04-06 16:15] #106 closed

[2015-04-06 20:06] neonichu commented on #85
@orta wouldn't be a fan of generating that. If you want to support Carthage, you should at least run it once to verify that it builds and then you'll have the Cartfile.lock, anyway.

[2015-04-06 21:58] jspahrsummers commented on #85
I don't think two demos split by choice of dependency manager make sense. A demo is just a demo, so why does it matter to consumers how it includes its dependencies?

On the other hand, it shouldn't be hard to add an Xcode project for Carthage compatibility with the _framework_. If you have questions about that, I'd be happy to help.

[2015-04-07 11:20] te-chris commented on #106
Thanks! @ashfurrow great project, can't wait to get more familiar with it.

[2015-04-07 11:21] ashfurrow commented on #106
@te-chris Glad to hear that! As always, don't hesitate to open an issue if you have a question, if something doesn't work the way you expect it to based on the documentation, etc.

[2015-04-08 19:03] ashfurrow opened #108 "Swift 1.2 branch needs @autoclosure back"
We can use `@autoclosure(escaping)`.

[2015-04-14 18:08] ashfurrow opened #110 "Use URL caching to avoid hitting the network for integration tests"

[2015-04-23 13:45] skywinder opened #113 "Update to Support Latest Swift & Dependencies"
Now it's strictly binded to Alamofire version `1.1.0`
https://github.com/ashfurrow/Moya/blob/master/Moya.podspec#L23

But it's `1.2.1` version already released. Is there any reasons to stay with `1.1.0`?

[2015-04-23 15:30] ashfurrow commented on #113
Hmm. The only reason I can think of is that Moya hasn't been updated for Swift 1.2 yet, but Alamofire has. Suggestions?

[2015-04-23 17:31] skywinder commented on #113
@ashfurrow hmm, update it to 1.2? :wink:

[2015-04-23 17:52] ashfurrow commented on #113
Haha yeah. I should get on that ... I'll rename the issue.

[2015-04-23 17:53] ashfurrow commented on #113
Pretty busy for the next five or so days. Feel free to take a stab at it in the mean time ;)

[2015-04-24 15:40] ptiz opened #114 "Implement uploading of multpart/form-data"

[2015-04-24 15:42] ashfurrow commented on #114
Great idea! I think Alamofire supports this already, so there is an opportunity to leverage their code while being clever about how we expose the functionality.

[2015-04-24 15:58] ptiz commented on #114
I am afraid it is not, out of the box. But it would be great if there was something like Alamofire.upload at least.

[2015-04-24 15:59] ashfurrow commented on #114
OK, cool. We can start there then :)

[2015-04-29 09:06] aschuch commented on #114
There is [Alamofire support](https://github.com/Alamofire/Alamofire#uploading) for uploading and downloading files, so this would be straight forward I guess.

I anyone already working on this? Might need it in the following weeks so I might as well hack on it if you want.

[2015-04-29 13:08] ashfurrow commented on #114
Help on this would be very much appreciated. I'm catching up on some work for the remainder of the week, and won't have time to look at it for a while.

[2015-05-14 16:12] MichaelMcGuire opened #118 "RAC 3.0 support"
Were you planning on incorporating ReactiveCocoa extensions based on the 3.0 API?  I'm about to create my own extensions and wouldn't mind sending them along if you were interested.

Thanks for the awesome library!

[2015-05-14 17:09] MichaelMcGuire opened #119 "Cancelable Network requests"
The current API does not provide a way to cancel a network request.  Alamofire's `Request` object exposes `NSURLSessionTasks`'s `cancel` method, but `MoyaProvider` does not keep a reference to the `Request` object to later cancel, nor does it return a token to the client that could be passed later for canceling.

Since supporting this would require a change to the API, I was wondering what your th

[2015-05-14 20:35] ashfurrow commented on #118
:bow: A pull request with the extensions would be awesome! Let me know what I can do to help.

[2015-05-14 20:40] ashfurrow commented on #119
Neat idea!

I think the base case for non-Reactive providers would be to return an opaque object; one that has no public members except a `cancel()` function. The object (or struct) would wrap the `Request` object from Alamofire to avoid a leaky abstraction. Then it would be up to the caller to do anything – or not – with the returned value.

It wouldn't even be a breaking change, unless the call

[2015-05-14 21:24] MichaelMcGuire commented on #119
Perfect :ok_hand:

I can take a look at this in the next couple of days, unless you'd like to handle it.  If you'd like me to start something, let me know which version of Xcode you prefer for the work on master.  I'm assuming 6.1.1? 6.2?

[2015-05-14 21:57] MichaelMcGuire commented on #119
Couple of questions:

1. Do you expect this functionality to work with stubbed responses?  If so, I'm assuming it would only be in the case of a .Delayed behavior, as anything else instantly responds
2. What would you expect to happen in regards to the completion block when a request is canceled?  My first inclination would be to still call the completion block but with an error. I believe that is

[2015-05-15 07:54] ashfurrow commented on #119
Great questions!

1. Hmm. Good question. I think `.Delayed` makes sense.
1. This is a really interesting point. I really dislike having a tonne of different parameters in the completion block and making the user of the library try to figure out what they all mean, but my primary use of Moya is with ReactiveCocoa, so I only wrapped Alamofire (figured those people know what's best). In this case, I

[2015-05-15 07:55] ashfurrow commented on #119
Oh, and let's go on the latest Xcode – we can merge into the `swift-1.2` branch, which'll be merged into master shortly anyway.

[2015-05-15 17:03] MichaelMcGuire commented on #119
I ended up using Xcode 6.1.1 because the latest Xcode (with Swift 1.2) won't compile without the changes from the `swift-1.2` branch.

[2015-05-21 11:47] zdavison commented on #114
Also looking for this fairly soon. @aschuch do you have any progress on this? If not I can take a look.

[2015-05-21 11:57] aschuch commented on #114
@zdavison I did not start on it yet. I probably don't get time to do it anytime soon though... :disappointed:

[2015-05-21 12:01] zdavison commented on #114
@aschuch that's ok, i'll take a look here, we need it in the next week or so.

[2015-05-25 19:21] #119 closed

[2015-05-25 23:43] ashfurrow opened #123 "Moya Documentation"
Moya documentation either exists in the source code (ew) or in the README (which doesn't scale). A solution to this issue would ideally include:

- Restructuring existing README docs into `/docs` directory.
- Rewrite README to outline:
 - The problem Moya solves.
 - How Moya solves it, at a high-level.
 - Why Moya's solution is a good idea.
 - Installation instructions.
 - A link to the docs and t

[2015-05-25 23:45] ashfurrow commented on #81
Closing in favour of #123.

[2015-05-25 23:45] #81 closed

[2015-05-25 23:46] ashfurrow commented on #65
This is fixed with the new `.Closure` type of the sample response enum :+1:

[2015-05-25 23:46] #65 closed

[2015-05-25 23:48] ashfurrow commented on #51
Rolling into #123.

[2015-05-25 23:48] #51 closed

[2015-05-25 23:52] ashfurrow commented on #74
So the default parameters will be merged with the ones provided by the caller, I think. That way API calls needing parameters only have to manage them once instead of every API call. This calculation should be as part of the target `enum`, just like the path.

I think Orta's suggestion would make sense if we weren't making [HTTP methods part of the API](https://github.com/ashfurrow/Moya/issues/60)

[2015-05-25 23:53] ashfurrow commented on #113
This is fixed as of https://github.com/ashfurrow/Moya/releases/tag/0.8.0 .

[2015-05-25 23:53] #113 closed

[2015-05-25 23:53] ashfurrow commented on #110
Done.

[2015-05-25 23:53] #110 closed

[2015-05-25 23:54] ashfurrow commented on #102
This should be fixed [with this issue](https://github.com/ashfurrow/Moya/issues/74), which makes parameters like the ones you've discussed part of the target protocol.

[2015-05-25 23:54] #102 closed

[2015-05-25 23:56] ashfurrow commented on #85
Closing this in favour of the solution discussed [here](https://github.com/ashfurrow/Moya/pull/117).

[2015-05-25 23:56] #85 closed

[2015-05-25 23:58] ashfurrow commented on #91
Done.

[2015-05-25 23:58] #91 closed

[2015-05-25 23:59] ashfurrow commented on #88
Should be done now. Please reopen if not.

[2015-05-25 23:59] #88 closed

[2015-05-25 23:59] ashfurrow opened #124 "RxSwift Provider"
[This](https://github.com/kzaher/RxSwift) looks very cool.

[2015-05-26 08:04] skywinder commented on #113
Hooray! :+1:

[2015-05-26 11:45] ashfurrow commented on #108
Swift limits `autoclosure` to parameters and not enum associated values.

[2015-05-26 11:45] #108 closed

[2015-05-26 11:46] ashfurrow commented on #70
This was fixed here: https://github.com/ashfurrow/Moya/commit/abaf6cb0adaf

[2015-05-26 11:46] #70 closed

[2015-05-27 14:42] #60 closed

[2015-05-27 14:42] #74 closed

[2015-05-27 14:42] #123 closed

[2015-06-05 15:02] alcarvalho commented on #124
I would be willing to contribute on this. It seems like a more sane approach to Rx, in my opinion.

[2015-06-05 23:53] ashfurrow commented on #124
Cool! Send a work-progress pull request in whenever you have something. I'd love to hack it together

[2015-06-07 21:36] ashfurrow opened #134 "Remove copyright comments"
No need for them to be there.

[2015-06-07 23:02] #124 closed

[2015-06-10 17:04] ashfurrow opened #135 "Add more committers to Moya"
I want other people to feel like they own Moya, too, so it survives in the long run.

What I'm looking for is people who can:

- Reply to questions.
- Help diagnose/fix issues people have.
- Help form a roadmap for future releases.

All when you have time and feel like it. It's not meant to be a burden.

Thanks to @searls for the push to do this.

If you're interested in helping out – when it's co

[2015-06-10 17:11] steam commented on #135
Sounds great @ashfurrow, I'm in. I think @colinta is mentioning this but I have two github accounts, doh, and I use @steam for the most part these days (I am also @process255). If possible @steam would be a better github user to add.

Great work with Moya so far. We're loving it at Ello.

[2015-06-10 17:11] colinta commented on #135
I'm in!  We had loved using Moya at @ello.  We're using, I *think*, all the features that Moya provides, and we'd like to not only keep abreast of changes, but help other people take advantage of it.

[2015-06-10 17:26] ashfurrow commented on #135
Super awesome!

[2015-06-10 17:38] neonichu commented on #135
I'm not actually using Moya, but I'd be up to help out with support for dependency managers :)

[2015-06-10 17:43] SRandazzo commented on #135
That would be great! Still getting familiar with Moya but this will help push me along!

[2015-06-10 17:48] aschuch commented on #135
Great idea, count me in.

[2015-06-10 17:49] ashfurrow commented on #135
Awesome. @neonichu since you mentioned it, I've added you as an owner to the pod in CocoaPods trunk.

[2015-06-10 18:05] alcarvalho commented on #135
I would love to help, too! I am still in the early stages of adopting it, but our new app's communication layer will be all using Moya. :+1:

[2015-06-10 18:16] colinta commented on #56
I had a similar thought not long ago.  Being able to define the response *in* the test would have been convenient when I needed to stub out a *sequence* of responses... I don't recall the actual example, but a contrived example would be a combined signup screen that also tests to make sure the user isn't trying to create their existing account:

1. Try to login (`login_failure.json`)
1. API says u

[2015-06-10 18:20] ashfurrow commented on #56
Well, for the 1.0 release, we moved `sampleData` to be a closure that returns data, so it could return different things on different invocations. I know it's not enough, but it might help, and might help figure out better ideas.

[2015-06-10 18:45] skywinder commented on #135
+1 :+1:

[2015-06-12 02:35] ashfurrow opened #136 "Combine MoyaTarget and MoyaPath protocols"
Does it make sense now that we're saying that `parameters` are on the target, and `path` is on the path, given that either property depends on the enum's associated values?

/cc @chriseidhof

[2015-06-12 04:01] colinta commented on #136
My immediate, gut response is yes, because they seem related and it's easier (conceptually, to a new Moya user) to implement just the one protocol.

Is there ever a time when these protocols would be implemented by separate objects?

[2015-06-12 04:30] ashfurrow opened #137 "Multiple stub-related parameters are redundant"
Having `stubResponses` and `stubBehavior` seems redundant. We should infer stub behaviour based on the presence of an optional `stubBehavior`.

[2015-06-12 05:23] chriseidhof commented on #136
I don't really understand the code base, so feel unqualified to comment on
this... But I'd be happy to have a look at this together at a computer
during the next days?

On Thu, Jun 11, 2015 at 9:01 PM, Colin T.A. Gray <notifications@github.com>
wrote:

--
Chris Eidhof

[2015-06-12 07:58] aschuch opened #138 "Make it easier to browse code on Github"
At the moment, I find it hard to browse code on the Github repo.
I think we should consider adding a folder structure to make browsing Moya on Github a better experience.

I would keep everything the same but introduce a new `Moya` folder that contains all the relevant files.

[code]

Thoughts?

[2015-06-12 10:40] alcarvalho commented on #138
:+1:
Would also put MoyaResponse file inside a newly created ReactiveCore
folder.

On Fri, Jun 12, 2015 at 04:59 Alexander Schuch <notifications@github.com>
wrote:

[2015-06-12 13:36] aschuch commented on #138
Is `MoyaResponse` solely used for ReactiveCocoa stuff? If so, we should document that in its header too.

[2015-06-12 13:40] alcarvalho commented on #138
No, it's used by reactive in general, meaning ReactiveCocoa and RxSwift, right now. I have extracted it from the ReactiveCocoa integration when I implemented the RxSwift provider to be a common core.

[2015-06-12 13:57] SRandazzo commented on #138
I am also :+1: for this!

On a related note, is there not a dedicated XCProj/workspace for Moya development?
If we have one, we can mirror project structure with file structure

[2015-06-12 14:33] alcarvalho commented on #138
@SRandazzo the lack of the xcproj is strange to me too. The way I do it here is by opening the Demo to edit the code for the library. Not the most intuitive.

[2015-06-13 22:18] ashfurrow commented on #138
I like this idea – will do.

As for a dedicated project/workspace, what would be the advantages of using one? The library is installed using CocoaPods; the Demo project is for illustrating the library's use and for its unit tests. That could be moved into a test-only project, sure. What advantages would there be of having another project/workspace?

[2015-06-13 23:42] ashfurrow opened #140 "Make linting the podspec part of CI"
Should be relatively simple:

[code]

[2015-06-13 23:46] ashfurrow commented on #135
Gonna call this done! Thanks for your help, everyone :cake:

[2015-06-13 23:46] #135 closed

[2015-06-13 23:48] searls commented on #135
And for anyone looking for that "push" I gave Ash, [this is the talk](http://blog.testdouble.com/posts/2014-12-02-the-social-coding-contract.html) he's referencing.

[2015-06-14 00:05] #140 closed

[2015-06-14 01:48] #134 closed

[2015-06-14 01:48] #136 closed

[2015-06-14 01:48] #138 closed

[2015-06-14 01:49] ashfurrow opened #142 "Clean up default args in initializer"
Some are references to functions, some are invocations of functions that return closures. It'd be nice to be consistent.

[2015-06-14 08:31] alloy commented on #135
@ashfurrow Btw another thing you can do, going forward, is that, while you can still oversee it all, give commit access to contributors early.

E.g. When they create a second PR that follows all design rules.

It worked great for CocoaPods, but your audience and mileage might vary.

[2015-06-14 14:50] ashfurrow commented on #135
@ally I like it. As though adding more contributors should be a regularly part of open source. :bow:

[2015-06-14 19:23] ashfurrow opened #144 "Make it easier to subclass MoyaProvider"
It uses default values for its initializers that need to be duplicated by subclasses.

[code]

Dunno how we could do this..

[2015-06-14 20:48] ashfurrow commented on #56
I'm thinking we'll have a new initializer that does two things:

- accepts an argument of some kind of representation of new stubbing behaviour to be defined.
- sets a private/internal property – something like a "parent provider" that, when performing requests, would call through to the parent if the request didn't meet the newly added stubbing behaviour.

In this way, you could chain things toge

[2015-06-14 20:59] ashfurrow commented on #114
This is a fundamentally new behaviour for Moya. I'm trying to figure out the best way to add it to our existing API without overly complicating things.

If we want to use the existing `request()` function, then we would need to have a way to distinguish targets between upload and regular HTTP requests. We _could_ add `.Upload` to the `Moya.Method` enum, which would be easy, but would break parity

[2015-06-14 21:02] ashfurrow commented on #118
I've not looked too extensively into this, and would appreciate guidance or assistance.

Maybe we could add this new functionality to the _existing_ `ReactiveMoyaProvider` class? Or would we want a 3.0-only class? Since the two APIs are interchangeable, it might make sense to have only one class.

[2015-06-14 21:03] ashfurrow opened #145 "ReactiveMoyaProvider should be renamed to ReactiveCocoaMoyaProvider"
To bring it to parity with `RxMoyaProvider`.

[2015-06-14 21:49] alcarvalho commented on #114
If only Swift had support for default parameters to Enums, we could have `.POST` and others with a optional parameter with a default to `nil`.

But even if we don't have that support, we could just add more verbs that accept that to `Moya.Method`.

[2015-06-14 22:11] zdavison commented on #114
FWIW we ended up just doing it by hand (since we only need it for one request) and having a special case that returns a MoyaResponse until Moya/Alamofire support it natively.

[2015-06-15 09:14] alloy commented on #135
I wouldn’t say _all_ open source, but if your goal is to have contributors, then yeah making them feel as owners hugely improves contribution. I’d also outline the rules for getting push access in e.g. your README, which might give people that extra push they need to contribute something they’d otherwise not feel motivated enough for.

[2015-06-15 15:42] nanoxd commented on #118
I think it would be best to have it in one class. Perhaps it would be best to have three versions of the API:

1. ReactiveCocoa 2 (RACSignals)
2. ReactiveCocoa 3 Bridge ([RACSignal -> SignalProducer](https://github.com/ReactiveCocoa/ReactiveCocoa/blob/swift-development/ReactiveCocoa/Swift/ObjectiveCBridging.swift))
3. ReactiveCocoa 3 (SignalProducer)

2 would provide an API for those already using

[2015-06-16 12:47] alcarvalho commented on #73
This would be super awesome! I have thought about doing it myself, but never took a look at it.

The problem I see, is with JSON (de)serialization, because Swift does not have a good reflection system (as of 1.2 at least) to support a reflection library, so all must be done manually. If the generator takes care of that too, would be great. :)

[2015-06-16 16:02] #137 closed

[2015-06-16 16:02] #142 closed

[2015-06-16 16:19] colinta commented on #56
I dig it, very readable way to set up a series of requests/responses.

To flesh this out a little more, these requests would be instances of the API enum?

[code]

[2015-06-16 16:22] ashfurrow commented on #56
I was thinking more like you would need to specify both a target _and_ an `EndpointSampleResponse` to accompany it.

[code]

Or something to that effect.

[2015-06-16 16:28] colinta commented on #56
Yeah I dig it.  So, continuing to flesh out:

[code]

[2015-06-16 16:31] ashfurrow commented on #56
I'm thinking that the stubbed responses would be used for any request matching that `Api` enum. This makes sense to me as a simple use case, which is what this would provide.

It's already possible to create this behaviour using custom endpoint resolvers that are passed into the `MoyaProvider` initializer. What this feature would do, in my mind, would let you have a sort of shorthand for this wher

[2015-06-17 18:09] #145 closed

[2015-06-17 18:10] ashfurrow opened #149 "Release 2.0"
Is this ready for release? It's a 2.0 because of semantic versioning (we have breaking changes). The remaining issues are all long-term goals and most should be doable without breaking things.

Anyone have feels about this?

[2015-06-17 18:59] davidbarsky opened #151 "Support for HTTP Basic Auth?"
This is likely entirely my fault for missing it, but — I looked in the Kiosk app, and Artsy seems to encode the API keys into the the URL itself, but the API I’m working against encodes the keys using HTTP Basic Auth. Is that a supported feature of Moya, or is that something that I should drop down into Alamofire for (or even open a PR for)?

Thanks.

[2015-06-17 19:49] davidbarsky commented on #151
(I should add — a lengthy answer isn’t necessary! just a yes or no would suffice.)

[2015-06-17 20:21] ashfurrow commented on #151
tl;dr Moya doesn't currently support this.

Hmm. Interesting question. Alamofire seems to [handle this with `NSURLCredential`](https://github.com/Alamofire/Alamofire/blob/922c1ca3580b7adc9235bede1e99580e02ad3e9f/Source/Request.swift#L76-L80). Is this how you've done HTTP auth in the past?

Maya doesn't currently have support for this, but using the `sharedSession` `NSURLSession`, so you _should_ b

[2015-06-17 21:15] davidbarsky commented on #151
Unless I misunderstand, HTTP Basic Auth is implemented by Alamofire as just a chained method after `.request`.

Here’s my naive suggestion: pass the username/password to `MoyaProvider#sendRequest` as an optional parameter of type `NSURLCredential`, and if it’s not nil, call `.authenticate` after the `Alamofire.Manager.sharedInstance.request(request)` call.

Granted, that makes the method messy, he

[2015-06-17 21:49] ashfurrow commented on #151
That makes sense. But it also adds a lot of complexity around individual API calls. Developers now need to remember which endpoints need auth and which don't, and that need is spread across their entire codebase.

I think we need one of two things:

- an optional part of the `MoyaTarget` protocol that specifies per-target credentials
- an optional closure in the `MoyaProvider` initializer that get

[2015-06-17 22:03] davidbarsky commented on #151
Good point, I didn’t think through how my API would break a lot of applications in production. I like your suggestion of the the optional closure in the `MoyaProvider` initializer.

Would you like me to open a pull request in the next day or so?

[2015-06-17 22:18] ashfurrow commented on #151
That would be lovely! Please let me know if you'd like to bounce ideas around or anything :smile:

[2015-06-17 22:24] davidbarsky commented on #151
👍

[2015-06-21 16:54] davidbarsky commented on #151
So the API I’m writing against is going to be deprecating their basic auth, and because of that, I don’t need to add that to Moya. Since nobody else seemed to expressed a need for it, I think it's best if the issue is closed.

[2015-06-21 16:54] #151 closed

[2015-06-22 10:43] tp opened #153 "Track ReactiveCocoa releases"
Is there a policy on tracking dependency releases?

RC is on beta 8 while adding Moya required my project to go back to beta 6 (using Carthage).

[2015-06-22 12:15] MarvinNazari opened #154 "Carthage error with RxSwift"
i installed Moya with Carthage and i get a error in xcode when building because i don't have RxSwift, maybe to have a another branch or something for RxSwift?

this is the error i get

    dyld: Library not loaded: @rpath/RxSwift.framework/RxSwift
    Referenced from: /Users/marvinnazari/Library/Developer/CoreSimulator/Devices/9A8009C8-48F2-47FD-86A8-7E6251DF5B60/data/Containers/Bundle/Application

[2015-06-22 13:12] tp commented on #154
Same here. Seems like RxSwift can't support carthage ATM, so there's no easy way to include it manually.

[2015-06-22 13:40] orta commented on #153
To my knowledge, no-one has stepped up to keep the Carthage/RAC branch in sync, we'd welcome a PR making sure it supports the latest from you.

[2015-06-22 14:20] ashfurrow commented on #153
Yeah, to be honest I'm not entirely sure how dependency resolution with Carthage works. If it were CocoaPods, I'd fork the Moya repo and point to my fork in the Podfile.

@neonichu: you added Carthage support – any ideas?

[2015-06-22 14:21] ashfurrow commented on #154
Yeah, it doesn't appear to – apologies for that. @neonichu or anyone else with Carthage know-how: what would be involved in adding support for the RxSwift subspec?

[2015-06-22 14:22] neonichu commented on #154
AFAIK, there's nothing like subspecs in Carthage, so it would need to be a separate repo, probably?

[2015-06-22 14:23] ashfurrow commented on #151
Cool, thanks for the update @davidbarsky. Please let us know if there's anything else you'd like to see added to Moya!

[2015-06-22 14:23] ashfurrow commented on #154
Oh, I see. So someone using Moya with Carthage now just _has_ to also use ReactiveCocoa, even if they only want the original `MoyaProvider`, not the ReactiveCocoa subclass?

[2015-06-22 14:24] davidbarsky commented on #151
Thanks for your help!

[2015-06-22 14:50] neonichu commented on #154
Yah, I wouldn't know how to do optional dependencies, but I'm also not the most knowledgeable on this subject :)

[2015-06-23 12:19] alcarvalho commented on #56
Maybe this complicated test case would fit better as a separate test component. Even more integrated with Nimble as a matcher or something like that.

That way, we could have an implementation of this matcher as something that expects to be called in that particular order and when called respond with that particular stub response.

This is would work very much like RSpec, if anyone is acquainted t

[2015-06-23 12:34] ashfurrow commented on #56
Neat, I hadn't even considered marchers for Moya. I was only thinking of functional or view snapshot tests. The idea of testing that a request was made... hmm. Sounds useful, but is it something to encourage?

Like, it's possible now for sure, but a bit of work. I can't think of many scenarios where testing that a request was made would be more ideal than testing the actions based on the network r

[2015-06-23 15:01] XBeg9 opened #155 "Alamofire.Request as returned type of provider.request(.Zen)"
I am trying to find out how to get `Alamofire.Request` after I did `provider.request(.Zen)` (currently it responses with `Cancellable` protocol).

[code]
I think it's more needed to return `Request` here then CancellableToken or merge this somehow. What do you think?

[2015-06-23 15:16] XBeg9 commented on #155
For example I am not using `Moya` for now, because I want to use https://github.com/tristanhimmelman/AlamofireObjectMapper

[2015-06-23 15:30] aschuch commented on #153
Yes you can definitely just fork Moya, change the ReactiveCocoa branch in the Cartfile and you are good to go.

To add more context: The problem here is that the ReactiveCocoa beta is referenced using its specific github branch.
I think we should simply add a version requirement to the major version of ReactiveCocoa, so that Carthage has a bit more room to decide which version of ReactiveCocoa to

[2015-06-23 15:32] ashfurrow commented on #155
Hi there @XBeg9 – good question. The `request` function purposefully returns a `CancellableToken` to obscure the underlying Alamofire implementation. The idea is that you shouldn't need to know that Moya uses Alamofire "under the hood", so returning the request defeats that purpose.

So, how do we make it so you can use this mapping library, which looks pretty cool. That library is actually a thin

[2015-06-23 15:32] neonichu commented on #153
@aschuch sounds good, do you want to make a PR for that?

[2015-06-23 15:33] ashfurrow commented on #153
Cool, thanks @aschuch ! I wasn't sure how the `~> 3.0` signifier works in Carthage.

[2015-06-23 15:38] XBeg9 commented on #155
@ashfurrow hi Ash, glad to see you here :) Just checked https://github.com/tristanhimmelman/AlamofireObjectMapper/blob/master/AlamofireObjectMapper/AlmofireObjectMapper.swift and they use `extension Request`. How I can similar with `MoyaProvider`?

[2015-06-23 15:54] ashfurrow commented on #155
So I'm thinking that we'd have `extension MoyaProvider` that would call through to the original `Request`, but also take a callback block similar to AlamofireObjectMapper. So it would call through to the original `request` function, then do something in the callback to map the objects, then call its own callback.

So it would look something roughly like this:

[code]

Does that make sense?

[2015-06-23 16:01] ericreid opened #156 "Swift 2.0 branch?"
I want to integrate Moya into an Xcode 7/Swift 2.0 project. Any chance of an official branch to support this to go along with the Alamofire swift-2.0 branch?

[2015-06-23 16:19] ashfurrow commented on #156
Hey, totally! Great idea! I've pushed a `swift-2.0` branch so we can follow that there. If you're able to, a PR into that branch would be very much appreciated :)

[2015-06-23 18:23] XBeg9 commented on #155
@ashfurrow Thanks, already found solution. Inspired by Kiosk app :)

[code]

And then somewhere in the code:
[code]

[2015-06-23 18:25] #155 closed

[2015-06-24 12:43] alcarvalho commented on #56
Yeah, I don't really have a use case for that. I just remembered of that when I saw @colinta's comment.

But something that generally annoys me when writing tests with stubbed requests is that we usually only test the response component of it. Not what we send to the request. With this mechanism we could have both.

[2015-06-24 17:11] alcarvalho commented on #149
One thing we could fix before the release are the versions to which we depend on CocoaPods to support sane updates on them like mentioned on #153. I have also checked that if we update all the pods of the Demo project we fetch the version 0.4.0 of Quick that won't compile with Swift 1.2.

[2015-06-24 17:20] alcarvalho commented on #149
I just found a problem with cocoapods versioning, though.

If we add the `~>` to ReactiveCocoa, when we run a `pod update` on the Demo project it downgrades to alpha version:

`Installing ReactiveCocoa 3.0.0-alpha.1 (was 3.0-beta.6)`

[2015-06-24 17:23] ashfurrow commented on #149
Hmm. So running `pod update` isn't really something that should be done frequently; I can't remember the last time I ran it. Running `pod install` instead looks at the Podfile.lock file to see what specific versions need to be used. Does that make sense?

[2015-06-24 17:31] alcarvalho commented on #149
Yeah, but the intent here was to update the pods, really. I don't know if that should be done on a library regularly. I did it also to test if everything still works with the latest versions of the libraries that we should support.

[2015-06-24 17:32] ashfurrow commented on #149
For sure, but Quick 0.4.0 uses Swift 2, as I understand it, which Moya does not yet.

[2015-06-24 17:35] alcarvalho commented on #149
Yeah, that's why I have restricted it to 0.3.x in here #157

[2015-06-27 16:23] justinmakaila commented on #156
I'm in the midst of cleaning up the dependencies on the `swift-2.0` branch, and I wanted to make some changes to how the demo project is set up and whatnot (having it in the `Pods.xcodeproj` is kind of bulky and confusing). How attached are you to keeping CocoaPods in the directory? If I can achieve the same thing using `Carthage` and pushing the frameworks to the repo, would that be cool?

[2015-06-27 16:35] ashfurrow commented on #156
I'm not attached at all – @neonichu asked to add the `Pods/` directory and its friends for Carthage support. If we don't need that, that's cool with me.

![](https://s-media-cache-ak0.pinimg.com/originals/d9/be/72/d9be72f4ac11c7da286fa98e99c929f3.jpg)

[2015-06-27 18:39] justinmakaila commented on #154
Hey guys, I filed this [issue](https://github.com/Carthage/Carthage/issues/588) on the Carthage repo asking for "subspec" support. If you have any ideas to contribute, I'm sure it would help the case.

I may add Carthage support to RXSwift, but I'm on the fence, mainly because RXSwift is the foundation of RAC 3.0, and it doesn't appear as if development is going to continue moving forward. Where d

[2015-06-27 20:06] ashfurrow commented on #154
RxSwift was the original name of the RAC 3 proof of concept. It also happens to be the name of a [Swift-based reactive extensions library](https://github.com/kzaher/RxSwift). The library is young but growing. Whether there's enough demand for this from Carthage users, I don't know.

[2015-06-27 20:08] justinmakaila commented on #154
AH! I had a feeling I was looking at the wrong RxSwift repo.

Either way, the enhancement suggested to the Carthage maintainers should help solve this issue, that is, if it's implemented.

—Justin Makaila

On Sat, Jun 27, 2015 at 4:06 PM, Ash Furrow <notifications@github.com>
wrote:

[2015-06-28 01:15] #153 closed

[2015-06-28 01:17] ashfurrow commented on #156
Hmm, sorry, I'm re-reading this and I thought you meant to pods _directory_. I'd feel more comfortable keeping the demo project built with CocoaPods.

[2015-06-28 16:50] aschuch opened #159 "Moya Carthage: RxSwift not included"
When installing Moya (master) using Carthage, I am running into the following error on app launch:

[code]

Seems like RxSwift is not downloaded, thus not found at app launch.
I have tried to add RxSwift to the Cartfile but [RxSwift does not yet support Carthage](https://github.com/kzaher/RxSwift/issues/40).

/cc @neonichu

[2015-06-28 19:07] ashfurrow commented on #159
Hmm. I'm not quite sure what to make of this. Hoping @neonichu knows.

[2015-06-29 19:03] MarvinNazari commented on #154
In my opinion i think its better to separate these extensions to have a its own repository e.g. (Moya, ReactiveMoya, and RxMoya)

[2015-06-29 19:08] ashfurrow commented on #154
@MarvinNazari Wouldn't be a bad idea if this was a Carthage-only repository, but I'm a CocoaPods user and this _is_ the right way to use CocoaPods.

I feel like the Moya team have been very flexible on a number of issues in order to support Carthage. Frankly, I'm tired of jumping through hoops to support a nascent dependency manager that ignores community feedback.

[2015-06-29 19:09] justinmakaila commented on #154
@MarvinNazari I've started doing something similar. I'm battling with myself over the idea of master holding a project with multiple targets, all of which are built when someone specifies `Moya` in their `Cartfile`, or different branches where you can pull the one you need... i.e.
[code]

But that's adds a whole lot of pain to whoever's maintaining the repository.

[2015-06-29 19:09] justinmakaila commented on #154
@ashfurrow That's also legit. I'm trying to be extremely considerate of the CocoaPods support.

[2015-06-29 19:10] ashfurrow commented on #154
@MarvinNazari Sorry, that was very rude of me. I don't mean to dump this on you – I've been growing frustrated at this process for some time now. Splitting the functionality into multiple repos would be a good idea, but I don't think it's the right solution for Moya.

[2015-06-29 19:26] MarvinNazari commented on #154
@ashfurrow It's okey i understand, i really love Moya and Carthage for their simplicity, for now I'm gonna go oldskool and copy-paste the code until there is a better solution

[2015-06-29 19:29] ashfurrow commented on #154
@MarvinNazari I'm glad you like our library :) I wish there were a better way to support your use case. Hopefully the Carthage people will help.

Like, how do they do they manage different frameworks for different platforms? Could that work somehow?

[2015-06-29 19:30] justinmakaila commented on #154
@ashfurrow, could you clarify a little bit? Do you mean OS X vs iOS platforms?

[2015-06-29 19:41] ashfurrow commented on #154
Yeah, exactly. Could we leverage that technique?

[2015-06-29 19:49] justinmakaila commented on #154
Well, `carthage` uses `xcodebuild` to build the schemes which are shared by your `.xcodeproj`. In order to build an iOS framework and an OS X framework, you need to share both schemes in your `.xcodeproj`.

We would need a `Moya`, `ReactiveMoya`, and `RxMoya` scheme & associated target.

[2015-06-29 19:52] ashfurrow commented on #154
Hmm. The target would be an issue, since CocoaPods lumps the subspaces into the same framework.

So we'd basically need to create and maintain a separate Xcode project solely for Carthage support, right?

[2015-06-29 19:54] justinmakaila commented on #154
Yes, a separate `xcodeproj` for telling `carthage` how to build to framework. I'd be happy to get it set up on my fork so you can take a peek and pass judgements before it's built into the main repo.

[2015-06-29 19:55] ashfurrow commented on #154
I'd appreciate that, Justin, thanks!

[2015-06-29 20:18] aschuch commented on #154
I get how you feel @ashfurrow. What do you think of my proposed solution based on multiple frameworks. https://github.com/Carthage/Carthage/issues/588

This way we can keep everything in one repo?

[2015-06-29 20:46] justinmakaila commented on #154
All,
I added support for two target outputs from `carthage`, `Moya` and `ReactiveMoya` (`RxSwift` doesn't support `carthage`, and I didn't want to play with it just yet) on my [fork](https://github.com/justinmakaila/Moya/tree/swift-2.0).

If you add `github "justinmakaila/Moya" "swift-2.0"` to your Cartfile, then run `carthage update`, it should build `Moya` and `ReactiveMoya` for you. `Moya` requ

[2015-07-01 21:29] ashfurrow commented on #154
Cool, this looks great @justinmakaila – want to submit a PR to add those instructions to the README?

[2015-07-02 14:24] justinmakaila commented on #154
@ashfurrow Totally. I'll try to get something in by the end of the day.

[2015-07-06 07:10] kzaher opened #163 "RxSwift extensions question"
Hi Ash,

I've seen this some time ago, but was swamped :)

I think there is a threading concern [here](https://github.com/ashfurrow/Moya/blob/master/Moya/RxSwift/Moya%2BRxSwift.swift#L20)
[code]

We should probably use
[code]

It looks like ReactiveCocoa integration has the same [issue](https://github.com/ashfurrow/Moya/blob/master/Moya/ReactiveCocoa/Moya%2BReactiveCocoa.swift#L24)

If you want, I

[2015-07-06 07:19] kzaher opened #164 "Moya reactive extensions concern"
Hi Ash,

I've been checking out reactive integration code (RX and RAC), and have some questions :)

It looks like the idea is to try to share results of in flight requests. That would make sense for idempotent query requests, but not sure that is correct in case of mutating command requests.

What do you think?

[2015-07-06 07:23] kzaher commented on #154
Hi guys,

sorry for being [unable to currently support Carthage](https://github.com/kzaher/RxSwift/issues/40) in RxSwift, but I'm waiting for some issues to be resolved on their end.

https://github.com/Carthage/Carthage/issues/395

[2015-07-06 17:21] kzaher opened #165 "Possible RAC integration bug"
Hi Ash,

I've seen a possible bug in Moya RAC integration, but I'm not a RAC expert so not sure if it's really a bug.

I think that [here](https://github.com/ashfurrow/Moya/blob/master/Moya/ReactiveCocoa/Moya%2BReactiveCocoa.swift#L52) it should be
[code]

instead of
[code]

but I could be wrong.

[2015-07-07 00:20] alcarvalho commented on #163
Ok, so I have tried to fix this, but it broke my test when I added the `>- variable`. It won't complete whet this is present.

The sync is working well on RxSwift but it won't complete if added to the `ReactiveCocoaMoyaProvider`.

Here is the test for the RxSwift to see if you can help me with that. I don't like the way it is but I couldn't think of another way:

[code]

[2015-07-07 14:31] ashfurrow commented on #165
I did this originally to implement inflight request tracking; a multicast connection's `autoconnect()` generates a new signal every time (subscribed to the same underlying signal), so I couldn't store it in the requests dictionary. I got a little frustrated and settled with a solution that appeared to work. I should review the docs and implementation. Since Moya has good test coverage, we can be s

[2015-07-07 14:34] ashfurrow commented on #164
Yeah, that's a fair point. We use comparisons based on the URL, the HTTP method, all the parameters, and the body. I would think that sending the same request twice would be different, but I suppose this is an assumption.

Any suggestions? We could extend behaviour in the `MoyaProvider` class – maybe a closure like this?

[code]

That way people _can_ opt-out on a per-endpoint bases if they want?

[2015-07-07 14:42] ashfurrow commented on #163
Thanks for bringing up the issue, @kzaher – good catch! Hand't considered the signals coming from other threads >.<

@alcarvalho Thanks for the help! It's a tricky problem and a _very_ difficult use case to test. Could I ask you to open a pull request, with your work and new tests? We can have a conversation about it there :fireworks:

[2015-07-07 15:55] alcarvalho commented on #163
Sure, @ashfurrow. Done! :wink:

[2015-07-08 11:10] kzaher commented on #165
:)

[2015-07-08 11:23] kzaher commented on #164
Yeah, you could do that. I would suggest that default behavior should be `false` :)

It would also be cool if you could do something like
[code]

`cacheInFlightRequests` should probably be internal method so you could write the code like

[code]

It would maybe also make sense to add functionality that would enable you to get typed object for endpoint instead of MoyaResponse (Observable<MyObject>)

[2015-07-11 15:21] ashfurrow opened #168 "Consider moving Moya to an organization"
I've never had an open source project reach this level of popularity – I think it's time we consider whether or not it makes sense to move Moya off of my own personal GitHub account. I've not run an organization before, either.

Benefits:

- Easier to mention all contributors in important issues/PRs.
- Emphasizes that this is a community project and not a personal one.
- We could separate Moya int

[2015-07-11 15:24] ashfurrow commented on #164
Hmm. Maybe a good default implementation would specify that GET and HEAD requests are coalesced, but POST PUT PATCH and DELETE ones are not. That seems like a sane default to me. Thoughts?

As for the inflight caching – using a token makes sense to me.

[2015-07-11 17:32] orta commented on #168
If you're thinking about it, then it should probably be done. Given that `/moya` isn't free, you might want to consider if you can think of other sibling projects that could go with it.

The distinct repos sounds like a bunch of faffing though to me FWIW.

[2015-07-11 18:00] ashfurrow commented on #168
Good points.

Distinct repos would solve our Carthage problem; they refuse to implement subspec-style libraries because it "encourages large libraries." Could be something CocoaPods could do – it crease a project now, maybe one with separate framework targets for different subspecs?

[2015-07-11 18:01] orta commented on #168
Would probably be a pretty reasonable CP plugin for lib authors wanting to make binary releases.

[2015-07-12 12:56] kzaher commented on #164
That's probably a reasonable tradeoff. If somebody has command GET and HEAD requests he probably has bigger problems on his hands anyway :)

[2015-07-12 13:07] kzaher commented on #154
I've temporary made a workaround that enables Carthage to compile RXS/RXC.

It's one huge hack, but it looks like it could work until Carthage gets support for multiple repositories.

I've made separate branches for Carthage releases.

`latest-carthage/rxswift`
`latest-carthage/rxcocoa`

The both contain one last commit that contains something like

`ln -s RxSwift/RxSwift.xcodeproj _.xcodeproj`
`l

[2015-07-14 18:25] ashfurrow commented on #168
Leaning more in favour of this. We should probably add a [CoC](http://contributor-covenant.org) while we're at it.

[2015-07-14 22:00] justinmakaila commented on #154
@ashfurrow @kzaher Sorry for the delay, but check out my fork right now. I restructured a good portion of the repo, added `RxSwift` support and an `RxMoya` target, as well as updates to the `ReactiveMoya` target to simplify retrieving JSON data from an API service. Also included is a completely new example project, demonstrating how to use each type of `*MoyaProvider`.

I'm in the process of updat

[2015-07-15 00:54] ashfurrow commented on #154
@justinmakaila sounds cool, thanks! Send the PR over and we can take a look there :tada:

[2015-07-18 14:28] ashfurrow commented on #168
So, since no one has any objections, I've decided to go ahead with this. Here are the steps we'll need to take:

- [ ] Think of an organization name (this is the hardest part).
- [ ] Create a new org.
- [ ] Add Moya contributors as admins to the org.
- [ ] [Transfer the repo](https://help.github.com/articles/transferring-a-repository/) to the org.
- [ ] Create an org code of conduct.
- [ ] Send a

[2015-07-18 15:20] colinta commented on #168
What other projects will be in this org?  We can ask github to make github.com/Moya available.

[2015-07-18 15:21] orta commented on #168
Yep, the default redirects will work, but not forever.

MoyaAPI, MoyaNetworking, nothing strikes me as awesome. Will ask @moya if it can be transferred.

[2015-07-18 15:24] ashfurrow commented on #168
Cool, yeah.

@colinta Initially, it'd just be this repo and probably a demo or two showing how to use Moya. In the long run, I'd love to see the org grow to include new functional-ish ways to use Swift to solve problems on iOS and OS X. It would be awesome to have a sort of meta repo where we could keep a list of ideas for projects. That way if someone had an idea, or needs an idea, they have a sp

[2015-07-18 15:24] ashfurrow commented on #168
@orta Thanks for asking :)

[2015-07-22 14:02] ashfurrow opened #170 "Better image in README"
This image is misleading:

![](https://raw.githubusercontent.com/ashfurrow/Moya/master/web/bad.png)

It's the first image in the README and is in the "on-brand" Moya colours. A casual reader might infer that this is the Moya solution.

We should make it clear that this is _not_ how Moya works, but is an example of the problem that Moya solves. Possible solutions:

- Desaturate the image to make it

[2015-07-22 19:55] sebinsua commented on #118
Has anybody done any work on this yet?

[2015-07-26 20:41] SpacyRicochet commented on #114
@zdavison Can we see what your solution looks like? I tried hacking it in an endpointResolver, but I hit a wall when I figured out the `Endpoint` doesn't seem to know about any of the parameters it's been given in by the `enum`. Now, creating a custom, plain NSURLRequest seems the best option.

But you returning a `MoyaResponse` sounds intriguing, but I don't get what that would look like.

@ashfu

[2015-07-27 09:20] zdavison commented on #114
[code]

Using [Just](https://github.com/JustHTTP/Just.git) and [ReactiveCocoa](https://github.com/ReactiveCocoa/ReactiveCocoa).

[2015-07-28 09:15] SpacyRicochet commented on #114
Didn't know about Just :) That's going to be useful. Thanks!

[2015-08-04 17:41] ashfurrow opened #173 "Get CI Working again"

[2015-08-04 17:58] ashfurrow commented on #149
OK, so this looks ready. Once #174 fixes CI, I'll release a 2.0 :tada:

[2015-08-04 18:01] #173 closed

[2015-08-04 18:04] #149 closed

[2015-08-04 18:12] ashfurrow commented on #149
Also pushed to @CocoaPods trunk: https://raw.githubusercontent.com/CocoaPods/Specs/27abd436816cd75b5fa76230c1c325d7810467dc/Specs/Moya/2.0.0/Moya.podspec.json

[2015-08-04 18:24] ashfurrow commented on #163
This was fixed when #166 was merged.

[2015-08-04 18:24] #163 closed

[2015-08-04 18:25] ashfurrow commented on #159
I'm going to move this to #154 – there's a discussion there surrounding Moya and Carthage.

[2015-08-04 18:25] #159 closed

[2015-08-04 18:53] orta commented on #168
Given the lack of a reply from @moya I think it might make sense to go with MoyaAPI ?

[2015-08-04 20:28] ashfurrow commented on #168
Or MoyAwesome :stuck_out_tongue:

MoyaAPI just seems so... _pedestrian_.

[2015-08-04 20:53] Palleas commented on #168
Is there any chance the @github support could intervene, a bit like the twitter one does when you request an unused account (for good reason)?

[2015-08-04 21:01] ashfurrow commented on #168
It's possible, but the user could have private activity that we just can't see. I don't want to write them off :)

Moya is named after [a living spaceship](https://en.wikipedia.org/wiki/List_of_Farscape_characters#Moya). **puts on nerd glasses** Moya doesn't speak, so she doesn't have a voice actor, but she's biologically bonded to a pilot, voiced by Lani Tupu. It's [been suggested](https://twitte

[2015-08-04 21:53] colinta commented on #168
github.com/Leviathon/Moya

[2015-08-04 21:54] ashfurrow commented on #168
Nah, https://github.com/Leviathan/ is taken.

[2015-08-04 21:54] colinta commented on #168
Dang it, I spelled "Leviathan" incorrectly.  github.com/Leviathan is taken.

[2015-08-05 00:25] rpowelll commented on #118
I'm starting a new project with Moya and RAC 3.0, so it's likely I'll end up writing these extensions as part of them. If I'm happy with how they turn out, I'd be happy to contribute them back.

[2015-08-05 00:47] ashfurrow commented on #118
@rpowell that would be lovely!

[2015-08-05 15:05] ashfurrow commented on #168
I've been in contact with GitHub support, and https://github.com/Moya is now an organization I control. I'll be adding contributors as team members there, then transferring and doing related chores hopefully today, maybe tomorrow.

:tada:

[2015-08-05 15:07] colinta commented on #168
Awww I JUST got the same email from github, and I was hoping to bring a present to the discussion today!

Well, “HUZZAH” nonetheless.  These other names were… less good. ;-)

[2015-08-05 15:08] SRandazzo commented on #168
:tada:

[2015-08-05 16:22] esttorhe commented on #168
Awesome sauce! :tada:

:clap:

[2015-08-05 16:24] esttorhe commented on #170
Perhaps leave the introduction paragraph and then a section of

## Current state of apps
![](https://raw.githubusercontent.com/ashfurrow/Moya/master/web/bad.png)

<Rest of that section>

## How `Moya` solves this
![](https://github.com/ashfurrow/Moya/raw/master/web/good.png)
<Next paragraph explaining how Moya works>

[2015-08-05 16:24] esttorhe commented on #170
Honestly I like that the image uses `Moya` colors to keep it in sync and consistent with the rest of the README; looks «prettier» IMHO

[2015-08-05 16:41] ashfurrow commented on #170
Yeah, that's a good point. Maybe desaturate them a little bit?

![bad](https://cloud.githubusercontent.com/assets/498212/9091634/49359e7e-3b6f-11e5-8f06-4928713098d3.png)

Meh, that kind of sucks too.

[2015-08-05 16:44] esttorhe commented on #170
hahahahaha; it makes me think of infomercials when people are terribly using a normal product product.

Put a filter to make it look «old and archaic»? ¯\\\_(ツ)\_/¯

[2015-08-05 16:51] ashfurrow commented on #170
![bad-2](https://cloud.githubusercontent.com/assets/498212/9091876/b2a51e92-3b70-11e5-807f-e65de781836e.png)

[2015-08-05 16:51] ashfurrow commented on #170
Hmm.

[2015-08-05 18:08] ashfurrow commented on #168
OK, so I've submitted a PR to update the Moya podspecs: https://github.com/CocoaPods/Specs/pull/13370

Circle CI needs to enabled the iOS beta on the Moya organization, so our CI will be broken until they flip that switch.

I've also submitted this PR on Moya to update docs, CI, etc: https://github.com/Moya/Moya/pull/175 If one of @Moya/contributors could take a look, that'd be awesome!

[2015-08-05 18:08] #168 closed

[2015-08-05 18:19] ashfurrow commented on #170
Nah, I think maybe a label saying "BAD" or something would be illustrative.

[2015-08-05 19:25] esttorhe commented on #170
Perhaps the «biggest» issue is that the image is the first in the README and as you pointed out could be potentially confusing.

What about putting them both side by side with `current / Moya` as a footnote to the images?

PS. I think the label could work as well but I'm throwing ideas just in case

[2015-08-05 19:46] ashfurrow opened #176 "Intermittent CI failures"
Example: https://circleci.com/gh/Moya/Moya/154

[2015-08-05 21:03] ashfurrow opened #177 "RxSwift example in README"
To match the ReactiveCocoa one.

[2015-08-05 21:04] ashfurrow commented on #154
Now that we have an organization, could we use submodules somehow to dump the necessary files for Moya, Moya/RAC, and Moya/RxSwift into separate repositories? I don't really know how Carthage works.

[2015-08-05 21:26] colinta commented on #154
I bet @gfontenot could answer these questions.  Drop some Carthage knowledge on us, Gordon!

[2015-08-05 21:38] gfontenot commented on #154
Carthage will happily download any submodule in a repo. So yeah, you _could_ have `Moya/Moya` as a subspec for `Moya/RAC` and `Moya/RxSwift`, where those both build the RAC and RxSwift versions of the frameworks. The best part here would be that all 3 could output `Moya.framework`, which would be much nicer than needing to do `import MoyaRxSwift` all over the place.

I actually think this is a pre

[2015-08-06 09:19] jk opened #178 "pod try Moya failed"
I'm not sure if this is already known or furthermore intended but I tried to use `pod try Moya` and it failed with the following error message:

[code]

or did I do something wrong?

[2015-08-06 13:06] justinmakaila commented on #154
@gfontenot Correct me if I'm wrong, but I don't think it could output `Moya.framework`, mainly because `Moya` is a dependency for `RxMoya` and `ReactiveMoya`. I'm all for the separate repos for the sake of modularity and intent, but I don't think it would solve that problem.

[2015-08-06 13:16] gfontenot commented on #154
It'd depend on how you constructed the repos. If you make Moya.framework a dependency of the reactive version then no, you wouldn't be able to name it like I suggested. But if you use submodules (as hinted at by Ash) to pull in just the _source_ of Moya for the reactive version, then you could name it whatever you want, including Moya.framework.

Obviously, this is a more complicated solution. But

[2015-08-06 13:19] justinmakaila commented on #154
But wouldn't that lead to files being overwritten by the `carthage` output?

I'm just trying to understand, as I'd also be happy to help with putting this together.

@ashfurrow, do you want to throw the repos up and add @gfontenot and myself as collaborators?

[2015-08-06 13:24] gfontenot commented on #154
I don't know why it would. Carthage just spits out built frameworks, it doesn't care too much about how the project itself is constructed, so long as it builds cleanly.

[2015-08-06 13:25] ashfurrow commented on #154
@gfontenot That sounds like a really intriguing solution – I had never considered having subspecs use a different `source` – @orta any reason why that'd be a bad idea? I personally like having all the source files in one repo, but if it solves our projects with Carthage support, then it seems like a reasonable compromise.

I'll add you two to the org. Thanks so much for your help!

[2015-08-06 13:29] justinmakaila commented on #154
@gfontenot So, from what you're saying:
[code]
Where the project is configured to spit out `Moya.framework`, rather than my current solution, where all three dependent projects are spit out by the single `Cartfile` entry:
[code]

I like this. A lot.

[2015-08-06 13:30] ashfurrow commented on #178
Hey! Thanks for letting us know. I've not used `pod try Moya` more – honestly I don't know how it works, but I'll take a look and let you know as soon as I figure it out.

[2015-08-06 13:35] orta commented on #178
Think someone needs to go into the folder and run a `pod update` since maya' update, there's a more modern issue around this, but it's basically this issue: https://github.com/CocoaPods/CocoaPods/issues/1623

[2015-08-06 13:35] ashfurrow commented on #178
That's weird – thought I'd done that. I'll give it a try.

[2015-08-06 13:37] orta commented on #178
I'm willing to bet that was done after tagging

[2015-08-06 13:37] ashfurrow commented on #178
Mmmhmmmmm.

[2015-08-06 13:38] jk commented on #178
Woha. That's a great troubleshooting experience. A lot like following a sports live ticker :)

[2015-08-06 13:40] orta commented on #154
CP can do the submodule fine too :+1:

[2015-08-06 13:48] ashfurrow commented on #178
Having trouble getting `pod trunk push` to work, hold tight.

[2015-08-06 13:50] esttorhe commented on #178
If its failing on the lint make sure your xcode-select is pointing to NOT Xcode7 
Something like that was happening to me yesterday

--
Esteban Torres
(+506)8813-0934
Twitter: @esttorhe

On Thu, Aug 6, 2015 at 6:48 AM -0700, "Ash Furrow" <notifications@github.com> wrote:

Having trouble getting pod trunk push to work, hold tight.

—
Reply to this email directly or view it on GitHub.

[2015-08-06 13:51] ashfurrow commented on #178
Good idea, @esttorhe. Checked and it's 6, which sucks since I _am_ getting a linker error.

Set iTerm to "unlimited scrollback" to actually see the failure message. (Why is that _not_ the default??)

[2015-08-06 13:54] esttorhe commented on #178
I need to change that on my terminal as well now that you mention it. 

--
Esteban Torres
(+506)8813-0934
Twitter: @esttorhe

On Thu, Aug 6, 2015 at 6:51 AM -0700, "Ash Furrow" <notifications@github.com> wrote:

Good idea, @esttorhe. Checked and it's 6, which sucks since I am getting a linker error.

Set iTerm to "unlimited scrollback" to actually see the failure message. (Why is that not the defa

[2015-08-06 14:01] ashfurrow commented on #178
Cooooool got it to work! @jk Could you try again? Or, rather, `pod try` again?

![](http://2.bp.blogspot.com/_g88-bL8l6H0/TLPAOwcfosI/AAAAAAAAAA8/UwAQw5vcdLI/s1600/3322267.jpg)

[2015-08-06 14:06] orta commented on #178
<.<

[2015-08-06 14:10] jk commented on #178
@ashfurrow it does work now. Thanks.

[code]

And by the way, you don't want to set iTerm to »unlimited scrollback« it will get slow after a certain threshold. I'm very comfortable with it set to 5.000.

[2015-08-06 14:10] #178 closed

[2015-08-06 14:16] ashfurrow commented on #178
Oh yeah? I'm a pretty compulsive ⌘K'er, but I'll be on the lookout for slowdown.

[2015-08-06 14:54] ashfurrow opened #179 "CI failing consistently"
Example: https://circleci.com/gh/Moya/Moya/158

A bunch of these:

[code]

[2015-08-09 12:45] justinmakaila commented on #154
@gfontenot How would you recommend handling the shared files between the reactive repos? Include them in the main Moya repo?

[2015-08-09 14:47] justinmakaila commented on #154
@gfontenot @ashfurrow @orta

I put together the repos that were discussed.

[justinmakaila/Moya](https://github.com/justinmakaila/Moya)
[justinmakaila/RxMoya](https://github.com/justinmakaila/RxMoya)
[justinmakaila/ReactiveMoya](https://github.com/justinmakaila/ReactiveMoya)

Can we transfer them to the organization so we can get a collaborative effort? I don't have access rights to do it myself.

[2015-08-09 15:19] ashfurrow commented on #154
Super, thanks @justinmakaila! GitHub repo transfers are messy – I've created the other repos on the Moya organization for you, and you should have push rights. Just add a remote for them, pull, merge, and push.

[code]

And repeat. I've created an RxCore repo for the shared resources, in case you need it.

Let me know if I can do anything more to help! I really appreciate your work, and the work o

[2015-08-09 15:23] justinmakaila commented on #154
@ashfurrow just got rejected while trying to push:

[code]

[2015-08-09 15:28] ashfurrow commented on #154
Ah, sorry – first time using GH organizations :) Try again?

[2015-08-09 15:43] justinmakaila commented on #154
Worked, and pushed

[2015-08-09 16:05] justinmakaila commented on #154
@gfontenot Take a peak at the branch when you get a chance. I keep getting this error while trying to build the example projects for `RxMoya` and `ReactiveMoya`:

[code]

[2015-08-10 11:36] callmewhy opened #182 "How to handle response data graciously?"
Hi, Moya solve the problem of “request”, and how about "response"?
For example, I want to get the “count” of current online user, the code may look like this:
[code]
And every time I want to get the count data, I have to repeat the code above to handle response.

But actually, all I need is the "count" value. Is there any way to handle response data graciously?

Thanks

[2015-08-10 13:17] justinmakaila commented on #182
You could extend your provider with a `requestCount` method, which handles that logic for you. You can even go a step further, and have a `requestJSON` method, which handles the JSON serialization for you, and then use it within your `requestCount` method.

[code]

[2015-08-10 13:19] callmewhy commented on #182
Good idea. Thanks

[2015-08-10 13:25] justinmakaila commented on #182
Let me know if that works for you, and I'll close the issue.

[2015-08-10 13:50] callmewhy commented on #182
It works for me.

[2015-08-10 13:51] #182 closed

[2015-08-10 13:51] justinmakaila commented on #182
Awesome! :+1:

[2015-08-10 13:56] ashfurrow commented on #182
Another option is to be fancy :cake: You could use method currying in some way:

[code]

Then call `UserProvider.request(.Online, completion: countCompletion { count -> Void in /* your actual callback, accepting an Int */ })`.

This avoids subclassing, which I personally like, and "feels more Swift", whatever that means.

@callmewhy The overarching question is how do _we_ deal with this, and I can

[2015-08-10 17:10] callmewhy commented on #182
@ashfurrow Thanks, it's really awesome!

[2015-08-11 16:48] ashfurrow opened #184 "Make releasing easier"
Currently it takes a lot of steps:

1. Update podspec version.
1. In Demo directory, `pod update Moya`.
1. Commit.
1. Tag new version.
1. Push, including tags.
1. `pod trunk push Moya.podspec`.
1. Hope that current tag lints fine on trunk push.

We should automate this process, preferably using Fastlane.

[2015-08-11 16:50] ashfurrow commented on #179
No longer occurring, must be intermittent – see #176.

[2015-08-11 16:50] #179 closed

[2015-08-12 02:45] justinmakaila commented on #154
@Moya/contributors

The `ReactiveMoya` and `RxMoya` repositories are updated. I'd love for some help on getting them to work with `CocoaPods`. The `ReactiveMoya` `README` and Example are the only "complete" ones. I still need to update `RxMoya`.

Let me know if you need hlep getting anything set up.

[2015-08-13 23:25] skywinder commented on #184
Hi. I crated special gem for this steps ( it do anything except 2 ). I use it for my personal needs, but create a gem also. Check skywinder/bumper-pusher repo for details. Or just intall and try it:

    gem install bumper_pusher

You can also try a dry run to verify steps.

[2015-08-14 03:12] thedevme opened #185 "Base URL"
So I am using ReactiveMoyaProvider and I am able to make calls with a base url and those paths. Everything works perfect so thank you. But my feed provides additional urls example:

"live-chat": "http://example-url-staging.herokuapp.com/plays.json/"

I want to be able to pass this string to the Provider and have it make my request.  I have looked around and I can't seem to find anything that point

[2015-08-14 08:58] alexito4 commented on #185
Hi here!
It's been a while since I don't play with Moya but just to try to help here, the issue seems related to what was discussed in https://github.com/Moya/Moya/issues/102

Hope it helps a little ;)

[2015-08-14 11:42] thedevme commented on #185
Thanks for the response.  I am not finding a solution with that link.  I figured that I will need to split the string and pass a base url and the path but I cant seem to figure out how to dynamically set the base url if thats even possible.  My major problem is that the base urls that I have are not always the same.

[2015-08-14 12:20] thedevme commented on #185
I actually figured out a way to do it in a simplified way using enums thanks for your help @alexito4

[2015-08-14 12:20] #185 closed

[2015-08-14 22:18] orta commented on #184
^ looks good, can do a `make release` task?

[2015-08-15 03:16] skywinder commented on #184
No. But if it is all about running make release command, I believe that it's easy to implement.

[2015-08-15 03:40] orta commented on #184
I mean, your method looks good, we can automate it update and then to run `pod update` in the Moya dir via a make task :+1:

[2015-08-15 15:11] ashfurrow commented on #154
So @justinmakaila what are the next steps? Are the other repos working with Carthage? Swift 1.x or Swift 2? Do we just need to update CocoaPods now?

If the other repos are still works-in-progress, we should consider adding a note to their READMEs. And maybe include instructions for their corresponding CocoaPods subspecs' installations. Does that make sense?

[2015-08-18 14:55] justinmakaila commented on #154
@ashfurrow `RxMoya` and `ReactiveMoya` all work with `Carthage`. They're Swift 1.x. Yes, we just need to update CocoaPods.

`RxMoya` also requires an example project, right now I only have `TODO`s.

[2015-08-18 19:17] ashfurrow commented on #154
Super, cool! So if everything is working with Carthage, there's only a few things left to do:

1. Ensure the new repos with RxMoya and ReactiveMoya are up-to-date with this one.
1. Remove files from this repo.
1. Update podspec to point to the two new repos.
1. Test/lint podspec
1. Ensure `pod try` continues to work.
1. Release a new version of Moya.

Let me know if I'm forgetting anything.

All s

[2015-08-18 20:44] justinmakaila commented on #154
@ashfurrow I have 1 and 2 done, going to be pushing it soon

—Justin Makaila

On Tue, Aug 18, 2015 at 3:17 PM, Ash Furrow <notifications@github.com>
wrote:

[2015-08-19 07:05] mikejd opened #187 "Manual installation instructions and iOS 7 support"
Our app is still required to support iOS 7, so CocoaPods / Carthage are not considered as options. Could you please give any guidance on manual installation of the library? Or would you recommend against using `Moya` in this case? Thank you!

[2015-08-19 08:20] jk opened #188 "How can I override parameterEncoding?"
I've some trouble modifying the `parameterEncoing` defined in the [Moya class](https://github.com/Moya/Moya/blob/master/Moya/Moya.swift#L47) since it's not part of the `MoyaTarget` protocol definition. For some endpoints I need to POST data as `.JSON`, not the default `.URL`.

Sadly the Demo App doesn't cover it in [GitHubAPI class](https://github.com/Moya/Moya/blob/master/Demo/Demo/GitHubAPI.swif

[2015-08-19 09:06] jk commented on #188
Found the solution by myself. I had a hard time with the docs.

I had to replace the following line
[code]
where I used the default initializer, with the following:
[code]
where I set the `endpointClosure`. Within the the closure I defined my Endpoint with my own parameterEncoding: (`parameterEncoding: target.parameterEncoding`).

Hopefully this issue helps future like-me's :)

[2015-08-19 09:06] #188 closed

[2015-08-19 11:39] ashfurrow commented on #188
@jk I'm glad you found the solution! Do you have any suggestions to improve the docs?

[2015-08-19 12:28] jk commented on #188
@ashfurrow I'm already thinking about it, but it needs some more thoughts. In general I would shoot for more complete examples. Newcomers as I am one, lack guidance. For example it wasn't quite clear at first for me if I have to implement my own Provider. Turns out it was sufficient to use the default one with a closure as an initialization parameter.

[2015-08-19 13:13] justinmakaila commented on #187
Add the `.xcodeproj` to your project, and then link the `Moya.framework` output against your project.

Let me know if you have any issues or need more clarification.

[2015-08-19 13:16] esttorhe commented on #187
But doing that wouldn't produce a framework as well?
Which are not available to be used on 7 iirc?

--
Esteban Torres
(+506)8813-0934
Twitter: @esttorhe

On Wed, Aug 19, 2015 at 6:13 AM -0700, "Justin Makaila" <notifications@github.com> wrote:

Add the .xcodeproj to your project, and then link the Moya.framework output against your project.

Let me know if you have any issues or need more clarific

[2015-08-19 13:36] mikejd commented on #187
@justinmakaila, @esttorhe: In iOS 7 we cannot use dynamic frameworks, so probably there's no way to install `Moya` and neither `ReactiveCocoa` (which seemingly dropped iOS 7 support at some point). Please let me know, if I'm wrong.

[2015-08-19 13:46] justinmakaila commented on #187
Oh, sorry, just woke up. Skimmed it and missed that part ;)

You can just add the source files straight to the project.

[2015-08-19 14:03] mikejd commented on #187
@justinmakaila: It was the first thing that I did. : ) But then you need to add `ReactiveCocoa`, which is not possible for iOS 7. From their `Readme` page:

I realized this limitation only after asking the question. Seems that the `Moya` is an iOS 8+ library as well.

[2015-08-19 14:11] ashfurrow commented on #187
Maya itself should be usable without frameworks, but would require modification.

Moya is built atop of Alamofire, so you'd need to have those `.swift` files in your project. Then you'd drop in the Moya `.swift` files, but that's not enough. Moya has `import Alamofire` statements that need to be removed first. Then in should work.

A similar process _should_ work for ReactiveCocoa, but @mikejd you

[2015-08-19 14:22] ashfurrow opened #189 "Add examples to documentation"
Our documentation is thorough, but not instructive. We need to do a better job of providing examples and real-world scenarios.

(Continued from #188.)

[2015-08-19 14:23] ashfurrow commented on #188
Cool, I've opened #189 – let's collect all the suggestions, ideas, and feedback there :tada:

[2015-08-19 14:24] mikejd commented on #187
@ashfurrow Thank you for clarification! I realized that there's some manual way to get things work, but it seemed tedious to try. Finally we decided to simply drop iOS 7 support, so this no more an issue.

[2015-08-19 14:25] #187 closed

[2015-08-19 14:25] ashfurrow opened #190 "Mark Default methods as final"
`MoyaProvider` has several methods, like `DefaultEnpointResolution`, that should be `final`. They aren't meant to be overridden, and the docs don't mention that you even _can_ do that, but we should enforce this convention with the compiler.

[2015-08-19 14:25] ashfurrow commented on #187
Cool, glad to hear it worked out! :tractor:

[2015-08-19 20:07] mhuusko5 opened #191 "Support for iOS 7 and OS X 10.9 (update podspec)"
Currently the podspec is limiting use to iOS 8. But there doesn't seem to be anything in moya which is iOS specific, nor iOS 8 specific. Since Alamofire's requirements are iOS 7 and OS X 10.9 and up, it seems like Moya's should be as well.

[2015-08-19 20:10] esttorhe commented on #191
I think the `iOS 7` restriction is more along the lines that `Swift` pods are only supported with `use_frameworks!` flags in `CocoaPods`.

And dynamic frameworks are only available in 8.x and above.

[2015-08-19 20:10] ashfurrow commented on #191
That makes sense – OS X support seems pretty easy. iOS 7, though, confuses me a bit. How can Alamofire's podspec support iOS 7 if Swift pods require frameworks, and frameworks work only on iOS 8? Or am I misunderstanding something?

[2015-08-19 20:10] ashfurrow commented on #191
Ah, beat me to it @esttorhe  :)

[2015-08-19 20:11] esttorhe commented on #191
i think we hit `Comment` at the same time :see_no_evil:

[2015-08-19 20:13] esttorhe commented on #191
Alamofire's [podspec](https://github.com/Alamofire/Alamofire/blob/master/Alamofire.podspec) points to `8.0` as you can see

[2015-08-19 20:14] mhuusko5 commented on #191
Oops, silly me. iOS 8 it is.

[2015-08-19 20:14] esttorhe commented on #191
I think supporting 10.9 makes sense though, and should be «trivial» to add.

[2015-08-19 20:16] ashfurrow opened #192 "Update podspec to include OS X support"
No reason to keep Moya on iOS only :)

OS X 10.9+ should be good.

[2015-08-19 20:16] ashfurrow commented on #191
Cool, I've opened up https://github.com/Moya/Moya/issues/192 to do just that.

[2015-08-20 15:13] EZabolotniy opened #193 "swift 2.0"
Hi, I have the following Podfile:

[code]

And when I do pod install, I receive the following error:

[!] Unable to satisfy the following requirements:

- `Alamofire (from `https://github.com/Alamofire/Alamofire.git`, branch `swift-2.0`)` required by `Podfile`
- `Alamofire (~> 1.3.0)` required by `Moya/Core (2.0.0)`

[2015-08-20 15:22] ashfurrow commented on #193
Hmm. I know @esttorhe is working on Swift 2 support on https://github.com/Moya/Moya/pull/181 – maybe the Moya/Core subspec isn't being used from the `swift-2` branch? Maybe you need also

[code]

But to be honest, I'm not sure of the Swift 2 support in Moya yet. Ill's if I can take a look today.

[2015-08-20 15:26] esttorhe commented on #193
AFC right now but if you point to mits 2.0 branch (see the Demo Podfile in there) you'll be able to use everything sans ReactiveCocoa subspec

--
Esteban Torres
(+506)8813-0934
Twitter: @esttorhe

On Thu, Aug 20, 2015 at 8:22 AM -0700, "Ash Furrow" <notifications@github.com> wrote:

Hmm. I know @esttorhe is working on Swift 2 support on #181 – maybe the Moya/Core subspec isn't being used from the

[2015-08-20 15:26] esttorhe commented on #193
*Moya 

--
Esteban Torres
(+506)8813-0934
Twitter: @esttorhe

On Thu, Aug 20, 2015 at 8:22 AM -0700, "Ash Furrow" <notifications@github.com> wrote:

Hmm. I know @esttorhe is working on Swift 2 support on #181 – maybe the Moya/Core subspec isn't being used from the swift-2 branch? Maybe you need also

pod 'Moya', :git => 'https://github.com/Moya/Moya.git', :branch => 'swift-2.0'

But to be honest,

[2015-08-20 15:39] EZabolotniy commented on #193
I change my pod file to:

platform :ios, "8.0"

source 'https://github.com/CocoaPods/Specs.git'

use_frameworks!

pod 'Alamofire', :git => 'https://github.com/Alamofire/Alamofire.git', :branch => 'swift-2.0'
pod 'RxSwift', :git => 'https://github.com/ReactiveX/RxSwift.git', :branch => 'rxswift-2.0'
pod 'RxCocoa', :git => 'https://github.com/ReactiveX/RxSwift.git', :branch => 'rxswift-2.0’

pod 'Mo

[2015-08-20 15:41] esttorhe commented on #193
Omw. 
I'll check in my computer in a few 

--
Esteban Torres
(+506)8813-0934
Twitter: @esttorhe

On Thu, Aug 20, 2015 at 8:39 AM -0700, "EZabolotniy" <notifications@github.com> wrote:

I change my pod file to:

platform :ios, "8.0"

source 'https://github.com/CocoaPods/Specs.git'

use_frameworks!

pod 'Alamofire', :git => 'https://github.com/Alamofire/Alamofire.git', :branch => 'swift-2.0'

pod 'R

[2015-08-20 16:09] esttorhe commented on #193
You are correct @EZabolotniy.

I forgot that we haven't merged my branch into Moya's `swift-2.0` due to the issue with `ReactiveCocoa`.

You should be able to use `Moya` with `Swift 2` if you change your `Podfile` to this:

[code]

With the caveat that you won't be able to use the `ReactiveCocoa` extensions ATM

---

Worth noting; I had to change my implementation; from when I created it to now @k

[2015-08-20 16:10] esttorhe commented on #193
@ashfurrow; would it be worth to merge my WIP branch into the `swift-2.0`?

I mean; right now that branch doesn't work and mine almost work except for `ReactiveCocoa` (which I'm hoping to clear some time to tackle that once and for all by the end of this week).

That way people can use `Moya` on `Swift 2.0` in a somewhat more «official» way

[2015-08-20 16:15] ashfurrow commented on #193
I'm thinking merging it as-is is probably a good idea. It's not like we're merging into `master` or anything :)

[2015-08-20 16:29] esttorhe commented on #156
Can this be closed with #194 ?

[2015-08-20 16:29] esttorhe commented on #193
I think its ok to close this issue due to #194

[2015-08-20 16:29] #193 closed

[2015-08-20 16:29] ashfurrow commented on #156
Sounds good.

[2015-08-20 16:29] #156 closed

[2015-08-20 16:31] esttorhe opened #195 "Support ReactiveCocoa with Swift 2.0"
Right now `Moya` compiles and works on its `swift-2.0` branch including `RxSwift` but `ReactiveCocoa` is lagging behind due to a non-official `podspec`.

We need to support `ReactiveCocoa` as a dependency working with `Swift 2.0`

[2015-08-21 12:43] mhuusko5 commented on #195
Curious what's involved in this? Seems like it's the last piece in the puzzle in getting Moya working under Swift 2/Xcode 7..

Great work, btw!

[2015-08-21 20:27] esttorhe commented on #195
Sadly `ReactiveCocoa` dropped support for `CocoaPods` some versions ago.

This means that the `podspec` is not maintained by them and there's currently no `Swift 2.0` `podspec`.

I forked `ReactiveCocoa` and added a `podspec` to their 2.0 branch but I'm having some issues when trying to compile the pod.

TL;DR
I need to figure out a correct `podspec` for `Swift 2.0` :smile:

[2015-08-21 20:41] ashfurrow commented on #195
I maintain the podspec for ReactiveCocoa; is it out of date?

[2015-08-21 20:42] esttorhe commented on #195
I think is up to date but if I try to point the pod to the `Swift 2.0` branch it fails telling me there's no pod at that location or something along those lines (can't remember the exact error right now).

[2015-08-21 20:44] ashfurrow commented on #195
Hmm. You should be

[2015-08-21 20:44] esttorhe commented on #195
[code]

[2015-08-21 20:45] esttorhe commented on #195
Let me check because I just changed something and I might be writing the `Podfile` wrong

[2015-08-21 20:45] ashfurrow commented on #195
What's the podfile look like?

[2015-08-21 20:48] esttorhe commented on #195
Ok; here's the `Podfile`:
[code]

And here's the error:
[code]

[2015-08-21 20:49] esttorhe commented on #195
Tried pointing to your fork just in case; this is what I'm getting:
[code]

[2015-08-21 20:50] ashfurrow commented on #195
My fork is _way_ out of date.

Interesting – I would've thought it would use the spec in trunk. You should be able to point to _your_ work and copy&paste this podspec into it: https://github.com/CocoaPods/Specs/blob/master/Specs/ReactiveCocoa/3.0-RC.1/ReactiveCocoa.podspec.json

[2015-08-21 20:57] esttorhe commented on #195
I'm using this: https://github.com/esttorhe/ReactiveCocoa/blob/swift2/ReactiveCocoa.podspec

I'll take a look at the one you provided and see what differs from mine

[2015-08-22 14:28] mhuusko5 opened #196 "Access to target in endpoint resolver?"
I'm doing request signing in the endpoint resolver, but it's conditional based on target. At the moment the target is only accessible in the endpoint closure.

[2015-08-22 14:33] ashfurrow commented on #196
Hmm tricky. Let me take a look.

[2015-08-22 14:35] mhuusko5 commented on #196
`request()` currently..
[code]

... perhaps it could go...

[code]

[2015-08-22 14:39] ashfurrow commented on #196
Maybe, but I feel like that would break the clear chain from target -> endpoint -> request.

Could you provide more details about the nature of the request signing? Is this something that could be accomplished with HTTP headers alone? There are some details [here](https://github.com/Moya/Moya/blob/master/docs/Endpoints.md#from-target-to-endpoint-) on how that could be accomplished.

[2015-08-22 14:46] mhuusko5 commented on #196
Yes, definitely gleaned the significance of the pattern/chain vs. this just being an error. Don't want to change it unless necessary.

Unfortunately I'm not sure how to work around it in this case. In the the endpointClosure I'm adding the appropriate headers for my auth flow. That's for all targets.

But for some targets I need to HMAC sign the url requests, which is based off of properties of th

[2015-08-22 14:51] ashfurrow commented on #196
Hmm, I tried to make the `Endpoint` an abstraction for URL requests with [all of these properties](https://github.com/Moya/Moya/blob/fa071c26244e5e2aff8ee98b42ac7ccb3cc4e60c/Moya/Endpoint.swift#L22-L27). I didn't anticipate a need to access the request itself.

It could also be possible to switch based on the endpoint's URL in the resolver.

[code]

It's a bit janky, but would that work?

[2015-08-22 14:54] mhuusko5 commented on #196
It is janky, but it'll do for now. Anyway, I guess just see if anybody else runs into a similar issue, and if so maybe this is worth revisiting.
Thanks!

[2015-08-22 14:54] ashfurrow commented on #196
Definitely something to keep in mind!

[2015-08-22 14:55] #196 closed

[2015-08-22 15:14] ashfurrow opened #197 "Offline Disk Caching"
So, I spoke with @irace this week about a really neat idea for network requests in offline situations. If I understood correctly, each network request would do the following:
1. Serialize the request and store it on disk.
2. Try the request if you're online.
3. If it fails, or if the device becomes online and there are stored requests, resend them up to with max resend / max lifetime criteria.

It

[2015-08-22 17:25] aschuch commented on #197
Sounds great!
I think we should also consider caching the result of any previous requests and replay them in case we are offline.

[2015-08-22 19:33] ashfurrow commented on #197
Interesting idea!!

[2015-08-22 19:40] irace commented on #197
@ashfurrow You have it correct. I can definitely share some more details on how this works in Tumblr.app (the code isn’t generic enough to be open sourced in it’s current form).

Let me know if you have any specific questions, additionally I can just dumb down our implementation and post some sample code or pseudocode.

[2015-08-23 13:19] lkuczborski opened #198 "Support ObjectMapper"
It would be great if Moya supported [ObjectMapper](https://github.com/Hearst-DD/ObjectMapper) usage. It already can be accomplished with pure [Alamofire](https://github.com/Alamofire/Alamofire) with the help of [AlamofireObjectMapper](https://github.com/tristanhimmelman/AlamofireObjectMapper).

[2015-08-23 13:50] colinta commented on #198
Why just ObjectMapper?  Shouldn't the user decide what library to use?  This is a "middleware" decision, so I think that a separate `MoyaObjectMapper` library would be appropriate - and it could live in the **github.com/Moya** organization!  But there are plenty of other JSON <-> Object libraries:

- Argo
- ObjectMapper
- SwiftyJSON

The trouble I've run into is that it's impossible to have compil

[2015-08-23 13:56] orta commented on #198
I'm not sure this is Moya's responsibility, object mapping in Swift is still painful and there's no obvious winner to back so we'd end up supporting a lot of different cases. I think @colinta's idea makes sense though, a separate pod that could act as a mapper.

FWIW though we didn't find it difficult at all to build our [own mapper](https://github.com/artsy/eidolon/blob/master/Kiosk/App/Networkin

[2015-08-23 15:26] ashfurrow commented on #198
I don't think this is Moya's job, either, but Orta's right – we may able to be clever about completion blocks that would allow users to easily do this, even without the chaining. It could be a neat demo, case study, or example in the docs. I'll give some more though to what it might look like.

[2015-08-23 16:15] justinmakaila commented on #154
@ashfurrow I'm good with the proposal. I'd like to jump on a hangout to understand the organization's feelings on this subject, and also to spec out next steps for the reactive repositories and further developments. Shoot me an email at justinmakaila[at]gmail[dot]com to set something up this week.

—Justin Makaila

On Tue, Aug 18, 2015 at 4:44 PM, null <justinmakaila@gmail.com> wrote:

[2015-08-23 16:50] justinmakaila commented on #198
I mean, this COULD be solved with the same principles we applied to the `ReactiveMoya` and `RxMoya` extensions, I just think that these things need to be contributed by the community, otherwise we're going to have a hell of a time maintaining it all, or more likely, flat out denying the feature requests.

I can put together a more detailed guide (if anybody's into it), but here are the basics:
1.

[2015-08-23 16:59] ashfurrow commented on #198
If you're using CocoaPods, I've enjoyed using `pod lib create` – your just add Moya as a dependency and `pod install`.

[2015-08-24 06:47] lkuczborski commented on #198
I am happy that I could spark this discussion :) I agree that this is a topic for a separate pod (possibly living inside github.com/Moya organization as @colinta said). Like the @ashfurrow idea about clever completion blocks and I am really curious what will emerge out of it.

[2015-08-24 12:59] aschuch commented on #164
We just discovered a case where in-flight GET requests would lead to a bug in one of our apps.

We continuously check for user settings whenever the app is opened.
In case the user is no longer authorized, an automatic "relogin" attempt is made, which also tries to download the user settings.
In case the user settings call is not finished by the time of the "relogin", the "relogin" waits for the c

[2015-08-24 16:49] justinmakaila commented on #197
Could this potentially help with things like #164? If we provide an offline cache and specify a TTL at the request level, and whether or not a request should use the cache, I think we could ditch the idea of inflight requests.

[2015-08-24 17:03] mhuusko5 opened #199 "What would be the pattern for failure sampleData?"
Sometimes a signup endpoint succeeds and passes back no data, sometimes it fails and passes back data/info on what fields caused the failure. Not really sure how to model this in Moya.

Perhaps sampleResponse on endpoint, and sampleData on target should have failure specific cousins?

[2015-08-24 17:10] ashfurrow commented on #199
The model is to return sampleData that reflects the info about the failure, just like on a success. We do this [here](https://github.com/artsy/eidolon/blob/5b724a68acd4e6e42d2e8b1092b4644ba6b6488b/KioskTests/Bid%20Fulfillment/RegistrationPasswordViewModelTests.swift#L14-L40) on a per-target basis.

[2015-08-24 17:18] mhuusko5 commented on #199
I'm a little lost. In that block of code I'm seeing neither the use of the `.Error` enum, nor for that matter (in the success cases) the user of `target.sampleData`..

I thought the target was supposed to define the data, with the endpointClosure mapping the sampleData to a sampleResponse?

[2015-08-24 17:29] mhuusko5 commented on #199
Having rethunk it, my real question is: if there's only one sampleData property, what am I do to if a target has sample data for success *and* sample data for failure? Other than that, I think I get the pattern for representing success/failure with endpointClosures.

[2015-08-24 17:42] ashfurrow opened #200 "Improve Endpoint Documentation"
`Failure` is truly a network failure – the status code is optional, even. It's meant to simulate when the device cannot connect to the internet. The `Success` case is a "success" in that the API returns some data. it's agnostic to the idea that a 404 would be a failure – it succeeded because it returned data.

[2015-08-24 17:43] ashfurrow commented on #199
`sampleData` is actually a closure that returns an `NSData` instance. The demo I posted showed how you could customize the `endpointsClosure` to return customized `Endpoint`s.

I suppose what's probably confusing is the `Success` and `Failure` cases of the result. `Failure` is truly a network failure – the status code is optional, even. It's meant to simulate when the device cannot connect to the

[2015-08-24 17:45] colinta commented on #199
Your MoyaTarget implementation can have multiple `sampleData` properties, it is only a required `MoyaTarget` property so that it is easy to make use of `MoyaProvider.DefaultEndpointMapping`.

To use multiple sample data properties, you need to create your own endpoint-closure, which maps targets to `Endpoint<T>`:

[code]

[2015-08-24 17:51] mhuusko5 commented on #199
Your two answers combined covered the bases. I get it now. Thanks a bunch!

[2015-08-24 18:08] ashfurrow commented on #199
I'm glad! I'm going to close the issue, but if you want to reopen later, or open a new issue, please feel free!

[2015-08-24 18:08] #199 closed

[2015-08-25 16:47] ashfurrow commented on #195
I'm spending time this week to update our app to Swift 2 – I'll try to get this working.

[2015-08-25 16:49] esttorhe commented on #195
![](http://i.giphy.com/JDnaQ8qn0Myuk.gif)

[2015-08-25 17:38] ashfurrow commented on #195
Initial work is complete. I haven't finished yet, so I can't test, but [this](https://github.com/artsy/eidolon/pull/496/files#diff-4a25b996826623c4a3a4910f47f10c30R59) should help anyone currently stuck. I'm using my fork of ReactiveCocoa, and added a podspec to my branch.

[2015-08-25 22:46] ashfurrow commented on #197
Yeah, I don't feel super-strongly either way about it.

--
Ash Furrow
iOS Developer, Author
http://ashfurrow.com

[2015-08-26 15:05] ashfurrow commented on #164
Yeah, I dunno. Seems like this might be more trouble than it's worth, but @aschuch and @kzaher are right – this should definitely be opt-in.

[2015-08-26 15:26] ashfurrow commented on #198
@lkuczborski we use something [like this](https://github.com/artsy/eidolon/blob/511ebb901289dbeb648cb9b0234e21ab1543c373/Kiosk/App/Networking/RAC%2BJSONAble.swift), but that's built atop signals. You're looking for something with callbacks.

Well! Let's imagine.

Basically, you'd want a block that takes a type and returns a closure that can be passed into Moya's `request` function. This hasn't bee

[2015-08-26 17:18] SRandazzo commented on #198
I've actually been building, and using, an extension to MoyaProvider that integrates ObjectMapper support. It's been working really great so far, but I haven't gotten to the point of PR-ing it just yet. I feel like pattern of subclassing `MoyaProvider` isn't the best decision, and ultimately limits flexibility (what if i want to use ObjectMapper in on instance, but the RAC extensions in another?)

[2015-08-26 17:21] ashfurrow commented on #198
@SRandazzo very cool!

Agreed. We've actually opened https://github.com/Moya/Moya/issues/144 concerning the subclassing pattern. With Swift 2's protocol extensions, it might make sense to ditch the MoyaProvider class altogether :tada:

[2015-08-27 08:00] skywinder commented on #200
Fully agree with you. It's quite confusing to see success, when actually there is no relevant data in json.

[2015-08-27 08:59] skywinder commented on #184
Ok, so we can add some shell script in the root directory to bump and update and push pod.
Feel free to ask, if you need any help with `bumper_pusher`

[2015-08-27 09:07] skywinder commented on #170
As option:
As @esttorhe suggested, but this 2 images in a row and add arrow between:
:city_sunset:  :arrow_right:  :rocket:

[2015-08-27 14:08] orta commented on #170
might be better to try have both in one image (roughly chucked together)

![screen shot 2015-08-27 at 10 07 21 am](https://cloud.githubusercontent.com/assets/49038/9522553/788e7656-4ca3-11e5-8c1e-df89ff449553.png)

http://cl.ly/0E0u3H422C3F/moya-front.sketch

[2015-08-27 14:49] ashfurrow commented on #170
@orta it's a good start, but I think it needs more character. Suggestion:

![artboard 1](https://cloud.githubusercontent.com/assets/498212/9523674/38babc28-4ca9-11e5-8937-0200a6c753a6.png)

[2015-08-27 15:57] ashfurrow opened #203 "Default Stubbing Behaviours have confusing names"
`MoyaProvider.ImmediateStubbingBehaviour` doesn't really tell me "I always stub" – consider adding another that calls this one.

[2015-08-27 17:12] esttorhe commented on #170
:shipit:

[2015-08-27 22:37] tettoffensive opened #204 "Carthage having issues with Pods-DemoTests-Moya"
It seems it still builds Moya.framework with this podfile:
[code]

**But it is spitting out this error:**
`xcodebuild: error: Scheme Pods-DemoTests-Moya is not currently configured for the build action.`

[2015-08-28 06:05] skywinder commented on #170
@ashfurrow  :1

[2015-08-28 06:44] skywinder commented on #200
In general:
Response `3xx` says that for the successful execution the request is necessary to take additional action. - it's not an error.
Response `4xx` says that the client, making the request, did something wrong. - this is error behaviour.

[2015-08-28 11:50] ashfurrow commented on #200
True, but there are also error conditions in The iOS network stack that we want to simulate. Maybe we should rename these two cases then.

[2015-08-29 01:43] damianesteban commented on #200
Concerning the endpoint documentation:

I'm working on an iOS application that fetches data from the GitHub API and I've already OAuth authentication.  Originally I was planning on using Alamofire to make the authenticated requests to GitHub, but I've been wanting to use Moya for a while in a larger project.  Anyway, I was going over the documentation on endpoints and I saw the OAuth example but i

[2015-08-31 15:23] ashfurrow commented on #200
That's a good idea, @damianesteban. I don't believe we actually use OAuth; we only need to add an HTTP header.

I feel generally that Moya is spreading in a few different directions, and we don't have a set of best practices that demonstrate or implement common practices, like OAuth. I don't think we need to implement MoyaOAuth or anything :grimacing: but some examples of using common libraries wo

[2015-08-31 15:23] ashfurrow commented on #200
So, thanks for the suggestion!

[2015-08-31 15:38] damianesteban commented on #200
You are welcome.  Yes, I completely agree that Moya doesn't need a separate OAuth component to it :smile: .  I have OAuth up and running with good old `NSURLSession` and I plan on eventually moving over to Moya once I get the rest of the requests a but more fleshed out.  Thanks!

[2015-08-31 15:38] ashfurrow commented on #200
Awesome! Let us know how it goes!

[2015-08-31 15:40] damianesteban commented on #200
I definitely will.

[2015-08-31 18:54] orta commented on #170
this this is the direction we're after, I can spruce it up and give it some good arrows etc. I prefer the emoji.

[2015-08-31 19:00] ashfurrow commented on #170
Sounds good to me!

[2015-09-01 16:50] justinmakaila opened #206 "Gitter Integration"
@Moya/contributors

All,
Is there any interest in setting up a gitter.im room for the organization? I find that I have some questions regarding the future of Moya and the direction we want to go, but am reluctant to file an issue, because it's not necessarily related to the code (Just like this one!).

**Edit**: I'm happy to take care of the integration.

[2015-09-01 16:52] ashfurrow commented on #206
Meta-issue :)

I've not used gitter, and I don't really feel like inviting people to another Slack just for Moya :sweat_smile: I personally like issues because they're public, searchable, and anyone can easily participate. Even for things like roadmaps, I feel it makes sense. But I know my feelings aren't universal, too. Happy to go in whatever direction we need to to make a great library.

[2015-09-01 17:40] colinta commented on #206
I agree, especially because of "searchability".

I have bad luck with chat-room-as-support-channel.  In chat rooms, people seem to assume that the people there have tons of free time available, to _answer their question right now_, even though a quick search would yield the answer they need, or opening an issue would help people out in the future.

[2015-09-01 17:41] colinta commented on #206
On the other hand, if there are maintainers who DO want to hang out in that chat room, it wouldn't hurt to have it!  But an empty gitter room, with a link from the README, might give people the wrong idea.

[2015-09-01 18:19] esttorhe commented on #206
I've never used `Gitter` before TBH.

Would give it a try as long as someone could point me to the benefits of having a Gitter room vs only the issues here.

I think @colinta and @ashfurrow already made some valid points of pros for the issues in Github but I still don't know what are the benefits of the other option.

[2015-09-01 18:30] steam commented on #206
I'll throw my vote in for using GH issues. One of the problems with a separate discussion tool in my opinion is fragmenting the conversation and not preserving it for the future. Future Moya users (and current ones) can easily search and read the conversation history in GH.

[2015-09-01 18:31] orta commented on #206
Gitter's tend to end up like Alcatraz's : https://gitter.im/supermarin/Alcatraz - people come in with  questions but no-one gives answers.

Not to say that a slack doesn't have it's problem, or IRC; on CocoaPods we devs don't use the IRC so it's only usually for people who can help each other.

[2015-09-01 18:35] esttorhe commented on #206
I think the «vast» majority is against `Gitter`.

I agree that the fragmentation would be an issue.
How does `Gitter` work in regards of; I don't know. Google indexing? Would I get hits in Google pointing to `Gitter`? how long does the discussions in `Gitter` are stored? or are they discarded after X amount of bytes?

I think having an outlet for users to help themselves would be great; but if as

[2015-09-02 03:30] sammoore commented on #118
/cc @rpowelll Any movement on this? I'm considering doing the same now.

[2015-09-02 03:49] rpowelll commented on #118
@sammoore Yeah I've been working on a small project on and off over the past few weeks. I'll work on getting my extensions polished up and publish the project on the weekend if all goes as planned.

[2015-09-02 14:26] justinmakaila commented on #118
This is all taken care of in github.com/Moya/ReactiveMoya. Unfortunately, there's no CocoaPods support yet, only Carthage.

[2015-09-04 13:26] rad182 commented on #204
+1

[2015-09-04 14:20] rad182 opened #208 "HTTP Headers support"
hi, how can i add additional http headers? e.g Content-Type: application/json

[2015-09-04 14:46] #208 closed, assigned to nobody

[2015-09-04 14:48] ashfurrow commented on #208
Don't worry about it! Glad that's what you're looking for.

[2015-09-08 16:49] ashfurrow opened #209 "Async endpoint resolution"
Our `endpointResolver` currently returns an `NSURLRequest`, which is cool, but makes working with async APIs like [Heimdall](https://github.com/rheinfabrik/Heimdall.swift) very difficult (by the nature of OAuth, [these requests cannot be synchronous](https://github.com/rheinfabrik/Heimdall.swift/blob/f67abd632b6ccc4604ae8fa2b6eab9d6b7855310/Heimdall/Heimdall.swift#L193).

I'm thinking that the the

[2015-09-09 22:46] zbeckman commented on #118
What's the current/best configuration for use with Swift 2 (Xcode 7) and RAC? It looks like the Moya swift-2.0 branch, w/ RAC swift-2.0 branch, and a carthage pull of ReactiveMoya?

[2015-09-09 23:00] zbeckman opened #210 "swift-2.0 branch generating many errors (Alamofire issues)"
Tried to pull the latest swift-2.0 into Xcode 7 GM and getting lots of compiler errors, such as "#" having been removed from Swift.

[2015-09-09 23:35] ashfurrow commented on #210
That's odd. How are you installing it? You'll need to manually point to Alamofire's Swift 2 branch in your podfile. It's working for me with this one: https://github.com/artsy/eidolon/blob/master/Podfile

[2015-09-10 00:27] zbeckman commented on #210
Tried a few different things, starting with the swift-2.0 branch README.md... obviously out of date.

After updating to:
[code]
It is healthier – seems to be down to two compile errors (versus the dozens prior to the change):
[code]
Ideas...?

By the way, what's the difference between your Alamofire branch and the Swift 2 master (Alamofire) branch? Can I safely point at the Alamofire URL or should

[2015-09-10 00:30] ashfurrow commented on #210
Hmm. I'll have to look at that tomorrow. Might be a change with the GM.

[2015-09-10 06:29] jarrodrobins commented on #210
Alamofire were very quick - they've already merged their Swift branch into master and deleted the Swift 2 branch. You just need to point at the master branch for Alamofire now.

I've submitted a PR for Moya which updates this.

[2015-09-10 08:51] aloco commented on #204
+1

[2015-09-10 17:12] zbeckman commented on #210
Hmm. Still no good, I'm seeing the same error. Updated to use the latest AlamoFire. Here's the complete Podspec I'm using:
[code]

[2015-09-10 17:13] zbeckman commented on #210
(Realizing that, technically this looks like a Moya/ReactiveCocoa issue – I can create an issue over there if you would prefer).

[2015-09-10 17:21] ashfurrow commented on #210
I'm going to work on getting it all to work this afternoon with the Xcode 7 GM.

[2015-09-10 18:47] ashfurrow commented on #210
OK cool, so this is working for me ([this PR](https://github.com/Moya/Moya/pull/212)).

@zbeckman Your podfile looks good to me. But you'll need to update things:

[code]

Let us know if that works :cake:

[2015-09-10 18:58] ashfurrow commented on #210
The code on this PR is working for me locally: https://github.com/artsy/eidolon/pull/504

[2015-09-11 08:52] zbeckman commented on #210
I'm now pulling the following pods:
[code]
After adding Alamofire and Moya, I'm getting the following runtime error. This only *seems* to be happening after adding in Alamofire and Moya, but I'm still debugging.

If you see anything wrong with my config please let me know.
[code]

[2015-09-11 12:17] ashfurrow commented on #210
Oh no! I had a similar issue yesterday but I can't recall exactly what fixed it. You've tried the routine fixes like deleting derived data and resetting the simulator? Are there any compiler warnings that seem related?

[2015-09-12 00:36] zbeckman commented on #210
Yes – all the routine fixes.

I'm very fuzzy on which pods I need to pull in... ReactiveCocoa, Alamofire, Moya, ReactiveMoya... And I'm pretty sure the README is quite out of date in this regard.

I'm able to get Moya to install – but, any attempt to bring in ReactiveCocoa fails.

[2015-09-12 00:39] ashfurrow commented on #206
Gonna close this – if we missed something in the discussion, or if it makes sense in the future, we'll revisit some sort of organizational chat :+1: :cake:

[2015-09-12 00:39] #206 closed

[2015-09-12 00:39] ashfurrow commented on #176
We've moved off Circle CI altogether, closing.

[2015-09-12 00:39] #176 closed

[2015-09-12 00:41] orta commented on #210
Here is our working build of [Moya + ReactiveCocoa](https://github.com/artsy/eidolon/blob/master/Podfile#L65-L67) - which generates this [lockfile](https://github.com/artsy/eidolon/blob/master/Podfile.lock)

[code]

Should get you the right setup, if you have been using older references for these branches - you may need to `pod install`

[2015-09-12 00:43] ashfurrow commented on #210
I agree the README needs updating – I'll roll that into https://github.com/Moya/Moya/pull/214

[2015-09-12 00:45] zbeckman commented on #210
Hm, OK – a little more info – the error I reported above:
[code]
Only seems to be a problem in the "iOS UI Testing Bundle" target type. (Unfortunately, this is where we do all our testing, so the outcome is that when we run tests, it immediately fails and nothing works – we just get the above error).

[2015-09-12 00:50] zbeckman commented on #210
Also, if I only use:
[code]
Then, I get compile errors as follows:
[code]
(Hence, the addition of the pods for Box and Result from HEAD). However, once I add in those (fixing the compiler errors) – we end up back at the original problem where none of our tests work (the `image not found` error).

[2015-09-12 04:21] zbeckman commented on #210
It would seem that if I build ReactiveCocoa using Carthage, and install it as directed (that is, drag the framework into my embedded binaries) – the problem changes. Now:
[code]
(Notice that now it's Moya that has library problems...)

I think this has something to do with the fact that I'm building &/or testing for iOS. And I found this, which I'm not sure what to make of: https://github.com/Cart

[2015-09-13 01:24] ashfurrow commented on #118
@justinmakaila has implemented a solution on another repository (pasted below). We can't incorporate this change into the library yet because it's a breaking change to existing users, and we need to update Moya to the next major version (3.0.0). I'd like to get a Swift 2, Carthage-compatible release out _first_ (see #215) and then incorporate Justin's work, since it looks great :100:

[code]

[2015-09-13 01:41] ashfurrow commented on #210
I've been able to use CocoaPods to install Moya/ReactiveMoya without any problems on a fresh Xcode project (download it [here](http://cl.ly/433l3C18233J)). I did so using Xcode 7 GM and the following Podfile:

[code]

@zbeckman If that isn't working for you on your existing project, could you try cleaning your build directory? Command-Shift-K should do it in Xcode. It could be that Xcode's forgott

[2015-09-13 03:38] zbeckman commented on #210
Ok, so after a good bit of fiddling, I learned a few things.

I'm using Xcode 7 GM. I'm in the habit of clearing the project directory and derived data whenever anything odd happens (so, um... like hourly ;-).

First off, everything works just fine if I install ReactiveCocoa using Carthage (Swift 2 branch of course), and drag the framework into our project, in conjunction with the following pods (

[2015-09-13 13:09] nmtitov opened #216 "Demo: dyld: Library not loaded: @rpath/libswiftCoreLocation.dylib"
I can't get demo running. I'm using Xcode 7.0. Here is error log from console:

[code]
[code]

I'd be glad if someone could help. Thanks!

[2015-09-13 13:24] ashfurrow commented on #216
Great bug report! This looks similar to #210. Hmm... we haven't found a solution to it yet, either. We'll figure this out :)

[2015-09-13 15:17] ashfurrow commented on #216
Hmm. You ran `pod install`? What version of CocoaPods are you using?

[2015-09-13 16:28] nmtitov commented on #216
Yes of course. I am running latest stable cocoapods (however I've noticed you are using 0.39 beta?):

[code]

This is my Podfile.lock

[code]

By the way I guess everything is fine with Xcode 6.x? Will demo work if I reinstall previous version?

[2015-09-13 16:31] ashfurrow commented on #216
Hmm. The CocoaPods version could be the problem. I remember skipping 0.38.2 but I can't remember why. Maybe updating would fix it?

Alternatively, using our last release with Xcode 6 is a good idea. Check out this tag: https://github.com/Moya/Moya/tree/2.1.0 and let us know how it goes :+1:

[2015-09-13 16:32] ashfurrow commented on #210
I've never used Carthage and CocoaPods together before – not sure of how that'd work. What version of CocoaPods are you using? There's a similar issue in #216.

[2015-09-13 17:29] nmtitov commented on #216
I tried cocoapods version 0.39.0.beta.4 and got same error:

[code]

This error happens in runtime, after I see simulator with launch screen. Compilation completes successfully without errors. I'll try with Xcode 6 and report status soon.

[2015-09-13 17:42] ashfurrow commented on #216
Hmm. I'm seeing the same problem here. I'll investigate and get back to you and @zbeckman as soon as I have a solution.

[2015-09-13 18:08] ashfurrow commented on #210
We've rearranged this repository since you initially had this problem. Could I ask you to try creating a new Xcode project, and `pod install` using the following pods? Please leave Carthage out so that we can narrow the problem down.

[code]

After `pod install`ing, open the project in Xcode 7 GM and run the app. Hopefully it'll work (it's working for me).

If that doesn't work, please download [t

[2015-09-13 18:35] zbeckman commented on #210
I tried removing the Carthage install of ReactiveCocoa, and then updating with the pods you suggested:
[code]
I get the same problem, again, only on the UI testing target (regular test targets and the app itself seem to work fine):
[code]
I also took a look at your test project. There is an important different in regard to how we have our Podfiles set up, and possibly the resulting code:

My Podfi

[2015-09-13 18:40] ashfurrow commented on #210
Great work! I'm having trouble with the Demo project in #216 too. After adding pods to the specific target in the Podfile, it's now working! This kind of stuff has always tripped me up – looping in @orta.

[2015-09-13 18:46] ashfurrow commented on #216
Zacharias found that it was the podfile arrangement. I've pushed a commit that's yet to me merged: https://github.com/Moya/Moya/commit/a2be3c27bffc63427a980ebbcca6cb0c3f14fcec#diff-c2c2f4d15bfae1123d3167a807ac48d6R7

[2015-09-13 18:52] zbeckman commented on #210
Same here! Ok, I updated our main project's Podfile as follows (specifically, I put the main target 'Glimpulse' back in, so now every pod is explicitly included in a target):
[code]
And it works!

Questions, though:

Notice that *I am not including* any of the following pods:
[code]
So, are `Result` and `Alamofire` looped in through dependencies? Do we need to include these in our Podfile?

Thankf

[2015-09-13 18:56] ashfurrow commented on #210
Great! I'm glad that's working.

Box is no longer required at all. Result seems to have been updated on Trunk, so we can remove it too. Same with Alamofire – used to need it specified for Swift 2 support, don't anymore.

[2015-09-13 20:19] orta commented on #210
BTW you can reduce test duplication by doing [something like this](https://github.com/orta/Elasticity/blob/master/Podfile#L31-L38).

[2015-09-13 21:00] nmtitov commented on #216
Thank you, it works now :)

[2015-09-13 21:00] #216 closed

[2015-09-13 21:05] nmtitov opened #217 "Xcode 6.4 Swift compilation error?"
Hello again, sorry for disturbing you second time today. I launched Demo in Xcode 6.4 while I was playing with #216 and got Swift compilation error (code from master branch).

Could you please take a look at this gist ? https://gist.github.com/nmtitov/154cd1738a517065593c Looks like toolchain is not set up? But `xcode-select -p` shows correct path.

[2015-09-13 21:08] zbeckman commented on #210
Nice! Thanks for the tip.

[2015-09-13 21:09] ashfurrow commented on #217
Hi there! No problem at all :) The Demo project on the current master requires Xcode 7 GM. For Xcode 6.4, you can check out the project in the [last release](https://github.com/Moya/Moya/tree/2.1.0).

Note that the Demo project on master is currently not able to run an app, just unit tests. I'm working on fixing that in #215.

[2015-09-13 21:24] nmtitov commented on #217
Oh, I see. Thank you!

[2015-09-13 21:24] #217 closed

[2015-09-13 21:26] ashfurrow commented on #210
Seems like this is resolved, I'm going to close the issue. Don't hesitate to reopen, or open a new issue, if you run into any further problems. Thanks again for your help! :100:

[2015-09-13 21:26] #210 closed

[2015-09-14 13:08] #154 closed

[2015-09-14 13:08] #184 closed

[2015-09-14 13:08] #204 closed

[2015-09-14 13:46] ashfurrow commented on #195
I'ved pushed a version of ReactiveCocoa 3 with Swift 2 (Xcode 7 GM) support. Its version number is "3.0.0-swift2" and can be used in Podfiles _and_ in podspecs.

Subsequently, I've updated the Moya podspec to use this new ReactiveCocoa version. There's a problem with the Carthage compatibility, but I'm hoping to have it wrapped up soon, and then I'll submit a PR.

[2015-09-14 14:22] #195 closed

[2015-09-14 14:28] ashfurrow commented on #195
OK, now all that's required for ReactiveCocoa extensions is the following in your podfile

[code]

And that's it! :tada:

[2015-09-14 15:46] retsohuang commented on #177
I'm using RxSwift + Moya in my project, Is the sample code like this  would help?
[code]

[2015-09-14 15:47] ashfurrow commented on #177
Yeah, exactly! We'd need to unindent the code and add Swift code highlighting (see the existing README samples' markdown). :cake:

[2015-09-14 19:03] AlexanderKaraberov opened #220 "Logging HTTP requests"
I don't know if this is relevant, but Moya adds another level of abstraction on top of Alamofire which is on top of NSURLSession, so with all this debug logging of all the network stuff can be hard. I think may be we can implement something similar to incredibly useful https://github.com/AFNetworking/AFNetworkActivityLogger in such a way it fits Moya's architecture? IMO it will be very useful. E.g

[2015-09-14 19:06] ashfurrow commented on #220
Sounds like a good idea – doesn't sound too difficult, either. We could hook into the existing provider initialization, if that makes sense, or use NSNotifications. Thoughts?

[2015-09-14 19:09] AlexanderKaraberov commented on #220
If we add something like `print("\(applicationName): \(date) Request Headers:\(request.request!.allHTTPHeaderFields)")` inside `func request(token: T, completion: MoyaCompletion)` it will be too intrusive. Or you mean smth different in "hook into the existing provider initialization".  So `NSNotification` sounds like a good idea.

[2015-09-14 19:12] ashfurrow commented on #220
Aye, so this is what I was thinking:

A user could pass in an endpoint resolver or other callback we already have – the one they pass in would log stuff. So that's how it could work now. With a new library, we could call a function that curries back a function to pass in.

[code]

Make sense?

[2015-09-14 19:24] AlexanderKaraberov commented on #220
Great idea. We can go with this solution. What about logging a response?

[2015-09-14 20:57] ashfurrow commented on #220
Hmm, good question. There's no existing way to log these at all – we may have to add yet another callback to the provider :cry:

[2015-09-16 00:28] zbeckman opened #221 "Pod 'Moya/ReactiveCocoa' fails to compile (bad dependencies)"
When following the README to set up Reactive Moya, e.g.:
[code]
After a `pod update` the build results are:
[code]

This is probably related to the following dependencies that get pulled in:

[code]

[2015-09-16 00:29] orta commented on #221
We're waiting on https://github.com/Moya/Moya/issues/118 to merge for RAC 3 support

[2015-09-16 00:48] ashfurrow commented on #221
What Xcode version are you using?

[2015-09-16 03:58] zbeckman commented on #221
Xcode 7 GM.

[2015-09-16 04:06] ashfurrow commented on #221
Looks like it was a problem with ReactiveCocoa's choice to release 3.0.0 as a Swift 1.2 library. We were using `~> 3.0.0-swift`, and CocoaPods assumed that `3.0.0` would be compatible, so it tried to install that. I've pushed an updated Moya podspec that points to a proper 4.0 ReactiveCocoa version. Could you try `pod update ReactiveCocoa` and let us know?

[2015-09-16 13:28] MarvinNazari opened #222 "Incompatible library"
Hi, I'm getting this error with the latest version (using Carthage) and i have the latest Alamofire (2.0.0)

    dyld: Library not loaded: @rpath/Alamofire.framework/Alamofire
    Referenced from: /Users/X/Library/Developer/CoreSimulator/Devices/B3EC90B1-97EC-4E7B-B459-282565E65D17/data/Containers/Bundle/Application/7B3476BB-ECBF-4CB3-8D13-02D44AD934FE/X.app/Frameworks/Moya.framework/Moya
    Reas

[2015-09-16 13:30] ashfurrow commented on #222
Hmm. What are the contents of your Cartfile?

Actually, I'm pretty new at diagnosing Carthage issues. @justinmakaila does this look familiar?

[2015-09-16 13:38] MarvinNazari commented on #222
I think this is actually a issue with Cocoapods [check it](http://stackoverflow.com/a/31636313/2129504)

    github "ReactiveCocoa/ReactiveCocoa" ~> 4.0
    github "TransitApp/SVProgressHUD" ~> 1.1
    github "Moya/Moya" ~> 2.2.2
    github "robb/Cartography" ~> 0.6
    github "kishikawakatsumi/KeychainAccess" "swift-2.0"
    github "Hearst-DD/ObjectMapper"
    github "Alamofire/Alamofire" ~> 2.0

[2015-09-16 13:45] ashfurrow commented on #222
@MarvinNazari could you clarify? I built the release of Moya with a version of CocoaPods _newer_ than 0.38.2.

Again, not terribly familiar with Carthage (we _just_ added support) – what happens if you remove the `Alamofire` and `ReactiveCocoa` lines from your Cartfile, out of curiosity? And just have `Moya` and let Carthage bring in the dependencies for you?

[2015-09-16 14:07] MarvinNazari commented on #222
Not sure if its CocoaPods issue, but it didn't work when i removed `Alamofire`  and  `ReactiveCocoa ` from Cartfile

[2015-09-16 16:34] justinmakaila commented on #222
@ashfurrow @MarvinNazari you shouldn't have to specify `Moya`'s dependencies in your Cartfile, unless you also have a specific dependency on it.

The initial error looks like you missed adding the `copy-frameworks` script. Check out [step 4](https://github.com/Carthage/Carthage/blob/master/README.md#if-youre-building-for-ios) in the "Getting Started" section of the `README`.

[2015-09-16 17:06] MarvinNazari commented on #222
@justinmakaila I have the `copy-frameworks` script and all the library works except Moya, i removed the `Alamofire` from Cartfile too, but no luck.

[2015-09-16 17:07] justinmakaila commented on #222
@MarvinNazari Can you post your updated Cartfile real quick?

[2015-09-16 17:10] MarvinNazari commented on #222
github "ReactiveCocoa/ReactiveCocoa" ~> 4.0
    github "TransitApp/SVProgressHUD" ~> 1.1
    github "robb/Cartography" ~> 0.6
    github "Moya/Moya" ~> 2.2.2
    github "kishikawakatsumi/KeychainAccess" "swift-2.0"
    github "Hearst-DD/ObjectMapper"
    github "tristanhimmelman/AlamofireObjectMapper" ~> 0.8
    github "onevcat/Kingfisher" ~> 1.5
    github "MarvinNazari/ICSPullToRefresh.Swift" "m

[2015-09-16 17:18] justinmakaila commented on #222
@MarvinNazari Are you building for Xcode 7 and Swift 2?

[2015-09-16 17:18] MarvinNazari commented on #222
Yes.

[2015-09-16 17:20] justinmakaila commented on #222
Ah, I'm afraid I can't be of much help right now, I need to install the Xcode 7 GM. Let me get that download started, and I'll report back here if I find anything.

@Moya/contributors: Can anyone step in?

[2015-09-16 17:23] MarvinNazari commented on #222
Xcode 7 is coming very soon so just wait for that (https://developer.apple.com/xcode/download/)

[2015-09-16 17:24] justinmakaila commented on #222
;) I've been checking the Software update section on my phone every half hour all day.

—Justin Makaila

On Wed, Sep 16, 2015 at 1:23 PM, Marvin Nazari <notifications@github.com>
wrote:

[2015-09-16 17:27] MarvinNazari commented on #222
Xcode 7 is actually out at MAS. :)

[2015-09-16 18:37] justinmakaila commented on #222
Ok, all installed. Beginning triage!

[2015-09-17 05:38] zbeckman commented on #221
All fixed. Sorry for the slow response! (Too many windows!)

[2015-09-17 10:40] #221 closed

[2015-09-18 07:42] floskel commented on #222
Any news on this. I've started seeing the error as well. No luck yet.

[2015-09-18 09:28] skywinder commented on #222
The same issue with my projects. I believe it's not related with Moya..
https://github.com/Alamofire/Alamofire/issues/55

[2015-09-18 11:49] justinmakaila commented on #222
Using the latest of Carthage and RAC 4.0, I built just fine 

—Justin Makaila

On Fri, Sep 18, 2015 at 5:28 AM, Petr Korolev <notifications@github.com>
wrote:

[2015-09-18 13:31] MarvinNazari commented on #222
it builds fine! when u run the app it crashes!

[2015-09-18 19:32] MarvinNazari opened #223 "Help wanted with endpointsClosure"
Im so sorry i ask this question here! but i didn't get any answer in Stackoverflow here is my problem

     let authorizationEndpointsClosure = { (target: LokaliiAuthorizationAPI) -> Endpoint<LokaliiAuthorizationAPI> in
    let url = target.baseURL.URLByAppendingPathComponent(target.path).absoluteString
    let endpoint = Endpoint<LokaliiAuthorizationAPI>(URL: url, sampleResponse: .Success(200, {t

[2015-09-18 20:15] ashfurrow commented on #223
Hey! Don't worry about asking a question on the repo, that's exactly the right thing to do :smile_cat:

There's no first-class support for this kind of authentication-if-required behaviour. Moya abstracts network calls away, not your authentication. This is a limitation that's recently come up as a request by others, and we're planning on adding support to Moya: #209.

I had a similar problem on a

[2015-09-18 20:19] MarvinNazari commented on #223
Thanks! Yeah i use ReactiveCocoa would be great if u could provide more details on that :)

[2015-09-18 20:40] ashfurrow commented on #223
Sure! So, we're still using the RAC 2 API :cry: but the principles are the same.

Here's a simplified version of our approach:

[code]

I've written some comments inline – let me know if I can clarify anything!

[2015-09-18 21:29] petester42 commented on #222
The problem is that ReactiveCocoa doesn't set it's version or compatibility version so it is just one. They use carthage to manage the version so it doesn't matter what the version is in the Xcode project. On the other hand, cocoapods does set it the compatibility version to 4 when building ReactiveCocoa which results in a conflict. You could manually set the compatibility version for all the pods

[2015-09-18 21:46] MarvinNazari commented on #223
Just the last question, any idea how i can accomplish

    then {
        return provider.request(token)
    }
 in ReactiveCocoa v3?

[2015-09-18 22:00] MarvinNazari commented on #223
Ah Amazing! thanks. :heart:

[2015-09-18 22:00] #223 closed

[2015-09-21 21:18] Neirys commented on #188
Hi, sorry for commenting closed issue. I spent last hour troubleshooting an `Error Domain=NSURLErrorDomain Code=-1017 "cannot parse response"`.

Due to non-optional `parameter` property in `MoyaTarget` protocol, setting endpoint's parameter encoding to `.JSON` causes the associated `NSURLRequest` to have an empty `HTTPBody` property instead of a `nil` one. It seems that some server-side technology

[2015-09-21 21:23] ashfurrow commented on #188
No problem :) It's possible to specify parameter encoding on a per-target basis through the [endpoint resolver closure](https://github.com/Moya/Moya/blob/master/docs/Endpoints.md#from-target-to-endpoint-). You can use the `endpointByAddingParameterEncoding` function on `Endpoint` to help. Form there, if you really need a `nil` body instead of an empty one (though I'm not sure there's a semantic di

[2015-09-21 21:35] Neirys commented on #188
@ashfurrow Thanks for your quick reply :) Actually I already had some solutions in mind but I was wondering if some changes on Moya could reduce possibilities of server-side errors like I had today.
Two idea in mind : making `parameterEncoding` as part of `MoyaTarget` protocol or maybe changing the `MoyaTarget`'s `parameter` property to an optional.
Big inconvenience to these solutions : they don'

[2015-09-21 21:46] ashfurrow commented on #188
We've got a breaking-changes release coming up, so it's a good time to get these in.

Alamofire has default `nil` parameters – I think we should change to reflect their behaviour. Alamofire [already handles parameter encoding](https://github.com/Alamofire/Alamofire/blob/af231fd15eec9661853bf0b5b3ec5806c8155836/Source/ParameterEncoding.swift#L103-L117) – it only uses URL parameter encoding if the r

[2015-09-21 21:54] Neirys commented on #188
Totally makes sense !

[2015-09-21 22:17] ashfurrow opened #226 "Make parameters optional"
Alamofire treats them as optional and behaves differently if they are `nil`, so we should allow optionals, too (I guess some servers differentiate between an empty HTTP body and a `nil` one).

Continued from #188.

[2015-09-21 22:17] ashfurrow commented on #188
@Neirys I've opened #226 that you can subscribe to to be notified when it's finished. Or take a stab at it yourself!

[2015-09-22 00:35] ashfurrow commented on #220
What if we added a property to the provider – could be constant or not – that conformed to a `Logger` protocol or something, and it gets callbacks about requests and responses. We could provide a basic logger, and people would be free to implement the protocol and provide their own. Thoughts?

[2015-09-22 01:43] ashfurrow opened #227 "Document new RxSwift data processing methods"

[2015-09-22 02:08] ashfurrow commented on #144
This is really tricky. Basically our providers are containers for data (their configs) and a `request` method. That's, like, the definition of a class.

I suppose we could move `MoyaProvider` to be a protocol and put `request()` in a protocol extension? Or maybe turn Moya into a `struct` instead of a class. The real hassle is just updating initializers that don't do anything but call `super.init(.

[2015-09-22 02:49] ashfurrow commented on #209
So I'm thinking something like this:

[code]

That the user passes in to the provider. It's a closure that's given the target, and another closure that accepts an NSURLRequest. The way you'd do this is something like:

[code]

My implementation of `request()` looks something like this:

[code]

The hard part is synchronously returning something from `request()` that can cancel an activity that has

[2015-09-22 02:58] ashfurrow commented on #209
Supper we could wrap the cancelation:

[code]

Which simplifies our implementation a bit:

[code]

[2015-09-22 12:45] AlexanderKaraberov commented on #220
Just to be sure I understood you correctly. We will have a `protocol Logger` with some methods. Also we would have some kind of trait/typeclass (`protocol extension`) with default implementations of the logging methods. And we will use it as some kind of delegate?

[2015-09-22 13:33] ashfurrow commented on #220
Hey, this is _almost_ correct.

[code]

Then provide a default:

[code]

Then have a new variable on the `MoyaProvider`.

[code]

Then in our `request` method in the `MoyaProvider` itself, we can invoke the callbacks:

[code]

I'm thinking the logger doesn't touch the `MoyaTarget` at all – just the HTTP requests. Does that makes sense?

[2015-09-22 13:48] AlexanderKaraberov commented on #220
@ashfurrow  Why don't you want to make it an `Endpoint` property as `let logger: Logger`, init it in the initializer with default `PlainLogger` and then add convenience method for changing it (if user wants some custom logging for particular requests) like `endpointByAddingLogger...`. In this case we will have a flexible logging behaviour which will fit the entire Moya archcitecture.

[2015-09-22 14:04] AlexanderKaraberov commented on #220
@ashfurrow  I understood my mistake, so I deleted my response:)
My only question - why do you want to make it `var` not `let`. I don't really want mutable properties inside `Provider`

[2015-09-22 14:14] ashfurrow commented on #220
Hmm, yeah. I suppose it makes more sense to be `let` :smile_cat:

I think it should be optional, though, and default to `nil`. Many (most?) users won't want HTTP logging.

[2015-09-22 14:21] AlexanderKaraberov commented on #220
@ashfurrow "Many (most?) users won't want HTTP logging" - reasonable :blush:
Ok, so we will have a nullable property and no logging by default, a `PlainLogger` (better `MoyaLogger` or smth. like this), which we have to include in the documentation and `Logger` protocol, so users can provide their own logging implementations if they want.

[2015-09-22 14:47] ashfurrow commented on #220
Yeah!

[2015-09-22 14:55] AlexanderKaraberov commented on #220
Great.  hope to implement this soon, when I will have more free time.

[2015-09-22 14:57] ashfurrow commented on #220
Awesome, looking forward to your pull request! Don't worry about getting it in immediately – we've all got lives outside or GitHub 😸

[2015-09-22 16:03] MarvinNazari commented on #209
Yeah!! this is awesome!

[2015-09-22 16:06] ashfurrow commented on #209
Thanks! What do you think of the implementation? https://github.com/Moya/Moya/pull/230

[2015-09-22 16:58] ashfurrow commented on #118
Fixed in https://github.com/Moya/Moya/pull/224 – merged into the 3.0.0-develop branch.

[2015-09-22 16:58] #118 closed

[2015-09-22 17:02] ashfurrow commented on #164
Fixed in https://github.com/Moya/Moya/pull/232 – currently in 3.0.0-develop branch.

[2015-09-22 17:02] #164 closed

[2015-09-22 17:02] ashfurrow commented on #165
Fixed in https://github.com/Moya/Moya/pull/232 – currently in 3.0.0-develop branch.

[2015-09-22 17:02] #165 closed

[2015-09-22 17:13] aschuch commented on #197
@irace Would you mind sharing some info/pseudocode of what you are using in Tumblr.app? Would love to get some more ideas. What kind of use cases do you cover with your implementation?

[2015-09-23 01:04] jarrodrobins commented on #197
This is a great idea! I really like the idea of caching responses for use in offline situations (as suggested by @aschuch). I've implemented a similar thing in my own projects in the past. It's pretty straightforward and is super useful.

[2015-09-23 14:48] ashfurrow commented on #197
Awesome, @jarrodrobins if you're able to share an existing implementation, we could discuss ideas for implementing the same here.

[2015-09-23 18:50] MarvinNazari commented on #209
Looks good! solves my problem 👍

[2015-09-24 04:53] jarrodrobins commented on #197
I don't think I can get away with sharing the existing code as the company I'm at isn't quite as open-source friendly as Artsy. ;-) But! That code's quite old, written well before Swift, sits on top of AFNetworking and isn't as generic as it could be. What I can do is explain what we did.

This was purely for caching responses (not requests).

The goal at the time was essentially to prevent users

[2015-09-24 13:23] irace commented on #197
At Tumblr, we have the concept of an `OutgoingRequest` and an `OutgoingRequestEngine`.

The request itself just models an HTTP request and conforms to `NSCoding`. It has:

* A type (certain types may have their progress reflected in the UI, others won’t)
* A URL
* A parameter dictionary
* (Optional) file names/paths/content types (for multipart file uploads)
* A created date (we won’t retry if a r

[2015-09-24 15:13] onmyway133 opened #233 "Dependency injection by incident"
Regard the demo in this repo about GithubProvider

[code]

Normally, we would pass the MoyaTarget instance to the MoyaProvider (the enum Github in this case, but it could be struct, class, whichever conforms to MoyaTarget), like this
[code]

but the way you use generic,
[code]

I find this interesting because we can leverage generic and still can call methods on the `MoyaTarget`, without passing t

[2015-09-24 15:19] petester42 commented on #233
The `MoyaTarget` never gets passed the the provider directly. You call `provider.request(Github.Zen)`. Could you elaborate on what the issue is?

[2015-09-24 15:20] ashfurrow commented on #233
Well, it gets passed in to the Initializer – the `MoyaProvider` is a generic type _on_ `MoyaTarget`, so it needs to know what the type is. I'm not sure if `MoyaProvider(GitHub.Zen)` would work, but I haven't tried it. There's no initializer that it could call – or is this a Swift thing I'm not aware of?

[2015-09-24 16:24] onmyway133 commented on #233
@petester42 @ashfurrow this is not an issue. Maybe I misunderstand the code

[2015-09-24 16:27] ashfurrow commented on #233
@onmyway133 issues are for questions and clarifications, too! I want to make sure that we're on the same page. Let's start over:

What is happening that you don't expect? What is _not_ happening that you _do_ expect?

[2015-09-25 02:44] onmyway133 commented on #233
I just misunderstood the code. Now I'm realize that `MoyaProvider` uses generic on `MoyaTarget`, and indeed, `MoyaTarget` instance is passed into `MoyaProvider` 's request method

[2015-09-25 09:00] nmtitov opened #234 "Is it possible to use this library from Objective-C?"
Hello, is it possible to use this library from Objective-C?

[2015-09-25 09:59] orta commented on #234
Afraid not. It's heavy reliance on Swift's enum functions make it impossible to back port.

[2015-09-25 09:59] #234 closed

[2015-09-25 12:04] ashfurrow commented on #233
Yup! And you can only pass enum values of the correct type to the request method, since they're compile-time checked 🎉

[2015-09-27 10:32] luigidimuzio commented on #226
It looks like the Endpoint main initializer still requires them as a non-optional

[2015-10-01 15:15] ashfurrow commented on #209
Fixed in https://github.com/Moya/Moya/pull/230 Will be released soon.

[2015-10-01 15:15] #209 closed

[2015-10-01 15:23] ashfurrow opened #236 "Release 3.0.0"
Once #228 is merged.

Unless there's anything showstopping we need in? I was hoping to get #144 in, but haven't got a plan on that yet :sweat:

[2015-10-01 20:17] ashfurrow commented on #226
This is fixed by https://github.com/Moya/Moya/pull/228 – will be merged in an upcoming release (see #236).

[2015-10-01 20:17] #226 closed

[2015-10-01 20:17] ashfurrow commented on #190
This is fixed by https://github.com/Moya/Moya/pull/228 – will be merged in an upcoming release (see #236).

[2015-10-01 20:17] #190 closed

[2015-10-01 20:17] ashfurrow commented on #203
This is fixed by https://github.com/Moya/Moya/pull/228 – will be merged in an upcoming release (see #236).

[2015-10-01 20:17] #203 closed

[2015-10-01 20:21] ashfurrow commented on #144
Alternatively, it seems a bit odd that subclasses _must_ override the initializer.

[code]

All the subclasses ever do is call `super.init()`. How can we abstract this?

[2015-10-01 20:26] ashfurrow commented on #144
Maybe instead of subclassing, we can add extensions to the existing `MoyaProvider` type?

[2015-10-01 21:17] ashfurrow commented on #236
Waiting (possibly) on #144.

[2015-10-02 06:11] ashfurrow commented on #144
I like the idea of using protocols to extend the primary type, but I'm concerned about the constraints that would introduce for existing users who are currently subclassing (say, `RxSwiftProvider`). I'm going to look through [Eidolon](http://github.com/artsy/eidolon) for how we use Moya, and see if there are any foreseeable problems before starting an implementation.

[2015-10-02 23:39] aschuch commented on #236
I'd like to introduce #238 in 3.0.0 as well. :tada:

[2015-10-02 23:40] ashfurrow commented on #236
Agreed.

--
Ash Furrow
iOS Developer, Author
http://ashfurrow.com

[2015-10-03 21:32] ashfurrow commented on #144
Fixed in #238.

[2015-10-03 21:32] #144 closed

[2015-10-03 21:33] ashfurrow commented on #236
Just gonna tidy up the docs around plugins, and we should be good to go on this.

[2015-10-03 22:05] ashfurrow opened #239 "Copy RAC data-processing for generics"
They're still based on `RACSignal`s, which means they can't be used with RAC 3/4 without losing type safety.

[2015-10-03 22:06] ashfurrow commented on #239
Ha, nevermind >.<

[2015-10-03 22:06] #239 closed

[2015-10-05 11:42] ashfurrow commented on #236
Fixed in https://github.com/Moya/Moya/commit/d61003dd3c5e4bea18d69622a9038daa0aae7064 and pushed to CocoaPods trunk: https://raw.githubusercontent.com/CocoaPods/Specs/9186a2cd0f90f5cc20fa56d8a01f93bdeb1480a0/Specs/Moya/3.0.0/Moya.podspec.json

[2015-10-05 11:42] #236 closed

[2015-10-05 12:12] aschuch commented on #220
This can be closed with the release of 3.0.

[2015-10-05 12:13] #220 closed

[2015-10-05 16:30] Alexey-Matjuk commented on #222
@petester42 thanks, changing *compatibility version* to 1 helped

[2015-10-06 18:34] gregpardo opened #241 "Update podspec to support tvOS"
A lot of pods are being updated to support tvOS and the latest RxSwift development branch has been updated as well. Unfortunately I investigated and found that you can't use specific branches in the podspec dependencies due to versioning issues so we might have to wait for the dependencies to work these changes into a tag. This library is a really great idea and I'd love to use it in a tvOS app I'

[2015-10-06 19:40] esttorhe commented on #241
I think you can specify the specific branch of `RxSwift` on your `Podfile` with `tvOS` support and `CocoaPods` should be able to use the branch specified in the `Podfile` (as long as that doesn't break current implementation of `Moya`)

[2015-10-06 19:56] gregpardo commented on #241
When I did that it said there was conflicts with Moya's dependencies. Also the Moya podspec only defines target of iOS.

[2015-10-06 19:58] esttorhe commented on #241
¯\_(ツ)_/¯  sorry; i thought you were trying to use a «custom made» `.podspec`.

It shouldn't take too much to support `tvOS`. I'll try to get to it today.

[2015-10-06 20:01] gregpardo commented on #241
Well I did try that too and such resulted in the dependency conflict with my own pods. Here was the pods I was using.

[code]

[2015-10-06 20:15] ashfurrow commented on #241
Strange, our dependency on RxSwift is [~> 2.0.0-aplha-1](https://github.com/Moya/Moya/blob/a8a491bf14ab7ad4ce7793a204868fd05f03a4dd/Moya.podspec#L40).

Esteban, it'd be great if you could do this – I'm travelling and don't have good access to internet. If you need push rights for CocoaPods trunk, let me know.

[2015-10-06 21:10] esttorhe commented on #241
@ashfurrow I just updated the `.podspec` to use `2.0.0-alpha.4` which is the one with `tvOS` support.

Also added all supported «devices» like so:
[code]

I can upload the `.podspec` but I can't push to trunk (I don't have push rights and the `pod spec lint` fails due to the dependency issue with `Alamofire`.

[code]

We could have it living on a `tvOS` branch (the `.podspec`) while `Alamofire` me

[2015-10-06 21:11] ashfurrow commented on #241
Sure – it surprises me a library as popular as Alamofire doesn't have tvOS support on trunk yet. Putting the podspec on a branch for now sounds like a good plan.

[2015-10-06 21:52] gregpardo commented on #241
A branch would be great. Keeping it out of the main branch until all dependencies are updated solves the issue for me at least. Then I can just use Moya and get rid of all the other libraries! Thanks for looking into this everyone!

[2015-10-06 22:32] esttorhe commented on #241
Branch [`tvOS`](https://github.com/Moya/Moya/tree/tvOS) should address this.

Please @gregpardo test it and let me know if something is not working.

PS. I also modified the `Podfile` to use this branch

[2015-10-07 02:59] gregpardo commented on #241
In my Podfile

[code]

I get this error on pod install

[code]

[2015-10-07 03:01] esttorhe commented on #241
Yeah; try to specify the `Podfile` like the `Demo` project in that branch => https://github.com/Moya/Moya/blob/tvOS/Demo/Podfile

Chances are you are missing this from the `Podfile`:
[code]

---
_Bear in mind this is temporarily until `Alamofire` moves `tvOS` support to the `master`/official branch/release_

[2015-10-07 03:03] gregpardo commented on #241
Okay I was anxious to try it and I guess I didn't notice the Alamofire part. It's working now. Not sure if you guys want to close this out or leave open until these libraries catch up and this can be merged into master...

[2015-10-07 03:04] esttorhe commented on #241
Added 2 labels to it.

I think leaving it open would be better so we can keep it in mind.

I'll :lock: the issue though since it doesn't make sense to keep it open.

If any @Moya/contributors has other idea as to how to handle this I'm open to ideas.

Thanks for confirming the fix @gregpardo :bow:

[2015-10-07 03:06] esttorhe commented on #241
Just noticed that when we merge `tvOS` with `master` we'll be able to close #192 as well since the `.podspec` on that branch already handles `OSX`, `watchOS` and `tvOS` :tada:

[2015-10-07 05:46] orta commented on #241
http://search.cocoapods.org/api/v1/pods.flat.ids.json?query=platform:tvos

tvOS support requires someone with the latest CP rc pushing, so it's got a pretty slow adoption ( plus my plugin undermines it somewhat )

[2015-10-07 14:53] gregpardo opened #245 "Support for setting body of request without passing parameters"
So I've dug into this project and maybe I missed it but is there a way to set the body of the request without sending parameters. I took a look at Artsy's app and they basically have a lot of boilerplate like this.

[code]

So what I'm assuming here. And perhaps I'm wrong is that the parameters are converted to 'x-www-form-urlencoded' if the request is a .POST? Does this happen automatically or am

[2015-10-07 15:06] ashfurrow commented on #245
I guess we haven't needed to set the request body directly. You can do that using the `requestClosure` if you associate a value with your enum case.

[code]

Our goal is mainly to abstract that messy stuff away and only do the mapping to parameters or body once, instead of at every request.

Let me know if I can clarify anything.

[2015-10-07 15:13] gregpardo commented on #245
That makes sense. The only issue I had with this was that I could not include custom enum types in the parameters

[code]

However I suppose this may not be a good idea and maybe I should map my objects to [String: AnyObject] before sending them through the parameters instead?

[2015-10-07 15:17] JRHeaton opened #246 "Carthage installs require explicit dependency listing"
Hi there. I've noticed that this library is set up to resolve its own dependencies via CocoaPods, but shares the Pod project's framework targets to be built as shared so that Carthage can see them. So far so good.

The "issue" is that when installing Moya via Carthage, if you were to simply list Moya itself as a dependency, it will not fetch for example, Alamofire, which is a mandatory dependency

[2015-10-07 15:18] ashfurrow commented on #245
Is that a limitation of Swift's? As far as I know, you should be able to associate enums with custom types.

[2015-10-07 15:42] gregpardo commented on #245
Apparently you can't if the object is marked as 'public'. I'm sure there's some sort of reason the compiler doesn't allow it. I'll just attempt to convert the object before hand and it should work fine for now.

One thing to mention though is that on [Endpoint Documentation](https://github.com/Moya/Moya/blob/master/docs/Endpoints.md) it mentions that:

Is that supposed to say endpointClosure? Also

[2015-10-07 15:43] ashfurrow commented on #245
Ah yeah, thanks! We recently did a large rename and some of the documentation slipped throw :grimacing:

[2015-10-07 16:06] #245 closed

[2015-10-07 16:42] gregpardo commented on #246
Erm realized I should have used ~> 2.0 on that instead... Grr

[2015-10-07 18:29] JRHeaton commented on #246
I've also realized another fault due to Moya's project dependencies coming from the podspec. We are attempting to install Moya via Carthage with yesterday's Xcode beta, and using the `swift2` branch of ReactiveCocoa. Moya builds its own version of RAC that comes from its pod dependency on it. Because of this, and since it's an older version of RAC than we actually depend on, Carthage fails to buil

[2015-10-07 18:46] gregpardo commented on #246
I remember seeing talk about this in the Carthage issues tracker. If I remember correctly there is nothing like subspecs in Carthage so essentially ReactiveMoya and RxMoya need to be separated into their own repositories/frameworks I believe.

[2015-10-07 18:53] JRHeaton commented on #246
Just brainstorming possible solutions here.

RXMoya, ReactiveMoya, and Moya could each have their own (shared) framework target inside of a dedicated xcodeproj (allowing carthage to build them), and then your subspecs could be kept to point to the same files still for people installing through pods. The demo project could install the library via either method (or both, with two targets).

[2015-10-07 19:58] orta commented on #246
We've gone through all this before, and eventually found that this was the least-bad ways to support Carthage users without placing an unreasonable amount of extra work on people maintaining and improving Moya. We're not moving to separate repos and multiple xcodeprojects to keep up to date for a a file or two per sub-project.

The alamofire PR looks like a good idea

[2015-10-07 20:22] JRHeaton commented on #246
@orta There isn't a need for multiple repos as I understand it.  It's just having one single standard project w/ the 3 framework targets, and a Demo project that installs/uses it locally. Theoretically the Demo target(s) could even be in the same project file as the framework targets I think. The only maintenance I see being needed there is adding/removing references to source files to the framewo

[2015-10-08 06:05] orta commented on #246
Most projects will "just work" with Carthage,which is why I made `pod lib create` work with it by default and it's likely that most libs that ship with support come from CP. Moya seems to have hit the point where it was too complex to do it that way. A lot of this is in https://github.com/Moya/Moya/pull/215- but I'm afraid I'm going to decline your request for more information, given my position o

[2015-10-08 13:06] clooth commented on #114
Has there been any work on this yet? :pray:

[2015-10-08 13:08] orta commented on #233
Closing, as I think this is sorted :+1:

[2015-10-08 13:08] #233 closed

[2015-10-08 13:16] orta commented on #198
It feels like things like this would make great separate pods, for example here's my simple [Gloss + RxSwift](https://github.com/artsy/Emergence/blob/master/Emergence/Contexts/Networking/Observable%2BNetworking.swift) extension for Moya - that could happily be it's own thing in a similar way.

[2015-10-08 14:24] JRHeaton commented on #246
I don't see how most will "just work" – factually, you are missing one single file at minimum that will _not at all disrupt your current setup_ (`Cartfile`) that is _required_ to have it checkout/build these frameworks, unless people want to use the ones Pods built (which requires going into the Pods build dir, rather than `Carthage/Build, and takes away dep version specification control from the

[2015-10-08 14:51] gregpardo commented on #246
The Cartfile is there now but I don't think it should include ReactiveMoya. Not all projects will need that dependency. Can't we just update the README to include instructions for setting up your personal Cartfile for all configurations: Moya, RxMoya, ReactiveMoya?

[2015-10-08 14:54] esttorhe commented on #246
I agree with @gregpardo on this.

Like Orta stated already `Moya` grew to a «too complex» scenario where there's no «works for all» solution; I think supporting `Carthage` via the underlying `Pods` project works for *most* of the cases and having a more «detailed» installation instruction for `Carthage` on the `README` would satisfy those scenarios not covered by the `Pods` project.

[2015-10-08 15:04] aschuch commented on #114
Not yet, do you want to give it a shot and open a PR @clooth?

[2015-10-08 15:30] JRHeaton commented on #246
Updating the README w/ proper directions for Carthage is an understandable compromise. I think that is helpful from the perspective of someone using the library.

I think you mean `ReactiveCocoa`. While true, RAC is already built anyway when Carthage builds all 3 framework targets in the Pods project (there are no subspec-specific installs w/ Carthage), so would including it to build into `Carthag

[2015-10-08 15:49] gregpardo commented on #246
So it looks like anyone using Carthage has to install Alamofire, Moya, ReactiveCocoa, RxSwift, ReactiveMoya, and RxMoya it seems. Is that correct?

[2015-10-08 16:04] JRHeaton commented on #246
That is correct, those all need checked out and built, though not all will need integrated into the dependent target (Rx/RAC mutually exclusive in this case).

[2015-10-08 16:16] gregpardo commented on #246
Okay so what's the downside if any of adding the other required install dependencies to the Cartfile?

[2015-10-08 18:04] JRHeaton commented on #246
The only downside would be that for people installing Moya via Carthage with no intent to use the Reactive or Rx extensions will have to wait for Carthage to build its RxSwift and ReactiveCocoa checkouts. But this is sort of the nature of Carthage with there being no support for subspecs or any way to specify specific targets to build when checked out.

[2015-10-09 07:19] clooth commented on #114
I'll give it a try this weekend, need to look around the source a bit so it feels enough Moya-like.

Sent from my iPhone

[2015-10-09 16:43] JRHeaton opened #251 "ReactiveMoya broken on 3.0.1 (Carthage install)"
I updated the version of `ReactiveMoya` I depend on from `2.x.x` to `3.0.1`. All frameworks previously worked as expected, and everything is being installed via Carthage.

The Moya-dependent code now fails to build, and when trying to view the generated module interface page in Xcode for `ReactiveMoya`, this is shown:
![](https://cldup.com/aYlLD0bpI1.png)

I've verified that this happens even in a

[2015-10-09 21:13] argentounce commented on #177
Can you help me setup a Provider with RxSwift? How a simple RxMoyaProvider should look? How the closure should look?

It would be good that the demo includes examples for both RAC and RX.

Currently I got my way with the Artsy implementation but im having problems declaring the provider. I know there is a branch about Rx Docs, but this probably be some kinda Faqsy.

[2015-10-09 21:19] ashfurrow commented on #177
Hey @argentounce – good question!

The RxMoyaProvider is created using the _exact same_ method as a regular `MoyaProvider`. You just say:

[code]

And that's it! All the examples in the docs that show how to configure the provider apply identically to the RxSwift and RAC providers. Demos for those projects are a great idea :100:

[2015-10-09 23:43] argentounce commented on #177
@ashfurrow Thanks! working now :yum:

[2015-10-12 11:05] vishvish opened #252 "NetworkActivityPlugin vs Moya.NetworkActivityClosure"
Great work all round, just trying to figure out how this change works when creating a `ReactiveCocoaMoyaProvider`.

Presumably,
`typealias OnlineSignalClosure = () -> RACSignal` won't work.

Porting the older code leads to:

    typealias OnlineSignalClosure = () -> RACSignal

    // Closure that returns a signal which completes once the app is online.
    let onlineSignal: OnlineSignalClosure

[2015-10-12 11:08] vishvish commented on #252
I guess I should ask if there's an updated version of the Artsy app :)

[2015-10-12 17:03] orta opened #254 "Support Alamofire 3"
If Moya is exposing Alamofire anywhere in Moya's public API then Moya also needs a major versions bump.

[2015-10-12 17:38] #254 closed

[2015-10-12 17:44] ashfurrow commented on #252
Hey! Good question! The `onlineSignal` isn't a part of Moya, just our app. I actually just sent a PR changing the behaviour of the `onlineSignal` – maybe that would help answer your question? https://github.com/artsy/eidolon/pull/527

[2015-10-13 16:27] JRHeaton commented on #251
Update: The issue remains with the 7.0.1 Xcode. We are unable to use ReactiveMoya via Carthage, and unable to install ReactiveMoya(Moya/ReactiveCocoa) via CocoaPods if we want to also use Mantle(https://github.com/ReactiveCocoa/ReactiveCocoa/issues/2464), leaving us no good option for integration currently. 💔We'd very much like to be able to use Moya for our SDK.

[2015-10-13 16:55] ashfurrow commented on #251
I'm sorry that you're having this problem :cry: I'm not sure how I can help – there's [work being done](https://github.com/CocoaPods/CocoaPods/issues/4376) to address the shortcoming in CocoaPods now. If you can, maybe ask there what can be done to help fix the issue?

[2015-10-19 21:52] vishvish commented on #252
Thanks @ashfurrow - appreciate the response. ReactiveCocoa is changing so quickly that when I tried the Artsy app to help me, it was clear that they've diverged somewhat! I'm still using Moya 2.2.0 as I can't get up to speed with the changes yet, but thanks for the software, it's pretty good stuff.

[2015-10-19 21:52] #252 closed

[2015-10-20 22:22] nosrak113 opened #256 "Enable request Cancelables to print AlamoFire debug curls"

[2015-10-20 22:25] ashfurrow commented on #256
Hmm, neat idea! I don't see a downside to it, other that we'd be leaking out information that a developer could misuse... Doesn't seem like a big risk to me. We'll give it some time for anyone else to chime in and then whip this up!

@nosrak113 If you'd like, I can give next steps for how you could submit a pull request to add this feature. No pressure – just let me know if I can help!

[2015-10-20 23:06] nosrak113 commented on #256
#257

[2015-10-21 13:01] istvanelekes opened #258 "dyld: Library not loaded"
Incompatible library version: RxMoya requires version 2.0.0 or later, but RxSwift provides version 1.0.0

I have the latest RxSwift 2.0beta1, what should I do?

[2015-10-21 14:41] ashfurrow commented on #258
How are you installing Moya? CocoaPods? What does your podfile look like? Xcode 7, right? Did a clean build produce a different error?

--
Ash Furrow
iOS Developer, Author
http://ashfurrow.com

[2015-10-22 00:43] ashfurrow opened #259 "CI is Failing Intermittently"
Not sure what caused it. Looks like a problem with Xcode (go figure).

[code]

[2015-10-22 11:44] istvanelekes commented on #258
Carthage

[2015-10-22 16:17] aloco opened #260 "Carthage build fails at building RxMoya (4.0.2)"
Hi,

since the release of 4.0.2, ```Carthage``` fails at building ```RxMoya```

Sadly I am not very familiar with cocoapods, but I guess the issue is related with https://github.com/Moya/Moya/commit/f6a791398b47b4a982c91305d1bdd25533a52407, because 4.0.1 worked fine under the same conditions.

[code]

Cartfile:
[code]

[code]

[2015-10-22 18:34] justinmakaila commented on #260
Hey, can you post the contents of the `xcodebuild` output file?

[2015-10-22 18:56] bojan commented on #258
@ashfurrow I think that some of the fixes in f6a791398b47b4a982c91305d1bdd25533a52407 were somehow reverted in the later commits. I've tried recreating the Demo project with 0.39.0 (not b4) on 4.0.2, it builds and works just fine.

[2015-10-22 18:57] ashfurrow commented on #258
Interesting! Could you send a pull request?

[2015-10-22 19:22] bojan commented on #258
I'm already on it.

[2015-10-22 20:46] bojan commented on #258
#261 should do it.

[2015-10-23 07:55] aloco commented on #260
This is fixed with 731db29d6a68d350ef97ad059e881f361dc35e3f, thx @bojan
A version bump would be nice :)

[2015-10-23 07:55] #260 closed

[2015-10-23 11:19] ashfurrow commented on #260
You just need a new tag for Carthage, right? Can do :)

[2015-10-23 11:22] aloco commented on #260
Exactly, leaving my Cartfile with ```"Moya/Moya" "master"``` looks risky to me :)

[2015-10-23 11:49] ashfurrow commented on #260
Cool, I've created https://github.com/Moya/Moya/releases/tag/4.0.2-carthage – let me know if that works!

[2015-10-23 12:05] aloco commented on #260
thx! Although Carthage can´t pick this tag with ```github "Moya/Moya" ~> 4.0``` I think this is sufficient for the moment, since I can use `github "Moya/Moya" "4.0.2-carthage"`

I hope there is soon a 4.0.3 release so I can use ` ~> 4.0 ` again :)

[2015-10-23 13:17] mgroh commented on #114
BTW Alamofire now [supports uploading multipart/form-data] natively.(https://github.com/Alamofire/Alamofire#uploading-multipartformdata.)

[2015-10-23 13:56] ashfurrow commented on #260
As long as the new release didn't re-re-introduce the problem :sweat_smile: What did the fix turn out to be, so we can integrate it into our deploy script?

[2015-10-23 14:47] aloco commented on #260
There were some files missed, but as already mentioned https://github.com/Moya/Moya/commit/731db29d6a68d350ef97ad059e881f361dc35e3f fixed that. So I guess there is no need for any deploy script update

[2015-10-23 15:43] ashfurrow commented on #260
OK, cool. This commit ( https://github.com/Moya/Moya/commit/d0d30b1ce98972ce30d4a5b7b2be0aa3d7b43fe3 ) got released as 4.0.3 tag. My guess is an older version of CocoaPods was used to deploy the problematic release. Let me know if it works.

[2015-10-24 16:52] aloco commented on #260
thx, everything seems to be working again 👍🏻

[2015-10-26 15:02] #227 closed

[2015-10-26 18:02] #256 closed

[2015-10-26 18:12] ashfurrow opened #265 "Platform Tests on CI"
We currently only test iOS on continuous integration, but ideally we should be able to test against all the platforms we support.

[2015-10-27 02:30] #177 closed

[2015-10-27 03:27] midori2012 opened #268 "ReactiveMoya cannot build on Xcode7.1"
I am trying to update Moya  via Carthage then I find I cannot build on Xcode7.1.:cry:
Does anyoune get the same build error with the latest version 4.0.3?
Any help or tips would be grateful!
[code]

[2015-10-27 03:34] petester42 commented on #268
It's already in the works #263

[2015-10-27 04:23] midori2012 commented on #268
Oh, I miss it! Thank you for letting me know:smiley:
Hope the pull req merge soon!
Thanx

[2015-10-27 04:23] #268 closed

[2015-10-27 21:19] ashfurrow opened #269 "Duplicated Image typealiases"
They're done individually in the reactive subspecs but should be in the ReactiveCore group.

[2015-10-27 21:27] ashfurrow opened #270 "Contributing docs"
Adding/removing files specifically is fairly non-straightforward. /cc @JRHeaton

[2015-10-27 21:30] ashfurrow opened #271 "Investigate extraneous podspecs"
Continuing conversation started in https://github.com/Moya/Moya/pull/267

- Do we need the extra podspecs?
- If so, why? Document that somewhere.
- If we don't need them, let's get rid of 'em! We can vastly simplify unit tests this way.

[2015-10-27 22:29] #251 closed

[2015-10-29 05:40] #246 closed

[2015-10-30 04:22] #192 closed

[2015-10-30 04:22] #269 closed

[2015-10-30 13:39] #271 closed

[2015-10-30 14:37] petester42 commented on #222
Pretty sure the work from #267 closes this issue.

[2015-10-30 14:37] #222 closed

[2015-10-30 16:25] petester42 commented on #241
Ok this will be a little more difficult than anticipated. Its seems like some pods have been pushed to trunk with a new version but without the tvos information. One example is Result. [Repo version](https://github.com/antitypical/Result/blob/master/Result.podspec) vs [trunk version](https://github.com/CocoaPods/Specs/blob/master/Specs/Result/0.6.0-beta.5/Result.podspec.json). The same goes for Re

[2015-10-30 16:37] ashfurrow commented on #241
What an odd discrepancy. @Thomvis is there any reason the CocoaPods trunk version doesn't have TV support?

[2015-10-30 18:51] ashfurrow commented on #270
We should also document a checklist of what makes a great PR (with the understanding that some people won't read it, and that's OK because we're all doing our best). Things like:

- A changelog entry (what is it, why does it matter, how do I make one?)
- Updated tests (if you add something new, it should be tested)
- Passing CI (what is CI?)

We should also consider automating some of this, maybe

[2015-10-30 23:52] vinnybad commented on #259
For what it's worth, I'm seeing the same thing happen on our jenkins instance.

[2015-10-30 23:56] ashfurrow commented on #259
Misery loves company :)

[2015-10-31 01:03] ashfurrow commented on #258
Since #261 is merged, I'm going to close this. If it's still a problem, please re-open!

[2015-10-31 01:03] #258 closed

[2015-10-31 01:03] ashfurrow commented on #259
Hmm, we're actually not seeing this problem anymore. Going to close the issue.

[2015-10-31 01:10] ashfurrow commented on #189
Might make sense for a more in-depth demo in a separate repo on this organization.

[2015-10-31 01:19] ashfurrow commented on #191
Tricky, since ReactiveCocoa has a minimum OS X deploy target of 10.10. I'm having trouble getting this to work with a subspec having a different OS X deploy target.

Since no one has requested this, I'm fine with closing this as-is. We have OS X support, which was one of the big parts; I'm on with 10.10.

If anyone wants to re-open and investigate, :tada:

[2015-10-31 01:19] #191 closed

[2015-10-31 01:24] petester42 commented on #191
Ya the ReactiveCocoa podspec also doesn't reflect the project's settings. In the project it is 10.9 but not in the podspec. 😢

[2015-10-31 05:00] ashfurrow commented on #241
We should see an updated version tomorrow :)

[2015-10-31 05:06] JRHeaton opened #276 "Redundant/superfluous SignalProducer in request()?"
Howdy. Please forgive me if I am wrong here. I've been working with the Swift version (v4) of ReactiveCocoa for a week or so.

I was reading this code: https://github.com/Moya/Moya/blob/3cd402cfddf2b361b6251de6d24214758ae54511/Source/ReactiveCocoa/Moya+ReactiveCocoa.swift#L20-L47

and it looks a lot like there's a redundancy. The outer producer, when started, starts the inner signal, and seemingly

[2015-10-31 16:48] ashfurrow commented on #241
Result has been updated on Trunk: https://github.com/CocoaPods/Specs/blob/master/Specs/Result/0.6.0-beta.6/Result.podspec.json @petester42 are there any other that need updating?

[2015-10-31 16:48] ashfurrow commented on #241
Thanks to @Thomvis for his quick turnaround on that!

[2015-10-31 16:50] ashfurrow commented on #276
Interesting – I think it's likely a relic of when we were keeping track of inflight requests, and deduplicating new ones. I think @justinmakaila would be able to give a concrete answer about it.

[2015-10-31 16:52] #170 closed

[2015-10-31 16:58] petester42 commented on #241
Yes. The ReactiveCocoa one needs updating too. There are two things wrong with it.

1. Doesn't specify tvOS when it should
2. OS X target version is 10.10 instead of the project's 10.9

[2015-10-31 17:01] ashfurrow commented on #270
We should also formalize the fact that after a merged PR – even for documentation or whatever – contributors get push access to the repo. It's briefly mentioned in the readme, but we can do better.

(We have turned on protection on the `master` branch so it can't be force-pushed to – there are no downsides to this policy imo.)

/cc @orta

[2015-10-31 17:12] ashfurrow commented on #259
Looks like I spoke too soon.

[2015-10-31 17:19] ashfurrow commented on #241
OK, I've updated the [ReactiveCocoa podspec](https://github.com/ashfurrow/ReactiveCocoa/blob/v4.0-alpha.3-podspec/ReactiveCocoa.podspec) on my fork (see: [changes](https://github.com/ashfurrow/ReactiveCocoa/commit/6e9fcdaeeb7710289b57979e2e9ad68b69a6ffb6).)

Unfortunately, I don't have 7.1 installed at the moment so I can't validate + push to trunk. Will do when I get to NYC.

[2015-10-31 17:20] petester42 commented on #276
Ya it is a relic from the inflight request days and not needed. The RxSwift version has this issue too.

[2015-10-31 17:20] ashfurrow commented on #241
Oh, wait. Need to replicate `prepare_command` stuff.

[2015-10-31 17:21] orta commented on #270
I'd like to see a separate repo for that so that we can call it the "Moya Community Onboarding" or something similar

[2015-10-31 17:22] ashfurrow commented on #270
Great idea!

[2015-10-31 17:26] ashfurrow commented on #241
Cool, did that: https://github.com/ashfurrow/ReactiveCocoa/commit/7dc4d95df1dd3166fb4acef6498662f695e55721 Just need to lint + push.

[2015-10-31 17:27] petester42 commented on #241
looks good :+1:

[2015-10-31 17:28] ashfurrow commented on #241
Opened https://github.com/ashfurrow/ReactiveCocoa/issues/4 to remind me

[2015-10-31 17:29] ashfurrow commented on #276
Coooool, @JRHeaton did you want to open a PR?

[2015-10-31 17:33] JRHeaton commented on #276
Yes, will do. Thanks for verifying! :+1:

[2015-10-31 17:49] ashfurrow commented on #276
Going to reopen this, as @petester42 pointed out the issue is in the RxSwift provider, too.

[2015-10-31 20:04] #276 closed

[2015-11-02 18:25] ashfurrow commented on #241
Should be good to go – validated with Xcode 7.1 just in case, and it worked :+1:

https://raw.githubusercontent.com/CocoaPods/Specs/a6b9eb7156e4809e43056cd54b6f754d98be6150/Specs/ReactiveCocoa/4.0.1-alpha-3/ReactiveCocoa.podspec.json

[2015-11-02 19:14] ashfurrow commented on #241
Make that `4.0.2-alpha-3` – had a mistake in the podspec :grimacing:

https://raw.githubusercontent.com/CocoaPods/Specs/112a7c37ff9e86ccb41c4e56a94ef55d7367658a/Specs/ReactiveCocoa/4.0.2-alpha-3/ReactiveCocoa.podspec.json

[2015-11-02 23:20] GuidoHendriks commented on #114
I would really like this to be part of Moya. Might give it as shot, but I think I need a better understanding of the project before that will work... Is anyone else making progress on this?

[2015-11-03 02:24] ashfurrow commented on #114
Cool, that would be great! Feel free to ask questions in issues.

As for an implementation of this, I figure there's two part "entry points" where you could specify multipart upload: the `MoyaTarget` protocol or the `request` function. I think I'd prefer adding another function, or expanding the existing `request` function to handle it. Not sure of specifics, but you get the idea.

[2015-11-03 19:08] DanToml opened #284 "Support for RFC6570 URI Templates"
Many API's require some form of parameterisation of the URI.
For example:

`/users/{user}/repos`

or a more complex and useful example (that would be harder to solve cleanly with simple interpolation)

`/conversations/{conversationIdentifier}/messages{?max,after,before}`

that could expand to something like

`/conversations/547104ac-74b6-441a-bf9c-eda489498005/messages?max=30&after=1994-11-05T08:1

[2015-11-03 19:10] ashfurrow commented on #284
Neat! Might go well with https://github.com/Moya/Moya/issues/73 if anyone is interested.

Agreed with your concerns – getting this to be an optional part of Moya will be tricky. Suggestions welcome!

[2015-11-04 10:08] aschuch commented on #284
Nice idea, @DanielTomlinson. I guess this could be part of the `path` within `MoyaTarget`? However, I can see this to be difficult to implement in a generic way.

[2015-11-04 11:12] sauravambastha commented on #217
Hi, i am trying to run Xcode for mac app. No code nothing but still it gives errors . I am using Xcode 6.4.  why ?
Steps i am doing are : open Xcode , select OS X - application- cocoa application, and language swift. errors are with objective c as well. Why so ?

[2015-11-04 13:34] petester42 commented on #217
The first thing would be that this library requires Xcode 7.1 and the second would be that there are issues with the Mac target if you are not using cocoapods. There is a fix here #283 but we still have some problems.

[2015-11-04 19:25] gregpardo commented on #198
So I messed around on a branch and experimented with making the plugin system middleware style. Where each plugin can transform data before reaching the next plugin. I realize this is a huge change and there may be another way to accomplish some of the same things. One major change in my experiment is that all data is not 'AnyObject?'. This could allow for easy means to mutate response data and su

[2015-11-05 19:56] ashfurrow commented on #198
Hmm, I can see this making sense but I agree it is a bit roundabout. I was thinking that this really belongs in the RAC/RxSwift provider extensions? Something like what we currently do at Artsy: https://github.com/artsy/eidolon/blob/f95c0a5bf1e90358320529529d6bf431ada04c3f/Kiosk/App/Networking/RAC%2BJSONAble.swift

Or we could add another `request` method that accepted a class, too. Thoughts?

[2015-11-05 21:08] gregpardo commented on #198
Well yeah it works both ways but the downside of the reactive extension approach is a couple things in my opinion.

* Different extensions need to be written for RxSwift/ReactiveSwift
* Either needs an API wrapper for all requests to map them to the object or each time the request is called the object class to map to has to be specified

The later seems like the approach most have taken but it kin

[2015-11-06 01:39] petester42 commented on #198
I don't think that mapping to objects should be in the library but we could provide an easier way to transform responses for people who don't use reactive extensions. I've been playing around with some changes [here](https://github.com/petester42/Moya/tree/moya-extensions-test) and what we could do is move all responses to `MoyaResponse`.

This change would allow anyone to make an extension to `Mo

[2015-11-06 03:05] gregpardo commented on #198
I like the approach. I think it's a nice bridge and keeps any mapping out of Moya's responsibilities. Would it be possible to write an ObjectMapper plugin that allows me to configure different maps per endpoint with this?

[2015-11-06 04:20] petester42 commented on #198
Could you clarify what you mean by `configure different maps per endpoint`. Doesn't ObjectMapper handle this?

I believe you can achieve everything you need without plugins, subclasses or changing the library. For example you could do something like this:

[code]

And then just call the provider like so:

[code]

[2015-11-06 15:16] #241 closed

[2015-11-08 14:32] dowhilenet opened #287 "Manual integration instructions"
How to integrate `Moya` into my project manually. Thanks

[2015-11-08 15:33] tomburns opened #288 "MoyaError (formerly: ReactiveCocoa Error Type)"
I'm just getting started with Moya (and ReactiveCocoa, for that matter), but when using `request()`, `mapJSON()` etc to create a `SignalProducer` I find that I'm having to do a lot of mapping from the many underlying `NSError`s to a typed error enum in my code.

Is this something Moya could take care of by having an intermediate `ErrorType`, or is it best handled in my code? Personally I'd much ra

[2015-11-08 15:34] tomburns commented on #288
I think this would cause the RAC4 support to diverge a bit from the legacy `RACSignal` interface, but I'm not sure that's a bad thing either.

[2015-11-08 21:55] ashfurrow commented on #288
Cool, that approach sounds reasonable. @justinmakaila @petester42 do either of you have opinions about it? Whatever is more idiomatic for RAC 4.

To be honest, I'd be OK with deprecating [`request()`](https://github.com/Moya/Moya/blob/136e3260e03a2d2e01ea6d9604e354ff3f9ed55d/Source/ReactiveCocoa/Moya%2BReactiveCocoa.swift#L39-L41) and shifting the responsibility to call `toRACSignal()` to the user

[2015-11-08 22:12] ashfurrow commented on #287
Hmm, this is a question that has not come up before. Generally, there's [no all-purpose solution](http://stackoverflow.com/questions/28131329/how-to-install-projects-without-cocoa-pods) to using a CocoaPods library without CocoaPods. If you must integrate normally, dragging in the Moya files in the `Source` directory should age good, but you'll need to remove RxSwift and ReactiveCocoa files if you

[2015-11-08 22:29] vinnybad commented on #259
I had this issue when multiple builds were executing at the same time. Decreasing the number of executors to 1 resolved the issue. Not an ideal solution but this bought us some time to look for other solutions.

[2015-11-08 22:35] petester42 commented on #288
Im not sure how `RACSignal` would work with an error other than `NSError`. I have never tried it. But other than that everything looks good.

[2015-11-08 23:55] tomburns commented on #288
I believe anything that conforms to `ErrorType` can be bridged to an `NSError`, but honestly I don't know enough about the older `RACSignal` ReactiveCocoa interface to guarantee that'd work in this specific case.

[2015-11-09 01:06] ashfurrow commented on #288
I think they'll just get an error like they do now, it's just it'll be an `NSError` cast from this new type instead of an `NSError` we construct presently. I like that change, but we'll need to bump Moya up a major version to adhere to [semantic versioning](http://semver.org) :checkered_flag:

[2015-11-09 02:36] justinmakaila opened #290 "Send string in body of request"
Currently, with the way that the `MoyaTarget` protocol is written, there's no straightforward way to send a string as the body of the request (i.e. GraphQL query).

Any suggestions from the community?

cc: @Moya/contributors

[2015-11-09 02:44] justinmakaila commented on #288
I think a custom error type is the way to go, because it gets rid of some guessing on the end-user side. I'm all for it

[2015-11-09 05:40] dowhilenet commented on #287
thanks. I download `Moya-4.4.0` to my project. dragging the `Moya.xcodeproj` to project  and remove `RxSwift` 、`ReactiveCocoa ` also remove the `import Alamofire` from the Moya files. Click on the + button under the "Embedded Binaries" section. add the `Moya.framework`.  Then have an error:

[code]

[2015-11-09 14:35] ashfurrow commented on #287
Instead of dragging in Xcode projects, try dragging in the individual swift files.

[2015-11-09 15:26] petester42 commented on #287
The reason the Xcode project won't work is because it relies on frameworks that aren't present in the folder. You need to run `carthage bootstrap` to get them. Other than that, just dragging the project should work. No need to delete anything.

[2015-11-09 15:31] ashfurrow commented on #290
Hmm, this could be accomplished using the custom parameter encoding block, but I agree it's a bit awkward. Maybe we could look around ways to make it easier to use custom encoding (or including an implementation that works with GraphQL? Is Alamofire doing anything lime this?). Regardless, a good solution to this issue should include good documentation and maybe even an example project :cake:

[2015-11-09 16:55] orta commented on #287
It might be worth doing what AFNetworking does and just not supporting manual installation, you need to have a lot of prerequisites set up for Moya, and the more useful interesting stuff can only really happen when you have a larger dependency graph, of which doing manually is just a waste of time.

[2015-11-09 17:02] justinmakaila commented on #290
We want to be able to recreate this CURL functionality:
[code]

As far as custom parameter encoding, I'm seeing something like this:
[code]
But I don't really like how we abstract away the requirement of there being a `GraphQLQueryType` available at the `query` key in the parameters dictionary.

We *could* change the `parameters` property of `MoyaTarget` to `AnyObject?`, and have `Endpoint` do som

[2015-11-09 17:06] ashfurrow commented on #287
Agreed.

[2015-11-09 18:54] ashfurrow commented on #290
Agreed about the black-box functionality. Would making the `GraphQLQueryType` an associated value on the enum help? Not too much. Hmm.

It could be a lot cleaner if the custom parameter encoding closure had access to the `endpoint` (or the target, I suppose). We only use that closure signature because we pass directly into Alamofire. If expanding it would help, that seems like a cool idea.

I've n